/* Global Table Settings */
body, table, td {
	font-family: Verdana;
	font-size  : 11px;
	color      : #1D1F22;
}

/* The forum background color */
.mainbg { background-color: #EEEEEE; }

/* Colors */
.titlebg {
	background-color: #C7CBD1;
	font-family     : Verdana, Helvetica;
	font-size       : 12px;
	color           : #000000;
	font-weight     : bold;
}
.titlebgtext { /* This is for nested tables, so that text formatting is still used */
	color: #000000;
	font-weight: bold;
}

.catbg {
	background-color: #D2D5DA;
	font-family     : Verdana, Helvetica;
	font-size       : 12px;
	color           : #000000;
	font-weight     : bold;
}
.catbgtext { /* This is for nested tables, so that text formatting is still used */
	color: #000000;
	font-weight: bold;
}

.win       { background-color: #DCDFE6; }
.win2      { background-color: #E7E9EF; }
.win3      { background-color: #AAADB4; } /* Used mainly for Calendar Week listing */
.border, .hr    { background-color: #8A8D96; }

.smalltext { /* Small font text size, can also change color, etc */
	font-weight: normal;
	font-size  : 10px;
	line-height: 130%;
}

/* Links */
a, a:link, a:active, a:visited {
	text-decoration: none;
	color          : #36383B;
	font-family    : Verdana, Helvetica;
	font-weight    : bold;
}

a:hover {
	text-decoration: none;
	color          : #1A1016;
	font-family    : Verdana, Helvetica;
	font-weight    : bold;
}

#mm a {
	background-color: transparent;
	border          : 1px solid #DCDFE6;
	text-decoration : none;
	width           : 100%;
	padding         : 3;
	line-height     : 150%;
	margin          : 0;
}

#mm a:hover {
	background-color: #E7E9EF;
	border          : 1px solid #8A8D96;
	text-decoration : none;
	width           : 100%;
	padding         : 3;
	line-height     : 150%;
	margin          : 0;
}

/* Forms */
.upload, .textinput,.button, textarea, select { /* .checkboxinput also allowed */
	color           : #000000;
	background-color: #EEEEEE;
	font-family     : Verdana, Helvetica, Times;
	font-size       : 10px;
	border          : 1px #8A8D96 solid;

	border-top-width   : 1px;
	border-right-width : 1px;
	border-bottom-width: 1px;
	border-left-width  : 1px;
}