TR {
	FONT-FAMILY: Verdana;
	FONT-SIZE: 12px;
}
a:link {
	color:#010101;
	text-decoration:none;
}
a:visited {
	color:#010101;
	text-decoration:none;
}
a:active {
	color:#050505;
	text-decoration:none;
}
a:hover {
	color:#090909;
	text-decoration:none;
}
BODY {
	SCROLLBAR-FACE-COLOR: #CCCCCC;
	SCROLLBAR-HIGHLIGHT-COLOR: #CCCCCC;
	SCROLLBAR-SHADOW-COLOR: #CCCCCC;
	SCROLLBAR-3DLIGHT-COLOR: #000000;
	SCROLLBAR-ARROW-COLOR: #000000;
	SCROLLBAR-TRACK-COLOR: #000000;
	SCROLLBAR-DARKSHADOW-COLOR: #000000;
}
