/******************************************/
/*                                        */
/*              PAGE LAYOUT               */
/*                                        */
/******************************************/

/*------------------ debug ---------------*/
/**
#page {}

#header {outline: 1px dotted #000}
#main {outline: 1px dotted green}
#footer {outline: 1px dotted blue}

#content {outline: 1px dotted #000}
#content-inner {outline: 1px dotted #fff}

#sidebar_first {outline: 1px dotted blue}
#sidebar_first-inner {outline: 1px dotted red}
#sidebar_second {outline: 1px dotted blue}
#sidebar_second-inner {outline: 1px dotted red}

/*#content {outline: 1px dotted red}
#sidebar-right {outline: 1px dotted blue}

/*
#header-inner,
#content-inner,
#content-inner>*,
#navbar-inner,
#sidebar-left-inner,
#sidebar-right-inner,
#footer-inner{
	margin: 1px;
	padding: 2px;
	border: 1px dotted red;
}

#closure-blocks{
	margin-top: 1px;
	padding: 2px;
	border: 1px solid #ccc;
}
/**/

/************* end: PAGE LAYOUT ***********/

/*========================================*/
/*                  Header                */
/*========================================*/

/*#header {outline: 1px dotted black}
#header .logo {outline: 1px dotted red}
#header .menu {outline: 1px dotted blue}
#header .login_form {outline: 1px dotted red}
#header .user_options {outline: 1px dotted red}
#header .links {outline: 1px dotted red}
#header .search {outline: 1px dotted red}
#header .search form .field {outline: 1px dotted red}
#header .search form .button {outline: 1px dotted red}
/**/

/*=============== end: Header ============*/

/*----------------- blocks ---------------*/
/*.sidebar .block {}
.sidebar .block .block-inner {outline: 1px dotted red}
.sidebar .block h2.title {outline: 1px dotted red}
.sidebar .block .content {}

.sidebar .block h2.title {}
*/


/******************************************/
/*                                        */
/*             MAIN COLUMN CONTENT        */
/*                                        */
/******************************************/

/*========================================*/
/*          Gglobal Main Column Style     */
/*========================================*/

/*
.group {outline: 1px dotted red}
.group .group-header {outline: 1px dotted green}
.group .group-header h1.title {}
.group .group-header h2.title {}
.group .group-content {outline: 1px dotted blue}
/**/
