/******************************************/
/*                                        */
/*               PAGE RESET               */
/*                                        */
/******************************************/

html, body, form {margin:0; padding:0}
h1, h2, h3, h4, h5, h6, p, span, ul, li {margin:0; padding:0; font-weight:normal}
ul, ul li {list-style: none}
a, img {outline: 0}
img {border: 0}
fieldset {border:0}

/*------------ clear, separation ---------*/
.clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clear {display: inline-block;}
.clear {display: block;}

/************* end: PAGE RESET ************/


/******************************************/
/*                                        */
/*               PAGE LAYOUT              */
/*                                        */
/******************************************/

body {}

#page {width: 100%; min-width: 1000px; margin-left: auto; margin-right: auto;}
#footer {position:relative; overflow: hidden; min-width: 1000px; padding: 0px 0px;}

/*
#page {width: 1000px; padding: 0 0px; min-width: 1000px; margin-left: auto; margin-right: auto;}
#footer {position:relative; width: 1000px; min-width: 1000px; height: 126px; margin-left: auto; margin-right: auto;}
*/
#header {position: relative; height: 184px; padding: 0 0px}
#header-inner {position: relative; height: 184px; padding: 0 0px}
#main {position: relative; padding: 10px 0px 30px;}

#bottom-first {position:relative; padding: 0px 0px 15px; }
#bottom {position:relative; padding: 0px 0px; }

/*------------- down footer --------------*/
/*html, body {height: 100%;}

#page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -126px; 
}

.tmpfooter {height: 126px;}
#footer {height: 126px;}


/*--------------- container --------------*/
#footer-inner {padding: 25px 20px 0}


/** content **/
#content {float: left; width: 100%; margin-left: 0; margin-right: -100%;  padding: 0;}

#content-inner,
.no-sidebars #content-inner  {margin: 0; padding: 0 0px;}
.sidebar-first #content-inner {margin: 0 0 0 280px;}
.sidebar-second #content-inner {margin: 0 280px 0 0; padding: 0 25px 0 20px;}
.two-sidebars #content-inner {margin: 0 280px;}

#sidebar_first {float: left; width: 280px;}
#sidebar_first-inner {margin: 0; padding: 0;}
#sidebar_second {float: right; width: 280px;}
#sidebar_second-inner {margin: 0; padding: 0 20px 0 0;}

.no-sidebars #content-top {padding: 0 20px}

/*html not-front logged-in one-sidebar sidebar-first page-node page-node- page-node-1 node-type-page toolbar
*/
/*---- container: border, background -----*/
body {background: url(../images/fon.png) no-repeat 50% 0 #606062}

#page {}

#page-wrapper {background: url(../images/border.png) repeat-y 50% 0}

#header {background: url(../images/header_bg.png) repeat-x #90140c;}
#header-inner {}

#main {background: #f2f5f5}
#bottom-first {background: #f2f5f5}
#bottom {background: #f2f5f5}
#footer {background: url(../images/footer_bg.png) repeat-x #353539;}

#main #content {}
#main #content-inner {}

#main #sidebar-left {}
#main #sidebar-left #sidebar-left-inner {}

#main #sidebar-right {}
#main #sidebar-right #sidebar-left-right {}

/************* end: PAGE LAYOUT ***********/



