/* $Id: tabs.css,v 1.2 2008/09/08 02:35:29 johnalbin Exp $ */

/*
 * Tabs CSS
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal6-reference.css, line 510.)
 *
 */

.tabs:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.tabs {display: inline-block;}
.tabs {display: block;}


div.tabs {margin: 0;}

/*- primary -*/
ul.primary {margin: 0 0 5px; padding: 0 0 0 0px; background: none; border-bottom: 0px solid #666; list-style: none; white-space: nowrap; line-height: normal;}

ul.primary li {float: left; margin: 0 5px 0 0; padding: 0;}
/*
ul.primary li a {display: block; margin: 0; padding: 5px 12px 5px; background: #aaa; border: 1px solid #666; border-bottom: 0; color: #444444; text-decoration: none; font-weight: normal;}
ul.primary li a {
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}

ul.primary li a:hover,
ul.primary li.active a,
ul.primary li.active a:hover {background: #eee; border: 1px solid #666; border-bottom: 0; color: #12343c;}

ul.primary li a .tab {}
ul.primary li a:hover .tab {}
ul.primary li.active a .tab,
ul.primary li.active a:hover .tab { }
*/

ul.primary li a  {
	border: 0;

	display: inline-block; padding: 3px 8px; background: #efc22e; color: #271601; text-decoration: none; font: 12px Arial, Helvetica, sans-serif;

	border-top: 1px solid #fefdf4;
	border-bottom: 1px solid #aa7b1d;

	border-radius: 8px;
	-moz-border-radius: 8px;
	text-shadow: 0 1px 1px #c2ad3b;

	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5dc34', endColorstr='#efc32d');
	background: -webkit-gradient(linear, left top, left bottom, from(#f5dc34), to(#efc32d));
	background: -moz-linear-gradient(top,  #f5dc34,  #efc32d);
	background: -o-linear-gradient(top, #f5dc34, #efc32d);
}

ul.primary li a:hover,
ul.primary li.active a,
ul.primary li.active a:hover{
	text-decoration: none;
	background: #f5da33;

	border: 0;
	border-top: 1px solid #fffff4;
	border-bottom: 1px solid #c9ab28;

	box-shadow: 0px 0px 4px #ffff3b;

	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff3c', endColorstr='#f5da34');
	background: -webkit-gradient(linear, left top, left bottom, from(#ffff3c), to(#f5da34));
	background: -moz-linear-gradient(top,  #ffff3c,  #f5da34);
	background: -o-linear-gradient(top, #ffff3c, #f5da34);
}


/*- secondary -*/
ul.secondary {margin: 0; padding: 5px 0 0 5px; background: #fff; border-bottom: 1px solid #ccc; list-style: none; white-space: nowrap;}

ul.secondary li {float: left; margin: 0 5px 5px 0; padding: 0px 0; border-right: none;}
ul.secondary a {display: block; margin: 0; padding: 5px; background: #eee; border: 1px solid #ccc; color: #555; text-decoration: none; font-size: 11px}

ul.secondary a:hover {background: #ffca67;  color: #12343c;}
ul.secondary a.active,
ul.secondary a.active:hover {background: #ffca67; border: 1px solid #c0c0c0; color: #12343c;}

ul.secondary a .tab {}
