.mstheme-bannertxt a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-bannertxt a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-bannertxt a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-bannertxt-g
{
	font-family: Verdana;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}
.mstheme-bannertxt-g a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-bannertxt-g a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-bannertxt-g a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-bannertxt-s
{
	font-family: Verdana;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}
.mstheme-bannertxt-s a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-bannertxt-s a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-bannertxt-s a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-horiz-navtxt a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-horiz-navtxt a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-horiz-navtxt a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-horiz-navtxt-g
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}
.mstheme-horiz-navtxt-g a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-horiz-navtxt-g a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-horiz-navtxt-g a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-horiz-navtxt-gs
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}
.mstheme-horiz-navtxt-gs a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-horiz-navtxt-gs a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-horiz-navtxt-gs a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxthome a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-navtxthome a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxthome a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxthome-g
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxthome-g a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-navtxthome-g a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxthome-g a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxthome-gs
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxthome-gs a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-navtxthome-gs a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxthome-gs a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxtnext a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-navtxtnext a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxtnext a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxtnext-g
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtnext-g a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-navtxtnext-g a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxtnext-g a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxtnext-gs
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtnext-gs a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-navtxtnext-gs a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxtnext-gs a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxtprev a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-navtxtprev a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxtprev a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxtprev-g
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtprev-g a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-navtxtprev-g a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxtprev-g a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxtprev-gs
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtprev-gs a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-navtxtprev-gs a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxtprev-gs a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxtup a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-navtxtup a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxtup a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxtup-g
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtup-g a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-navtxtup-g a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxtup-g a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxtup-gs
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtup-gs a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-navtxtup-gs a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-navtxtup-gs a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-topbar-font a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-topbar-font a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-topbar-font a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-topbar-font-g
{
	font-family: Verdana, Arial, Helvetica;
	color: #FFFFFF;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-topbar-font-g a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-topbar-font-g a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-topbar-font-g a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-vert-navtxt a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-vert-navtxt a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-vert-navtxt a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-vert-navtxt-g
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}
.mstheme-vert-navtxt-g a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-vert-navtxt-g a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-vert-navtxt-g a:visited
{
	color: rgb(0, 0, 102);
}
.mstheme-vert-navtxt-gs
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}
.mstheme-vert-navtxt-gs a:link
{
	color: rgb(0, 51, 153);
}
.mstheme-vert-navtxt-gs a:active
{
	color: rgb(0, 0, 102);
}
.mstheme-vert-navtxt-gs a:visited
{
	color: rgb(0, 0, 102);
}
