
/**
 * A simple sample carousel skin.
 *
 * This skin includes a sample arrows.svg file that may be edited with the free
 * illustration application InkScape (http://inkscape.org).
 *
 * CSS and icons by Nathan Haug.
 */

.jcarousel-container {}

.jcarousel-container-horizontal {width: 880px; height: 58px; margin: auto; padding: 0px 40px;}
.jcarousel-clip-horizontal {width: 880px; overflow: hidden;}

.jcarousel-item {width: 190px; height: 56px; padding: 0; overflow: hidden; background: none; border: 0; list-style: none; text-align: center;}
.jcarousel-item-horizontal {margin: 0 15px;}

.jcarousel-item-placeholder {background: #fff url(throbber.gif) no-repeat center center; color: #000;}


.jcarousel-container-horizontal {width: 930px; padding: 0px 15px;}
.jcarousel-clip-horizontal {width: 930px;}
.jcarousel-item {width: 186px;}
.jcarousel-item-horizontal {margin: 0 0px;}


/* vertical */
.jcarousel-container-vertical {width: 102px; height: 440px; margin: auto; padding: 40px 20px;}
.jcarousel-clip-vertical {height: 440px; overflow: hidden;}
.jcarousel-item-vertical {margin: 4px 0;}


/* debug *
.jcarousel-container {border: 1px dotted red;}
.jcarousel-item {border: 1px dotted green;}
/**/

/**
 * Buttons
 */
.jcarousel-next,
.jcarousel-prev {
  display: block;
  width: 12px;
  height: 26px;
  background-image: url(arrows.png);
}

.jcarousel-next-disabled,
.jcarousel-prev-disabled { display: none;}

/**
 * Horizontal Buttons
 */
.jcarousel-next-horizontal {position: absolute; top: 12px; right: 0px; background-position: 0 0px;}
.jcarousel-next-horizontal:hover,
.jcarousel-next-horizontal:active {background-position: 0px -26px;}

.jcarousel-prev-horizontal {position: absolute; top: 12px; left: 0px; background-position: 0 -52px;}
.jcarousel-prev-horizontal:hover,
.jcarousel-prev-horizontal:active {background-position: 0px -78px;}


/**
 * Vertical Buttons
 */
 /*
.jcarousel-skin-default .jcarousel-prev-vertical {
  position: absolute;
  top: 10px;
  left: 55px;
  background-position: 0 -64px;
}
.jcarousel-skin-default .jcarousel-prev-vertical:hover {
  background-position: -32px -64px;
}
.jcarousel-skin-default .jcarousel-prev-vertical:active {
  background-position: -64px -64px;
}

.jcarousel-skin-default .jcarousel-next-vertical {
  position: absolute;
  bottom: 10px;
  left: 55px;
  background-position: 0 -96px;
}
.jcarousel-skin-default .jcarousel-next-vertical:hover {
  background-position: -32px -96px;
}
.jcarousel-skin-default .jcarousel-next-vertical:active {
  background-position: -64px -96px;
}
/**/

/* jcarousel-navigation */
.jcarousel-navigation {margin: 0; padding: 0;}
.jcarousel-navigation li {display: inline; margin: 0 2px 0 0; padding: 0; background: none;}
.jcarousel-navigation li.active a {font-weight: bold; text-decoration: none;}

