BODY {
	margin:0px;
	text-align:center;
	background-color: #A1E159;
	font-family:Arial, Helvetica, sans-serif;
background: #A1E159
}

#main{
margin-left: auto;
margin-right: auto;
}

.bgcolor {
background: #464646;
}
.logo{
background-image: url('../header.jpg');
width: 720px;
height: 120px;
min-width: 720px;
min-height: 120px;
text-align: center;
}

.sidebar {
background-image:url(../images/leftnav_back.jpg); background-repeat:repeat-y; vertical-align: top; min-width: 190;
}
.topnavigation {
	font-size: 10px; vertical-align: bottom; text-align: left; width: 658; background-image: url('../images/topnav_back.jpg'); background-repeat:no-repeat; COLOR: #000000; font-family: Arial, Helvetica, sans-serif; text-decoration: none
}
.topnavigation2 {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.topnavlinks {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.topnavlinks:hover {
	FONT-SIZE: 10px; COLOR: #222222; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.leftnavigation {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 10px; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#dash {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(images/wh_dash.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 1px; WIDTH: 161px; COLOR: #000000; PADDING-TOP: 0px; HEIGHT: 3px
}
.leftnavpadding {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 10px; BACKGROUND: url(images/leftnav_padding.jpg) #fff repeat-y; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.navheader {
	PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 13px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; LINE-HEIGHT: normal; PADDING-TOP: 2px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.navsecondary {
	PADDING-LEFT: 2px; FONT-SIZE: 10px; COLOR: #8ccff3; LINE-HEIGHT: normal; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#col {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; FLOAT: left; COLOR: #fff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#col UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 1px
}
#col LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#col A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: 400; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#col A {
	FLOAT: none
}
#col A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #085ca6
}
#col #current {
	COLOR: #fff; BACKGROUND-COLOR: #085ca6
}
#col #current A {
	PADDING-BOTTOM: 0px; COLOR: #fff; BACKGROUND-COLOR: #085ca6
}
BODY {
	MARGIN: 0px
}
TD {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; COLOR: #000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluetext {
	FONT-WEIGHT: 400; FONT-SIZE: 10px;  FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.productlist {
	BORDER-RIGHT: #000000 1px dashed; PADDING-RIGHT: 10px; BORDER-TOP: #000000 1px dashed; PADDING-LEFT: 10px; FONT-WEIGHT: 400; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 10px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #000000; PADDING-BOTTOM: 20px; WIDTH: 333px; COLOR: #000; PADDING-TOP: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #daeff8; TEXT-DECORATION: none
}
.productlistright {
	PADDING-RIGHT: 10px; BORDER-TOP: #000000 1px dashed; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #000000; PADDING-BOTTOM: 20px; PADDING-TOP: 15px; BACKGROUND-COLOR: #daeff8; BORDER-RIGHT-COLOR: #000000
}
.producttablebottom {
	BORDER-LEFT: #000000 1px dashed; BORDER-BOTTOM: #000000 1px dashed; BACKGROUND-COLOR: #daeff8
}
.tableallborder {
	BORDER-RIGHT: #000000 1px dashed; BORDER-TOP: #000000 1px dashed; BORDER-LEFT: #000000 1px dashed; BORDER-BOTTOM: #000000 1px dashed; BACKGROUND-COLOR: #daeff8
}
.tableborderright {
	BORDER-RIGHT: #000000 1px dashed; BACKGROUND-COLOR: #daeff8
}
.sep {
	BORDER-BOTTOM: #000000 1px dashed; BACKGROUND-COLOR: #fff
}
.productlisting {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; COLOR: #000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.productdescription {
	FONT-WEIGHT: 400; FONT-SIZE: 16px; COLOR: #000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.productheader {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #000; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.ProductName {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #000; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.productnew {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #ec008c; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.home_column1 {
	BORDER-RIGHT: #000000 1px dashed; PADDING-RIGHT: 13px; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #000000; PADDING-BOTTOM: 10px; PADDING-TOP: 15px; BACKGROUND-COLOR: #fff
}
.home_column58 {
	PADDING-RIGHT: 13px; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #000000; PADDING-BOTTOM: 10px; PADDING-TOP: 15px; BACKGROUND-COLOR: #fff; BORDER-RIGHT-WIDTH: 1px
}
.home_column57 {
	PADDING-RIGHT: 13px; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; PADDING-TOP: 15px; BORDER-BOTTOM: #000000 1px dashed; BACKGROUND-COLOR: #fff; BORDER-RIGHT-WIDTH: 1px
}
.home_column2 {
	PADDING-LEFT: 3px; BACKGROUND-COLOR: #fff
}
.home_column2a {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BORDER-LEFT-COLOR: #000000; PADDING-BOTTOM: 20px; PADDING-TOP: 15px; BORDER-BOTTOM: #000000 1px dashed; BACKGROUND-COLOR: #fff; BORDER-RIGHT-COLOR: #000000
}
.home_column2b {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 20px; PADDING-TOP: 15px; BACKGROUND-COLOR: #fff
}
.home_content1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: 400; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; OVERFLOW: auto; WIDTH: 230px; COLOR: #000; PADDING-TOP: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 245px; BACKGROUND-COLOR: #daeff8; TEXT-DECORATION: none
}

.home_content3 {
	PADDING-RIGHT: 10px; 
	PADDING-LEFT: 10px; 
	FONT-WEIGHT: 400; 
	FONT-SIZE: 10px; 
	PADDING-BOTTOM: 10px; 
	OVERFLOW: auto; 
	COLOR: #000; PADDING-TOP: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #daeff8; TEXT-DECORATION: none
}
.home_content2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: 400; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; OVERFLOW: auto; WIDTH: 230px; COLOR: #000; PADDING-TOP: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 130px; BACKGROUND-COLOR: #daeff8; TEXT-DECORATION: none
}
.nopadding {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
B {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-BOTTOM: 14px; TEXT-TRANSFORM: uppercase; COLOR: #000; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.imgholder {
	BORDER-RIGHT: #555 1px solid; BORDER-TOP: #555 1px solid; MARGIN-BOTTOM: 5px; BORDER-LEFT: #555 1px solid; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #555 1px solid; max-width: 220px
}
#prtext {
	FONT-SIZE: 10px; COLOR: #000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#dropdownform {
	MARGIN-LEFT: 17px
}
#headerpad {
	MARGIN-LEFT: 17px
}
.header2 {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #1073c6; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.header3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tableeheader4 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #000000;
	LINE-HEIGHT: normal;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height:16px;
}
.navtop {
	LEFT: 748px; WIDTH: 150px; POSITION: absolute; HEIGHT: 93px
}
.divhome {
	BORDER-BOTTOM: #000000 1px dashed
}
#HP_1 {
	position: absolute; left: 205px; top: 28px; width: 67px; height: 27px; z-index: 0
}
#HP_2 {
	position: absolute; left: 277px; top: 24px; width: 67px; height: 27px; z-index: 0
}
#HP_3 {
	position: absolute; left: 365px; top: 40px; width: 67px; height: 16px; z-index: 0
}
#HP_4 {
	position: absolute; left: 433px; top: 39px; width: 67px; height: 17px; z-index: 0
}
#HP_5 {
	position: absolute; left: 476px; top: 38px; width: 67px; height: 20px; z-index: 0
}
#HP_6 {
	position: absolute; left: 517px; top: 29px; width: 42px; height: 27px; z-index: 0
}
#HP_7 {
	position: absolute; left: 544px; top: 40px; width: 67px; height: 17px; z-index: 0
}
#HP_8 {
	position: absolute; left: 656px; top: 35px; width: 35px; height: 21px; z-index: 0
}
#HP_9 {
	position: absolute; left: 719px; top: 38px; width: 67px; height: 20px; z-index: 0;
}
