BODY {
	margin:0px;
	text-align:center;
	background-color: #A1E159;
	font-family:Arial, Helvetica, sans-serif;
background: #cfdee5;
}

#main{
margin-left: auto;
margin-right: auto;
}

.bgcolor {
background: #cfdee5;
}
.bgcolor2 {
background: #9cbbc9;
}
.logo{
background-image: url('./header.jpg');
width: 720px;
height: 119px;
min-width: 720px;
min-height: 119px;
text-align: center;
background-color: #0e891e;
}

.sidebar {
background-image:url(../images/leftnav_back.jpg); background-repeat:repeat-y; vertical-align: top; min-width: 190;
}
.topnavigation {
	font-size: 10px; vertical-align: bottom; text-align: left; width: 658; background-image: url('../images/topnav_back.jpg'); background-repeat:no-repeat; COLOR: #000000; font-family: Arial, Helvetica, sans-serif; text-decoration: none
}
.topnavigation2 {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.topnavlinks {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.topnavlinks:hover {
	FONT-SIZE: 10px; COLOR: #222222; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.leftnavigation {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 10px; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#dash {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(images/wh_dash.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 1px; WIDTH: 161px; COLOR: #000000; PADDING-TOP: 0px; HEIGHT: 3px
}
.leftnavpadding {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 10px; BACKGROUND: url(images/leftnav_padding.jpg) #fff repeat-y; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.navheader {
	PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 13px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; LINE-HEIGHT: normal; PADDING-TOP: 2px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.navsecondary {
	PADDING-LEFT: 2px; FONT-SIZE: 10px; COLOR: #8ccff3; LINE-HEIGHT: normal; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
