.ps_area {
	float: left;
	width: 100%;
}
.ps_facebook_like, .ps_facebook_send, .ps_twitter, .ps_google, .ps_linkedin, .ps_follow {
	float: left;
	margin: 0 5px;
}

.ps_facebook_like {
	width: 140px;
}
.ps_twitter {
	width: 90px;
	float: left;
	position: relative;
}
.ps_pinit{
	float: left;
	position: relative;
	width: 80px;
    left: 10px;
}
.ps_linkedin {
	width: 70px;
}
.ps_google {
	width: 70px;
}