/*
**	$Id: PHPCatalog.css,v 1.2 2003/09/16 20:31:48 damonp Exp $
**
** Copyright (C) 2001 siliconsys.com <dev@siliconsys.com>
** See LICENSE file in root directory of this installation for
** licensing information.
*/

a:link {
	color: blue;
	text-decoration: none
}

a:visited {
	color: blue;
	text-decoration: none
}

a:hover {
	color: blue;
	text-decoration: underline
}

a:active {
	color: gray;
	text-decoration: none
}

body {
	color: #000000;
	font-family: Verdana, sans-serif, Arial;
	font-size: 11px;
}

table {
	bordercolor: #000000;
	color: #000000;
	font-family: Helvetica, sans-serif, Arial;
	font-size: 11px;
}

.footer, a.footer, a:visited.footer {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
	color: #777777;
}

.listkey {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	font-weight: bold;
}

.listvalue, a.listvalue, a:visited.listvalue {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}

.boxbody {
	font-size: 10px;
	font-family: Helvetica, Sans-serif;
}

.sold {
	font-family: Verdana, Arial;
	font-size: 14px;
	color: #ff3300;
	font-weight: bold;
}

.bold {
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.warning {
	color: #e51919;
	font-family: Verdana, Arial;
	font-size: 9px
}

.info {
	color: #000099;
	font-family: Verdana, Arial;
	font-size: 9px;
}

.small {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 8px;
	text-decoration: none;
}

.input {
	color: #000000;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 9px;
}

.label, a:visited.label, a:link.label {
	color: #000000;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.selectlabel, a:visited.selectlabel, a:link.selectlabel {
	color: #555555;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

a:hover.label, a:hover.selectlabel, a:hover.listvalue, a:hover.footer	{
	color: blue;
	text-decoration:none;
}

.list, a.list, a:visited.list {
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

a:hover.list	{
	color: #555555;
	text-decoration: none;
}

.heading1, a.heading1, a:visited.heading1, .locbar, a.locbar, a:visited.locbar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.navlabel, a.navlabel, a:visited.navlabel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

a:hover.heading1, a:hover.locbar, a:hover.navlabel, a:hover.minicart, a:hover.prevnext	{
	color: blue;
	text-decoration:none;
}

.prevnext, a.prevnext, a:visited.prevnext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
color: #000000;
	text-decoration: none;
}

.header	{
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	color: #333333;
}