html, body{height:100%;}
.mceContentBody{height:100%;min-width:90%;padding:5px;}
body, td, pre {color:#000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; margin:8px;}
body {background:#FFF;}
body.mceContentReset {background: #FFFFFF none !important; color:#000000 !important; text-align:left !important;}
body.mceContentReset a:link, body.mceContentReset a:visited {color: #000000 !important;}
h1 {font-size: 2em}
h2 {font-size: 1.5em}
h3 {font-size: 1.17em}
h4 {font-size: 1em}
h5 {font-size: .83em}
h6 {font-size: .75em}
.mceItemTable, .mceItemTable td, .mceItemTable th, .mceItemTable caption, .mceItemVisualAid {border: 1px dashed #BBB;border-collapse: separate !important;border-spacing: 2px;}
a.mceItemAnchor:empty {padding-left:15px;background:url(../default/img/items.gif) no-repeat center;}
span.mceItemNbsp {background: #DDD}
td.mceSelected, th.mceSelected {background-color:#3399ff !important}
img {border:0;}
table {cursor:default}
table td, table th {cursor:text}
ins {border-bottom:1px solid green; text-decoration: none; color:green}
del {color:red; text-decoration:line-through}
cite {border-bottom:1px dashed blue}
acronym {border-bottom:1px dotted #CCC; cursor:help}
abbr {border-bottom:1px dashed #CCC; cursor:help}

img:-moz-broken {-moz-force-broken-image-icon:1; width:24px; height:24px}
font[face=mceinline] {font-family:inherit !important}

/** bookmark **/
span[data-mce-type="bookmark"] {
	font-size: 0;
}	