 ul{  width: 100; display: inline; padding: none; margin: none;}
 li { border: solid 1px #000; display: inline; padding: none; padding: 5px; margin: 2px;}
#navlist li{ border: none;}
#subnavlist li{ border: none;}

.sticky-table{
vertical-align: bottom;

}
#edit-checkout{
position: relative;
width: 120px;
height: 30px;
border: 0;
background: url('http://dolphin.arvixe.com/~peterlou/drupal/sites/default/files/color/pixture-77a44ab5/checkout.gif') no-repeat;
margin: 0px;
padding: 10px;
display: inline;

}
#edit-update2{
position: relative;
width: 90px;
height: 30px;
border: 0;
background: url('http://dolphin.arvixe.com/~peterlou/drupal/sites/default/files/color/pixture-77a44ab5/but_updatecart.gif') no-repeat;
margin: 0px;
display: inline;
}

#edit-order{
width: 90px;
height: 50px;
background: url('http://dolphin.arvixe.com/~peterlou/drupal/sites/default/files/color/pixture-77a44ab5/creditcard.gif') no-repeat;
border: 0;
position: relative;
}

#edit-update{
position: relative;
width: 90px;
height: 50px;
border: 0;
background: url('http://dolphin.arvixe.com/~peterlou/drupal/sites/default/files/color/pixture-77a44ab5/submitorder.gif') no-repeat;
}



a{
border: none;
}

img{
border: none;
}

#ec-checkout-form div{ 
width: 100%;
}
#ec-checkout-form input.form-text{ 
display: block;
}
#ec-checkout-form select{ 
display: block;
}
#ec-checkout-form label{ 
font-size: 16px;}

#customer-address-billing div{
display: table;

}

.rtype-paypal-basic{
font-size: 12px;
padding-bottom: 5px;
display: none;
}

.box{
font-size: 12px;
}
.box h2{

}
.sticky-table{
width: 100%;
font-size: 14px;
}
.sticky-table td{
font-size: 14px;
} 

.views-view-grid{
width: 100%
}

.pagetitle{
font-size: 14px;
}


.error li {
color: #a00;
border: none;
font-weight: 900;
font-size: 14px;
text-align: center;
display: block;
padding: 0px;
}
.messages {
color: #a00;
border: none;
font-weight: 900;
font-size: 14px;
text-align: center;
display: block;
padding: 0px;
}

.warning {
color: #a00;
border: none;
font-weight: 900;
font-size: 14px;
text-align: center;
display: block;
padding: 0px;
}

input.error {
border: solid 2px #a00;
}

#user-login{
display: block;
font-size: 14px;
position: relative;
top: 10px;
margin-bottom: 40px;
}

.tabs{
margin-bottom: 5px;

}
.