#/* --------------------------------------------------- */#
#/* Style Sheet                                         */#
#/* filename: awesome_orange_001_tf_styles.css          */#
#/* TEMPLATE: Tell A Friend                             */#
#/* THEME: Awesome Orange 001                           */#
#/* copyright 2005 ShopSite inc. Design by Stunk        */#
#/* --------------------------------------------------- */#

/* Universal Settings */
  body {
    margin: 0px;
    font-family: [-- VAR.font --];
    font-size: [-- VAR.font_size --];
    text-align: [-- VAR.text_align --];
    color: [-- VAR.text_color --];
    background-color: [-- VAR.background_color --];
  }

  div {
  }
  
  /* Tables */
  table {
    border-collapse: collapse;
    font-family: [-- VAR.font --];
    font-size: [-- VAR.font_size --];
    text-align: [-- VAR.text_align --];
    color: [-- VAR.text_color --];
  }

  tr {
  }

  td {
  }

  /* Headers */
  h1 {
    font-size: [-- VAR.h1_size --];
  }
  
  h2 {
    font-size: [-- VAR.h2_size --];
  }
  
  h3 {
    font-size: [-- VAR.h3_size --];
  }
  
  h4 {
    font-size: [-- VAR.h4_size --];
  }
  
  /* Links */
  a {
    color: [-- VAR.link_text_color --];
  }
  
  a:hover, a:active {
    color: [-- VAR.link_hover_color --];
  }
  
[-- IF VAR.define "form" --]
  a.tf_page_link {
    color: [-- VAR.button_text_color --];
    text-decoration: none;
  }
  
  a.tf_page_link:hover {
    color: [-- VAR.button_hover_color --]
  }
[-- END_IF --]
  
  /* Images */
  img {
    border: none;
  }
  
  img.link_image: {
    border: 0px none;
  }  
  
  /* Forms */
  input, textbox, select {
    color: [-- VAR.form_text_color --];
    font-size: [-- VAR.form_text_size --];
    background-color: [-- VAR.form_background_color --];
    border: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
  }

    /* IE doesn't recognize these */
  input[type=text], input[type=password], input[type=button], input[type=select], input[type=reset], textbox, select {
    background-color: [-- VAR.form_background_color --];
    border: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
  }

  input[type=image], input[type=radio], input[type=checkbox] {
    background-color: transparent;
    border: none;  
  }

  input.button404, input.button403 {
    background-color: transparent;
    border: none;  
  }
  
/* Page Layout */
  table.body {
    width: 100%;
    background-color: transparent;
  }
  
  td.header {
  }
  
  td.content {
  }

  /* Begin Page Header */
  table.header {
    width: 100%;
    background-color: transparent;
  }

  tr.header_row_1 {
    height: 10px;
  }

  tr.header_row_2 {
  }

  tr.header_row_3 {
    height: 10px;
  }

  td.header_1a {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_1a.gif);
  }

  td.header_1b {
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_1b.gif);
  }

  td.header_1c {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_1c.gif);
  }

  td.header_2a {
    width: 8px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_2a.gif);
  }

  td.header_2c {
    width: 8px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_2c.gif);
  }

  td.header_3a {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_3a.gif);
  }

  td.header_3b {
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_3b.gif);
  }

  td.header_3c {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_3c.gif);
  }

  td.header_content {
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_content.gif);
    text-align: center;
    color: [-- VAR.button_text_color --];
  }

  table.header_content {
    width: 100%;
    text-align: center;
    color: [-- VAR.button_text_color --];
  }

[-- IF VAR.define "form" --]
  td.tf_sendlink_text {
    width: 50%;
    text-align: right;
    font-weight: bold;
  }

  td.tf_sendlink_data {
    width: 50%;
    text-align: left;
  }

  td.tf_instructions {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }
[-- ELSE_IF VAR.define "confirm" --]
  td.tf_error_title {
    font-weight: bold;
    text-align: center;
  }

  td.tf_success_title {
    font-weight: bold;
    text-align: center;
  }

  td.tf_from_text {
    text-align: right;
    font-weight: bold;
    text-indent: 30px;
  }

  td.tf_from_data {
    text-align: left;
  }

  td.tf_to_text {
    text-align: right;
    font-weight: bold;
    text-indent: 30px;
  }

  td.tf_to_data {
    text-align: left;
  }
[-- ELSE --]
  td.tf_message {
  }
[-- END_IF --]
  /* End Page Header */

  /* Begin Page Content */
  table.content {
    width: 100%;
    background-color: transparent;
  }
  
  tr.content_row_1 {
    height: 3px;
  }
  
  tr.content_row_2 {
  }
  
  tr.content_row_3 {
    height: 3px;
  }
  
  td.content_1a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_1a.gif);
  }
  
  td.content_1b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_1b.gif);
  }
  
  td.content_1c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_1c.gif);
  }
  
  td.content_2a {
    width: 3px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_2a.gif);
  }
  
  td.content_2c {
    width: 3px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_2c.gif);
  }
  
  td.content_3a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_3a.gif);
  }
  
  td.content_3b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_3b.gif);
  }
  
  td.content_3c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_3c.gif);
  }
  
  td.content_content {
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_content.gif);
  }

  table.content_content {
    width: 100%;
  }

[-- IF VAR.define "form" --]
  td.tf_yourname_text {
    text-align: right;
    font-weight: bold;
  }

  td.tf_yourname_form {
    text-align: left;
  }

  td.tf_youremail_text {
    text-align: right;
    font-weight: bold;
  }

  td.tf_youremail_form {
    text-align: left;
  }

  td.tf_email_instructions {
    text-align: left;
  }

  td.tf_friendemail_text {
    text-align: right;
    font-weight: bold;
  }

  td.tf_friendemail_form {
    text-align: left;
  }

  td.tf_message_select {
    text-align: left;
  }

  table.tf_sel {
    background-color: transparent;
  }

  th.tf_sel_hdr {
  }

  td.tf_sel_radio {
    border: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
  }

  td.tf_sel_str {
    text-align: left;
    border: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
    padding: 3px;
  }

  table.tf_buttons {
    width: 100%;
  }

  td.tf_close_button {
    width: 50%;
    text-align: center;
  }
  
  td.tf_send_button {
    width: 50%;
    text-align: center;
  }
[-- ELSE_IF VAR.define "confirm" --]
  td.tf_error_text {
  }

  td.tf_back_button {
    text-align: center;
  }

  td.tf_message {
  }

  td.tf_click_text {
  }

  td.tf_link {
    text-indent: 30px;
  }

  td.tf_friend_text {
  }

  td.tf_friend_name {
    text-indent: 15px;
  }

  td.tf_close_button {
    width: 50%;
    text-align: center;
  }
  
[-- ELSE --]
  td.tf_click_text {
  }

  td.tf_link {
    text-indent: 30px;
  }

  td.tf_friend_text {
  }

  td.tf_friend_name {
    text-indent: 15px;
  }
[-- END_IF --]
  /* End Page Content */

