#/* --------------------------------------------------- */#
#/* Style Sheet                                         */#
#/* filename: awesome_orange_001_pr_styles.css          */#
#/* TEMPLATE: Product                                   */#
#/* THEME: Awesome Orange 001                           */#
#/* copyright 2005 ShopSite inc. Design by Stunk        */#
#/* --------------------------------------------------- */#

/* General Appearance */
  /* Spans */
  span.pr_name {
  }
  
  span.pr_sku {
  }
  
  span.pr_desc {
  }
  
  span.pr_price {
  }
  
  span.pr_price_sale {
    color: [-- VAR.pr_price_sale_color --];
    text-decoration: line-through;
  }
  
  span.pr_sale_price {
    color: [-- VAR.pr_sale_price_color --];
  }
  
  span.pr_alt_price {
  }
  
  span.pr_alt_price_sale {
    color: [-- VAR.pr_price_sale_color --];
    text-decoration: line-through;
  }
  
  span.pr_alt_sale_price {
    color: [-- VAR.pr_sale_price_color --];
  }
  
  span.pr_option_text {
  }
  
  span.pr_quantity {
  }
  
  /* Links */
  a.pr_image {
    border: none;
  }
  
  a.pr_desc {
    text-decoration: underline;
  }
  
  a.pr_addtocart_button {
    vertical-align: bottom;
    border: none;
  }
  
  /* Inputs */
  input.pr_addtocart_button {
    vertical-align: bottom;
    background-color: transparent;
    border: none;
  }
  
  /* Images */
  img.pr_image {
    border: none;
    text-align: center;
  }
  
  img.pr_addtocart_button {
    vertical-align: bottom;
    border: none;
  }
  
/* Product Layout */
  td.products_content {
  }
  
  table.product_list {
    width: 100%;
  }
  
  tr.product_list_row_1 {
    height: 5px;
  }
  
  tr.product_list_row_2 {
  }
  
  tr.product_list_row_3 {
    height: 5px;
  }
  
  td.product_list_1a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_1a.gif);
  }
  
  td.product_list_1b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_1b.gif);
  }
  
  td.product_list_1c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_1c.gif);
  }
  
  td.product_list_2a {
    width: 3px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_2a.gif);
  }
  
  td.product_list_2c {
    width: 3px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_2c.gif);
  }
  
  td.product_list_3a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_3a.gif);
  }
  
  td.product_list_3b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_3b.gif);
  }
  
  td.product_list_3c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_3c.gif);
  }
  
  td.product_list_content {
    vertical-align: top;
    text-align: left;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_content.gif);
  }
  
  table.pr_table {
    background-color: transparent;
    vertical-align: top;
    text-align: left;
    width: 100%;
  }
  
  td.pr_image {
    vertical-align: top;
    text-align: center;
  }
  
  td.pr_data {
    vertical-align: top;
    text-align: left;
    width: 90%;
  }
  
  table.pr_data {
    background-color: transparent;
    vertical-align: top;
    text-align: left;
    width: 100%;
  }
  
  td.pr_name {
    text-align: left;
    vertical-align: top;
  }
  
  td.pr_desc {
    text-align: left;
    vertical-align: top;
  }
  
  td.pr_price {
    text-align: left;
    vertical-align: top;
  }
  
  table.qp_header {
    text-align: [-- VAR.text_align --];
    background-color: [-- VAR.qp_background_color --];
    border: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
  }
  
  table.pr_sub_loop {
    background-color: transparent;
    text-align: left;
    vertical-align: top;
    width: 95%
  }
  
  td.pr_sub_loop_data {
    text-align: left;
    vertical-align: top;
  }
  
