/* Links */
  /* Regular Page Links */
  /* Note: Links and Extras tables use different styles */
  a {
    color: [-- VAR.pa_link_color --];
  }
  
  a:active, a:hover {
    color: [-- VAR.pa_active_link_color --];
  }
  
  a:visited {
    color: [-- VAR.pa_visited_link_color --];
  }

  /* Link Menu Links */
  a.link_name {
    color: [-- VAR.pa_banner_text_color --];
    font-weight: bold;
    font-size: 12pt;
  }

  a.link_name:active, a.link_name:hover {
    color: [-- VAR.pa_active_link_color --];
  }
  
  a.link_name:visited {
    color: [-- VAR.pa_banner_text_color --];
  }
  
  /* View Cart Link (text only) */
  a.pa_view_cart {
    font-weight: bold;
    text-decoration: none;
    color: [-- VAR.pa_banner_text_color --];
  }

  a.pa_view_cart:active, a.pa_view_cart:hover {
    color: [-- VAR.pa_active_link_color --];
  }
  
  a.pa_view_cart:visited {
    color: [-- VAR.pa_banner_text_color --];
  }
  
  /* Product Links */
  a.pr_graphic, a.pr_name, a.pr_sku {
    font-weight: bold;
    text-decoration: none;
  }

  a.pr_more_info_link {
    font-weight: bold;
    text-decoration: none;
  }

  a.pr_addtocart_button, a.pr_viewcart_button {
    font-weight: bold;
    text-decoration: none;
  }

  /* Subproduct Links */
  a.subpr_graphic, a.subpr_name, a.subpr_sku {
    font-weight: bold;
    text-decoration: none;
  }

  a.subpr_more_info_link {
    font-weight: bold;
    text-decoration: none;
  }

  a.subpr_addtocart_button, a.subpr_viewcart_button {
    font-weight: bold;
    text-decoration: none;
  }

  /* Extras Links */
  a.reglink, a.MiniCart {
    white-space: nowrap;
    color: [-- VAR.pa_banner_text_color --];
  }

  a.reglink:active, a.MiniCart:active {
    color: [-- VAR.pa_active_link_color --];
  }
  
  a.reglink:hover, a.MiniCart:hover {
    color: [-- VAR.pa_active_link_color --];
  }
  
  a.reglink:visited, a.MiniCart:visited {
    color: [-- VAR.pa_banner_text_color --];
  }

  a.giftcertlink, a.tf_popup, a.search_help {
    color: [-- VAR.pa_banner_text_color --];
    font-weight: bold;
  }
  
  a.giftcertlink:active, a.tf_popup:active, a.search_help:active {
    color: [-- VAR.pa_active_link_color --];
  }
  
  a.giftcertlink:hover, a.tf_popup:hover, a.search_help:hover {
    color: [-- VAR.pa_active_link_color --];
  }
  
  a.giftcertlink:visited, a.tf_popup:visited, a.search_help:visited {
    color: [-- VAR.pa_banner_text_color --];
  }  
  
  /* Search Results Links */
  td.se_link a {
    font-weight: bold;
    font-size: 12pt;
  }

  a.se_link_text {
    font-weight: normal;
    font-size: 10pt;
  }

/* Forms */
  /* Generic Form Elements */
  input {
    border: 1px solid #[-- VAR.pa_link_color --];
    background-color: #[-- VAR.pa_background_color --];
    color: #[-- VAR.pa_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
  /* Note: Current IE versions don't support the type= modifier */
  input[type=text], input[type=password] {
    background-color: [-- VAR.pa_background_color --];
    color: [-- VAR.pa_text_color --];
    border: 1px solid [-- VAR.pa_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  input[type=image], input[type=button], input[type=submit], input[type=reset] {
    background-color: transparent;
    border: 0px none;
    cursor: pointer;
  }
  
  input[type=radio], input[type=checkbox] {
    background-color: transparent;
    border: 0px none;
  }
  
  textarea {
    background-color: [-- VAR.pa_background_color --];
    color: [-- VAR.pa_text_color --];
    border: 1px solid [-- VAR.pa_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  select {
    background-color: [-- VAR.pa_background_color --];
    color: [-- VAR.pa_text_color --];
    border: 1px solid [-- VAR.pa_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  option {
  }

  /* Search Form Elements */  
  input.search_input {
    background-color: [-- VAR.pa_input_bg_color --];
    color: [-- VAR.pa_text_color --];
    border: 1px solid [-- VAR.pa_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }

  input.search_button {
    border: none;
    background-color: #[-- VAR.pa_banner_bg_color --];
    color: [-- VAR.pa_banner_text_color --];
  }

  /* Product Form Elements */
  input.pr_name {
    background-color: [-- VAR.pa_input_bg_color --];
    color: [-- VAR.pa_text_color --];
    border: 1px solid [-- VAR.pa_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }

  input.pr_sku {
    background-color: [-- VAR.pa_input_bg_color --];
    color: [-- VAR.pa_text_color --];
    border: 1px solid [-- VAR.pa_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }

  input.pr_price {
    background-color: [-- VAR.pa_input_bg_color --];
    color: [-- VAR.pa_text_color --];
    border: 1px solid [-- VAR.pa_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }

  input.pr_quantity {
    background-color: [-- VAR.pa_input_bg_color --];
    color: [-- VAR.pa_text_color --];
    border: 1px solid [-- VAR.pa_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }

  textarea.pr_order_text {
    background-color: [-- VAR.pa_input_bg_color --];
    color: [-- VAR.pa_text_color --];
    border: 1px solid [-- VAR.pa_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }

  input.pr_addtocart_button {
    border: none;
    background-color: transparent;
    color: #[-- VAR.pa_link_color --];
    text-decoration: underline;
    font-weight: bold;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }

  /* Subproduct Form Elements */
  input.subpr_name {
    background-color: [-- VAR.pa_input_bg_color --];
    color: [-- VAR.pa_text_color --];
    border: 1px solid [-- VAR.pa_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }

  input.subpr_sku {
    background-color: [-- VAR.pa_input_bg_color --];
    color: [-- VAR.pa_text_color --];
    border: 1px solid [-- VAR.pa_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }

  input.subpr_price {
    background-color: [-- VAR.pa_input_bg_color --];
    color: [-- VAR.pa_text_color --];
    border: 1px solid [-- VAR.pa_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }

  input.subpr_quantity {
    background-color: [-- VAR.pa_input_bg_color --];
    color: [-- VAR.pa_text_color --];
    border: 1px solid [-- VAR.pa_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }

  textarea.subpr_order_text {
    background-color: [-- VAR.pa_input_bg_color --];
    color: [-- VAR.pa_text_color --];
    border: 1px solid [-- VAR.pa_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }

  input.subpr_addtocart_button {
    border: none;
    background-color: transparent;
    color: #[-- VAR.pa_link_color --];
    text-decoration: underline;
    font-weight: bold;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }

/* Images */
  /* Generic Images */
  img {
    border: 0px none;
  }
  
  /* Page Graphic */
  img.pa_graphic {
  }

  /* Page View Cart Button */
  img.pa_view_cart {
  }

  /* MiniCart */
  img.MiniCart {
  }
    
  /* Product Graphic */
  img.pr_graphic, img.subpr_graphic {
  }

  /* Product Add To Cart Button */
  img.pr_addtocart_button, img.subpr_addtocart_button {
  }

  /* Product View Cart Button */
  img.pr_viewcart_button, img.subpr_viewcart_button {
  }

/* Global Generic Styles */
  body {
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    margin: 0px;
    background-color: [-- VAR.pa_background_color --];
    background-image: url([-- VAR.pa_background_image --]);
    color: [-- VAR.pa_text_color --];
  }
  
  table {
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    vertical-align: top;
    text-align: left;
  }
  
  th {
    text-align: center;
  }
  
  td {
    text-align: left;
  }  

/* Page Layout Styles */
  table.page {
    color: [-- VAR.pa_text_color --];
    background-color: transparent;
    width: [-- VAR.pa_width --];
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  td.pa_header {
    border: [-- VAR.pa_banner_border --] #[-- VAR.pa_col_border_color --];
    background-color: #[-- VAR.pa_banner_bg_color --];
    color: [-- VAR.pa_banner_text_color --];
  }

  td.pa_footer {
  }

  td.pa_content {
  }

  /* Content Section */
  table.pa_content {
    width: 100%;
  }

  td.pa_links {
    vertical-align: top;
    width: 150px;
    min-width: 150px;
  }

  td.pa_info {
    vertical-align: top;
  }

  td.pa_extras {
    vertical-align: top;
    width: 150px;
    min-width: 150px;
  }

  /* Link Menu */
  table.pa_links {
    color: [-- VAR.pa_banner_text_color --];
    border: [-- VAR.pa_banner_border --] #[-- VAR.pa_col_border_color --];
    background-color: #[-- VAR.pa_banner_bg_color --];
    width: 100%;
  }

  td.pa_search_form {
    vertical-align: top;
  }

  table.search {
  }

  td.search_input {
  }

  td.search_button {
    background-color: transparent;
    text-align: center;
  }
  
  td.adv_search_text {
    background-color: #[-- VAR.pa_banner_bg_color --];
    color: [-- VAR.pa_banner_text_color --];
  }

  td.pa_link {
    vertical-align: top;
  }
  
  table.search_table {
    color: [-- VAR.pa_banner_text_color --];
    border: [-- VAR.pa_banner_border --] #[-- VAR.pa_col_border_color --];
    background-color: #[-- VAR.pa_banner_bg_color --];
  }
  
  /* Page */
  table.pa_info {
    width: 100%;
  }

  td.pa_stuff {
  }

  table.pa_stuff {
  }

  td.pa_graphic {
  }

  td.pa_name {
  }

  td.pa_text1 {
  }

  td.pa_text2 {
  }

  td.pa_prev_next {
  }
  
  /* Products */
  td.pa_products {
  }

  table.pa_products {
    width: 100%;
  }

/* Product Styles */
  td.product {
    border: [-- VAR.pa_col_border --] #[-- VAR.pa_col_border_color --];
    padding: 5px;
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  table.product {
    margin-left: auto;
    margin-right: auto;
  }

  td.pr_data {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  table.pr_data {
    margin-left: auto;
    margin-right: auto;
  }

  td.pr_info {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  table.pr_info {
    margin-left: auto;
    margin-right: auto;
  }

  td.pr_purchase {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  table.pr_purchase {
    margin-left: auto;
    margin-right: auto;
  }

  td.pr_subproducts {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  table.pr_subproducts {
    margin-left: auto;
    margin-right: auto;
  }

  /* Graphic */
  td.pr_graphic {
    vertical-align: top;
    text-align: center;
  }

  span.pr_graphic {
    text-align: center;
    vertical-align: text-top;
  }

  /* Name */
  td.pr_name {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  /* SKU */
  td.pr_sku {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  /* Price */
  td.pr_price {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  span.pr_alt_price {
  }

  span.pr_sale_reg_price {
  }

  span.pr_sale_price {
  }

  span.pr_sale_reg_alt_price {
  }

  span.pr_sale_alt_price {
  }

  /* Inventory */
  td.pr_inventory {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  /* Quantity */
  td.pr_quantity {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  /* Order Options */
  td.pr_order_opt {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  td.pr_order_text {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  /* Add To Cart Button */
  td.pr_addtocart_button {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  /* View Cart Button */
  td.pr_viewcart_button {
    vertical-align: top;
    text-align: center;
  }

  /* Description */
  td.pr_description {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  /* More Info Link */
  td.pr_more_info_link {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

/* Subproduct Styles */
  td.subproduct {
    border: [-- VAR.pa_col_border --] #[-- VAR.pa_col_border_color --];
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  table.subproduct {
    margin-left: auto;
    margin-right: auto;
  }

  td.subpr_data {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  table.subpr_data {
    margin-left: auto;
    margin-right: auto;
  }

  td.subpr_info {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  table.subpr_info {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
  }

  td.subpr_purchase {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  table.subpr_purchase {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
  }

  /* Graphic */
  td.subpr_graphic {
    vertical-align: top;
    text-align: center;
  }

  span.subpr_graphic {
    text-align: center;
  }

  /* Name */
  td.subpr_name {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  /* SKU */
  td.subpr_sku {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  /* Price */
  td.subpr_price {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  span.subpr_alt_price {
  }

  span.subpr_sale_reg_price {
  }

  span.subpr_sale_price {
  }

  span.subpr_sale_reg_alt_price {
  }

  span.subpr_sale_alt_price {
  }

  /* Inventory */
  td.subpr_inventory {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  /* Quantity */
  td.subpr_quantity {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  /* Order Options */
  td.subpr_order_opt {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  td.subpr_order_text {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  /* Add To Cart Button */
  td.subpr_addtocart_button {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  /* View Cart Button */
  td.subpr_viewcart_button {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  /* Description */
  td.subpr_description {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

  /* More Info Link */
  td.subpr_more_info_link {
    vertical-align: top;
    text-align: [-- VAR.pa_align --];
  }

/* Extras Menu */
  table.pa_extras {
    color: [-- VAR.pa_banner_text_color --];
    border: [-- VAR.pa_banner_border --] #[-- VAR.pa_col_border_color --];
    background-color: #[-- VAR.pa_banner_bg_color --];
    width: 100%;
  }

  td.pa_reglink {
    vertical-align: top;
  }

  td.pa_minicart {
    vertical-align: top;
  }
  
  td.pa_view_cart {
    vertical-align: top;
  }

  td.pa_giftcert {
    vertical-align: top;
  }
  
  td.pa_tellafriend {
    vertical-align: top;
  }
  
/* Extras Styles */
  /* Customer Registration */
  span.regtext {
    white-space: nowrap;
  }
  
  /* MiniCart */
  div.MiniCart {
  }
  
  table.MiniCart {
    color: [-- VAR.pa_banner_text_color --];
  }
  
  th.MiniCart {
  }
  
  td.MiniCartHead {
  }
  
  td.MiniCartQty {
  }
  
  td.MiniCartProduct {
  }
  
  td.MiniCartPrice {
  }
  
  td.MiniCartSubtotalText {
    font-weight: bold;
  }
  
  td.MiniCartSubtotal {
    font-weight: bold;
  }


/* ---------------------- */
/* New Search Form Styles */
  td.se_search_form {
    width: 100%;
    border-collapse: collapse;
    background-color: #[-- VAR.pa_banner_bg_color --];
    color: [-- VAR.pa_banner_text_color --];
    border: [-- VAR.pa_banner_border --] #[-- VAR.pa_col_border_color --];
  }
  
  table.se_search_form {
  }
  
  tr.se_form_search_row {
    background-color: #[-- VAR.pa_banner_bg_color --];
  }
  
  td.se_form_term {
    text-align: center;
  }
  
  tr.se_form_sort_row {
    background-color: #[-- VAR.pa_banner_bg_color --];
  }
  
  td.se_form_sort {
    text-align: left;
    padding-top: 2pt;
    padding-bottom: 2pt;
  }
  
  td.se_form_prevnext {
    text-align: center;
    padding-left: 5pt;
    padding-right: 5pt;
  }
  
  td.se_form_numresult {
    text-align: right;
    padding-right: 5pt;
  }
  
  td.se_form_perpage {
    text-align: right;
  }
  
  /* Generated Stuff */
  td.se_form_term table.search_table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 0px none;
  }

  td.se_form_term input {
    border: 0px none;
  }
  
  td.se_form_term a {
    color: [-- VAR.pa_banner_text_color --];
  }
  
  td.se_form_term a:hover, td.se_form_term a:active {
    color: [-- VAR.pa_active_link_color --];
  }
  
  td.se_form_term a:visited {
    color: [-- VAR.pa_banner_text_color --];
  }
  
  td.se_form_prevnext input.search_button {
    color: [-- VAR.pa_banner_text_color --];
    border: [-- VAR.pa_banner_border --] #[-- VAR.pa_col_border_color --];
    background-color: #[-- VAR.pa_banner_bg_color --];
  }

  td.se_form_prevnext input.search_button_selected {
    color: [-- VAR.pa_banner_text_color --];
    border: 0px none;
    font-weight: normal;
  }

/* ---------------------- */
