
#Congruence Include File
#Copyright 2008 ShopSite inc. Design by Lauren

 body {
	text-align: center;
[-- IF MiniCart --]	margin: 30px auto;[-- ELSE --]
	margin: 0 auto 30px auto;
[-- END_IF --]
	padding: 0px;
[-- IF VAR.PageTemplate "yes" --]
	background-color: [-- VAR.BackgroundColor --];
[-- ELSE --]
	background-color: #[-- VAR.BackgroundColor --];
[-- END_IF --]
[-- IF VAR.BackgroundImage --]
	background-image: url([-- VAR.BackgroundImage --]);
[-- END_IF --]
	height: 100%;
}
 body, li, p, div, tr, td, option, select, input {
	font-family: arial;
	font-size: 12px;
[-- IF VAR.PageTemplate "yes" --]
	color: [-- VAR.TextColor --];
[-- ELSE --]
	color: #[-- VAR.TextColor --];
[-- END_IF --]
}
 td.center {
	text-align: center;
}
 .hidden {
	display: none;
}
 #header {
	text-align: left;
	margin: 0 auto;
	padding: 0 0 10px 0;
	width: 879px;
}
 #minicart {
	margin: 0 auto;
	width: 200px;
	position: absolute;
	top: 10px;
	right: 30px;
[-- IF VAR.PageTemplate "yes" --]
	color: [-- VAR.TextColor --];
[-- ELSE --]
	color: #[-- VAR.TextColor --];
[-- END_IF --]
}
 #minicart a {
[-- IF VAR.PageTemplate "yes" --]
	color: [-- VAR.TextColor --];
[-- ELSE --]
	color: #[-- VAR.TextColor --];
[-- END_IF --]
}
 #toptabs {
	text-align: right;
	margin: 0 auto;
	padding: 0px;
	height: 44px;
	width: 879px;
}
 ul#tabs {
	margin: 0px;
	padding: 0px;
	float: right;
}
 li.tab, li.tab a, li.tab a span, li.tab_home, li.tab_home a, li.tab_home a span {
	background: url([-- ShopSite_Images --]/backgrounds/congruence/[-- VAR.TabImage --]) no-repeat;
}
 li.tab, li.tab_home {
	background-position: 100% -150px;
	float: left;
	min-width: 175px;
	width: 175px;
	display: inline;
}
 li.tab {
	margin: 0 0 0 1px;
}
 li.tab_home {
	margin: 0px;
}
 li.tab a, li.tab_home a {
	width: 165px;
	background-position: 100% -100px;
	display: block;
	margin: 0px;
	font-weight: bold;
	font-family: Trebuchet MS;
	padding: 0 10px 0 0;
	line-height: 1.2;
 	text-align: center;
	text-decoration: none;
	white-space: nowrap; /* required in IE 6 */    
	outline: 0; /* prevent dotted border in Firefox */
[-- IF VAR.Clear "yes" --]
 [-- IF VAR.PageTemplate "yes" --]
	background-color: [-- VAR.LinkColor --];
 [-- ELSE --]
	background-color: #[-- VAR.LinkColor --];
 [-- END_IF --]
[-- END_IF --]
}
 li.tab a:hover, li.tab_home a:hover {
	background-position: 100% -150px;
[-- IF VAR.Clear "yes" --]
 [-- IF VAR.PageTemplate "yes" --]
	background-color: [-- VAR.VisitedLinkColor --];
 [-- ELSE --]
	background-color: #[-- VAR.VisitedLinkColor --];
 [-- END_IF --]
[-- END_IF --]
}
 li.tab a:active, li.tab_home a:active, li.tab a:hover, li.tab_home a:hover, li.tab a:visited, li.tab_home a:visited,  li.tab a, li.tab_home a {
	color: #FFFFFF;
}
 li.tab a span, li.tab_home a span {
	background-position: 0 0;
	display: block;
 	margin: 0px;
	padding: 15px 0 15px 10px;
	_padding-left: 20px;
	line-height: 1.2;
	white-space: nowrap; /* required in IE 6 */    
	outline: 0; /* prevent dotted border in Firefox */
[-- IF VAR.Clear "yes" --]
 [-- IF VAR.PageTemplate "yes" --]
	background-color: [-- VAR.LinkColor --];
 [-- ELSE --]
	background-color: #[-- VAR.LinkColor --];
 [-- END_IF --]
[-- END_IF --]
}
 li.tab a:hover span, li.tab_home a:hover span {
	background-position: 0 -50px;
[-- IF VAR.Clear "yes" --]
 [-- IF VAR.PageTemplate "yes" --]
	background-color: [-- VAR.VisitedLinkColor --];
 [-- ELSE --]
	background-color: #[-- VAR.VisitedLinkColor --];
 [-- END_IF --]
[-- END_IF --]
}
 #bgtop {
	height: 12px;
	width: 910px;
	margin: 0px auto;
	padding: 0px;
	_margin-bottom: -3px;
	background: url([-- ShopSite_Images --]/backgrounds/congruence/bgtop.gif) no-repeat;
}
 #bgmiddle {
	width: 910px;
	margin: 0px auto;
	_margin-bottom: -5px;
	padding: 0px;
	background: url([-- ShopSite_Images --]/backgrounds/congruence/bgmiddle.gif) repeat-y;
}
 #bgbottom {
	height: 11px;
	width: 910px;
	margin: 0 auto;
	padding: 0px;
	background: url([-- ShopSite_Images --]/backgrounds/congruence/bgbottom.gif) no-repeat;
}
 #mainarea {
	background-color: #FFFFFF;
	margin: 0px auto;
	padding: 1px 0px 0px 0px;
	width: 879px;
}
 #leftbar {
	width: 177px;
[-- IF VAR.PageTemplate "yes" --]
	color: [-- VAR.TextColor --];
[-- ELSE --]
	color: #[-- VAR.TextColor --];
[-- END_IF --]
	margin: 0px;
	padding: 0px;
	float: left;
}
 #sitenav {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
 #sitenav a {
	text-align: left;
	display: block;
	padding: 5px 6px 3px 5px;
	margin: 0px;
	border-bottom: 1px solid #AAAAAA;
	text-decoration: none;
[-- IF VAR.PageTemplate "yes" --]
	color: [-- VAR.LinkColor --];
[-- ELSE --]
	color: #[-- VAR.LinkColor --];
[-- END_IF --]
}
 #sitenav a:hover {
[-- IF VAR.PageTemplate "yes" --]
	background-color: [-- VAR.ActiveLinkColor --];
	color: [-- VAR.TextColor --];
[-- ELSE --]
	background-color: #[-- VAR.ActiveLinkColor --];
	color: #[-- VAR.TextColor --];
[-- END_IF --]
}
 #search {
	float: center;
	text-align: left;
[-- IF VAR.PageTemplate "yes" --]
	color: [-- VAR.BackgroundColor --];
[-- ELSE --]
	color: #[-- VAR.BackgroundColor --];
[-- END_IF --]
	margin: 0 0 20px 0;
}
 input.search {
	width: 143px;
[-- IF VAR.PageTemplate "yes" --]
	color: [-- VAR.LinkColor --];
[-- ELSE --]
	color: #[-- VAR.LinkColor --];
[-- END_IF --]
}
 #content-noleft {
	text-align: center;
	margin: 0px;
	float: left;
	clear: left;
}
 #content {
	float: right;
	clear: right;
	width: 695px;
}
 #pagination {
	width: 200px;
	float: right;
	clear: none;
	text-align: right;
}
 #footer_contain {
	width: 879px;
	margin: 0 auto;
	padding: 0px;
}
 #footer {
	padding: 10px;
	margin: 0;
[-- IF VAR.PageTemplate "yes" --]
	color: [-- VAR.TextColor --];
[-- ELSE --]
	color: #[-- VAR.TextColor --];
[-- END_IF --]
}
 .button, .pr_addtocart_button, .add, table.search_table input, .details {
[-- IF VAR.PageTemplate "yes" --]
  	background-color: [-- VAR.ActiveLinkColor --];
[-- ELSE --]
  	background-color: #[-- VAR.ActiveLinkColor --];
[-- END_IF --]
	margin: 0;
	padding: 0;
}
 .add, .details {
	margin: 2px;
}
 .clear {
	margin: 0px;
	padding: 0px;
	clear: both;
}
 h1 {
	max-width: 400px;
	text-align: left;
	font-family: arial;
	font-size: 24px;
	font-weight: normal;
	padding: 0 0 6px 0;
	margin: 0px;
}
[-- IF VAR.PageTemplate "yes" --]
 a {
	color: [-- VAR.LinkColor --];
}
 a:hover {
	color: [-- VAR.ActiveLinkColor --];
}
 a:visited {
	color: [-- VAR.VisitedLinkColor --];
}
[-- ELSE --]
 a {
	color: #[-- VAR.LinkColor --];
}
 a:hover {
	color: #[-- VAR.ActiveLinkColor --];
}
 a:visited {
	color: #[-- VAR.VisitedLinkColor --];
}
[-- END_IF --]
 td.product_price {
	font-size: 18px;
[-- IF VAR.PageTemplate "yes" --]
	color: [-- VAR.VisitedLinkColor --];
[-- ELSE --]
	color: #[-- VAR.VisitedLinkColor --];
[-- END_IF --]
}
 table.product_table {
	border-collapse: collapse;
	border: 0px;
	width: 100%;
	margin: 0 0 20px 0;
	padding: 0px;
}
 td.product_price small {
	font-size: 12px;
}
 .product_name {
	font-size: 14px;
	font-weight: bold;
}
 .product_sku {
	font-size: 11px;
}
 .product_buttons {
	text-align: right;
}