
#Congruence Include File
#Copyright 2008 ShopSite inc. Design by Lauren

 .button6, .button7, .button8, .button9, .button67, .button68, .button162, .button163, .buttoncolor img {
	background-color: #[-- VAR.ActiveLinkColor --];
	margin: 0px;
	padding: 0px;
}
 td.buttons, td.buttons p, th, .program_reward_order {
	text-align: center;
}
 table.comm {
	text-align: center;
	width: 100%;
}
 table.addr, table.payment {
	margin: 0px auto;
}
 table.ship_addr {
	padding-left: 50px;
}
/***  Table of Products (Cart)  ***/
table.cart {
	width: 100%;
	padding-top: 1em;
	border-collapse: collapse;
}
td.cart_delete, td.cart_cp_delete {
	padding: 3px;
	width: 50px;
	text-align: center; 
	background-color: #[-- STORE.SC_ShadeColor --];
}
td.cart_quantity, td.cart_cp_quantity {
	padding: 3px;
	width: 70px;
	text-align: center; 
	background-color: #[-- STORE.SC_ShadeColor --];
}
td.cart_name, td.cart_cp_name {
	padding: 3px;
	text-align: left; 
	background-color: #[-- STORE.SC_ShadeColor --];
}
td.cart_image, td.cart_cp_image {
	padding: 3px;
	text-align: center; 
	background-color: #[-- STORE.SC_ShadeColor --];
}
td.cart_sku, td.cart_cp_sku {
	padding: 3px;
	text-align: left; 
	background-color: #[-- STORE.SC_ShadeColor --];
}
td.cart_price, td.cart_cp_price {
	padding: 3px;
	font-style: italic;
	text-align: right; 
	background-color: #[-- STORE.SC_ShadeColor --];
}
td.cart_total, td.cart_cp_total {
	padding: 3px;
	text-align: right; 
	background-color: #[-- STORE.SC_ShadeColor --];
	white-space: nowrap;
}
td.cart_op {
	padding: 3px;
	text-align: left; 
	background-color: #[-- STORE.SC_ShadeColor --];
}
td.cart_op1, td.cart_op2 {
	padding: 3px;
	background-color: #[-- STORE.SC_ShadeColor --];
}
td.cart_empty {
	padding: 3px;
	text-align:center;
	background-color: #[-- STORE.SC_shadecolor --];
}
select.cart {
	text-align: left;
}
textarea.cart {
	vertical-align: middle; 
}
 td.cart_quantity, td.cart_image, td.cart_name, td.cart_sku, td.cart_price, td.cart_quantity, td.cart_total {
	border-top: 2px solid #FFFFFF;
}
/***          Table of Totals        ***/
/***  Subtotal, Tax, Shipping, etc.  ***/
table.totals {
	color: #[--STORE.SC_TextColor--];
	vertical-align: middle; 
	line-height: 150%;
	float: right;
}
td.totals_txt, td.totals_saved_txt, td_totals_blank, td.totals_all_txt {
	text-align: right;
	padding-right: 15px;
	white-space: nowrap;
}
td.totals, td.totals_saved {
	padding-right: 3px;
}
td.totals_all, td.totals_all_txt, td.bill_addr_hdr, td.ship_addr_hdr {
	font-weight: bold;
	font-size: 18px;
	color: #[-- VAR.VisitedLinkColor --];
}
/***  Payment Table  ***/
table.payment{
	color: #[-- STORE.SC_TextColor --];
}
table.pay_holder {
	margin: 0 auto;
}
td.pay_holder_hdr {
	font-weight: bold;
}
td.payment_hdr {
	font-weight: bold;
	text-align: center;
}
td.paymentselection {
	text-align: center;
	padding-top: 1em;
}
td.payment {
	text-align: left;
}
td.payment_value {
	text-align: left;
}
table.sql_pay {
	margin-left: -4px;
	margin-right: auto;
}
td.sql_pay {
	padding-right: 15px;
	font-weight: bold;
}
td.new_payment_type {
	text-align: left;
}
/***  Table of Registration  ***/
table.reg {
	color: #[-- STORE.SC_TextColor --];
	vertical-align: middle; 
	border-spacing: 0;
	padding-bottom: 1em;
}
td.reg_wel {
	font-weight: bold;
}
td.reg {
  	text-align: left;
}
td.reg_link {
	text-align: left;
}
td.coupon {
	padding-top: 1em;
}
td.buttons {
	padding-top: 1em;
}
/*** Enter postal code, select country ***/
table.zipncountry {
	text-align: left;
}
td.zipncountry {
	text-align: left;
}
td.zipncountry_text {
	text-align: left;
}
td.sql_addr_hdr {
	font-weight: bold;
}
td.sql_addr {
	padding-right: 15px;
}
td.addr_val {
	text-align: left;
}
td.addr {
	text-align: right;
}
/*** select shipping method, tax rate ***/
table.taxnship, table.surcharge { 
	text-align: right;
	padding-top: 1em;
}
td.taxnship_hdr {
	font-weight: bold;
	text-align: left;
}
td.taxnship {
	text-align: left;
}
/*** select surcharge ***/
table.surcharge { 
	text-align: right;
}
/***  Ordering Instructions  ***/
td.orderinginstructions {
	text-align: center;
	padding-top: 1em;
}
table.instruct {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #[--STORE.SC_TextColor--];
}
td.instruct_hdr {
	font-weight: bold;
}
/***  Buttons  ***/
#Apply Coupon
input.button152 { 
	color: #[--STORE.SC_TextColor--];
	cursor: pointer;
}
# Remove button
input.button154 { 
	color: #[--STORE.SC_TextColor--];
	cursor: pointer;
}
/***  Table of Error Messages  ***/
table.checkout_err, inv_err {
	margin-left: auto;
	margin-right: auto;
}
td.checkout_err, inv_err {
	color: #[-- STORE.SC_TextColor --];
	background-color: #[-- STORE.SC_shadecolor --];
}
table.ups_error {
	margin-left: auto;
	margin-right: auto;
}
td.ups_error {
	color: #[-- STORE.SC_TextColor --];
	background-color: #[-- STORE.SC_shadecolor --];
	vertical-align: middle;
}
/* Checkout Button Table */
table.checkout {
	vertical-align: middle;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
td.checkout {
	padding: 5px;
	text-align: center;
}
table.google_button {
	vertical-align: middle;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
table.google_button td {
	text-align: center;
}
/* Cross-sell Stuff */
td.gcs_table {
	border-left: 1px solid #[-- VAR.BackgroundColor --];
	padding: 0px 3px 0px 13px;
}
td.gcs_table, td.pcs_table {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
table.gcs_table, table.pcs_table {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	border-collapse: collapse;
}
table.gcs_table caption, table.pcs_table caption {
	width: 100%;
	text-align: center;
	font-weight: bold;
}
td.gcs_table_blank, td.pcs_table_blank {
}
td.gcs_table_content, td.pcs_table_content {
	width: 25%;
}
/* Cross-sell Contents */
table.gcs_product_table, table.pcs_product_table {
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}
td.gcs_product_name, td.pcs_product_name {
	text-align: center;
	font-weight: bold;
}
td.gcs_product_image, td.pcs_product_image {
	text-align: center;
}
td.gcs_product_image img, td.pcs_product_image img {
	border: 0px none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
td.gcs_product_price, td.pcs_product_price {
	text-align: center;
}
td.gcs_product_add_to_cart, td.pcs_product_add_to_cart {
	text-align: center;
}
td.gcs_product_add_to_cart a, td.pcs_product_add_to_cart a {
	font-weight: bold;
}
td.gcs_product_add_to_cart a:active, td.pcs_product_add_to_cart a:active {
}
td.gcs_product_add_to_cart img, td.pcs_product_add_to_cart img {
	border: 0px none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
td.sc_secure_image {
	text-align: center;
}