
#Crop Circles Include File
#Copyright 2008 ShopSite inc. Design by Lauren

 body {
	padding: 0px;
	margin: 0px;
	text-align: center;
	background-color: #626660;
	background-image: url([-- ShopSite_Images --]/backgrounds/cropcircles/bg-gradient.gif);
	background-position: top center;
	background-repeat: repeat-y;
[-- IF VAR.PageType "page" --]
	color: [-- VAR.TextColor --];
[-- ELSE --]
	color: #[-- VAR.TextColor --];
[-- END_IF --]
	}
 body, div, p, span, li, td, a {
	font-family: Helvetica;
	font-size: 12px;
	text-align: left;
	}
 #header {
[-- IF VAR.PageType "page" --]
	background-color: [-- VAR.ActiveLinkColor --];
[-- ELSE --]
	background-color: #[-- VAR.ActiveLinkColor --];
[-- END_IF --]
[-- IF VAR.BackgroundImage --]
  [-- IF VAR.BackgroundImage "none" --]
	background-image: url([-- ShopSite_Images --]/backgrounds/cropcircles/[-- VAR.HeaderImage --]);
	background-position: middle center;
	background-repeat: no-repeat;
  [-- ELSE --]
    [-- IF VAR.PageType "more" --]
	background-image: url([-- OUTPUT_DIRECTORY_URL --]/media/[-- VAR.BackgroundImage --]);
    [-- ELSE --]
	background-image: url([-- VAR.BackgroundImage --]);
    [-- END_IF --]
  [-- END_IF --]
[-- ELSE --]
	background-image: url([-- ShopSite_Images --]/backgrounds/cropcircles/[-- VAR.HeaderImage --]);
	background-position: middle center;
	background-repeat: no-repeat;
[-- END_IF --]
	font-weight: normal;
	text-align: center;
	margin: 0px auto;
	font-size: 16px;
	color: #FFFFFF;
 	height: 250px;
	width: 900px;
	padding: 0px;
	}
 #header h1 {
	font-family: arial narrow;
	font-weight: normal;
	text-align: center;
	padding: 80px 0 0 0;
	margin: 0px auto;
	font-size: 60px;
	margin: 0px;
	color: #FFFFFF;
	}
 #toplinks {
	background-color: #000000;
	height: 45px;
	margin: 0px auto;
	width: 900px;
	padding: 0px;
	border: none;
	}
 #toplinks a {
	line-height: 45px;
	color: #FFFFFF;
	text-decoration: none;
	margin: 0px;
	padding: 0px 10px;
	font-weight: bold;
	max-width: 180px;
	display: block;
	}
 #toplinks a:hover {
	color: #FFFFFF;
[-- IF VAR.PageType "page" --]
	background-color: [-- VAR.LinkColor --];
[-- ELSE --]
	background-color: #[-- VAR.LinkColor --];
[-- END_IF --]
	}
 #container {
	width: 900px;
	margin: 0px auto;
	padding: 0px;
	}
 #columns {
	border-collapse: collapse;
	min-height: 300px;
[-- IF VAR.PageType "page" --]
	background-color: [-- VAR.BackgroundColor --];
[-- ELSE --]
	background-color: #[-- VAR.BackgroundColor --];
[-- END_IF --]
	}
 #tabs {
	list-style-type: none;
	margin: 0px;
	float: left;
	padding: 0px;
	white-space: nowrap;
	width: 900px;
	}
 li.tab {
	display: inline;
	float: left;
	}
 #leftside {
	vertical-align: top;
	width: 200px;
	max-width: 200px;
	padding: 0 0 10px 0;
[-- IF VAR.PageType "page" --]
	background-color: [-- VAR.VisitedLinkColor --];
[-- ELSE --]
	background-color: #[-- VAR.VisitedLinkColor --];
[-- END_IF --]
	}
 #search {
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: #000000;
	}
 #search input {
	margin: 10px 0 0 0;
	}
 #leftlinks {
	margin: 0px;
	padding: 12px 0px;
	}
 #leftlinks a {
	display: block;
	text-align: left;
	padding: 3px 10px;
	margin: 0px;
	text-decoration: none;
[-- IF VAR.PageType "page" --]
	color: [-- VAR.TextColor --];
[-- ELSE --]
	color: #[-- VAR.TextColor --];
[-- END_IF --]
	}
 #lefttext {
	text-align: left;
	padding: 4px;
	margin: 0px;
	}
 #rightside {
	vertical-align: top;
	padding: 0 20px 10px 20px;
	margin: 0px;
[-- IF VAR.PageType "page" --]
  [-- IF VAR.SearchProductField --]
	background-image: url([-- ShopSite_Images --]/backgrounds/cropcircles/searchcorner.gif);
	background-repeat: no-repeat;
	background-position: top left;
  [-- END_IF --]
[-- ELSE_IF VAR.PageType "more" --]
  [-- IF VAR.SearchProductField --]
	background-image: url([-- ShopSite_Images --]/backgrounds/cropcircles/searchcorner.gif);
	background-repeat: no-repeat;
	background-position: top left;
  [-- END_IF --]
[-- END_IF --]
	}
 #rightside-noleft {
	min-height: 300px;
	width: 860px;
	margin: 0px;
[-- IF VAR.PageType "page" --]
	background-color: [-- VAR.BackgroundColor --];
[-- ELSE --]
	background-color: #[-- VAR.BackgroundColor --];
[-- END_IF --]
	padding: 0 20px 10px 20px;
	}

 #footer {
	text-align: center;
[-- IF VAR.PageType "page" --]
	background-color: [-- VAR.ActiveLinkColor --];
[-- ELSE --]
	background-color: #[-- VAR.ActiveLinkColor --];
[-- END_IF --]
	width: 900px;
	clear: both;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding: 30px 0;
	color: #FFFFFF;
	}
 #pagination {
	width: 150px;
	text-align: right;
	padding: 10px;
	margin: 0px;
	float: right;
}
 .clear {
	clear: both;
	}
 .footer, .header, .buttons, .center {
	text-align: center;
	}
 .right {
	text-align: right;
	}
 h1 {
	font-size: 24px;
	padding-top: 10px;
	margin-top: 0px;
	text-align: left;
	color: #000000;
	font-weight: normal;
	}
 h2 {
	font-size: 20px;
	font-weight: normal;
[-- IF VAR.PageType "page" --]
	color: [-- VAR.LinkColor --];
[-- ELSE --]
	color: #[-- VAR.LinkColor --];
[-- END_IF --]
	}
 h3 {
	font-size: 18px;
	font-weight: bold;
[-- IF VAR.PageType "page" --]
	color: [-- VAR.TextColor --];
[-- ELSE --]
	color: #[-- VAR.TextColor --];
[-- END_IF --]
	}
 h4 {
	font-size: 14px;
	font-weight: bold;
[-- IF VAR.PageType "page" --]
	color: [-- VAR.VisitedLinkColor --];
[-- ELSE --]
	color: #[-- VAR.VisitedLinkColor --];
[-- END_IF --]
	}
 h5 {
	font-size: 12px;
	font-weight: bold;
[-- IF VAR.PageType "page" --]
	color: [-- VAR.TextColor --];
[-- ELSE --]
	color: #[-- VAR.TextColor --];
[-- END_IF --]
	}
 a, a:link, a:active {
[-- IF VAR.PageType "page" --]
	color: [-- VAR.LinkColor --];
[-- ELSE --]
	color: #[-- VAR.LinkColor --];
[-- END_IF --]
	}
 a:hover {
[-- IF VAR.PageType "page" --]
	color: [-- VAR.VisitedLinkColor --];
[-- ELSE --]
	color: #[-- VAR.VisitedLinkColor --];
[-- END_IF --]
	}
 .button, .pr_addtocart_button, .add, table.search_table input, .details {
[-- IF VAR.PageType "page" --]
  	background-color: [-- VAR.VisitedLinkColor --];
[-- ELSE --]
  	background-color: #[-- VAR.VisitedLinkColor --];
[-- END_IF --]
	margin: 0;
	padding: 0;
}