#CrossSell-Sky More Info CSS
/* More Info styles*/
html {
  background-color: #[-- VAR.mi_active_link_color --];
  }

body{
  color: #[-- VAR.mi_text_color --];
  background-color: #[-- VAR.mi_background_color --];
  }

/* more info background image */
html, body {
[-- IF MORE_INFO.BackgroundImage --]
background-image: url("[-- OUTPUT_DIRECTORY_URL --]/media/[-- MORE_INFO.BackgroundImage --]");
[-- ELSE --]
background-image: none;
[-- END_IF --]
}

a:link {
  color: #[-- VAR.mi_link_color --];
}

a:visited {
  color: #[-- VAR.mi_link_color --];
}

a:hover {
  color: #[-- VAR.mi_active_link_color --];
}


h1{
 color: #[-- VAR.mi_text_color --];
}

h2{
 color: #[-- VAR.mi_text_color --];
}

h3{
 color: #[-- VAR.mi_text_color --];
}

h4{
 color: #[-- VAR.mi_text_color --];
}

h5{
 color: #[-- VAR.mi_text_color --];
}

label{
 color: #[-- VAR.mi_text_color --];
}
        


/***********************************************/
/* Layout Divs                                 */
/***********************************************/

  #masthead{
  border-bottom: 1px solid #[-- VAR.mi_text_color --];
}

  #navBar{
  background-color: #[-- VAR.mi_visited_link_color --];
# border-right: 1px solid #[-- VAR.mi_text_color --];
}

/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
  #navBar li {border-bottom: 1px solid #[-- VAR.mi_text_color --]; border-right: 1px solid #[-- VAR.mi_text_color --];}

/* fix for browsers that don't need the hack */
  html>body #navBar li {border-right: 1px solid #[-- VAR.mi_text_color --];}

  #globalNav{
  color: #[-- VAR.mi_text_color --];
  }

  #footer{
  color: #[-- VAR.mi_text_color --];
  }

  #search {
  border-bottom: 1px solid #[-- VAR.mi_text_color --];
  border-right: 1px solid #[-- VAR.mi_text_color --];
  }


  #sectionLinks h3{
  border-bottom: 1px solid #[-- VAR.mi_text_color --];
  border-right: 1px solid #[-- VAR.mi_text_color --];   
  }


  #sectionLinks a:hover{
  background-color: #[-- VAR.mi_background_color --]; 
  }

  #text2{
  border-bottom: 1px solid #[-- VAR.mi_text_color --];
  border-right: 1px solid #[-- VAR.mi_text_color --]; 
  }

  .text2-empty {
  background-color: #[-- VAR.mi_background_color --];
  border-color: #[-- VAR.mi_background_color --] !important;
  }

  .productBlock {
  border: [-- VAR.border_width --]px solid #[-- VAR.mi_text_color --];
  }

.productPrice {
  color: #[-- VAR.mi_text_color --];
  }

.onsale {
  color:  #[-- VAR.mi_link_color --];
  border: 1px solid #[-- VAR.mi_visited_link_color --];
  }

  #pageName {
  text-align: [-- VAR.ProductAlignment --];
  padding-bottom: 0;
  }
  
.mi-productBlock {
  color: #[-- VAR.mi_text_color --];
  text-align: [-- VAR.ProductAlignment --];
  }

.mi-productBlock h1, .mi-productBlock h2, .mi-productBlock h3, .mi-productBlock h4, .mi-productBlock h5 {
  color: #[-- VAR.mi_text_color --];
  }

.mi-productName {
  color: #[-- VAR.mi_text_color --];
  text-align: [-- VAR.ProductAlignment --]; 
  }

.mi-productGraphic {
  text-align: [-- VAR.ProductAlignment --];
  float: [-- VAR.ProductFloat --];
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: [-- VAR.ProductLMargin --];
  margin-right: [-- VAR.ProductRMargin --];
  }

.mi-productDescription {
  margin: 15px 0;
  }

.mi-productPrice {
  color: #[-- VAR.mi_text_color --];
  }


input.add { 
  color: #[-- VAR.mi_link_color --];
  background-color: #[-- VAR.mi_background_color --];
  border-color:  #[-- VAR.mi_link_color --];
  } 

input.add:hover {
  color: #[-- VAR.mi_background_color --];
  background-color: #[-- VAR.mi_link_color --];
  }