#CrossSell-Sky Theme CSS File
#copyright 2006 ShopSite inc. Design by Andy

/* Main CSS */

html {
  background-color: [-- VAR.activelink_color --];
  background-image: url("[-- VAR.background_image --]");
  }
  
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 76%;
  color: [-- VAR.text_color --];
  background-color: [-- VAR.background_color --];
  line-height: 1.166; 
  margin: 0;
  padding: 0;
  width: 777px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("[-- VAR.background_image --]");  
}

a:link {
  color: [-- VAR.link_color --];
  text-decoration: none;
}

a:visited {
  color: [-- VAR.link_color --];
  text-decoration: none;
}

a:hover {
  color: [-- VAR.activelink_color --];
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* overrides decoration from previous rule for hovered links */

h1, h2, h3, h4, h5, h6 {
  margin: 0.0em;
  padding: 0.0em;
}

h1{
 font-size: 2.0em;
 font-weight: normal;
 color: [-- VAR.text_color --];
}

h2{
 font-size: 1.7em;
 font-weight: normal;
 color: [-- VAR.text_color --];
}

h3{
 font-size: 1.4em;
 font-weight: normal;
 color: [-- VAR.text_color --];
}

h4{
 font-size: 1.2em;
 font-weight: bold;
 color: [-- VAR.text_color --];
}

h5{
 font-size: 1.0em;
 font-weight: normal;
 color: [-- VAR.text_color --];
}

ul{
 list-style-type: square;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}

label{
 font: bold 1em Arial,sans-serif;
 color: [-- VAR.text_color --];
}
        
select, input { 
font-size: 1em;
color: [-- VAR.text_color --];
background-color: [-- VAR.background_color --];
}


/* Layout Divs */


  #masthead{
  margin: 0;
  padding: 10px 0px;
  border-bottom: 1px solid [-- VAR.text_color --];
  width: 100%;
}

  #masthead img {
  margin: 0 1em 1em 0;
  }
  
  #navBar{
  margin: 0 555px 0 0;
  padding: 0px;
  background-color: [-- VAR.visitedlink_color --];
  margin-bottom: 10px;
}

  #content{
  float:right;
  width: 535px;
  margin: 0;
  padding: 0 9px 0 9px;
  text-align: [-- VAR.page_alignment --]; 
}

  #content2 {
  margin: 0 15px;
  text-align: [-- VAR.page_alignment --];
  }

  #siteName{
  margin: 0px;
  padding: 0px 0px 10px 10px;
}

  #univ-header {
  padding: 0 0 .5em 10px;
  }

/*************** #pageName styles **************/

  #pageName{
  padding: .25em 0;
}


/************* #globalNav styles **************/

  #globalNav{
  color: [-- VAR.text_color --];
  padding: 0px 0px 0px 10px;
  white-space: normal;
  clear: left;
}

  #globalNav img{
  display: block;
}

  #globalNav a {
  font-size: 1em;
  padding: 0 .25em 0 0;
}

  #miniCart {
  float: right;
  clear: left;
}
  
  #miniCart a {
  font-size: 1em;
  padding: 0 1em 0 0;
}

/************** .text1 styles ***************/

.text1{
  padding: .5em 0em;
  font-size: 1em;
}

.text1-contents{

}

.text1 h3{
  padding: 1em 0 .25em 0;
  text-align: center;
}

.text1 img {
  border: none;
  }

/************** .text3 styles *****************/

.text3{
  clear: both;
  margin: 1em 0 0 0;
  font-size: 1em;
}

.text3 p {
  padding: 0 0 1em 0;;
}


/************* #footer styles ***************/

  #footer{
  clear: both;
  font-size: 1em;
  color: [-- VAR.text_color --];
  margin: 0;
  padding: 10px 0px;
  margin-top: -1px;
  width: 100%;
}
/* negative top margin pulls footer up so its top border overlaps (and thus lines up with)
  the bottom border of the navBar in cases where they "touch" */

  #footer img{
  padding: 0.5em 0.5em 0.5em 0px;
  
}

  #footerContents {
  padding: 1em;
  }

/************* #search styles ***************/

  #search {
  padding: .5em 0 .5em 1em;
  border-bottom: 1px solid [-- VAR.text_color --];
  border-right: 1px solid [-- VAR.text_color --]; 
  font-size: 0.8em;
  }

  #search form{
  margin: 0;
  padding: 0;
  }

  #search label{
  display: block;
  margin: 0;
  padding: 0;
  } 


/*********** #navBar link styles ***********/

  #navBar ul a:link, #navBar ul a:visited, #navBar ul a:hover {
  display: block;
  }
  #navBar ul {list-style: none; margin: 0; padding: 0;}

/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
  #navBar li {border-bottom: 1px solid [-- VAR.text_color --]; border-right: 1px solid [-- VAR.text_color --];}

/* fix for browsers that don't need the hack */
html>body #navBar li {border-right: 1px solid [-- VAR.text_color --];}

  span.link_text {
  margin: .25em 1em;
  line-height: 2em;
  }
  
  img.link_image {
  vertical-align: middle;
  }

/*********** #sectionLinks styles ***********/

  #sectionLinks{
  margin: 0;
  padding: 0;
  font-size: 1em;
  }

  #sectionLinks h3{
  font-size: 1em;
  font-weight: bold;
  border-bottom: 1px solid [-- VAR.text_color --];
  border-right: 1px solid [-- VAR.text_color --]; 
  padding: .25em 0em .25em 1em; 
  }

  #sectionLinks a:link, #sectionLinks a:visited{
    text-align: left;
  padding: .25em 0em .25em 1em;
  width: 100%;
    voice-family: "\"}\""; 
  voice-family:inherit;
  width: auto;
  }

  #sectionLinks a:hover{
  background-color: [-- VAR.background_color --]; 
  padding: .25em 0em .25em 1em;
  text-decoration: none;
}


/************** #text2 styles **************/

  #text2{
  padding: .25em 0em .25em 1em;
  font-size: 1em;
  border-bottom: 1px solid [-- VAR.text_color --];
  border-right: 1px solid [-- VAR.text_color --]; 
}

  #text2 img{
  display: block;
}

  span.subprInfo {
  margin: 0em 1em;
  line-height: 2em;
  display: block;
  }
  
  span.subprInfo input {
  margin-left: .5em;
  }
  
  .text2-empty {
  background-color: [-- VAR.background_color --];
  border-color: [-- VAR.background_color --] !important;
  }
  
.clear {
  clear: both;
}

/* product styles */

.productBlock {
  width:[-- VAR.pr_blk_width --]; /*set according to how many columns*/
  height:[-- VAR.pr_blk_height --]; /*set according to how many columns*/
  overflow: [-- VAR.pr_blk_overflow --];
  background: [-- VAR.background_color --];
  margin: 0 0 10px 10px;
  border: [-- VAR.border_width --]px solid [-- VAR.text_color --];
  float: [-- VAR.page_alignment --];
  text-align: [-- VAR.page_alignment --];
  padding: 5px;
}

.productBlock h2 {
  font-size: 80%;
  margin: 5px;
  padding: 5px;
  background-color: [-- VAR.background_color --];
}

.productBlock img {
  border-width: 0;
}

.productGraphic {
  margin-top: 0;
  margin-bottom: 10px;
}

.productInfowrap {
  margin: 0 5px;
}

.productGraphic img {
  border: none;
  margin: 0 5px;
}

.productName {
  white-space: normal;
}

.productSku {
  margin: 1em 0;
}

.productDescription {
  margin: 1em 0;
  }
  
.productPrice {
  font-weight: normal;
  color: [-- VAR.text_color --];
  margin: 1em 0;
  white-space: nowrap;
  }
  
.onsale {
  color:  [-- VAR.link_color --];
  font-weight: bold;
  border: 1px solid [-- VAR.visitedlink_color --];
  padding: 0 .25em;
  margin: .5em;
}

.QPtable span.onsale {
border: none;
}

  .QPtable {
margin: 1em 0;
}

.checkout {
  margin: 1em 0;
  white-space: nowrap;
}

/* to fix select box alignment in firefox */
.productBlock table, .checkout table, .mi-checkout table {
margin-left: [-- VAR.margin_left --];
margin-right: [-- VAR.margin_right --];
margin-top: .5em;
margin-bottom: .5em;
}
/*end firefox fix */
  
  #prevNext {
  clear: both;
  font-size: 1.25em;
  }


/* add to cart button */
input.add { 
  font-size: 1em;
  color: [-- VAR.link_color --];
  background-color: [-- VAR.background_color --];
  border-color:  [-- VAR.link_color --];
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  margin: 0 .5em 0 0;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
} 

input.add:hover {
color: [-- VAR.background_color --];
background-color: [-- VAR.link_color --];
}

.mi-productBlock {
  margin: 0;
  padding: 0px;
  color: #[-- VAR.mi_text_color --];
}

.mi-productBlock h1, .mi-productBlock h2, .mi-productBlock h3, .mi-productBlock h4, .mi-productBlock h5 {
  color: #[-- VAR.mi_text_color --];
  }

.mi-productInfowrap {
  padding: 0;
}

.mi-productGraphic img {
  border: none;
  padding: 0;
  margin: 0;
}

.mi-productName {
  white-space: wrap;
  color: #[-- VAR.mi_text_color --];
  font-weight: bold;
  text-align: left;
  margin: 1em 0;  
}

.mi-productDescription {
  padding-bottom: 1em;
}

  .mi-productPrice {
  margin: 1em 0;
  color: #[-- VAR.mi_text_color --];
  }
  
.mi-checkout {
line-height: 1.5em;
}


.mi-checkout select {
  margin-bottom: 1em;
}

.mi-addtocartbtn {
  text-align: right;
  margin: 5px 5px 0 5px;
}

/* button styles */

  .button6,
  .button7,
  .button8, 
  .button9, 
  .button67, 
  .button68, 
  input.button152, 
  input.button154,
  .button162,
  .button163,
  .button164, 
  .button165, 
  .button166, 
  .button167, 
  .button168, 
  .button169,
  .button170, 
  .button171, 
  .button172,
  .button173, 
  .button183, 
  .button184, 
  .button185,
  .button186, 
  .button187, 
  .button188, 
  .button189, 
  .button331,
  .button375,
  input.button383,
  a.addToCartLink {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 100%;
  color: [-- VAR.link_color --];
  background-color: [-- VAR.background_color --];
  border-color:  [-- VAR.link_color --];
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  margin: .25em;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
} 

  .button6:hover,
  .button7:hover,
  .button8:hover, 
  .button9:hover, 
  .button67:hover, 
  .button68:hover, 
  input.button152:hover, 
  input.button154:hover,
  .button162:hover,
  .button163:hover,
  .button164:hover, 
  .button165:hover, 
  .button166:hover, 
  .button167:hover, 
  .button168:hover, 
  .button169:hover,
  .button170:hover, 
  .button171:hover, 
  .button172:hover,
  .button173:hover, 
  .button183:hover, 
  .button184:hover, 
  .button185:hover,
  .button186:hover, 
  .button187:hover, 
  .button188:hover, 
  .button189:hover, 
  .button331:hover,
  .button375:hover,
  input.button383:hover,
  a.addToCartLink:hover
  {
  color: [-- VAR.background_color --];
  background-color: [-- VAR.link_color --];
  text-decoration: none;
  }
  
/* specific button styles */
  /* remove & update */
      
  input.button383,
  input.button154 {
  font-size: 1em;
  margin: 1px;
  }
  
  /* add to cart, view cart buttoms */
  a.addToCartLink {
  padding: .1em .2em;
  }
  
  .add-img, .viewcart-img {
  vertical-align: bottom;
  }

  a.viewcart {
  white-space: nowrap;
  }
/* End Main CSS */