#CrossSell-Sky Shopping Cart CSS file
html {
  background-color: #[-- STORE.SC_ActiveLinkColor --];
  }

body{
  color: #[-- STORE.SC_TextColor --];
  background-color: #[-- STORE.SC_BackgroundColor --];
}

/* background image */
html, body {
[-- IF STORE.SC_BackgroundImage --]
background-image: url("[-- STORE.SC_BackgroundImage --]");
[-- ELSE --]
background-image: none;
[-- END_IF --]
}

a:link {
  color: #[-- STORE.SC_LinkColor --];
}

a:visited {
  color: #[-- STORE.SC_LinkColor --];
}

a:hover {
  color: #[-- STORE.SC_ActiveLinkColor --];
}


h1{
 color: #[-- STORE.SC_TextColor --];
}

h2{
 color: #[-- STORE.SC_TextColor --];
}

h3{
 color: #[-- STORE.SC_TextColor --];
}

h4{
 color: #[-- STORE.SC_TextColor --];
}

h5{
 color: #[-- STORE.SC_TextColor --];
}

label{
 color: #[-- STORE.SC_TextColor --];
}


/* Layout Divs                                 */
  #masthead{
  border-bottom: 1px solid #[-- STORE.SC_TextColor --];
}

  #navBar{
  background-color: #[-- STORE.SC_VisitedLinkColor --];
}

/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
  #navBar li {border-bottom: 1px solid #[-- STORE.SC_TextColor --]; border-right: 1px solid #[-- STORE.SC_TextColor --];}



  #globalNav{
  color: #[-- STORE.SC_TextColor --];

}

  #footer{
  color: #[-- STORE.SC_TextColor --];
}

  #showBasket {
  margin: 1em;
  }
  
/* button styles */

  .button6,
  .button7,
  .button8, 
  .button9, 
  .button67, 
  .button68, 
  input.button152, 
  input.button154,
  .button162,
  .button163,
  .button164, 
  .button165, 
  .button166, 
  .button167, 
  .button168, 
  .button169,
  .button170, 
  .button171, 
  .button172,
  .button173, 
  .button183, 
  .button184, 
  .button185,
  .button186, 
  .button187, 
  .button188, 
  .button189, 
  .button331,
  .button375,
  input.button383 { 
    color: #[-- STORE.SC_LinkColor --];
    background-color: #[-- STORE.SC_BackgroundColor --];
    border-color:  #[-- STORE.SC_LinkColor --];
    }
    
  .button6:hover,
  .button7:hover,
  .button8:hover, 
  .button9:hover, 
  .button67:hover, 
  .button68:hover, 
  input.button152:hover, 
  input.button154:hover,
  .button162:hover,
  .button163:hover,
  .button164:hover, 
  .button165:hover, 
  .button166:hover, 
  .button167:hover, 
  .button168:hover, 
  .button169:hover,
  .button170:hover, 
  .button171:hover, 
  .button172:hover,
  .button173:hover, 
  .button183:hover, 
  .button184:hover, 
  .button185:hover,
  .button186:hover, 
  .button187:hover, 
  .button188:hover, 
  .button189:hover, 
  .button331:hover,
  .button375:hover,
  input.button383:hover
  {
  color: #[-- STORE.SC_BackgroundColor --];
  background-color: #[-- STORE.SC_LinkColor --];
  }   

  .button8, .button8:hover {
    font-size: 24pt;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
  }
  
  th {
    text-align: center;
  }
  
  th.cart_name, th.cart_sku{
  text-align: left;
  }

  
  table.reg {
  margin-bottom: 1em;
  }
  
  div.sc-header {
  margin: 0px 15px 0 15px;
  text-align: center;
  }
  
  .sc-header h2 {
  margin-top: .5em;
}
  table.bill_addr, table.ship_addr {   /* inner table for billing and shipping address */
    margin-right: auto;
  }
  
  #sc-form {
  text-align: center;
  padding: 0 10px;
  }
  
    .reg {
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  }
  
  #ship-tax {
  text-align: right;
  line-height: 150%;
  }
  
  #ship-tax table {
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  }
  
  td.taxnship {
  line-height: 2em;
  text-align: right;
  }
  
  ul#ship, ul#ship li {
  text-align: left;
  }
  
  #totals {
  margin-top: 10px;
  }
  
  .totals_all {
  width: 3em;
  background-color: #[-- STORE.SC_ShadeColor --];
  }
  
  .totals_all_txt {
  text-align: right;
  padding-right: 15px;
  background-color: #[-- STORE.SC_ShadeColor --];
  }
  
  #sc-coupon input, #sc-giftcert input  {
  vertical-align: middle;
  }
   
  #sc-coupon {
  padding-top: 15px;
  }
  
  span.coupon-caption {
  font-weight: bold;
  }
  
  
  span.enterCoupon {
  font-size: .75em;
  }
  
  #sc-giftcert {
  padding: 1em;
  line-height: 150%;
  }
  
  .button9 {
  border-color: #[-- STORE.SC_BackgroundColor --] !important;
  }
  
  div.buttons {
  margin-top: 10px;
  margin-bottom: 10px;
  }
  

  div.anyChanges {
  font-size: .75em;
  font-weight: bold;
  font-style: italic;
  }
  
  #orderinginstructions {
  margin-top: 10px;
  margin-bottom: 10px;
  }
  
  #paymentselection {
  font-weight: bold;
  padding: 10px;
  }

/* formatting for address choices when signed in */ 
  td.sql_addr {
  padding-right: 15px;
  }
  
  table.sql_addr td
  {
  text-align: left;
  }
  
  td.zipncountry_hdr {
  font-weight: bold;
  padding-bottom: 20px;
  text-align: left;
  }
  
  table.sql_addr  {
  width: 500px;
  }
    
  table.selectzipncountry {
  width: 500px;
  }
  
  .sql_addr_select, td.zipncountryradio {
  width: 25px;
  }
/* end formatting for address choices when signed in */   

  hr {
  color: #[-- STORE.SC_ShadeColor --];
  background-color: #[-- STORE.SC_ShadeColor --];
  height: 1px;
  border-style: solid;
  }
  
/* rewards program */

table.program_reward_order {
  border: 2px solid #[-- STORE.SC_ShadeColor --];
  margin: 0em auto;
  padding: 1em;
  text-align: center;
  }

th.program_reward_order {
  font-size: 1.4em;
  font-weight: normal;
  } 
  
/* Google Button Stuff */

table.google_button {
  margin-left: auto;
  margin-right: auto;
  }

#secure_image {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

/* Cross Sell */
div.cross_sell {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table.cross_sell {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 2px solid #[-- STORE.SC_ShadeColor --];
}

caption.cross_sell {
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #[-- STORE.SC_LinkColor --];
}

td.cross_sell {
  text-align: center;
}

div#secure_image {
  text-align: center;
}

