#Curved Include File
#Copyright 2008 ShopSite Inc. Design by Lauren

table.reg {
	max-width: 200px;
	margin: 0 1px 8px 1px;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 5px;
}
/**********************************/
/***  Table of Products (Cart)  ***/
/**********************************/
table.cart {
  width: 100%;
  border-collapse: separate;
  border-spacing: 3px;
}

th {
  text-align: center;
}

td.cart_delete, td.cart_cp_delete {
  padding: 3px;
  width: 50px;
  text-align: center; 
  background-color: #FFFFFF;
}
td.cart_delete input, td.cart_cp_delete input {
  background-color: #[-- VAR.ActiveLinkColor --];
}
td.cart_quantity, td.cart_cp_quantity {
  padding: 3px;
  width: 70px;
  text-align: center; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_name, td.cart_cp_name {
  padding: 3px;
  text-align: left; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_image, td.cart_cp_image {
  padding: 3px;
  text-align: center; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_sku, td.cart_cp_sku {
  padding: 3px;
  text-align: left; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_price, td.cart_cp_price {
  padding: 3px;
  font-style: italic;
  text-align: right; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_total, td.cart_cp_total {
  padding: 3px;
  text-align: right; 
  background-color: #[-- STORE.SC_ShadeColor --];
  white-space: nowrap;
}

td.cart_op {
  padding: 3px;
  text-align: left; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_op1, td.cart_op2 {
  padding: 3px;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_empty {
  padding: 3px;
  text-align:center;
  background-color: #[-- STORE.SC_shadecolor --];
}

select.cart {
  text-align: left;
}

textarea.cart {
  vertical-align: middle; 
}


/***************************************/
/***          Table of Totals        ***/
/***  Subtotal, Tax, Shipping, etc.  ***/
/***************************************/
table.totals {
  color: #[--STORE.SC_TextColor--];
  vertical-align: middle; 
  width: 100%;
  line-height: 150%;
}

td.totals_txt, td.totals_saved_txt, td_totals_blank, td.totals_all_txt {
  text-align: right;
  padding-right: 15px;
}

td.totals, td.totals_saved, td.totals_all {
  text-align: right;
  padding-right: 3px;
}

td.totals_all, td.totals_all_txt {
  font-weight: bold;
  font-size: 16px;
  color: #[-- VAR.VisitedLinkColor --];
}

/***********************/
/***  Payment Table  ***/
/***********************/
table.payment{
  color: #[-- STORE.SC_TextColor --];
}

table.pay_holder {
  margin-left: auto;
  margin-right: auto;
}

td.pay_holder_hdr {
  font-weight: bold;
}

td.payment_hdr {
  font-weight: bold;
  text-align: center;
}

td.paymentselection {
  text-align: center;
  padding-top: 1em;
}

td.payment {
  text-align: left;
}

td.payment_value {
  text-align: left;
}

table.sql_pay {
  margin-left: -4px;
  margin-right: auto;
}

td.sql_pay {
  padding-right: 15px;
  font-weight: bold;
}

td.new_payment_type {
  text-align: left;
}


/*******************************/
/***  Table of Registration  ***/
/*******************************/

table.reg {
  color: #[-- STORE.SC_TextColor --];
  vertical-align: middle; 
  border-spacing: 0;
  padding-bottom: 1em;
}

td.reg_wel {
  font-weight: bold;
}

td.reg {
  text-align: left;
}

td.reg_link {
  text-align: left;
}

td.coupon {
  padding-top: 1em;
}

td.buttons {
  text-align: center;
  padding-top: 1em;
}

/*** Enter postal code, select country ***/
table.zipncountry {
  text-align: left;
}

td.zipncountry {
  text-align: left;
}

td.zipncountry_text {
  text-align: left;
}

td.sql_addr_hdr {
  font-weight: bold;
}

td.sql_addr {
  padding-right: 15px;
}


/*** select shipping method, tax rate ***/
table.taxnship, table.surcharge { 
  text-align: right;
  padding-top: 1em;
}

td.taxnship_hdr {
  font-weight: bold;
  text-align: left;
}

td.taxnship {
  text-align: left;
}


/*** select surcharge ***/
table.surcharge { 
  text-align: right;
}


/*******************************/
/***  Ordering Instructions  ***/
/*******************************/
td.orderinginstructions {
  text-align: center;
  padding-top: 1em;
}

table.instruct {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #[--STORE.SC_TextColor--];
}

td.instruct_hdr {
  font-weight: bold;
}

/*****************/
/***  Buttons  ***/
/*****************/
#Apply Coupon
input.button152 { 
  color: #[--STORE.SC_TextColor--];
  cursor: pointer;
}

# Remove button
input.button154 { 
#  font-size: 8pt;
  color: #[--STORE.SC_TextColor--];
  cursor: pointer;
}

/*********************************/
/***  Table of Error Messages  ***/
/*********************************/

table.checkout_err, inv_err {
  margin-left: auto;
  margin-right: auto;
}

td.checkout_err, inv_err {
  color: #[-- STORE.SC_TextColor --];
  background-color: #[-- STORE.SC_shadecolor --];
}

table.ups_error {
  margin-left: auto;
  margin-right: auto;
}

td.ups_error {
  color: #[-- STORE.SC_TextColor --];
  background-color: #[-- STORE.SC_shadecolor --];
  vertical-align: middle;
}

/* Checkout Button Table */
table.checkout {
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td.checkout {
  padding: 5px;
  text-align: center;
}

table.google_button {
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table.google_button td {
  text-align: center;
}

/* ---------------- */
/* Cross-sell Stuff */
/* ---------------- */
td.gcs_table, td.pcs_table {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

table.gcs_table, table.pcs_table {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table.gcs_table caption, table.pcs_table caption {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

td.gcs_table_blank, td.pcs_table_blank {
}

td.gcs_table_content, td.pcs_table_content {
  width: 25%;
}

/* Cross-sell Contents */
table.gcs_product_table, table.pcs_product_table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}
table.pcs_product_table {
  margin: 0 8px;
}

td.gcs_product_name, td.pcs_product_name {
  text-align: center;
  font-weight: bold;
}

td.gcs_product_image, td.pcs_product_image {
  text-align: center;
}

td.gcs_product_image img, td.pcs_product_image img {
  border: 0px none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 180px;
}

td.gcs_product_price, td.pcs_product_price {
  text-align: center;
}

td.gcs_product_add_to_cart, td.pcs_product_add_to_cart {
  text-align: center;
}

td.gcs_product_add_to_cart a, td.pcs_product_add_to_cart a {
  font-weight: bold;
}

td.gcs_product_add_to_cart a:active, td.pcs_product_add_to_cart a:active {
}

td.gcs_product_add_to_cart img, td.pcs_product_add_to_cart img {
  border: 0px none;
  text-align: center;
  margin: 0;
}

.sc_secure_image {
  margin: 20px auto;
  text-align: center;
}
table.pcs_table caption {
  font-size: 16px;
}
table.gcs_table caption {
	caption-side: top;
	min-height: 32px;
	background: url("[-- ShopSite_Images --]/backgrounds/curved/crossselltab.png") no-repeat #[-- VAR.LinkColor --];
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	overflow: hidden;
	margin: 4px 0 0 -2px;
	line-height: 30px;
}
table.gcs_table {
  float: right;
  border-top: 0;
  border-bottom: 1px solid #[-- STORE.SC_ShadeColor --];
  width: 197px;
  border-left: 1px solid #[-- STORE.SC_ShadeColor --];
  border-right: 1px solid #[-- STORE.SC_ShadeColor --];
}
