#Curved Include File
#Copyright 2008 ShopSite inc. Design by Lauren

 body {
	margin: 20px auto;
[-- IF VAR.BackgroundImage --]	background-image:url([-- VAR.BackgroundImage --]);[-- END_IF --]

	background-color: #[-- VAR.BackgroundColor --];
	text-align: center;
}
 body, li, span, div, p, a, input, h1, h2, h3, h4, h5, td, th, caption {
	font-family: arial;
	font-size: 11px;
	color: #[-- VAR.TextColor --];
	}
 #headertext {
	background-image: url([-- ShopSite_Images --]/backgrounds/curved/headertext.png);
	background-position: top center;
	background-repeat: no-repeat;
	height: 130px;
	width: 920px;
	margin: 0 auto;
	position: relative;
	top: -130px;
	padding: 20px 0 0 0;
	overflow: hidden;
}
 #header h1 {
	display: none;
}
 #header {
	height: 110px;
	width: 880px;
	margin: 0 auto;
	padding: 20px 0 0 0;
	clear: both;
	text-align: center;
	background-color: #[-- VAR.ActiveLinkColor --];
	position: relative;
	top: 20px;
}
 #headertext h1 {
	color: #[-- VAR.TextColor --];
	text-align: left;
	vertical-align: middle;
	margin: 0 0 0 50px;
	padding: 35px 0 0 0;
	font-size: 34px;
	font-family: arial narrow;
	font-weight: normal;
}
 #headertext h1 a {
	color: #[-- VAR.TextColor --];
	font-size: 34px;
	font-family: arial narrow;
	font-weight: normal;
	text-decoration: none;
}
 #maincell {
	width: 920px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	padding: 10px 0 0 0;
	top: -130px;
	background-image: url([-- ShopSite_Images --]/backgrounds/curved/bg-middle.png);
	background-position: top center;
	background-repeat: repeat-y;
}
 #storename {
	margin: 0 auto 5px auto;
	width: 880px;
}
 #storename h1 {
	text-align: left;
	margin: 0 0 10px 40px;
	font-family: tahoma;
	font-size: 16pt;
}
 #content {
	width: 880px;
	margin: 0 auto;
	text-align: left;
}
 #contentleft {
	width: 200px;
	float: left;
	overflow: hidden;
}
 #contentmiddle {
	width: 460px;
	margin: 0 10px;
	float: left;
	clear: none;
	overflow: hidden;
}
 #contentdouble {
	width: 660px;
	margin: 0px;
	float: left;
	clear: none;
	overflow: hidden;
}
 #contenttriple {
	padding: 0 0 10px 0;
}
 #contentmiddle h1 {
	margin: 0px;
	font-family: arial;
	font-size: 13px;
	border-bottom: 1px solid #[-- VAR.LinkColor --];
}
 #contentright {
	width: 200px;
	float: right;
	clear: none;
	overflow: hidden;
}
 #contentleft h3, #contentright h3 {
	font-family: arial;
	font-size: 11px;
	display: block;
	height: 32;
	background-image: url([-- ShopSite_Images --]/backgrounds/curved/header3.png);
	background-color: #[-- VAR.LinkColor --];
	background-repeat: no-repeat;
	background-position: top center;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0px;
}
 p.boxedin, ul.boxedin {
	margin: 0 1px 8px 1px;
	border-left: 1px solid #[-- STORE.SC_ShadeColor --];
	border-right: 1px solid #[-- STORE.SC_ShadeColor --];
	border-bottom: 1px solid #[-- STORE.SC_ShadeColor --];
	padding: 5px;
}
 #footer {
	background-image: url([-- ShopSite_Images --]/backgrounds/curved/bg-bottom.png);
	background-position: top center;
	background-repeat: no-repeat;
	height: 40px;
	width: 920px;
	margin: 0 auto;
	clear: both;
	position: relative;
	top: -130px;
}
 #footertext {
	width: 920px;
	margin: 0 auto;
	clear: both;
	position: relative;
	top: -130px;
}
 .prod_list {
  	background-color: #F3F3F3;
}
 .prod_alt {
  	background-color: #[-- STORE.SC_ShadeColor --];
}
 .prod_list td, .prod_alt td {
  	font-size: 11px;
}
 a.mini {
  	color: #[-- VAR.TextColor --];
  	margin-bottom: 4px;
  	float: right;
  	font-weight: bold;
}
 p.search {
  	background-image:url([-- ShopSite_Images --]/backgrounds/curved/search.gif);
  	background-color: #[-- VAR.VisitedLinkColor --];
  	height: 64px;
  	padding: 0 10px 0 10px;
  	margin-top: 0px;
  	vertical-align: middle;
  	line-height: 30px;
  	color: #FFFFFF;
  	font-weight: bold;
}
 input.search {
  	width: 160px;
}
 li.link {
  	list-style-type: none;
  	border-bottom: 1px dotted #[-- STORE.SC_ShadeColor --];
}
 li.link {
  	list-style-type: none;
  	border-bottom: 1px dotted #[-- STORE.SC_ShadeColor --];
	overflow: hidden;
}
 li.link a {
  	color: #[-- VAR.VisitedLinkColor --];
  	text-decoration: none;
  	display: block;
  	padding: 3px;
  	font-weight: bold;
}
 li.link a:hover {
  	color: #[-- VAR.TextColor --];
}
 li.link:hover {
  	background-color: #[-- VAR.ActiveLinkColor --];
}
 .clear {
  	clear: both;
  	margin: 0px;
} 
 .button, .button162, .button166, .button168, .button169, .button170, .button171, .button172, .button185, .button186,
 .button183, .button184, .button187, .button188, .button189, .button173, .button164, .button165, .button67, .button68, .button163 {
  	background-color: #[-- VAR.ActiveLinkColor --];
}
 .button-gray {
  	background-color: #[-- STORE.SC_ShadeColor --];
}
 p.buttoncolor {
  	margin: 0px;
  	padding: 0px;
}
 .buttoncolor img {
  	background-color: #[-- VAR.ActiveLinkColor --];
}
 a.product {
  	font-weight: bold;
  	color: #[-- VAR.LinkColor --];
}
 a.product:hover {
  	font-weight: bold;
  	color: #[-- VAR.ActiveLinkColor --];
}
/**********************************/
/***  Table of Products (Cart)  ***/
/**********************************/
table.cart {
  width: 100%;
  border-collapse: separate;
  border-spacing: 3px;
}

th {
  text-align: center;
}

td.cart_delete, td.cart_cp_delete {
  padding: 3px;
  width: 50px;
  text-align: center; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_quantity, td.cart_cp_quantity {
  padding: 3px;
  width: 70px;
  text-align: center; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_name, td.cart_cp_name {
  padding: 3px;
  text-align: left; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_image, td.cart_cp_image {
  padding: 3px;
  text-align: center; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_sku, td.cart_cp_sku {
  padding: 3px;
  text-align: left; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_price, td.cart_cp_price {
  padding: 3px;
  font-style: italic;
  text-align: right; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_total, td.cart_cp_total {
  padding: 3px;
  text-align: right; 
  background-color: #[-- STORE.SC_ShadeColor --];
  white-space: nowrap;
}

td.cart_op {
  padding: 3px;
  text-align: left; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_op1, td.cart_op2 {
  padding: 3px;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_empty {
  padding: 3px;
  text-align:center;
  background-color: #[-- STORE.SC_shadecolor --];
}

select.cart {
  text-align: left;
}

textarea.cart {
  vertical-align: middle; 
}


/***************************************/
/***          Table of Totals        ***/
/***  Subtotal, Tax, Shipping, etc.  ***/
/***************************************/
table.totals {
  color: #[--STORE.SC_TextColor--];
  vertical-align: middle; 
  width: 100%;
  line-height: 150%;
}

td.totals_txt, td.totals_saved_txt, td_totals_blank, td.totals_all_txt {
  text-align: right;
  padding-right: 15px;
}

td.totals, td.totals_saved, td.totals_all {
  text-align: right;
  padding-right: 3px;
}

td.totals_all, td.totals_all_txt {
  font-weight: bold;
  font-size: 16px;
  color: #[-- VAR.VisitedLinkColor --];
}

/***********************/
/***  Payment Table  ***/
/***********************/
table.payment{
  color: #[-- STORE.SC_TextColor --];
}

table.pay_holder {
  margin-left: auto;
  margin-right: auto;
}

td.pay_holder_hdr {
  font-weight: bold;
}

td.payment_hdr {
  font-weight: bold;
  text-align: center;
}

td.paymentselection {
  text-align: center;
  padding-top: 1em;
}

td.payment {
  text-align: left;
}

td.payment_value {
  text-align: left;
}

table.sql_pay {
  margin-left: -4px;
  margin-right: auto;
}

td.sql_pay {
  padding-right: 15px;
  font-weight: bold;
}

td.new_payment_type {
  text-align: left;
}


/*******************************/
/***  Table of Registration  ***/
/*******************************/

table.reg {
  color: #[-- STORE.SC_TextColor --];
  vertical-align: middle; 
  border-spacing: 0;
  padding-bottom: 1em;
}

td.reg_wel {
  font-weight: bold;
}

td.reg {
  text-align: left;
}

td.reg_link {
  text-align: left;
}

td.coupon {
  padding-top: 1em;
}

td.buttons {
  text-align: center;
  padding-top: 1em;
}

/*** Enter postal code, select country ***/
table.zipncountry {
  text-align: left;
}

td.zipncountry {
  text-align: left;
}

td.zipncountry_text {
  text-align: left;
}

td.sql_addr_hdr {
  font-weight: bold;
}

td.sql_addr {
  padding-right: 15px;
}


/*** select shipping method, tax rate ***/
table.taxnship, table.surcharge { 
  text-align: right;
  padding-top: 1em;
}

td.taxnship_hdr {
  font-weight: bold;
  text-align: left;
}

td.taxnship {
  text-align: left;
}


/*** select surcharge ***/
table.surcharge { 
  text-align: right;
}


/*******************************/
/***  Ordering Instructions  ***/
/*******************************/
td.orderinginstructions {
  text-align: center;
  padding-top: 1em;
}

table.instruct {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #[--STORE.SC_TextColor--];
}

td.instruct_hdr {
  font-weight: bold;
}

/*****************/
/***  Buttons  ***/
/*****************/
#Apply Coupon
input.button152 { 
  color: #[--STORE.SC_TextColor--];
  cursor: pointer;
}

# Remove button
input.button154 { 
#  font-size: 8pt;
  color: #[--STORE.SC_TextColor--];
  cursor: pointer;
}

/*********************************/
/***  Table of Error Messages  ***/
/*********************************/

table.checkout_err, inv_err {
  margin-left: auto;
  margin-right: auto;
}

td.checkout_err, inv_err {
  color: #[-- STORE.SC_TextColor --];
  background-color: #[-- STORE.SC_shadecolor --];
}

table.ups_error {
  margin-left: auto;
  margin-right: auto;
}

td.ups_error {
  color: #[-- STORE.SC_TextColor --];
  background-color: #[-- STORE.SC_shadecolor --];
  vertical-align: middle;
}

/* Checkout Button Table */
table.checkout {
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td.checkout {
  padding: 5px;
  text-align: center;
}

table.google_button {
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table.google_button td {
  text-align: center;
}

/* ---------------- */
/* Cross-sell Stuff */
/* ---------------- */
td.gcs_table, td.pcs_table {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

table.gcs_table, table.pcs_table {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table.gcs_table caption, table.pcs_table caption {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

td.gcs_table_blank, td.pcs_table_blank {
}

td.gcs_table_content, td.pcs_table_content {
  width: 25%;
}

/* Cross-sell Contents */
table.gcs_product_table, table.pcs_product_table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

td.gcs_product_name, td.pcs_product_name {
  text-align: center;
  font-weight: bold;
}

td.gcs_product_image, td.pcs_product_image {
  text-align: center;
}

td.gcs_product_image img, td.pcs_product_image img {
  border: 0px none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td.gcs_product_price, td.pcs_product_price {
  text-align: center;
}

td.gcs_product_add_to_cart, td.pcs_product_add_to_cart {
  text-align: center;
}

td.gcs_product_add_to_cart a, td.pcs_product_add_to_cart a {
  font-weight: bold;
}

td.gcs_product_add_to_cart a:active, td.pcs_product_add_to_cart a:active {
}

td.gcs_product_add_to_cart img, td.pcs_product_add_to_cart img {
  border: 0px none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

 .sc_secure_image {
  text-align: center;
}
