#Curved Include File
#Copyright 2008 ShopSite Inc. Design by Lauren

 body {
	margin: 20px auto;
[-- IF VAR.BackgroundImage --]	background-image:url([-- VAR.BackgroundImage --]);[-- END_IF --]

	background-color: #[-- VAR.BackgroundColor --];
	text-align: center;
}
 body, li, span, div, p, a, input, h1, h2, h3, h4, h5, td, th, caption, option, select {
	font-family: arial;
	font-size: 11px;
	color: #[-- VAR.TextColor --];
	}
 #headertext {
	background-image: url([-- ShopSite_Images --]/backgrounds/curved/headertext.png);
	background-position: top center;
	background-repeat: no-repeat;
	height: 130px;
	width: 920px;
	margin: 0 auto;
	position: relative;
	top: -130px;
	padding: 20px 0 0 0;
	overflow: hidden;
}
 #header h1 {
	display: none;
}
 #header {
	height: 110px;
	width: 880px;
	margin: 0 auto;
	padding: 20px 0 0 0;
	clear: both;
	text-align: center;
	background-color: #[-- VAR.ActiveLinkColor --];
	position: relative;
	top: 20px;
}
 #headertext h1 {
	color: #[-- VAR.TextColor --];
	text-align: left;
	vertical-align: middle;
	margin: 0 0 0 50px;
	padding: 35px 0 0 0;
	font-size: 34px;
	font-family: arial narrow;
	font-weight: normal;
}
 #headertext h1 a {
	color: #[-- VAR.TextColor --];
	font-size: 34px;
	font-family: arial narrow;
	font-weight: normal;
	text-decoration: none;
}
 #maincell {
	width: 920px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	padding: 10px 0 0 0;
	top: -130px;
	background-image: url([-- ShopSite_Images --]/backgrounds/curved/bg-middle.png);
	background-position: top center;
	background-repeat: repeat-y;
}
 #storename {
	margin: 0 auto 5px auto;
	width: 880px;
}
 #storename h1 {
	text-align: left;
	margin: 0 0 10px 40px;
	font-family: tahoma;
	font-size: 16pt;
}
 #content {
	width: 880px;
	margin: 0 auto;
	text-align: left;
}
 #contentleft {
	width: 200px;
	float: left;
	overflow: hidden;
}
 #contentmiddle {
	width: 460px;
	margin: 0 10px;
	float: left;
	clear: none;
	overflow: hidden;
}
 #contentdouble {
	width: 660px;
	margin: 0px;
	float: left;
	clear: none;
	overflow: hidden;
}
 #contentmiddle h1 {
	margin: 0px;
	font-family: arial;
	font-size: 13px;
	border-bottom: 1px solid #[-- VAR.LinkColor --];
}
 #contentright {
	width: 200px;
	float: right;
	clear: none;
	overflow: hidden;
}
 #contentleft h3, #contentright h3 {
	font-family: arial;
	font-size: 11px;
	display: block;
	height: 32;
	background-image: url([-- ShopSite_Images --]/backgrounds/curved/header3.png);
	background-color: #[-- VAR.LinkColor --];
	background-repeat: no-repeat;
	background-position: top center;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0px;
}
 .boxedin {
	max-width: 200px;
	margin: 0 1px 8px 1px;
	border-left: 1px solid #[-- STORE.SC_ShadeColor --];
	border-right: 1px solid #[-- STORE.SC_ShadeColor --];
	border-bottom: 1px solid #[-- STORE.SC_ShadeColor --];
	padding: 5px;
}
 #footer {
	background-image: url([-- ShopSite_Images --]/backgrounds/curved/bg-bottom.png);
	background-position: top center;
	background-repeat: no-repeat;
	height: 40px;
	width: 920px;
	margin: 0 auto;
	clear: both;
	position: relative;
	top: -130px;
}
 #footertext {
	width: 920px;
	margin: 0 auto;
	clear: both;
	position: relative;
	top: -130px;
}
 .prod_list {
  	background-color: #F3F3F3;
}
 .prod_alt {
  	background-color: #[-- STORE.SC_ShadeColor --];
}
 .prod_list td, .prod_alt td {
  	font-size: 11px;
}
 a.mini {
  	color: #[-- VAR.TextColor --];
  	margin-bottom: 4px;
  	float: right;
  	font-weight: bold;
}
 p.search {
  	background-image:url([-- ShopSite_Images --]/backgrounds/curved/search.gif);
  	background-color: #[-- VAR.VisitedLinkColor --];
  	height: 64px;
  	padding: 0 10px 0 10px;
  	margin-top: 0px;
  	vertical-align: middle;
  	line-height: 30px;
  	color: #FFFFFF;
  	font-weight: bold;
}
 input.search {
  	width: 160px;
}
 li.link {
  	list-style-type: none;
  	border-bottom: 1px dotted #[-- STORE.SC_ShadeColor --];
	overflow: hidden;
}
 li.link a {
  	color: #[-- VAR.VisitedLinkColor --];
  	text-decoration: none;
  	display: block;
  	padding: 3px;
  	font-weight: bold;
}
 li.link a:hover {
  	color: #[-- VAR.TextColor --];
}
 li.link:hover {
  	background-color: #[-- VAR.ActiveLinkColor --];
}
 .clear {
  	clear: both;
} 
 .button, .button6, .button8, .button9, .button152, .button375, .button7, .button331 {
  	background-color: #[-- VAR.ActiveLinkColor --];
}
 .button-gray {
  	background-color: #[-- STORE.SC_ShadeColor --];
}
 div.buttons img, .pcs_addtocart_button {
  	background-color: #[-- VAR.ActiveLinkColor --];
}
 a.product {
  	font-weight: bold;
  	color: #[-- VAR.LinkColor --];
}
 a.product:hover {
  	font-weight: bold;
  	color: #[-- VAR.ActiveLinkColor --];
}