#/* --------------------------------------------------- */#
#/* Style Sheet                                         */#
#/* filename: elite_001_se_styles.css                   */#
#/* TEMPLATE: Search                                    */#
#/* THEME: Elite 001                                    */#
#/* CORE: Core 001                                      */#
#/* copyright 2005 ShopSite inc. Design by Stunk        */#
#/* --------------------------------------------------- */#
body {
  margin: 0px;
  color: [-- VAR.pa_text_color --];
  background-image: url([-- VAR.pa_background_image --]);
  background-position: center;
  background-repeat: repeat;
  background-color: [-- VAR.pa_background_color --];
  font-family: [-- VAR.pa_font --];
  font-size: [-- VAR.pa_font_size --];
}

/* Tables to make IE happy */
table {
  margin: 0px;
  color: [-- VAR.pa_text_color --];
  background-color: [-- VAR.pa_background_color --];
  font-family: [-- VAR.pa_font --];
  font-size: [-- VAR.pa_font_size --];
  border-collapse: collapse;
  border-spacing: 0px;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  background-color: transparent;
}

/* Anchor Tags */
a {
  font-family: [-- VAR.pa_font --];
  font-size: [-- VAR.pa_font_size --];
  text-decoration: underline;
}

a:link {
  color: [-- VAR.pa_link_color --];
}

a:active {
  color: [-- VAR.pa_active_link_color --];
}

a:hover {
  color: [-- VAR.pa_hover_link_color --];
}

a:visited {
  color: [-- VAR.pa_visited_link_color --];
}

/* Forms Stuff */
input {
  color: [-- VAR.pa_text_color --];
  font-family: [-- VAR.pa_font --];
  font-size: [-- VAR.pa_small_font --];
  vertical-align: middle;
}

input[type=text], input[type=password], input[type=button], input[type=select], input[type=reset], textbox, select {
  background-color: [-- VAR.pa_form_background_color --];
}

input[type=image], input[type=radio], input[type=checkbox] {
  background-color: transparent;
}

select {
  color: [-- VAR.pa_text_color --];
  background-color: [-- VAR.pa_form_background_color --];
  font-family: [-- VAR.pa_font --];
  font-size: [-- VAR.pa_small_font --];
}

textarea {
  color: [-- VAR.pa_text_color --];
  background-color: [-- VAR.pa_form_background_color --];
  font-family: [-- VAR.pa_font --];
  font-size: [-- VAR.pa_small_font --];
}

table.content {
  width: [-- VAR.pa_width --];
  background: transparent;
}

#/* Page Stuff */#
td.se_header {
}

td.se_links {
  vertical-align: top;
  text-align: left;
  width: 200px;
  min-width: 200px;
}

td.se_top_links {
  vertical-align: top;
  text-align: left;
  width: 100%;
}

table.se_links {
  width: 100%;
  height: 100%;
  vertical-align: top;
  text-align: left;
  background: transparent;
  border-collapse: separate;
  border-spacing: 5px;
}

td.se_link_content {
  border: [-- VAR.pa_table_border --] [-- VAR.pa_table_border_color --];
  vertical-align: top;
  text-align: left;
  background-color: [-- VAR.pa_background_color --];
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 5px;
  margin-bottom:5px;
  border-collapse: separate;
  border-spacing: 5px;
  width: [-- VAR.link_width --];
}

td.se_giftcert {
  border: [-- VAR.pa_table_border --] [-- VAR.pa_table_border_color --];
  vertical-align: top;
  text-align: left;
  background-color: [-- VAR.pa_background_color --];
  padding-top: 3px;
  padding-bottom:3px;
  margin-top: 5px;
  margin-bottom:5px;
  border-collapse: separate;
  border-spacing: 5px;
  width: [-- VAR.link_width --];
}

a.giftcertlink {
  font-weight: bold;
  text-decoration: none;
}

td.se_regsignin {
  border: [-- VAR.pa_table_border --] [-- VAR.pa_table_border_color --];
  vertical-align: top;
  text-align: left;
  background-color: [-- VAR.pa_background_color --];
  padding-top: 3px;
  padding-bottom:3px;
  margin-top: 5px;
  margin-bottom:5px;
  border-collapse: separate;
  border-spacing: 5px;
  font-weight: bold;
  text-decoration: none;
  width: [-- VAR.link_width --];
}

span.reglink {
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}

a.reglink {
  font-weight: bold;
  text-decoration: none;
}

td.se_minicart_spacer {
  min-height: 20px;
  height: 20px;
}

td.se_minicart {
  border: [-- VAR.pa_table_border --] [-- VAR.pa_table_border_color --];
  vertical-align: top;
  text-align: left;
  background-color: [-- VAR.pa_background_color --];
  padding-top: 3px;
  padding-bottom:3px;
  margin-top: 5px;
  margin-bottom:5px;
  border-collapse: separate;
  border-spacing: 5px;
  font-weight: bold;
  width: [-- VAR.link_width --];
}

a.MiniCart {
  font-weight: bold;
  text-decoration: none;
}

td.se_empty {
  width: [-- VAR.link_width --];
}

td.se_content {
  vertical-align: top;
  text-align: left;
}

table.se_content {
  width: 100%;
  vertical-align: top;
  text-align: left;
  background: transparent;
}

td.se_image {
  text-align: left;
  vertical-align: top;
  width: 10px;
}

img.se_image {
}

td.se_name {
  text-align: left;
  vertical-align: top;
  font-weight: bold;
  font-size: 14pt;
  width: 90%;
}

td.se_text1 {
  text-align: left;
  vertical-align: top;
}

td.se_search_form {
  border: [-- VAR.pa_table_border --] [-- VAR.pa_table_border_color --];
  vertical-align: top;
  text-align: left;
  background-color: [-- VAR.pa_background_color --];
  padding-top: 3px;
  padding-bottom:3px;
  margin-top: 5px;
  margin-bottom:5px;
  border-collapse: separate;
  border-spacing: 5px;
  font-weight: bold;
  width: [-- VAR.link_width --];
}

table.search_button {
  margin-top: 10px;
}

td.search_button {
}

td.se_search_name {
  text-align: left;
  vertical-align: top;
  font-weight: bold;
  font-size: 14pt;
}

td.se_search_results {
  vertical-align: top;
  text-align: left;
}

table.se_search_results {
  width: 100%;
  height: 100%;
  vertical-align: top;
  text-align: left;
  border: [-- VAR.pa_table_border --] [-- VAR.pa_table_border_color --];
}

td.se_res_product {
  border-top: [-- VAR.pa_col_border--] [-- VAR.pa_table_border_color --];
  vertical-align: top;
  text-align: left;
}

td.se_res_link {
  vertical-align: top;
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}

td.se_price_msg {
  border-top: [-- VAR.pa_col_border--] [-- VAR.pa_table_border_color --];
  vertical-align: top;
  text-align: left;
}

td.se_text2 {
  vertical-align: top;
  text-align: left;
}

td.se_footer {
  text-align: center;
  font-size: 8pt;
}

td.se_text3 {
  vertical-align: top;
  text-align: left;
}

#/* Link Stuff */#
table.link {
  vertical-align: top;
  text-align: left;
}

td.link_name {
  border: [-- VAR.pa_table_border --] [-- VAR.pa_table_border_color --];
  padding-top: 3px;
  padding-bottom: 3px;
  vertical-align: top;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
}

a.link_name {
  font-weight: bold;
  text-decoration: none;
}

#/* Product Stuff */#
td.se_data {
  vertical-align: top;
  text-align: left;
}

td.se_desc {
  text-align: left;
  vertical-align: top;
  width: 70%;
}

td.se_price {
  font-weight: bold;
}

td.se_addtocart {
  text-align: middle;
}

td.se_parent {
  text-align: left;
  vertical-align: top;
}

/* Prev/Next Links */
table.search_button {
  border: none;
  background-color: [-- VAR.pa_background_color --];
  color: [-- VAR.pa_link_color --];
}

td.search_button {
  border: none;
  background-color: [-- VAR.pa_background_color --];
  color: [-- VAR.pa_link_color --];
}

input.search_button {
  border: none;
  background-color: [-- VAR.pa_background_color --];
  color: [-- VAR.pa_link_color --];
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

input.search_button_selected {
  border: none;
  background-color: [-- VAR.pa_background_color --];
  color: [-- VAR.pa_link_color --];
}
