#/* --------------------------------------------------- */#
#/* Style Sheet                                         */#
#/* filename: elite_001_cr_styles.css                   */#
#/* TEMPLATE: Customer Registration                     */#
#/* THEME: Elite 001                                    */#
#/* CORE: Core 001                                      */#
#/* copyright 2005 ShopSite inc. Design by Stunk        */#
#/* --------------------------------------------------- */#
[-- IF VAR.email "no" --]
body {
  margin: 0px;
  color: #[-- VAR.cr_text_color --];
  background-image: url([-- VAR.cr_background_image --]);
  background-position: center;
  background-repeat: repeat;
  background-color: #[-- VAR.cr_background_color --];
  font-family: [-- VAR.cr_font --];
  font-size: [-- VAR.cr_font_size --];
}

/* Tables to make IE happy */
table {
  margin: 0px;
  color: #[-- VAR.cr_text_color --];
  background-color: #[-- VAR.cr_background_color --];
  font-family: [-- VAR.cr_font --];
  font-size: [-- VAR.cr_font_size --];
  border-collapse: collapse;
  border-spacing: 0px;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  background-color: transparent;
}

/* Anchor Tags */
a {
  font-family: [-- VAR.cr_font --];
  font-size: [-- VAR.cr_font_size --];
  text-decoration: underline;
}

a:link {
  color: #[-- VAR.cr_link_color --];
}

a:active {
  color: #[-- VAR.cr_active_link_color --];
}

a:hover {
# font-weight: bold;
  color: #[-- VAR.cr_hover_link_color --];
}

a:visited {
  color: #[-- VAR.cr_visited_link_color --];
}

/* Forms Stuff */
input {
  color: #[-- VAR.cr_text_color --];
  font-family: [-- VAR.cr_font --];
  font-size: [-- VAR.cr_small_font --];
  vertical-align: middle;
}

input[type=text], input[type=password], input[type=button], input[type=select], input[type=reset], textbox, select {
  background-color: #[-- VAR.cr_form_background_color --];
}

input[type=image], input[type=radio], input[type=checkbox] {
  background-color: transparent;
}

select {
  color: #[-- VAR.cr_text_color --];
  background-color: #[-- VAR.cr_form_background_color --];
  font-family: [-- VAR.cr_font --];
  font-size: [-- VAR.cr_small_font --];
}

textarea {
  color: #[-- VAR.cr_text_color --];
  background-color: #[-- VAR.cr_form_background_color --];
  font-family: [-- VAR.cr_font --];
  font-size: [-- VAR.cr_small_font --];
}

table.content {
  width: 100%;
  background: transparent;
}

td.cr_title_box {
  text-align: center;
}

table.cr_title_box {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
  margin-top: 20px;
}

td.cr_title_box_content {
  text-align: center;
  font-weight: bold;
  font-size: [-- VAR.cr_large_font --];
}

td.cr_messages {
}

table.ups_error {
}

td.ups_error {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  background-color: #[-- VAR.cr_table_head_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

  [-- IF VAR.define "sign_in" --]
#/*---------------*/#
#/* SignIn Screen */#
#/*---------------*/#
td.cr_instruct {
}

table.cr_instruct {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_instruct_text {
}

td.cr_sign_in_form {
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_backtocart_button {
  text-align: center;
}

td.cr_signin_button {
  text-align: center;
}

#/* Generated Stuff */#
table.email_pw {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.email_pw {
  text-align: left;
}

  [-- ELSE_IF VAR.define "sign_out" --]
#/*----------------*/#
#/* SignOut Screen */#
#/*----------------*/#
td.cr_instruct {
}

table.cr_instruct {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_instruct_text {
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_no_button {
  text-align: center;
}

td.cr_yes_button {
  text-align: center;
}

  [-- ELSE_IF VAR.define "new_reg" --]
#/*---------------------*/#
#/* Registration Screen */#
#/*---------------------*/#
td.cr_name {
}

table.cr_name {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_name_content {
}

td.cr_reg_form {
}

td.cr_challenge_form {
}

td.cr_save_pay {
}

td.cr_email_type {
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_cancel_button {
}

td.cr_save_button {
}

#/* Generated Stuff */#
table.addr_name {
}

td.addr_name {
}

addr_lab {
}

addr_name_val {
}

table.email_pw {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.email_pw {
  text-align: right;
}

td.email_pw_select {
  text-align: left;
}

td.email_pw_note {
  text-align: left;
}

table.challenge {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.challenge_instructions {
}

td.challenge {
  text-align: right;
}

td.challenge_select {
  text-align: left;
}

table.save_payment {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.save_payment_text {
  text-align: center;
}

td.save_payment_select {
  text-align: right;
}

td.save_payment {
  text-align: left;
}

table.email_type {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.email_type_text {
  text-align: center;
}

td.email_type_select {
  text-align: right;
}

td.email_type {
  text-align: left;
}

  [-- ELSE_IF VAR.define "view_edit" --]
#/*------------------*/#
#/* View/Edit Screen */#
#/*------------------*/#
td.cr_view_text {
}

table.cr_view_text {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_view_text_content {
}

td.cr_reward {
}

table.cr_reward {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_reward_content {
}

td.cr_view_buttons {
}

table.cr_view_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_orders_button {
}

td.cr_prefs_button {
}

td.cr_pay_button {
}

td.cr_pass_button {
}

td.cr_ship_button {
}

td.view_blank {
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.blank {
}

td.cr_backtocart_button {
}

#/* Generated Stuff */#
#/* Not 'Till 8.0 */#
#/*
#table.program_reward_hdr {
#}
#
#td.program_reward_hdr {
#}
#
#table.program_reward {
#}
#
#th.program_reward {
#}
#
#td.program_reward {
#}
#
#td.program_reward_qnty {
#}
#
#td.program_reward_purchased {
#}
#*/

  [-- ELSE_IF VAR.define "prefs" --]
#/*--------------------*/#
#/* Preferences Screen */#
#/*--------------------*/#
td.cr_email_form {
}

td.cr_email_text {
}

table.cr_email_text {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_email_text_content {
}

td.cr_name_form {
}

table.cr_name_form {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_name_form_content {
}

td.cr_email_type {
}

td.cr_save_pay {
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_cancel_button {
}

td.cr_save_button {
}

#/* Generated Stuff */#
table.email_pw {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.email_pw {
}

table.addr_name {
}

td.addr_name {
}

td.addr_lab {
}

td.addr_name_val {
}

table.email_type {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.email_type_text {
}

td.email_type_select {
}

td.email_type {
}

table.save_payment {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.save_payment_text {
}

td.save_payment_select {
}

td.save_payment {
}

  [-- ELSE_IF VAR.define "edit_pass" --]
#/*----------------------*/#
#/* Edit Password Screen */#
#/*----------------------*/#
td.cr_edit_pass {
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_cancel_button {
}

td.cr_change_button {
}

td.cr_chal_text {
  padding-top: 20px;
}

table.cr_chal_text {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_chal_text_content {
  font-weight: bold;
}

td.cr_change_chal_text {
}

table.cr_change_chal_text {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_change_chal_text_content {
}

td.cr_chal_buttons {
}

table.cr_chal_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.blank {
}

td.cr_challenge_button {
}

#/* Generated Stuff */#
table.pw {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.pw {
}

  [-- ELSE_IF VAR.define "edit_chal" --]
#/*-----------------------*/#
#/* Edit Challenge Screen */#
#/*-----------------------*/#
td.cr_edit_chal_text {
}

table.cr_edit_chal_text {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_edit_chal_text_content {
}

td.cr_edit_chal {
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_cancel_button {
}

td.cr_change_button {
}

#/* Generated Stuff */#
table.challenge {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

  [-- ELSE_IF VAR.define "forgot_pass" --]
#/*------------------------*/#
#/* Forgot Password Screen */#
#/*------------------------*/#
td.cr_req_pass {
}

table.cr_req_pass {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_req_pass_content {
}

td.cr_email_form {
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_cancel_button {
}

td.cr_submit_button {
}

#/* Generated Stuff */#
table.email_pw {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.email_pw {
}

  [-- ELSE_IF VAR.define "forgot_email_sent" --]
#/*--------------------------*/#
#/* Forgot Email Sent Screen */#
#/*--------------------------*/#
td.cr_sent_email {
}

table.cr_sent_email {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_sent_email_content {
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.blank {
}

td.cr_backtocart_button {
}

  [-- ELSE_IF VAR.define "chal_answer" --]
#/*----------------------------------*/#
#/* Answer Challenge Question Screen */#
#/*----------------------------------*/#
td.cr_reset_text {
}

table.cr_reset_text {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_reset_text_content {
}

td.cr_chal_quest {
}

table.cr_chal_quest {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_chal_quest_content {
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_cancel_button {
}

td.cr_submit_button {
}

  [-- ELSE_IF VAR.define "set_chal_pass" --]
#/*--------------------------------*/#
#/* Set Pass From Challenge Screen */#
#/*--------------------------------*/#
td.cr_enter_pass_text {
}

table.cr_enter_pass_text {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_enter_pass_text_content {
}

td.cr_pass_form {
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_cancel_button {
}

td.cr_submit_button {
}

#/* Generated Stuff */#
table.pw {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.pw {
}

  [-- ELSE_IF VAR.define "main_pay" --]
#/*---------------------*/#
#/* Main Payment Screen */#
#/*---------------------*/#
td.cr_pay_text {
}

table.cr_pay_text {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_pay_text_content {
}

td.cr_pay_list {
}

table.cr_pay_list {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_pay_list_content {
}

td.cr_pay_buttons {
}

table.cr_pay_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_delete_button {
}

td.cr_edit_button {
}

td.cr_add_pay_text {
}

table.cr_add_pay_text {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_add_pay_text_content {
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.blank {
}

td.cr_done_button {
}

  [-- ELSE_IF VAR.define "edit_pay" --]
#/*---------------------*/#
#/* Edit Payment Screen */#
#/*---------------------*/#
td.cr_display_name {
}

table.cr_display_name {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_display_name_text {
  font-weight: bold;
  text-align: right;
}

td.cr_display_name_content {
  text-align: left;
}

td.cr_edit_pay_text {
}

td.cr_edit_pay_table {
  padding-top: 20px;
}

table.cr_edit_pay_table {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_edit_pay_info_text {
  font-weight: bold;
  text-align: left;
}

td.cr_edit_pay_info {
}

td.cr_edit_bill_info_text {
  padding-top: 20px;
  font-weight: bold;
  text-align: left;
}

td.cr_edit_bill_info {
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_cancel_button {
}

td.cr_save_button {
}

#/* Generated Stuff */#
td.payment_hdr {
  text-align: left;
}

td.payment {
  text-align: right;
  width: 250px;
}

td.payment_value {
  text-align: left;
  width: 300px;
}

table.addr {
}

td.ship_addr_hdr {
  text-align: left;
}

td.addr {
  text-align: right;
  width: 250px;
}

td.addr_val {
  text-align: left;
  width: 300px;
}

td.addr_foot {
  text-align: left;
}

  [-- ELSE_IF VAR.define "del_pay" --]
#/*-----------------------*/#
#/* Delete Payment Screen */#
#/*-----------------------*/#
td.cr_del_pay {
}

table.cr_del_pay {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_del_pay_content {
  font-weight: bold;
}

td.cr_del_pay_text {
}

table.cr_del_pay_text {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_del_pay_text_content {
}

td.cr_del_pay_note_content {
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_no_button {
}

td.cr_yes_button {
}

  [-- ELSE_IF VAR.define "main_ship" --]
#/*----------------------*/#
#/* Main Shipping Screen */#
#/*----------------------*/#
td.cr_ship_text {
}

table.cr_ship_text {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_ship_text_content {
}

td.cr_ship_list {
}

table.cr_ship_list {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_ship_list_content {
}

td.cr_ship_buttons {
}

table.cr_ship_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_delete_button {
}

td.cr_edit_button {
}

td.cr_ship_note {
}

table.cr_ship_note {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_ship_note_content {
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.blank {
}

td.cr_done_button {
}

  [-- ELSE_IF VAR.define "edit_ship" --]
#/*----------------------*/#
#/* Edit Shipping Screen */#
#/*----------------------*/#
td.cr_ship_name {
}

table.cr_ship_name {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_ship_name_text {
  text-align: right;
}

td.cr_ship_name_content {
  text-align: left;
}

td.cr_edit_ship_text {
}

td.cr_ship_table {
  padding-top: 20px;
}

table.cr_ship_table {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_ship_addr_text {
  text-align: left;
}

td.cr_ship_addr {
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_cancel_button {
}

td.cr_save_button {
}

#/* Generated Stuff */#
table.addr {
}

td.addr {
  text-align: right;
  width: 250px;
}

td.addr_val {
  text-align: left;
  width: 300px;
}

td.addr_foot {
}

  [-- ELSE_IF VAR.define "del_ship" --]
#/*------------------------*/#
#/* Delete Shipping Screen */#
#/*------------------------*/#
td.cr_del_ship {
}

table.cr_del_ship {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_del_ship_content {
  font-weight: bold;
}

td.cr_del_ship_text {
}

table.cr_del_ship_text {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_del_ship_text_content {
}

td.cr_del_ship_note {
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_no_button {
}

td.cr_yes_button {
}

  [-- ELSE_IF VAR.define "main_order" --]
#/*--------------------*/#
#/* Main Orders Screen */#
#/*--------------------*/#
td.cr_order_text {
}

table.cr_order_text {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_order_text_content {
}

td.cr_order_list {
}

table.cr_order_list {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_order_list_content {
}

td.cr_order_buttons {
}

table.cr_order_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_delete_button {
}

td.cr_view_button {
}

td.cr_order_note {
}

table.cr_order_note {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_order_note_content {
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.blank {
}

td.cr_done_button {
}

  [-- ELSE_IF VAR.define "view_order" --]
#/*--------------------*/#
#/* View Orders Screen */#
#/*--------------------*/#
td.cr_order_num {
}

table.cr_order_num {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_order_num_text {
  text-align: right;
  font-weight: bold;
}

td.cr_order_num_content {
  text-align: left;
  font-weight: bold;
}

td.cr_order_date {
  padding-left: 20px;
  font-weight: bold;
}

td.cr_cart {
}

td.cr_totals {
}

td.cr_order_instruct {
}

td.cr_comments {
}

td.cr_bill_addr {
}

td.cr_ship_addr {
}

td.cr_pay_info {
}

table.cr_pay_info {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_pay_info_content {
  text-align: left;
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.blank {
}

td.cr_done_button {
}

#/* Generated Stuff */#
/* Cart */
table.cart {
  margin-left: auto;
  margin-right: auto;
}

#/* Cart Content Headers */#
th.cart_quantity {
  background-color: #[-- VAR.cr_table_head_color --];
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

th.cart_name {
  background-color: #[-- VAR.cr_table_head_color --];
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 150px;
  width: 150px;
  max-width: 150px;
}

th.cart_sku {
  background-color: #[-- VAR.cr_table_head_color --];
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 98px;
  width: 98px;
  max-width: 98px;
}

th.cart_price {
  background-color: #[-- VAR.cr_table_head_color --];
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

th.cart_total {
  background-color: #[-- VAR.cr_table_head_color --];
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

#/* Cart Content */#
td.cart_quantity {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_name {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 150px;
  width: 150px;
  max-width: 150px;
}

td.cart_sku {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 98px;
  width: 98px;
  max-width: 98px;
}

td.cart_price {
  background-color: #[-- VAR.cr_totals_color --];
  text-align: right;
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_total {
  background-color: #[-- VAR.cr_totals_color --];
  text-align: right;
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

#/* Empty cells outside product options */#
td.cart_op1 {
  background-color: #[-- VAR.cr_table_special_color --];
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  border-right: none;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_op2 {
  background-color: #[-- VAR.cr_table_special_color --];
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  border-left: none;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

#/* Product Options */#
td.cart_op {
  background-color: #[-- VAR.cr_table_special_color --];
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  border-right: none;
  border-left: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#/* Right now, these two don't do anything here, but hopefully they will soon */#
table.opt_cart {
  background-color: #[-- VAR.cr_table_special_color --];
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

td.opt_cart {
  text-align: left;
}

/* Totals */
table.totals {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
}

td.totals_txt {
  text-align: right;
  border-right: [-- VAR.cr_table_border --] [-- VAR.cr_table_border_color --];
  border-bottom: [-- VAR.cr_table_border --] [-- VAR.cr_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals {
  background-color: #[-- VAR.cr_totals_color --];
  text-align: right;
  border-left: [-- VAR.cr_table_border --] [-- VAR.cr_table_border_color --];
  border-bottom: [-- VAR.cr_table_border --] [-- VAR.cr_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 80px;
  max-width: 80px;
}

td.totals_all_txt {
  text-align: right;
  border-right: [-- VAR.cr_table_border --] [-- VAR.cr_table_border_color --];
  border-bottom: [-- VAR.cr_table_border --] [-- VAR.cr_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals_all {
  background-color: #[-- VAR.cr_totals_color --];
  text-align: right;
  border-left: [-- VAR.cr_table_border --] [-- VAR.cr_table_border_color --];
  border-bottom: [-- VAR.cr_table_border --] [-- VAR.cr_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  width: 80px;
  max-width: 80px;
}

table.instruct {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.instruct_hdr {
  font-weight: bold;
  text-align: left;
}

td.instruct {
}

table.comm {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.comm_hdr {
  font-weight: bold;
  text-align: left;
}

td.comm {
}

table.addr {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.bill_addr_hdr {
  font-weight: bold;
  text-align: left;
}

td.addr_val {
  text-align: left;
  padding-left: 30px;
}

td.payment_hdr {
  font-weight: bold;
  text-align: left;
  width: 550px;
}

td.payment {
  text-align: right;
  width: 150px;
}

td.payment_value {
  text-align: left;
}


  [-- ELSE_IF VAR.define "del_order" --]
#/*----------------------*/#
#/* Delete Orders Screen */#
#/*----------------------*/#
td.cr_del_order_text {
}

table.cr_del_order_text {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_del_order_text_content {
}

td.cr_del_order_note {
}

td.cr_del_order {
}

table.cr_del_order {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_del_order_content {
}

td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_no_button {
}

td.cr_yes_button {
}

  [-- ELSE_IF VAR.define "cr_error" --]
#/*----------------------*/#
#/* Generic Error Screen */#
#/*----------------------*/#
td.cr_buttons {
}

table.cr_buttons {
  border: [-- VAR.cr_table_border --] #[-- VAR.cr_table_border_color --];
  width: [-- VAR.cr_table_width --]px;
  max-width: [-- VAR.cr_table_width --]px;
}

td.cr_backtocart_button {
}

td.blank {
}

  [-- ELSE --]
/* If you see this, something's broke */
  [-- END_IF --]
[-- ELSE --]
body {
  margin: 0px;
  color: #[-- VAR.cr_text_color --];
  background-color: #[-- VAR.cr_background_color --];
  font-family: [-- VAR.cr_font --];
  font-size: [-- VAR.cr_font_size --];
}

/* Tables to make IE happy */
table {
  margin: 0px;
  color: #[-- VAR.cr_text_color --];
  font-family: [-- VAR.cr_font --];
  font-size: [-- VAR.cr_font_size --];
  border-collapse: collapse;
  border-spacing: 0px;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Anchor Tags */
a {
  font-family: [-- VAR.cr_font --];
  font-size: [-- VAR.cr_font_size --];
  text-decoration: underline;
}

a:link {
  color: #[-- VAR.cr_link_color --];
}

a:active {
  color: #[-- VAR.cr_active_link_color --];
}

a:hover {
  color: #[-- VAR.cr_hover_link_color --];
}

a:visited {
  color: #[-- VAR.cr_visited_link_color --];
}

table.content {
  width: 100%;
}

td.cr_messages {
}

table.ups_error {
  margin-top: 20px;
}

td.ups_error {
  border: none;
  background-color: #[-- VAR.cr_table_head_color --];
}

  [-- IF VAR.define "unknown_address_email" --]
#/*-----------------------*/#
#/* Unknown Address Email */#
#/*-----------------------*/#
#/* No styles for this */#

  [-- ELSE_IF VAR.define "forgot_pass_email" --]
#/*-----------------------*/#
#/* Forgot Password Email */#
#/*-----------------------*/#
td.cr_link_text {
  padding-top: 20px;
}

td.cr_link {
}

  [-- ELSE_IF VAR.define "address_change_email" --]
#/*----------------------*/#
#/* Address Change Email */#
#/*----------------------*/#
td.cr_store_name {
  padding-top: 20px;
}

table.cr_store_name {
  border: none;
}

td.cr_store_name_content {
  font-size: 20px;
  font-weight: bold;
}

td.cr_addr_change_text {
}

table.cr_addr_change_text {
  border: none;
}

td.cr_new_addr {
}

table.cr_new_addr {
  border: none;
}

td.cr_new_addr_text {
  text-align: right;
  font-weight: bold;
}

td.cr_new_addr_content {
  text-align: left;
  padding-left: 10px;
}

  [-- ELSE_IF VAR.define "account_change_email" --]
#/*----------------------*/#
#/* Account Change Email */#
#/*----------------------*/#
td.cr_account_change {
  padding-top: 20px;
}

table.cr_account_change {
  border: none;
}

td.cr_account_change_text {
  text-align: right;
  font-weight: bold;
}

td.cr_store_name {
  text-align: left;
  pading-left: 10px;
}

  [-- ELSE --]
/* You shouldn't see this message */
  [-- END_IF --]
[-- END_IF --]

