#/* --------------------------------------------------- */#
#/* Style Sheet                                         */#
#/* filename: elite_001_pa_styles.css                   */#
#/* TEMPLATE: Page                                      */#
#/* THEME: Elite 001                                    */#
#/* CORE: Core 001                                      */#
#/* copyright 2005 ShopSite inc. Design by Stunk        */#
#/* --------------------------------------------------- */#
body {
  margin: 0px;
  color: [-- VAR.pa_text_color --];
  background-image: url([-- VAR.pa_background_image --]);
  background-position: center;
  background-repeat: repeat;
  background-color: [-- VAR.pa_background_color --];
  font-family: [-- VAR.pa_font --];
  font-size: [-- VAR.pa_font_size --];
}

/* Tables to make IE happy */
table {
  margin: 0px;
  color: [-- VAR.pa_text_color --];
  background-color: [-- VAR.pa_background_color --];
  font-family: [-- VAR.pa_font --];
  font-size: [-- VAR.pa_font_size --];
  border-collapse: collapse;
  border-spacing: 0px;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  background-color: transparent;
}

/* Anchor Tags */
a {
  font-family: [-- VAR.pa_font --];
  font-size: [-- VAR.pa_font_size --];
  text-decoration: underline;
}

a:link {
  color: [-- VAR.pa_link_color --];
}

a:active {
  color: [-- VAR.pa_active_link_color --];
}

a:hover {
  color: [-- VAR.pa_hover_link_color --];
}

a:visited {
  color: [-- VAR.pa_visited_link_color --];
}

/* Forms Stuff */
input {
  color: [-- VAR.pa_text_color --];
  font-family: [-- VAR.pa_font --];
  font-size: [-- VAR.pa_small_font --];
  vertical-align: middle;
}

input[type=text], input[type=password], input[type=button], input[type=select], input[type=reset], textbox, select {
  background-color: [-- VAR.pa_form_background_color --];
}

input[type=image], input[type=radio], input[type=checkbox] {
  background-color: transparent;
}

select {
  color: [-- VAR.pa_text_color --];
  background-color: [-- VAR.pa_form_background_color --];
  font-family: [-- VAR.pa_font --];
  font-size: [-- VAR.pa_small_font --];
}

textarea {
  color: [-- VAR.pa_text_color --];
  background-color: [-- VAR.pa_form_background_color --];
  font-family: [-- VAR.pa_font --];
  font-size: [-- VAR.pa_small_font --];
}

table.content {
  width: [-- VAR.pa_width --];
  background: transparent;
  margin-left: [-- VAR.pa_margin --];
  margin-right: [-- VAR.pa_margin --];
}

#/* Link Stuff */#
table.link {
  width: 100%;
  vertical-align: top;
  text-align: left;
}

td.link_image {
  vertical-align: top;
  text-align: left;
}

a.link_image {
}

img.link_image {
  border: none;
}

td.link_name {
  vertical-align: top;
  text-align: left;
}

a.link_name {
  font-weight: bold;
  text-decoration: none;
}

td.link_text {
  vertical-align: top;
  text-align: left;
  padding-left: 10px;
}

span.link_text {
  padding-left: 10px;
}

a.link_text {
}

#/* Page Stuff */#
td.pa_header {
}

td.pa_links {
  vertical-align: top;
  text-align: left;
  width: 200px;
  min-width: 200px;
}

td.pa_top_links {
  vertical-align: top;
  text-align: left;
  width: 100%;
}

table.pa_links {
  width: 100%;
  height: 100%;
  vertical-align: top;
  text-align: left;
  background: transparent;
  border-collapse: separate;
  border-spacing: 5px;
}

td.pa_link_content {
  border: [-- VAR.pa_table_border --] [-- VAR.pa_table_border_color --];
  vertical-align: top;
  text-align: left;
  background-color: [-- VAR.pa_background_color --];
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 5px;
  margin-bottom:5px;
  border-collapse: separate;
  border-spacing: 5px;
  width: [-- VAR.link_width --];
}

td.pa_giftcert {
  border: [-- VAR.pa_table_border --] [-- VAR.pa_table_border_color --];
  vertical-align: top;
  text-align: left;
  background-color: [-- VAR.pa_background_color --];
  padding-top: 3px;
  padding-bottom:3px;
  margin-top: 5px;
  margin-bottom:5px;
  border-collapse: separate;
  border-spacing: 5px;
  width: [-- VAR.link_width --];
}

a.giftcertlink {
  font-weight: bold;
  text-decoration: none;
}

td.pa_tellfriend {
  border: [-- VAR.pa_table_border --] [-- VAR.pa_table_border_color --];
  vertical-align: top;
  text-align: left;
  background-color: [-- VAR.pa_background_color --];
  padding-top: 3px;
  padding-bottom:3px;
  margin-top: 5px;
  margin-bottom:5px;
  border-collapse: separate;
  border-spacing: 5px;
  width: [-- VAR.link_width --];
}

a.tf_page_link {
  font-weight: bold;
  text-decoration: none;
}

a.tf_popup {
  font-weight: bold;
  text-decoration: none;
}

td.pa_regsignin {
  border: [-- VAR.pa_table_border --] [-- VAR.pa_table_border_color --];
  width: 25%;
  vertical-align: top;
  text-align: left;
  background-color: [-- VAR.pa_background_color --];
  padding-top: 3px;
  padding-bottom:3px;
  margin-top: 5px;
  margin-bottom:5px;
  border-collapse: separate;
  border-spacing: 5px;
  font-weight: bold;
  text-decoration: none;
  width: [-- VAR.link_width --];
}

span.reglink {
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}

a.reglink {
  font-weight: bold;
  text-decoration: none;
}

td.pa_minicart_spacer {
  min-height: 20px;
  height: 20px;
}

td.pa_minicart {
  border: [-- VAR.pa_table_border --] [-- VAR.pa_table_border_color --];
  vertical-align: top;
  text-align: left;
  background-color: [-- VAR.pa_background_color --];
  padding-top: 3px;
  padding-bottom:3px;
  margin-top: 5px;
  margin-bottom:5px;
  border-collapse: separate;
  border-spacing: 5px;
  font-weight: bold;
  width: [-- VAR.link_width --];
}

a.MiniCart {
  font-weight: bold;
  text-decoration: none;
}

td.pa_empty {
  width: [-- VAR.link_width --];
}

td.pa_content {
  vertical-align: top;
  text-align: left;
}

table.pa_content {
  width: 100%;
  vertical-align: top;
  text-align: left;
  background: transparent;
}

td.pa_image {
  text-align: left;
  vertical-align: top;
  width: 10px;
}

img.pa_image {
}

td.pa_name {
  text-align: left;
  vertical-align: top;
  font-weight: bold;
  font-size: [-- VAR.pa_large_font --];
  width: 90%;
}

td.pa_text1 {
  text-align: left;
  vertical-align: top;
}

td.pa_search_form {
  vertical-align: middle;
  padding-top: 0px;
  padding-bottom: 0px;
}

td.pa_products {
  vertical-align: top;
  text-align: left;
}

table.pa_products {
  width: 100%;
  height: 100%;
  vertical-align: top;
  text-align: left;
}

td.pa_product {
  border: [-- VAR.pa_col_border--] [-- VAR.pa_table_border_color --];
  vertical-align: top;
  text-align: left;
}

td.pa_prevnext {
  text-align: center;
}

td.pa_text2 {
  vertical-align: top;
  text-align: left;
}

td.pa_footer {
  text-align: center;
  font-size: 8pt;
}

td.pa_text3 {
  vertical-align: top;
  text-align: left;
}
