#/* --------------------------------------------------- */#
#/* Style Sheet                                         */#
#/* filename: elite_001_gc_styles.css                   */#
#/* TEMPLATE: Gift Certificate                          */#
#/* THEME: Elite 001                                    */#
#/* CORE: Core 001                                      */#
#/* copyright 2005 ShopSite inc. Design by Stunk        */#
#/* --------------------------------------------------- */#

#/* ----------- */#
#/* Certificate */#
#/* ----------- */#
[-- IF VAR.define "cert" --]
body {
  margin: 0px;
  color: #[-- VAR.gc_text_color --];
  background-image: url([-- VAR.gc_background_image --]);
  background-position: center;
  background-repeat: repeat;
  background-color: #[-- VAR.gc_background_color --];
  font-family: [-- VAR.gc_font --];
  font-size: [-- VAR.gc_font_size --];
}

/* Tables to make IE happy */
table {
  margin: 0px;
  color: #[-- VAR.gc_text_color --];
  background-color: #[-- VAR.gc_background_color --];
  font-family: [-- VAR.gc_font --];
  font-size: [-- VAR.gc_font_size --];
  border-collapse: collapse;
  border-spacing: 0px;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  background-color: transparent;
}

/* Anchor Tags */
a {
  font-family: [-- VAR.gc_font --];
  font-size: [-- VAR.gc_font_size --];
  text-decoration: underline;
}

a:link {
  color: #[-- VAR.gc_link_color --];
}

a:active {
  color: #[-- VAR.gc_active_link_color --];
}

a:hover {
# font-weight: bold;
  color: #[-- VAR.gc_hover_link_color --];
}

a:visited {
  color: #[-- VAR.gc_visited_link_color --];
}

/* Forms Stuff */
input {
  color: #[-- VAR.gc_text_color --];
  font-family: [-- VAR.gc_font --];
  font-size: [-- VAR.gc_small_font --];
  vertical-align: middle;
}

input[type=text], input[type=password], input[type=button], input[type=select], input[type=reset], textbox, select {
  background-color: #[-- VAR.gc_form_background_color --];
}

input[type=image], input[type=radio], input[type=checkbox] {
  background-color: transparent;
}

select {
  color: #[-- VAR.gc_text_color --];
  background-color: #[-- VAR.gc_form_background_color --];
  font-family: [-- VAR.gc_font --];
  font-size: [-- VAR.gc_small_font --];
}

textarea {
  color: #[-- VAR.gc_text_color --];
  background-color: #[-- VAR.gc_form_background_color --];
  font-family: [-- VAR.gc_font --];
  font-size: [-- VAR.gc_small_font --];
}

table.content {
  width: 100%;
  background: transparent;
}

#/* ------- */#
#/* Content */#
#/* ------- */#
td.gc_header {
  padding-bottom: 20px;
}

td.gc_messages {
}

td.gc_instruct {
}

table.gc_instruct {
  border: [-- VAR.gc_table_border --] #[-- VAR.gc_table_border_color --];
  width: [-- VAR.gc_table_width --]px;
  max-width: [-- VAR.gc_table_width --]px;
}

td.gc_instruct_text {
}

td.gc_recipient_form {
}

td.gc_value_form {
}

td.gc_content_form {
}

td.gc_policy {
}

table.gc_policy {
  border: [-- VAR.gc_table_border --] #[-- VAR.gc_table_border_color --];
  width: [-- VAR.gc_table_width --]px;
  max-width: [-- VAR.gc_table_width --]px;
}

td.gc_policy_text {
}

td.gc_buttons {
}

table.gc_buttons {
  border: [-- VAR.gc_table_border --] #[-- VAR.gc_table_border_color --];
  width: [-- VAR.gc_table_width --]px;
  max-width: [-- VAR.gc_table_width --]px;
}

td.gc_backtostore_button {
}

td.gc_buycert_button {
}

td.gc_footer {
  text-align: center;
  font-size: 8pt;
  padding-top: 20px;
}

#/* Generated Stuff */#
table.giftcert_type {
  border: [-- VAR.gc_table_border --] #[-- VAR.gc_table_border_color --];
  width: [-- VAR.gc_table_width --]px;
  max-width: [-- VAR.gc_table_width --]px;
}

td.giftcert_type {
  text-align: left;
}

table.cert_num_amount {
  border: [-- VAR.gc_table_border --] #[-- VAR.gc_table_border_color --];
  width: [-- VAR.gc_table_width --]px;
  max-width: [-- VAR.gc_table_width --]px;
}

td.cert_num_amount {
  text-align: left;
}

table.cert_to_from_msg {
  border: [-- VAR.gc_table_border --] #[-- VAR.gc_table_border_color --];
  width: [-- VAR.gc_table_width --]px;
  max-width: [-- VAR.gc_table_width --]px;
}

td.cert_to_from_msg {
  text-align: right;
}

td.cert_to_from_msg_val {
  text-align: left;
}

#/* ---------- */#
#/* Snail Mail */#
#/* ---------- */#
[-- ELSE_IF VAR.define "mail" --]
body {
  margin: 0px;
  color: #[-- VAR.gc_text_color --];
  background-image: url([-- VAR.gc_background_image --]);
  background-position: center;
  background-repeat: repeat;
  background-color: #[-- VAR.gc_background_color --];
  font-family: [-- VAR.gc_font --];
  font-size: [-- VAR.gc_font_size --];
}

/* Tables to make IE happy */
table {
  margin: 0px;
  color: #[-- VAR.gc_text_color --];
  background-color: #[-- VAR.gc_background_color --];
  font-family: [-- VAR.gc_font --];
  font-size: [-- VAR.gc_font_size --];
  border-collapse: collapse;
  border-spacing: 0px;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Anchor Tags */
a {
  font-family: [-- VAR.gc_font --];
  font-size: [-- VAR.gc_font_size --];
  text-decoration: underline;
}

a:link {
  color: #[-- VAR.gc_link_color --];
}

a:active {
  color: #[-- VAR.gc_active_link_color --];
}

a:hover {
# font-weight: bold;
  color: #[-- VAR.gc_hover_link_color --];
}

a:visited {
  color: #[-- VAR.gc_visited_link_color --];
}

table.content {
  width: 100%;
  background: transparent;
}

hr.noprint {
  page-break-after:always;
}

#/* ------- */#
#/* Content */#
#/* ------- */#
td.cr_tofrom {
  padding-top: 20px;
}

table.cr_tofrom {
  border: [-- VAR.gc_table_border --] #[-- VAR.gc_table_border_color --];
  width: [-- VAR.gc_table_width --]px;
  max-width: [-- VAR.gc_table_width --]px;
}

td.cr_to_text {
  text-align: right;
  width: 50%;
  font-weight: bold;
}

td.cr_to {
  text-align: left;
  width: 50%;
}

td.cr_from_text {
  text-align: right;
  width: 50%;
  font-weight: bold;
}

td.cr_from {
  text-align: left;
  width: 50%;
}

  [-- IF GiftCert_Message --]
td.cr_message {
}

table.cr_message {
  border: [-- VAR.gc_table_border --] #[-- VAR.gc_table_border_color --];
  width: [-- VAR.gc_table_width --]px;
  max-width: [-- VAR.gc_table_width --]px;
}

td.cr_message_text {
  font-weight: bold;
}

td.cr_message_content {
}

  [-- END_IF --]
td.cr_amount {
}

table.cr_amount {
  border: [-- VAR.gc_table_border --] #[-- VAR.gc_table_border_color --];
  width: [-- VAR.gc_table_width --]px;
  max-width: [-- VAR.gc_table_width --]px;
}

td.cr_amount_text {
  text-align: right;
  font-weight: bold;
  width: 50%;
}

td.cr_amount_content {
  text-align: left;
  width: 50%;
}

td.cr_redeem {
}

table.cr_redeem {
  border: [-- VAR.gc_table_border --] #[-- VAR.gc_table_border_color --];
  width: [-- VAR.gc_table_width --]px;
  max-width: [-- VAR.gc_table_width --]px;
}

td.cr_redeem_text {
}

td.cr_redeem_url {
  font-weight: bold;
}

td.cr_checkout_text {
}

td.cr_number_text {
  text-align: right;
  font-weight: bold;
  width: 50%;
}

td.cr_number {
  text-align: left;
  width: 50%;
}

td.cr_pin_text {
  text-align: right;
  font-weight: bold;
  width: 50%;
}

td.cr_pin {
  text-align: left;
  width: 50%;
}

td.cr_expire_text {
  text-align: right;
  font-weight: bold;
  width: 50%;
}

td.cr_expire {
  text-align: left;
  width: 50%;
}

#/* ----- */#
#/* Email */#
#/* ----- */#
[-- ELSE_IF VAR.define "email" --]
body {
  margin: 0px;
  color: #[-- VAR.gc_text_color --];
  background-color: #[-- VAR.gc_background_color --];
  font-family: [-- VAR.gc_font --];
  font-size: [-- VAR.gc_font_size --]
}

/* Tables to make IE happy */
table {
  margin: 0px;
  color: #[-- VAR.gc_text_color --];
  background-color: #[-- VAR.gc_background_color --];
  font-family: [-- VAR.gc_font --];
  font-size: [-- VAR.gc_font_size --];
  border-collapse: collapse;
  border-spacing: 0px;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Anchor Tags */
a {
  font-family: [-- VAR.gc_font --];
  font-size: [-- VAR.gc_font_size --];
  text-decoration: underline;
}

a:link {
  color: #[-- VAR.gc_link_color --];
}

a:active {
  color: #[-- VAR.gc_active_link_color --];
}

a:hover {
# font-weight: bold;
  color: #[-- VAR.gc_hover_link_color --];
}

a:visited {
  color: #[-- VAR.gc_visited_link_color --];
}

table.content {
  width: 100%;
}

#/* ------- */#
#/* Content */#
#/* ------- */#
td.cr_tofrom {
  padding-top: 20px;
}

table.cr_tofrom {
  border: [-- VAR.gc_table_border --] #[-- VAR.gc_table_border_color --];
  width: [-- VAR.gc_table_width --]px;
  max-width: [-- VAR.gc_table_width --]px;
}

td.cr_to_text {
  text-align: right;
  width: 50%;
  font-weight: bold;
}

td.cr_to {
  text-align: left;
  width: 50%;
}

td.cr_from_text {
  text-align: right;
  width: 50%;
  font-weight: bold;
}

td.cr_from {
  text-align: left;
  width: 50%;
}

  [-- IF GiftCert_Message --]
td.cr_message {
}

table.cr_message {
  border: [-- VAR.gc_table_border --] #[-- VAR.gc_table_border_color --];
  width: [-- VAR.gc_table_width --]px;
  max-width: [-- VAR.gc_table_width --]px;
}

td.cr_message_text {
  font-weight: bold;
}

td.cr_message_content {
}

  [-- END_IF --]
td.cr_amount {
}

table.cr_amount {
  border: [-- VAR.gc_table_border --] #[-- VAR.gc_table_border_color --];
  width: [-- VAR.gc_table_width --]px;
  max-width: [-- VAR.gc_table_width --]px;
}

td.cr_amount_text {
  text-align: right;
  font-weight: bold;
  width: 50%;
}

td.cr_amount_content {
  text-align: left;
  width: 50%;
}

td.cr_redeem {
  padding-bottom: 20px;
}

table.cr_redeem {
  border: [-- VAR.gc_table_border --] #[-- VAR.gc_table_border_color --];
  width: [-- VAR.gc_table_width --]px;
  max-width: [-- VAR.gc_table_width --]px;
}

td.cr_redeem_text {
}

td.cr_redeem_url {
  font-weight: bold;
}

td.cr_checkout_text {
}

td.cr_number_text {
  text-align: right;
  font-weight: bold;
  width: 50%;
}

td.cr_number {
  text-align: left;
  width: 50%;
}

td.cr_pin_text {
  text-align: right;
  font-weight: bold;
  width: 50%;
}

td.cr_pin {
  text-align: left;
  width: 50%;
}

td.cr_expire_text {
  text-align: right;
  font-weight: bold;
  width: 50%;
}

td.cr_expire {
  text-align: left;
  width: 50%;
}

[-- ELSE --]
/* You shouldn't be seeing this message */
[-- END_IF --]

