#gradient1 Customer Registration CSS
/* Customer Registration CSS */

  h2 {
  line-height: 2.25em;
  }

  #content {
  text-align: center;
  width: 100%;
  }
  
  .cust_name {
  font-size: 1.5em;
  font-style: italic;
  font-weight: normal;
  }

  .cr-buttons, .cr-buttons input, .cr-buttons img  {
  vertical-align: middle;
  margin: .5em;
  }

  form.cr {
  padding: 0 1em;
  }  
  
  table {
  margin-left: auto;
  margin-right: auto;  
  }

  th {
  text-align: left;
  }
  
  table.cart {
  text-align: left;
  width: auto;
  }
  
  table.addr, table.payment {
  text-align: left;
  }
  
  .totals_txt, .totals_all_txt, .totals, .totals_all  {
  text-align: left;
  padding-right: 1em;
  background-color: transparent;
  }
  
/* rewards program */
  table.program_reward_hdr{
    border: 1px solid #[-- STORE.SC_ShadeColor --];
    margin: 0 auto 1em auto;
    }
  
  th.program_reward_hdr {
    font-size: 1.4em;
    font-weight: normal;
    }
  
  th.program_reward {
    font-weight: normal;
    padding-right: 3em;
    text-decoration: underline;
    }
  
  table.program_reward td {
    text-align: center;
    padding-right: 3em;
    padding-top: .5em;
    }
    
/* preferences page alignments */  
  td.email_type, td.save_payment {
  width: 100%;
  vertical-align: bottom;
  }
  
  #pageName {
  text-align: center;
  }
