#gradient1 Gift Certificates CSS
/* Gift Certificate Styles */

/*background image settings */
[-- IF STORE.GiftCert_BackgroundImage --]
  [-- VAR.GiftCert_BackgroundImage STORE.GiftCert_BackgroundImage --]
[-- ELSE --]
  [-- VAR.GiftCert_BackgroundImage "about:blank" --]
[-- END_IF --]
  html {
  background: #[-- STORE.GiftCert_BackgroundColor --] url("[-- VAR.GiftCert_BackgroundImage --]") repeat-x;
  }
  
  body {
  color: #[-- STORE.GiftCert_TextColor --];
  background-color: #[-- STORE.GiftCert_BackgroundColor --];
  }
    
  a:link {
  color: #[-- STORE.GiftCert_LinkColor --];
  }
  
  a:visited {
  color: #[-- STORE.GiftCert_VisitedLinkColor --];
  }
  
  a:hover {
  color: #[-- STORE.GiftCert_VisitedLinkColor --];
  }
  
  h1{
  color: #[-- STORE.GiftCert_TextColor --];
  }
  
  h2{
  color: #[-- STORE.GiftCert_TextColor --];
  }
  
  h3{
  color: #[-- STORE.GiftCert_TextColor --];
  }
  
  h4{
  color: #[-- STORE.GiftCert_TextColor --];
  }
  
  h5{
  color: #[-- STORE.GiftCert_TextColor --];
  }
  
  label{
  color: #[-- STORE.GiftCert_TextColor --];
  }

/***********************************************/
/* Layout Divs                                 */
/***********************************************/

  #content {
  text-align: center;
  width: auto;
  }

  #globalNav{
  color: #[-- STORE.GiftCert_TextColor --];
  background-color: #[-- STORE.GiftCert_LinkColor --];
  }

  #globalNav a {
  color: #[-- STORE.GiftCert_ActiveLinkColor --];
  }
  
  #footer{
  color: #[-- STORE.GiftCert_TextColor --];
  }

  #footerContents {
  border-color: #[-- STORE.GiftCert_ActiveLinkColor --];
  }

  form.gift_certificate {
  padding: 0 1em;
  } 
  
  form.gift_certificate table {
  text-align: left;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto; 
  }

  .gc-div {
  text-align: center;
  padding-bottom: 2em;
  }
  
  .cert {
  padding: 15px;
  margin: 1em;
  border: 1px dashed #[-- STORE.GiftCert_ActiveLinkColor --];
  }
  
  .cert_text {
  text-align: right;
  font-weight: bold;
  font-style: normal;
  padding-right: 1em;
  }
  
  .cert_value {
  color: #[-- STORE.GiftCert_LinkColor --];
  font-weight: bold;
  padding-left: 1em;
  }
  
  .cert_message {
  text-align: center;
  padding: 1em;
  font-weight: normal;
  }

  td.giftcert_type {
  padding:0 2em;
  }

  .instructions {
  margin: 0;
  line-height: 1.5em;
  }

  .policy {
  color: #[-- STORE.GiftCert_TextColor --];
  clear: both;
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  width: 80%;
  line-height: 1.5em; 
  }

  .gc-buttons {
  text-align: center;
  }

  #gc-content {
  text-align: center;
  padding: 1em 3em;
  border: 1px solid [-- STORE.GiftCert_TextColor --];
  margin: 2em;
  }
  
/* buy gift certificates button */

  .button331 {
  margin-left: 2em; 
  }
  
  #pageName {
  text-align: center;
  }

  div.MiniCart {
  background-color: #[-- STORE.GiftCert_ActiveLinkColor --];
  }

  td.MiniCartQty, td.MiniCartProduct, td.MiniCartPrice {
  border-bottom: 1px dotted #[-- STORE.GiftCert_BackgroundColor --];
  }

  .gc-buttons img, .gc-buttons input, gc-buttons a {
  vertical-align: middle;
  }
