#gradient1 Shopping Cart CSS file
[-- IF STORE.SC_BackgroundImage --]
  [-- VAR.SC_BackgroundImage STORE.SC_BackgroundImage --]
[-- ELSE --]
  [-- VAR.SC_BackgroundImage "about:blank" --]
[-- END_IF --]
  html {
  background: #[-- STORE.SC_BackgroundColor --] url("[-- VAR.SC_BackgroundImage --]") repeat-x;
  }

  body{
  color: #[-- STORE.SC_TextColor --];
  background-color: #[-- STORE.SC_BackgroundColor --];
  }

  a:link {
  color: #[-- STORE.SC_LinkColor --];
  }

  a:visited {
  color: #[-- STORE.SC_VisitedLinkColor --];
  }

  a:hover {
  color: #[-- STORE.SC_VisitedLinkColor --];
  }

  h1{
  color: #[-- STORE.SC_TextColor --];
  }
  
  h2{
  color: #[-- STORE.SC_TextColor --];
  }
  
  h3{
  color: #[-- STORE.SC_TextColor --];
  }
  
  h4{
  color: #[-- STORE.SC_TextColor --];
  }
  
  h5{
  color: #[-- STORE.SC_TextColor --];
  }
  
  label{
  color: #[-- STORE.SC_TextColor --];
  }

  select, input { 
  color: #[-- STORE.SC_TextColor --];
  background-color: #[-- STORE.SC_BackgroundColor --];
  }

/* Layout Divs */

  #globalNav{
  background-color: #[-- STORE.SC_LinkColor --];
  color: #[-- STORE.SC_ActiveLinkColor --];
  }

  #globalNav a {
  color: #[-- STORE.SC_ActiveLinkColor --];
  }
    
  #globalNavLinks, #search  {
  background-color: #[-- STORE.SC_LinkColor --];
  }

  #footer{
  color: #[-- STORE.SC_TextColor --];
  }


  #footerContents {
  border-color: #[-- STORE.SC_ActiveLinkColor --];
  }

  #showBasket {
  margin: 1em;
  margin-top: 0;
  }

  div#emptyCartButton {
  float:left;
  }
  
  div#recalcButton {
  text-align: right;
  margin-top: 5px;
  }
  
  th {
  text-align: center;
  }
  
  th.cart_price, td.cart_price {
  text-align: center;
  }
  
  th.cart_quantity, td.cart_quantity {
  text-align: left; 
  }
  
  th.cart_total, td.cart_total {
  text-align: right;
  padding-right: 3px;
  }
  
  td.cart_delete input {
  margin-left: auto;
  margin-right: auto;
  }
  
  td.cart_delete {
  background-color: #[-- STORE.SC_BackgroundColor --];
  }
  
  td.cart_op1 {
  background-color: #[-- STORE.SC_BackgroundColor --];
  }
  
  th.cart_name, th.cart_sku {
  text-align: left;
  }
  
  table.reg {
  margin-bottom: 1em;
  }
  
  div.sc-header {
  margin: 0px 15px 0 15px;
  text-align: center;
  }
  
  .sc-header h2 {
  margin-top: .5em;
  margin-bottom: 0;
  padding: 0;
  }
  
  table.bill_addr, table.ship_addr {   /* inner table for billing and shipping address */
  margin-right: auto;
  }
  
  #sc-form {
  text-align: center;
  padding: 0 10px;
  }
  
    .reg {
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  }
  
  #ship-tax {
  text-align: right;
  line-height: 150%;
  }
  
  #ship-tax table {
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  }
  
  td.taxnship {
  line-height: 2em;
  text-align: right;
  }
  
  ul#ship, ul#ship li {
  text-align: left;
  }
  
  #totals {
  margin-top: 10px;
  }

  td.totals_all, td.totals_all_txt {
  font-size: 1.25em;
  line-height: 1.55em;
  }
  
  td.totals_saved, td.totals_saved_txt {
  font-size: 1.1em;
  font-weight: bold;
  color: #[-- STORE.SC_TextColor --];
  font-style: italic;
  }
  
  .totals_all {
    text-align: right;
  padding-right: 3px;
  width: 3em;
  background-color: #[-- STORE.SC_ShadeColor --];
  }
  

  
    .totals_all_txt {
  text-align: right;
  padding-right: 15px;
  background-color: #[-- STORE.SC_ShadeColor --];
  }
  
  #promotions {
  width: 550px;
  border: 2px dashed #[-- STORE.SC_ActiveLinkColor --];
  margin: 1.5em auto;
  }
  
  #sc-coupon input, #sc-giftcert input  {
  vertical-align: middle;
  }
   
  #sc-coupon {
  padding: 15px;
  }
  
  span.coupon-caption, #giftCertCaption, td.instruct_hdr, #paymentselection {
  font-weight: bold;
  font-size: 1.1em;
  }

  span.enterCoupon {
  font-size: .75em;
  }
  
  #sc-giftcert {
  padding: 1em;
  line-height: 150%;
  }
  
  .button9 {
  border-color: #[-- STORE.SC_BackgroundColor --] !important;
  }
  
  div.buttons {
  margin-top: 10px;
  margin-bottom: 10px;
  }
  
  div.buttons input, td.buttons input {
  vertical-align: middle;
  }

  div.anyChanges {
  color:  #[-- STORE.SC_LinkColor --];
  font-size: .9em;
  font-weight: bold;
  font-style: italic;
  }
  
  #orderinginstructions {
  margin-top: 10px;
  margin-bottom: 10px;
  }
  
  #paymentselection {
  font-weight: bold;
  padding: 10px;
  }

/* formatting for address choices when signed in */ 
  td.sql_addr {
  padding-right: 15px;
  }
  
  table.sql_addr td
  {
  text-align: left;
  }
  
  td.zipncountry_hdr {
  font-weight: bold;
  padding-bottom: 20px;
  text-align: left;
  }
  
  table.sql_addr  {
  width: 500px;
  }
    
  table.selectzipncountry {
  width: 500px;
  }
  
  .sql_addr_select, td.zipncountryradio {
  width: 25px;
  }
/* end formatting for address choices when signed in */   

  hr {
  color: #[-- STORE.SC_ShadeColor --];
  background-color: #[-- STORE.SC_ShadeColor --];
  height: 1px;
  border-style: solid;
  }
  
/* rewards program */

  table.program_reward_order {
  border: 2px solid #[-- STORE.SC_ShadeColor --];
  margin: 0em auto;
  text-align: center;
  }

  th.program_reward_order, table.program_reward_order td {
  padding: .5em;
  }

  th.program_reward_order {
  font-size: 1.4em;
  font-weight: normal;
  } 
  
  td.thankyoubusiness, td.thankyoureceipt {
  text-align: center;
  }
  
  div#return-button {
  text-align: center;
  margin: 25px;
  }

  div#thankyou-footer {
  text-align: center;
  }
  
    td.totals {
  width: 1%;
  padding-right: 3px;
  text-align: right;

  }
/* Google Checkout Layout */

  table.google_button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

/* Cart Image */
  td.cart_image img {
    border: 0px none;
  }
  
#secure_image {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

/* Cross Sell */
div.cross_sell {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table.cross_sell {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 2px solid #[-- STORE.SC_ShadeColor --];
}

caption.cross_sell {
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #[-- STORE.SC_LinkColor --];
}

td.cross_sell {
  text-align: center;
}

div#secure_image {
  text-align: center;
}
