#gradient1 Theme CSS File
#copyright 2006 ShopSite Inc. Design by Andy

  /* Main CSS */
  
  html {
  background: [-- VAR.background_color --] url("[-- VAR.background_image --]") repeat-x;
  }

  body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 76%;
  color: [-- VAR.text_color --];
  background-color: [-- VAR.background_color --];
  line-height: 1.166; 
  margin: 0px;
  padding: 0px;
  min-width: 777px;
  width: [-- VAR.pa_width --]; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: table;
  }
  
  a:link {
  color: [-- VAR.link_color --];
  text-decoration: underline;
  }
  
  a:visited {
  color: [-- VAR.visitedlink_color --];
  text-decoration: underline;
  }
  
  a:hover {
  color: [-- VAR.visitedlink_color --];
  text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
  padding: 0.0em;
  }
  
  h1 {
  font-size: 2.0em;
  font-weight: normal;
  color: [-- VAR.text_color --];
  }
  
  h2 {
  font-size: 1.7em;
  font-weight: normal;
  color: [-- VAR.text_color --];
  }
  
  h3 {
  font-size: 1.4em;
  font-weight: normal;
  color: [-- VAR.text_color --];
  }
  
  h4 {
  font-size: 1.2em;
  font-weight: bold;
  color: [-- VAR.text_color --];
  }
  
  h5 {
  font-size: 1.0em;
  font-weight: normal;
  color: [-- VAR.text_color --];
  }
  
  ul{
  list-style-type: square;
  }
  
  ul ul{
  list-style-type: disc;
  }
  
  ul ul ul{
  list-style-type: none;
  }
  
  label{
  font: bold 1em Arial,sans-serif;
  color: [-- VAR.text_color --];
  }
  
  select, input { 
  color: [-- VAR.text_color --];
  background-color: [-- VAR.background_color --];
  }
  
  a.link_image, div.productGraphic a {
  text-decoration: none;
  }
  
  /* Layout Divs */
  
  #body, #body td {
  padding: 0em;
  margin: 0;
  border-collapse: collapse;
  }
  
  table#body {
  width: 100%;
  background-color: [-- VAR.background_color --];
  }
  
  #masthead{
  margin: 0;
  padding: 0;
  width: 100%;
  }
  
  #masthead img {
  margin: 0;
  }
  
  #left {
  width: 20%;
  margin: 0px;
  padding: 0px;
  background-color: [-- VAR.activelink_color --];
  margin-bottom: 10px;
  padding-bottom: 10px;
  vertical-align: top;
  }
  
  #center {
  width: [-- VAR.ContentWidth --];
  text-align: left; 
  padding: 0;
  margin: 0;
  vertical-align: top;
  }
  
  #content2 {
  margin: 0 15px;
  text-align: [-- VAR.page_alignment --];
  }
  
  #siteName{
  margin: 0px;
  padding: 0px 0px 10px 10px;
  }
  
  #univ-header {
  padding: 0;
  }
  
  #right {
  width: 20%;
  vertical-align: top;
  }
  
  #text2{
  margin-top: 10px;
  font-size: 1em;
  }
  
  /*************** #pageName styles **************/
  
  #pageName{
  padding: 0px 10px;margin-top: 10px;
  margin-bottom: 10px;
  }
  
  
  /************* #globalNav styles **************/
  
  #globalNav{
  clear: left;
  background: [-- VAR.link_color --];
  color: [-- VAR.text_color --];
  padding: 0;
  white-space: normal;
  text-align: right;
  display: inline-table;
  }
  
  #globalNav img{
  display: block;
  }
  
  #globalNavLinks {
  padding: 5px 0;
  clear: right;
  float: right;
  background: [-- VAR.link_color --];
  width: 100%;
  margin-bottom: -1px;
  }
  
  #globalNavLinks a {
  color: [-- VAR.activelink_color --];
  font-size: 1em;
  font-weight: bold;
  padding: 0 5px;
  white-space: nowrap;
  }
  
  #miniCart a {
  font-size: 1em;
  padding: 0 1em 0 0;
  }
  
  /************** .text1 styles ***************/
  
  .text1{
  padding: 10px 0 0 10px;
  font-size: 1em;
  }
  
  .text1 h3{
  padding: 1em 0 .25em 0;
  text-align: center;
  }
  
  .text1 img {
  border: none;
  }
  
  /************** #text2 styles **************/
  
  #text2 img{
  display: block;
  }
  
  span.subprInfo {
  margin: 0em 1em;
  line-height: 2em;
  display: block;
  }
  
  span.subprInfo input {
  margin-left: .5em;
  }
  
  .text2-empty {
  background-color: [-- VAR.background_color --];
  border-color: [-- VAR.background_color --] !important;
  }
  
  /************** .text3 styles *****************/
  
  .text3{
  clear: both;
  margin: 1em 0 0 0;
  padding: 5px 10px;
  font-size: 1em;
  }
  
  .text3 p {
  padding: 0 0 1em 0;;
  }
  
  
  /************* #footer styles ***************/
  
  #footer{
  clear: both;
  font-size: 1em;
  color: [-- VAR.text_color --];
  margin: 0;
  width: auto;
  }
  
  /************* #search styles ***************/
  
  #search {
  width: 100%;
  background-color: [-- VAR.link_color --];
  font-size: 11pt;
  float: right;
  margin-bottom: -1px;
  }
  
  #search input {
  vertical-align: middle;
  }
  
  #search form{
  margin: 5px 0 5px 5px;
  padding-right: 5px;
  float: right;
  }
  
  td.adv_search_text, table.search_table a {
  color: [-- VAR.activelink_color --];
  margin-left: 5px;
  font-size: 10pt;
  }
  
  td.search_field input {
  margin-left: 5px;
  }

  table.search_table a:hover {
  color: [-- VAR.activelink_color --];
  }

  /*********** #navBar link styles ***********/
  
  #navBar ul a:link, #navBar ul a:visited, #navBar ul a:hover {
  display: block;
  font-weight: bold;
  }
  
  #navBar ul {list-style: none; margin: 0; padding: 0;}
  
  #navBar li { border-bottom: 1px solid [-- VAR.activelink_color --]; 
  }
  
  img.link_image {
  vertical-align: middle;
  }
  
  /*********** #sectionLinks styles ***********/
  
  #sectionLinks{
  margin: 0;
  padding: 0;
  }
  
  #sectionLinks h3{
  font-size: 1em;
  font-weight: bold;
  padding: .25em 0em .25em 1em; 
  }
  
  #sectionLinks a:link, #sectionLinks a:visited, span.link_text {
  text-align: [-- VAR.page_alignment --];
  padding: .25em .5em .25em 1em;
  width: 100%;
  voice-family: "\"}\""; 
  voice-family:inherit;
  width: auto;
  }
  
  span.link_text {
  font-size: .9em;
  line-height: 1.25em;
  display: block;
  margin-bottom: .75em;
  margin-top: -.25em;
  }
  
  #sectionLinks a:hover{
  padding: .25em .5em .25em 1em;
  }
  
  .clear {
  clear: both;
  }
  
  /* product styles */
  
  table.pa_products {
  width: 97%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-collapse: separate;
  }
  
  
  td.pa_product  {
  width: [-- VAR.pr_td --];
  vertical-align: top;
  background: [-- VAR.background_color --];
  border: [-- VAR.border_width --]px solid [-- VAR.activelink_color --];
  text-align: [-- VAR.page_alignment --];
  padding: 10px;
  }
  
  td.pa_product div {
  padding: 0 10px;
  }
  
  td.pa_product h2 {
  font-size: 80%;
  margin: 5px;
  padding: 5px;
  background-color: [-- VAR.background_color --];
  }
  
  td.pa_product img {
  border-width: 0;
  }
  
  .productGraphic {
  margin-top: 0;
  margin-bottom: 10px;
  }
  
  .productInfowrap {
  margin: 0 5px;
  }
  
  .productGraphic img {
  border: none;
  margin: 0 5px;
  }
  
  .productName {
  white-space: normal;
  clear: both;
  }
  
  .productSku {
  margin: 1em 0;
  }
  
  .productDescription {
  margin: 1em 0;
  }
  
  .productPrice {
  font-weight: normal;
  color: [-- VAR.text_color --];
  margin: 1em 0;
  white-space: wrap;
  }
  
  .onsale {
  color:  [-- VAR.link_color --];
  font-weight: bold;
  padding: 0;
  margin: .5em 0;
  white-space: wrap;
  }
  
  .QPtable span.onsale {
  border: none;
  }
  
  .QPtable {
  margin: 1em 0;
  }
  
  /* to fix select box alignment in firefox */
  td.pa_product table, .checkout table, .mi-checkout table {
  margin-left: [-- VAR.margin_left --];
  margin-right: [-- VAR.margin_right --];
  margin-top: .5em;
  margin-bottom: .5em;
  }
  /*end firefox fix */
  
  .prevNext {
  margin: 1em;
  clear: both;
  font-size: 1.25em;
  font-weight: bold;
  }
  
  /* subproduct styles */
  
  .subProductBlock {
  border-top: [-- VAR.border_width --]px dashed [-- VAR.activelink_color --];
  padding: 1em 0;
  }
  
  /*end subproduct styles */
  
  /* BUTTON STYLES */
  
  .button6,
  .button7,
  .button8, 
  .button9, 
  .button67, 
  .button68, 
  input.button152, 
  input.button154,
  .button162,
  .button163,
  .button164, 
  .button165, 
  .button166, 
  .button167, 
  .button168, 
  .button169,
  .button170, 
  .button171, 
  .button172,
  .button173, 
  .button183, 
  .button184, 
  .button185,
  .button186, 
  .button187, 
  .button188, 
  .button189, 
  .button331,
  .button375,
  input.button383,
  a.addToCartLink {
  margin: .25em;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
  } 



/* specific button styles */
  /* remove & update */
      
  input.button383,
  input.button154 {
  /*font-size: 1em;*/
  margin: 1px;
  }
  
  /* add to cart, view cart buttoms */
  
  .checkout {
  margin-bottom: 5px;
  }
  
  .checkout input {
  margin: .25em 0;
  vertical-align: middle;
  }


  input.add-img, input.viewcart-img {
  vertical-align: middle;
  margin: 0 .25em;
  }

/* END BUTTON STYLES */

/******************/
/***  Mini Cart ***/
/******************/

  
  div.MiniCart {
  background-color:  [-- VAR.activelink_color --];
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: [-- VAR.text_color --];
  }
  
  img.MiniCart {
  vertical-align: middle;
  }
  
  table.MiniCart {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 7pt;
  width: 99%;
  }
  
  th.MiniCart {
  font-weight: bold;
  text-align: center;
  }
  
  td.MiniCart {
  font-size: 9pt;
  }
  
  td.MiniCartHead {
  font-weight: bold;
  text-align: center;
  }
  
  td.MiniCartQty {
  text-align: center;
  border-bottom: 1px dotted [-- VAR.background_color --];
  }
  
  td.MiniCartProduct {
  text-align: left;
  border-bottom: 1px dotted [-- VAR.background_color --];
  }
  
  td.MiniCartPrice {
  text-align: right;
  border-bottom: 1px dotted [-- VAR.background_color --];
  }
  
  td.MiniCartSubtotalText {
  text-align: right;
  }
  
  td.MiniCartSubtotal {
  text-align: right;
  }

/* Error and warning message table styles - overrides sc_cart styles */

    table.ups_error, td.ups_error, td.checkout_err, table.inv_err, td.inv_err, table.checkout_err, table.thankyou_err, td.thankyou_err, table.cert_err, td.cert_err {
  background-color: #ffffcc;
  color: #000000;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  }

  table.ups_error, table.checkout_err, table.inv_err, table.thankyou_err, table.cert_err {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 0px;
  border-collapse: collapse;
  }

/* End Main CSS */
