<style type="text/css">
<!--
/*---------- Page Default ----------*/	
body 	{
	padding: 0px;
	margin: 0px;
	}
body, td, p, li, ul, a, div, span, input {
	font-family: arial;
	font-size: 9pt;
	}

/*---------- Global Links ---------*/
a, a:visited {
    color: #[-- VAR.LinkColor --];
  }
a:hover {
    color: #[-- VAR.VisitedLinkColor --];
  }

/*---------- Top Nav Bar ----------*/
 #headlinks {
	margin: 0px;
	padding: 0px;
	height: 24px;
	font-weight: bold;
[-- IF VAR.BackgroundImage --]
	background: url([-- VAR.BackgroundImage --]);
[-- ELSE --]
	background: #[-- VAR.BackgroundColor --];
[-- END_IF --]
	}

.inline, .navlinks {
	margin: 0px;
	padding: 0px;
	display: inline;
	list-style: none;
	}
	
 .navlinks a {
	margin: 0px;
	float: left;
	display: block;
	color: #[-- VAR.TextColor --];
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
	}
 .navlinks a:hover {
	color: #[-- VAR.TextColor --];
	background: #[-- VAR.VisitedLinkColor --];
	border-bottom: 1px solid #[-- VAR.VisitedLinkColor --];
	}

/*---------- Head Styles ----------*/			
 #header {
	margin: 0px;
  min-height: 70px;
  max-height: 200px;
  overflow: hidden;
	color: #[-- VAR.TextColor --];
	padding-left: 30px;
	background: #[-- VAR.BackgroundColor --];
	vertical-align: middle;
	}

.storename {
	font-size: 18pt;
	}

.main_table {
	border-collapse: collapse;
	border: 0px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	}

/*---------- Search Bar ----------*/
 #search {
	margin: 0px;
	height: 24px;
	padding: 1px;
	text-align: right;
	font-weight: bold;
	background: #[-- VAR.VisitedLinkColor --];
	}

/*---------- Right Side ----------*/
 #right {
	margin: 0px;
	padding: 0px;
	background: #[-- VAR.BackgroundColor --];
	border: 0px;
	width: 180px;
	vertical-align: top;
	}

 #righttext {
	background: #[-- VAR.VisitedLinkColor --];
	margin: 0px;
	padding: 7px;	
	font-size: 9pt;
	}

/*---------- Middle Text ----------*/
 #text {
	border: 0px;
	margin: 0px;
	padding: 5px;
	vertical-align: top;
	}
 #text_table {
	width: 100%;
	border: 0px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom 5px;
	}

.pagename {
	font-size: 14pt;
	font-stretch: wider;
	}

 #text1 {
	border: 1px solid #[-- VAR.LineColor --];
	background-color: #[-- VAR.ActiveLinkColor --];
	padding: 10px;
	}
 #text3 {
	margin: 0px;
	background: #[-- VAR.BackgroundColor --];
	padding: 10px;
	height: 80px;
	text-align: center;
	clear: both;
	}

 #text2 {
	}

.products {
	}

/*---------- Left Side ----------*/
 #leftnav {
	width: 180px;
	margin: 0px;
	padding: 0px;
	background: #[-- VAR.LinkColor --];
	vertical-align: top;
	height: 450px;
	}

 #lefttext {
	margin: 0px;
	padding: 7px;	
	color: #[-- VAR.BackgroundColor --];
	}

 #links	{
	margin: 0px;
	margin-bottom: 0px;
	padding: 0px;
	background: #[-- VAR.LinkColor --];	
	}

 #links li {
	list-style-type: none;
	margin-bottom: 0px;
	font-size: 8pt;
	color: #[-- VAR.BackgroundColor --];
	}

 #links li a {
	margin: 0px;
	}

 #links li a {
	display: block;
	color: #[-- VAR.BackgroundColor --];
	text-decoration: none;
	font-weight: bold;
	margin: 0px;
	padding: 2px 6px;
	border-bottom: 1px solid #[-- VAR.VisitedLinkColor --];
	border-top: 1px solid #[-- VAR.LinkColor --];
	}	


 #links li a:hover {
	color: #000000;
	background: #[-- VAR.ActiveLinkColor --];
	}

/*---------- Footer ----------*/
 #footer {
	margin: 0px;
	padding: 7px;
	clear: both;
	text-align: center;
	border-top: 3px solid [-- VAR.LineColor --];
	background-color: #[-- VAR.LinkColor --];
	color: #[-- VAR.BackgroundColor --];
	font-weight: bold;
	}

/*---------- Other ----------*/
h1.name {
	text-align: left;
	font-family: Arial Narrow,Arial MT Condensed Light,sans-serif;
	font-size: 20px;
	margin: 0px;
	padding-bottom: 5px;
	}
table.products a {
        text-decoration: none;
        color: #[-- VAR.LinkColor --];
        }

 #search_info {
	border: 1px solid #[-- VAR.VisitedLinkColor --];
	padding: 6px;
        }

div.header {
}

div.footer {
  padding-top: 1em;
  padding-bottom: 1em;
}

div#messages {
/*  margin-top: 10px; */
  vertical-align: middle;
}


/**********************************/
/***  Table of Products (Cart)  ***/
/**********************************/
table.cart {
  width: 100%;
  padding-top: 1em;
  border-collapse: separate;
  border-spacing: 3px;
}

th {
  text-align: center;
}

td.cart_delete, td.cart_cp_delete {
  padding: 3px;
  width: 50px;
  text-align: center; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_quantity, td.cart_cp_quantity {
  padding: 3px;
  width: 70px;
  text-align: center; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_name, td.cart_cp_name {
  padding: 3px;
  text-align: left; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_image, td.cart_cp_image {
  padding: 3px;
  text-align: center; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_sku, td.cart_cp_sku {
  padding: 3px;
  text-align: left; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_price, td.cart_cp_price {
  padding: 3px;
  font-style: italic;
  text-align: right; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_total, td.cart_cp_total {
  padding: 3px;
  text-align: right; 
  background-color: #[-- STORE.SC_ShadeColor --];
  white-space: nowrap;
}

td.cart_op {
  padding: 3px;
  text-align: left; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_op1, td.cart_op2 {
  padding: 3px;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_empty {
  padding: 3px;
  text-align:center;
  background-color: #[-- STORE.SC_shadecolor --];
}

select.cart {
  text-align: left;
}

textarea.cart {
  vertical-align: middle; 
}


/***************************************/
/***          Table of Totals        ***/
/***  Subtotal, Tax, Shipping, etc.  ***/
/***************************************/
table.totals {
  color: #[--STORE.SC_TextColor--];
  vertical-align: middle; 
  width: 100%;
  line-height: 150%;
}

td.totals_txt, td.totals_saved_txt, td_totals_blank {
  text-align: right;
  padding-right: 15px;
}

td.totals, td.totals_saved {
  text-align: right;
  padding-right: 3px;
}

td.totals_all, td.totals_all_txt {
  font-weight: bold;
}

/***********************/
/***  Payment Table  ***/
/***********************/
table.payment{
  color: #[-- STORE.SC_TextColor --];
}

table.pay_holder {
  margin-left: auto;
  margin-right: auto;
}

td.pay_holder_hdr {
  font-weight: bold;
}

td.payment_hdr {
  font-weight: bold;
  text-align: center;
}

td.paymentselection {
  text-align: center;
  padding-top: 1em;
}

td.payment {
  text-align: left;
}

td.payment_value {
  text-align: left;
}

table.sql_pay {
  margin-left: -4px;
  margin-right: auto;
}

td.sql_pay {
  padding-right: 15px;
  font-weight: bold;
}

td.new_payment_type {
  text-align: left;
}


/*******************************/
/***  Table of Registration  ***/
/*******************************/

table.reg {
  color: #[-- STORE.SC_TextColor --];
  vertical-align: middle; 
  border-spacing: 0;
  padding-bottom: 1em;
}

td.reg_wel {
  font-weight: bold;
}

td.reg {
  text-align: left;
}

td.reg_link {
  text-align: left;
}

td.coupon {
  padding-top: 1em;
}

td.buttons {
  text-align: center;
  padding-top: 1em;
}

/*** Enter postal code, select country ***/
table.zipncountry {
  text-align: left;
}

td.zipncountry {
  text-align: left;
}

td.zipncountry_text {
  text-align: left;
}

td.sql_addr_hdr {
  font-weight: bold;
}

td.sql_addr {
  padding-right: 15px;
}


/*** select shipping method, tax rate ***/
table.taxnship, table.surcharge { 
  text-align: right;
  padding-top: 1em;
}

td.taxnship_hdr {
  font-weight: bold;
  text-align: left;
}

td.taxnship {
  text-align: left;
}

ul#ship, ul#ship li {
  text-align: left;
}


/*** select surcharge ***/
table.surcharge { 
  text-align: right;
}


/*******************************/
/***  Ordering Instructions  ***/
/*******************************/
td.orderinginstructions {
  text-align: center;
  padding-top: 1em;
}

table.instruct {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #[--STORE.SC_TextColor--];
}

td.instruct_hdr {
  font-weight: bold;
}

/*****************/
/***  Buttons  ***/
/*****************/
#Apply Coupon
input.button152 { 
  color: #[--STORE.SC_TextColor--];
  cursor: pointer;
}

# Remove button
input.button154 { 
#  font-size: 8pt;
  color: #[--STORE.SC_TextColor--];
  cursor: pointer;
}

/*********************************/
/***  Table of Error Messages  ***/
/*********************************/

table.checkout_err, inv_err {
  margin-left: auto;
  margin-right: auto;
}

td.checkout_err, inv_err {
  color: #[-- STORE.SC_TextColor --];
  background-color: #[-- STORE.SC_shadecolor --];
}

table.ups_error {
  margin-left: auto;
  margin-right: auto;
}

td.ups_error {
  color: #[-- STORE.SC_TextColor --];
  background-color: #[-- STORE.SC_shadecolor --];
  vertical-align: middle;
}

/* Checkout Button Table */
table.checkout {
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td.checkout {
  padding: 5px;
  text-align: center;
}

table.google_button {
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table.google_button td {
  text-align: center;
}

/* ---------------- */
/* Cross-sell Stuff */
/* ---------------- */
td.gcs_table, td.pcs_table {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

table.gcs_table, table.pcs_table {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table.gcs_table caption, table.pcs_table caption {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

td.gcs_table_blank, td.pcs_table_blank {
}

td.gcs_table_content, td.pcs_table_content {
  width: 25%;
}

/* Cross-sell Contents */
table.gcs_product_table, table.pcs_product_table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

td.gcs_product_name, td.pcs_product_name {
  text-align: center;
  font-weight: bold;
}

td.gcs_product_image, td.pcs_product_image {
  text-align: center;
}

td.gcs_product_image img, td.pcs_product_image img {
  border: 0px none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td.gcs_product_price, td.pcs_product_price {
  text-align: center;
}

td.gcs_product_add_to_cart, td.pcs_product_add_to_cart {
  text-align: center;
}

td.gcs_product_add_to_cart a, td.pcs_product_add_to_cart a {
  font-weight: bold;
}

td.gcs_product_add_to_cart a:active, td.pcs_product_add_to_cart a:active {
}

td.gcs_product_add_to_cart img, td.pcs_product_add_to_cart img {
  border: 0px none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*********************************/
/***     Gift Certificate      ***/
/*********************************/

div.cert {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

form.gift_certificate {
}


div.instructions, div.policy {
  padding-top: 1em;
}

table.cert_num_amount {
  padding-top: 1em;
}

td.cert_num_amount{
}

select.cert_num_amount {
}


table.giftcert_type {
  padding-top: 1em;
}

td.giftcert_type {
  padding-top: 0px;
}


table.cert_to_from_msg {
  padding-top: 1em;
}

td.cert_to_from_msg {
}

td.cert_to_from_msg_val {
}

div.buttons {
  text-align: center;
  padding-top: 1em;
}

/* Promotions Stuff */
  #promotions {
    width: 98%;
    border: 2px dashed #[-- VAR.ActiveLinkColor --];
    margin: 1.5em auto;
    padding: 4px;
  }
  
  td.gcs_table, td.pcs_table {
    padding:5px;
  }
  
  table.gcs_table, table.pcs_table {
    border: 2px solid #[-- VAR.VisitedLinkColor --];
  }
  
  caption {
    padding-bottom: 3px;
  }

-->
</style>
