
/*************************************/
/*** Product and Subproduct Layout ***/
/*************************************/
table.Products {
  border: 0pt;
  text-align: center;
  margin: 3pt;
}

table.Product {
  border: 0pt;
  text-align: left;
}

td.ProductGraphicLeft {
  border: 0pt;
  text-align: left;
}

td.ProductText {
  border: 0pt;
  text-align: left;
}

td.ProductGraphicRight {
  text-align: right;
}

span.ProductName {
  margin-bottom: 4px;
  display: inline;
}

span.ProductDescription {
  margin-bottom: 4px;
  display: block;
}

span.ProductPriceContainer {
  display: block;
}

span.VariableProductPrice, span.VariableProductSKU, span.VariableProductName {
  display: block;
  margin-top: 4px;
}

div.Subproduct {
  margin-bottom: 4px;
}

span.SubproductName {
  margin-right: 4px;
  font-weight: bold;
/*  display: inline; */
}

span.SubproductPriceContainer {
  display: inline;
}

span.ProductPrice, span.SubproductPrice {
  display: inline;
}

span.ProductAltPrice, span.ProductAltPrice {
  display: inline;
}

span.ProductSalePriceContainer, span.SubproductSalePriceContainer {
  display: inline;
}

span.ProductSaleRegularPrice, span.SubproductSaleRegularPrice {
  display: inline;
  text-decoration: line-through;
}

span.ProductSaleAmount, span.SubproductSaleAmount {
  display: inline;
}

span.ProductAltSalePriceContainer {
  display: block;
}

span.SubproductAltSalePriceContainer {
  display: inline;
  margin-left: 10px;
}

span.ProductAltSaleRegularPrice, span.SubproductAltSaleRegularPrice {
  display: inline;
  text-decoration: line-through;
}

span.ProductAltSaleAmount, span.SubproductAltSaleAmount {
  display: inline;
}

span.OnSaleText {
  color: red;
  font-weight: bold;
}

span.ProductSKU {
  margin-left: 0px;
  display: block;
}

table.qp_header {
}

/**************************/
/*** Add to Cart Button ***/
/**************************/
div.AddToCartButton {
  margin-top: 6px;
}

input.add { 
  font-size: 9pt;
  color: [-- VAR.LinkColor --];
  background-color: [-- VAR.BackgroundColor --];
  border-width: 0px;
  border-style: none;
  vertical-align: middle;
  text-decoration: underline;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
}

