<style type="text/css">
<!--
/*********************************************************/
/***  Cascading Style Sheet for ShopSite Rounded Theme ***/
/*********************************************************/

/***********************/
/***  Page Defaults  ***/
/***********************/
body, p, h1, h2, h3, td, div, ol, ul, dl, input {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
  color: [-- VAR.TextColor --];
  background-color: [-- VAR.BackgroundColor --];
  font-size: 9pt;
}

td {
  font-size: 9pt;
}

[-- IF MiniCart --]
  [-- INCLUDE Rounded-MiniCart.css PROCESS --]
[-- END_IF --]

/********************/
/***  Page Links  ***/
/********************/
table.pagelink {
  border-width: 0;
  text-align: left;
}

td.pagelink {
  color: [-- VAR.PageLinkColor --];
  text-align: left;
  margin: 0px;
}

a.pagelink:link { 
  text-decoration: underline;
  color: [-- VAR.PageLinkColor --];
}
a.pagelink:visited { 
  text-decoration: underline;
  color: [-- VAR.PageLinkColor --];
}
a.pagelink:hover { 
  text-decoration: underline;
  color: [-- VAR.PageLinkHoverColor --];
}
a.pagelink:active { 
  text-decoration: underline;
  color: [-- VAR.ActiveLinkColor --];
}

/********************************/
/***  Gift Certificate Links  ***/
/********************************/
a.giftcertlink:link, a.tf_popup:link { 
  text-decoration: underline;
  color: [-- VAR.PageLinkColor --];
}
a.giftcertlink:visited, a.tf_popup:visited { 
  text-decoration: underline;
  color: [-- VAR.PageLinkColor --];
}
a.giftcertlink:hover, a.tf_popup:hover { 
  text-decoration: underline;
  color: [-- VAR.PageLinkHoverColor --];
}
a.giftcertlink:active, a.tf_popup:active { 
  text-decoration: underline;
  color: [-- VAR.ActiveLinkColor --];
}

/*************************/
/***  View Cart Links  ***/
/*************************/
a.viewcart:link { 
  text-decoration: underline;
  color: [-- VAR.PageLinkColor --];
}
a.viewcart:visited { 
  text-decoration: underline;
  color: [-- VAR.PageLinkColor --];
}
a.viewcart:hover { 
  text-decoration: underline;
  color: [-- VAR.PageLinkHoverColor --];
}
a.viewcart:active { 
  text-decoration: underline;
  color: [-- VAR.ActiveLinkColor --];
}

[-- IF PAGE.NumProducts 0 --]
# skip this section
[-- ELSE --]
/*******************/
/***  Products   ***/
/*******************/
[-- INCLUDE Product.css PROCESS --]
[-- END_IF --]

/***********************/
/***  Product Links  ***/
/***********************/
a:link { 
  color: [-- VAR.LinkColor --];
}
a:visited { 
  color: [-- VAR.VisitedLinkColor --];
}
a:hover { 
  color: [-- VAR.HoverColor --];
}
a:active { 
  color: [-- VAR.ActiveLinkColor --];
}


/***********************/
/***  Headings       ***/
/***********************/
h1 {
  font-size: 16pt;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: [-- VAR.H1color --];
}

h2 {
  font-size: 14pt;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-size: 12pt;
  margin-top: 0px;
  margin-bottom: 0px;
}

/**************/
/*** Search ***/
/**************/
td.search {
  color: [-- VAR.PageLinkColor --];
  text-align: left;
  padding-top: 20px;
}

input.search {
  font-size: 9pt;
  width: 120px;
}


/**************/
/*** Header ***/
/**************/
div.header {
  text-align: center;
}

/**************/
/*** Footer ***/
/**************/
div.footer {
  text-align: center;
  margin-top: 10px;
}

/*****************************/
/*** Multi Page Navigation ***/
/*****************************/
span.currentpage, span.prevnext {
  padding-left: 1pt;
  padding-right: 1pt;
}

/*************************/
/***  Font Formatting  ***/
/*************************/
small, Small {
  font-size: smaller;
}

Big {
  font-size: larger;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

tt {
  font-family: monospace;
}
-->
</style>

[-- IF VAR.AddButtonGraphic --]
#do nothing
[-- ELSE --]
<!--[if!IE]> 
<style type="text/css">
/* underline for non-IE browsers */
input.add {
  border-bottom:1px solid [-- VAR.LinkColor --];
}
input.add:hover {
  color: [-- VAR.HoverColor --];
  border-bottom:1px solid [-- VAR.HoverColor --];
}
</style>
<![endif]--> 
[-- END_IF --]



