<style type="text/css">
<!--
/***********************/
/***  Page Defaults  ***/
/***********************/
body {
  color: #[-- STORE.SC_TextColor --];
  background-color: #[-- STORE.SC_BackgroundColor --];
}

/***********************/
/***  Hyperlinks     ***/
/***********************/
a:link { 
  color: #[-- STORE.SC_LinkColor --];
}
a:visited { 
  color: #[-- STORE.SC_VisitedLinkColor --];
}
a:hover { 
  color: #[-- STORE.SC_LinkColor --];
}
a:active { 
  color: #[-- STORE.SC_ActiveLinkColor --];
}


table.cart {
  color: #[--STORE.SC_TextColor--];
  vertical-align: middle; 
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

th {
  text-align: center;
}

td.cart_quantity, td.cart_cp_quantity {
  text-align: center; 
  padding-left: 4px;
  padding-right: 4px;
  white-space: nowrap;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_name, td.cart_cp_name {
  text-align: left; 
  white-space: nowrap;
  padding-left: 4px;
  padding-right: 10px;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_image, td.cart_cp_image {
  text-align: center; 
  white-space: nowrap;
  padding-left: 4px;
  padding-right: 10px;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_sku, td.cart_cp_sku {
  text-align: left; 
  white-space: nowrap;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_price, td.cart_cp_price {
  font-style: italic;
  text-align: right; 
  padding-left: 10px;
  padding-right: 4px;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_total, td.cart_cp_total {
  text-align: right; 
  padding-left: 10px;
  padding-right: 4px;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_op {
  text-align: left; 
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_op1, td.cart_op2 {
  background-color: #[-- STORE.SC_ShadeColor --];
}

table.totals {
  color: #[-- STORE.SC_TextColor --];
  vertical-align: middle; 
  width: 100%;
  line-height: 150%;
}

td.totals_txt, td.totals_saved_txt, td_totals_blank {
  text-align: right;
  padding-right: 15px;
}

td.totals, td.totals_saved {
  text-align: right;
}

td.totals_all, td.totals_all_txt {
  font-weight: bold;
}

table.payment{
  color: #[-- STORE.SC_TextColor --];
  margin-left: auto;
  margin-right: auto;
}

td.payment_hdr {
  font-weight: bold;
  text-align: center;
}

td.payment {
  text-align:left;
}

td.payment_value {
  text-align:left;
}

/**********************************/
/***  Ordering Instructions Table  ***/
/**********************************/
table.instruct {
  padding-bottom: .5em;
}

td.instruct_hdr {
  font-weight: bold;
  text-align: center
}

/**********************************/
/***  Comments/More Info Table  ***/
/**********************************/
table.comm {
  padding-bottom: .5em;
}

td.comm_hdr {
  font-weight: bold;
  text-align: center
}

table.CustomHTML {
  text-align: center;
  padding-bottom: .5em;
}

td.email {
  text-align: center;
  padding-bottom: .5em;
}

/***********************/
/***  Address Table  ***/
/***********************/
table.addr { /* outer table that contains both billing and shipping addresses */
  color: #[-- STORE.SC_TextColor --];
}

table.bill_addr, table.ship_addr {   /* inner table for billing and shipping address */
  margin-left: 0px;
  margin-right: auto;
  padding: 10px;
}

table.addr_name { /* table of registered name elements */
  margin-left: -4px;
  margin-right: auto;
}

td.bill_addr_hdr, td.ship_addr_hdr {
  font-weight: bold;
  text-align: left;
}

td.addr {
  text-align: right;
  padding-right: 5px;
}

td.addr_val {
  text-align: left;
}

p.buttons {
  text-align: center;
  padding-top: 1em;
}

div.header {
}

div.footer {
  padding-top: 1em;
  padding-bottom: 1em;
}

-->
</style>


