<style type="text/css">
<!--
/**************************************************************************/
/***  Cascading Style Sheet for ShopSite Sidebar More Info Pages ***/
/**************************************************************************/

/***********************/
/***  Page Defaults  ***/
/***********************/
body, p, h1, h2, h3, td, div, ol, ul, dl, input {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
  color: [-- VAR.TextColor --];
  background-color: #[-- MORE_INFO.BackgroundColor --];
  font-size: 9pt;
  margin: 0px;
}

[-- INCLUDE Product-MoreInfo.css PROCESS --]

[-- IF MiniCart --]
  [-- INCLUDE Sidebar-MiniCart.css PROCESS --]
[-- END_IF --]

/***********************/
/***  Hyperlinks     ***/
/***********************/
a:link {
  color: [-- VAR.LinkColor --];
}
a:visited {
  color: [-- VAR.VisitedLinkColor --];
}
a:hover {
  color: [-- VAR.HoverColor --];
}
a:active {
  color: [-- VAR.ActiveLinkColor --];
}

a.pagelink:link {
  text-decoration: underline;
  color: [-- VAR.PageLinkColor--];
}
a.pagelink:visited {
  text-decoration: underline;
  color: [-- VAR.PageLinkColor --];
}
a.pagelink:hover {
  text-decoration: underline;
  color: [-- VAR.PageLinkHoverColor --];
}
a.pagelink:active {
  text-decoration: underline;
  color: [-- VAR.ActiveLinkColor --];
}

a.viewcart:link {
  text-decoration: underline;
  color: [-- VAR.PageLinkColor--];
}
a.viewcart:visited {
  text-decoration: underline;
  color: [-- VAR.PageLinkColor--];
}
a.viewcart:hover {
  text-decoration: underline;
  color: [-- VAR.PageLinkHoverColor --];
}
a.viewcart:active {
  text-decoration: underline;
  color: [-- VAR.ActiveLinkColor --];
}


/***********************/
/***  Headings       ***/
/***********************/
h1 {
  font-size: 16pt;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 14pt;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-size: 12pt;
  margin-top: 0px;
  margin-bottom: 0px;
}


/************************/
/*** Tables and Cells ***/
/************************/
table.pagelink {
  border-width: 0;
  text-align: left;
}

td {
  font-size: 9pt;
}

td.pagelink {
  color: [-- VAR.PageLinkColor --];
  text-align: left;
  margin: 0px;
}

td.search {
  color: [-- VAR.PageLinkColor --];
  text-align: left;
  margin-top: 50px;
}

td.header {
  text-align: center;
}

td.footer {
  text-align: center;
  margin-top: 10px;
}


/************************/
/*** Forms and Fields ***/
/************************/
input.search {
  font-size: 9pt;
  width: 120px;
}

/*************************/
/***  Font Formatting  ***/
/*************************/
small, Small {
  font-size: smaller;
}

Big {
  font-size: larger;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

tt {
  font-family: monospace;
}
-->
</style>

[-- IF VAR.AddButtonGraphic --]
#do nothing
[-- ELSE --]
<!--[if!IE]> 
<style type="text/css">
/* underline for non-IE browsers */
input.add {
  border-bottom:1px solid [-- VAR.LinkColor --];
}
input.add:hover {
  color: [-- VAR.HoverColor --];
  border-bottom:1px solid [-- VAR.HoverColor --];
}
</style>
<![endif]--> 
[-- END_IF --]

