#/* Tabbed shopping cart style sheet */

#/* Shopping Cart Style Variables */
/* Start SC Vars

[-- IF  STORE.SC_BackgroundImage --]
  [-- VAR.sc_background_image STORE.SC_BackgroundImage --]
[-- ELSE --]
  [-- VAR.sc_background_image "about:blank" --]
[-- END_IF --]

  # Color Bar Colors
[-- IF STORE.SC_ActiveLinkColor "990000" --]
    # Burgundy
  [-- VAR.color_bar_text_color "FFCC66" --]
  [-- VAR.color_bar_bg_color "9C0000" --]
  [-- VAR.cart_content_text_color "333333" --]
  [-- VAR.cart_content_bg_color "DDDDCC" --]
[-- ELSE_IF STORE.SC_ActiveLinkColor "FFCC33" --]
    # Gold
  [-- VAR.color_bar_text_color "000000" --]
  [-- VAR.color_bar_bg_color "FAD862" --]
  [-- VAR.cart_content_text_color "FDFD77" --]
  [-- VAR.cart_content_bg_color "000000" --]
[-- ELSE_IF STORE.SC_ActiveLinkColor "666666" --]
    # Gray
  [-- VAR.color_bar_text_color "FFFFFF" --]
  [-- VAR.color_bar_bg_color "666666" --]
  [-- VAR.cart_content_text_color "000000" --]
  [-- VAR.cart_content_bg_color "CCCCCC" --]
[-- ELSE_IF STORE.SC_ActiveLinkColor "006600" --]
    # Green
  [-- VAR.color_bar_text_color "FFFFFF" --]
  [-- VAR.color_bar_bg_color "006600" --]
  [-- VAR.cart_content_text_color "000000" --]
  [-- VAR.cart_content_bg_color "FEFECC" --]
[-- ELSE_IF STORE.SC_ActiveLinkColor "FF6600" --]
    # Orange
  [-- VAR.color_bar_text_color "000000" --]
  [-- VAR.color_bar_bg_color "FF6600" --]
  [-- VAR.cart_content_text_color "FFFFFF" --]
  [-- VAR.cart_content_bg_color "660000" --]
[-- ELSE_IF STORE.SC_ActiveLinkColor "6600CC" --]
    # Purple
  [-- VAR.color_bar_text_color "FFFFFF" --]
  [-- VAR.color_bar_bg_color "6600CC" --]
  [-- VAR.cart_content_text_color "FFFFFF" --]
  [-- VAR.cart_content_bg_color "9966FE" --]
[-- ELSE_IF STORE.SC_ActiveLinkColor "CC3333" --]
    # Red
  [-- VAR.color_bar_text_color "F3C500" --]
  [-- VAR.color_bar_bg_color "B51515" --]
  [-- VAR.cart_content_text_color "F3C500" --]
  [-- VAR.cart_content_bg_color "323232" --]
[-- ELSE --]
    # Blue
  [-- VAR.color_bar_text_color "FFFFFF" --]
  [-- VAR.color_bar_bg_color "0000FF" --]
  [-- VAR.cart_content_text_color "000000" --]
  [-- VAR.cart_content_bg_color "99CCFF" --]
[-- END_IF --]


End SC Vars */  

/* ************* */
/* Global Styles */
/* ************* */
body {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
  margin: 0px;
  color: #[-- STORE.SC_TextColor --];
  background-color:  #[-- STORE.SC_BackgroundColor --];
  background-image: url([-- VAR.sc_background_image --]);
  text-align: center;
}

div {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
  margin: 0px;
  color: #[-- STORE.SC_TextColor --];
  background-color:  transparent;
}

table {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
  color: #[-- STORE.SC_TextColor --];
  background-color:  transparent;
}

th {
  text-align: center;
}

td {
  text-align: left;
}

/* Image Styles */
img {
  border: 0px none;
}

/* Anchor Styles */
a {
  color: #[-- STORE.SC_LinkColor --];
  background-color: transparent;
}

a:active {
  color: #[-- STORE.SC_ActiveLinkColor --];
  background-color: transparent;
}

a:hover {
  color: #[-- STORE.SC_ActiveLinkColor --];
  background-color: transparent;
}

a:visited {
  color: #[-- STORE.SC_VisitedLinkColor --];
  background-color: transparent;
}

/* Form Styles */
textarea {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
}

select {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
}

option {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
}

input {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
}

/* Special Input Types.  Not Supported by IE */
input[type=text], input[type=password] {
  text-align: left;
}

input[type=image], input[type=button], input[type=submit], input[type=reset] {
  border: 0px none;
  cursor: pointer;
}

input[type=radio], input[type=checkbox] {
}

/* ******************** */
/* Shopping Cart Styles */
/* ******************** */

table.header {
  width: 100%;
  text-align: center;
}

td.sc_messages {
  text-align: center;
}

table.sc_content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

td.container {
  text-align: center;
}

div.footer {
}

/* Messages */
table.ups_error, table.checkout_err, table.inv_err {
  width: 50%;
  max-width: 80%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

td.ups_error, td.checkout_err, td.inv_err {
#  /* Warning messages color override.  Uncomment the following lines to use
#  the theme colors for warning messages instead of default creme/yellow color: */
#  color: #[-- VAR.color_bar_text_color --];
#  background-color: #[-- VAR.color_bar_bg_color --];
  font-weight: bold;
  font-size: 12pt;
}

/* The Color Bar */
table.color_bar {
  color: #[-- VAR.color_bar_text_color --];
  background-color: #[-- VAR.color_bar_bg_color --];
  width: 100%;
  height: 24px;
}

tr.color_bar {
}

td.color_bar {
  color: #[-- VAR.color_bar_text_color --];
  background-color: #[-- VAR.color_bar_bg_color --];
  text-align: center;
  font-weight: bold;
}

/* Customer Registration */
table.reg {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

td.reg_wel {
  text-align: center;
  font-weight: bold;
}

td.reg {
  text-align: right;
}

td.reg_link {
  text=align: left;
}

/* Reward Program */

table.program_reward_order {
  width: 50%;
  max-width: 80%;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

th.program_reward_order {
  color: #[-- VAR.color_bar_text_color --];
  background-color: #[-- VAR.color_bar_bg_color --];
}

td.program_reward_order {
  color: #[-- VAR.cart_content_text_color --];
  background-color: #[-- VAR.cart_content_bg_color --];
  text-align: center;
}

a.program_reward_order {
  color: #[-- VAR.cart_content_text_color --];
  background-color: transparent;
}

/* Shopping Cart Contents */
table.cart {
  width: 100%;
  padding-top: 1em;
  border-collapse: collapse;
  border-spacing: 0px;
  border-bottom: 4px solid #[-- VAR.color_bar_bg_color --];
}

th.cart_delete, th.cart_quantity, th.cart_name, th.cart_sku, th.cart_image {
  color: #[-- VAR.color_bar_text_color --];
  background-color: #[-- VAR.color_bar_bg_color --];
}

th.cart_price, th.cart_total {
  color: #[-- VAR.color_bar_text_color --];
  background-color: #[-- VAR.color_bar_bg_color --];
  text-align: right;
  padding-right: 5px;
}

td.cart_delete, td.cart_quantity, td.cart_name, td.cart_sku, td.cart_image {
  color: #[-- VAR.cart_content_text_color --];
  background-color: #[-- VAR.cart_content_bg_color --];
  text-align: center;
  border-top: 2px solid #[-- VAR.color_bar_bg_color --];
}

td.cart_price, td.cart_total {
  color: #[-- VAR.cart_content_text_color --];
  background-color: #[-- VAR.cart_content_bg_color --];
  text-align: right;
  padding-right: 5px;
  border-top: 2px solid #[-- VAR.color_bar_bg_color --];
}

td.cart_cp_delete, td.cart_cp_quantity, td.cart_cp_name, td.cart_cp_sku, td.cart_cp_image {
  color: #[-- VAR.cart_content_text_color --];
  background-color: #[-- VAR.cart_content_bg_color --];
  text-align: center;
  border-top: 2px solid #[-- VAR.color_bar_bg_color --];
}

td.cart_cp_price, td.cart_cp_total {
  color: #[-- VAR.cart_content_text_color --];
  background-color: #[-- VAR.cart_content_bg_color --];
  text-align: right;
  padding-right: 5px;
  border-top: 2px solid #[-- VAR.color_bar_bg_color --];
}

td.cart_op1, td.cart_op2 {
  color: #[-- VAR.cart_content_text_color --];
  background-color: #[-- VAR.cart_content_bg_color --];
}

td.cart_op {
  color: #[-- VAR.cart_content_text_color --];
  background-color: #[-- VAR.cart_content_bg_color --];
  text-align: center;
}

td.giftcert {
  color: #[-- VAR.cart_content_text_color --];
  background-color: #[-- VAR.cart_content_bg_color --];
  text-align: left;
}

a.cart_name {
  color: #[-- VAR.cart_content_text_color --];
  background-color: transparent;
}

/* Totals Table */
table.sc_totals {
  width: 100%;
  text-align: right;
}

td.sc_totals {
  text-align: right;
}

table.totals {
  border-collapse: collapse;
  border-spacing: 0px;
  border-bottom: 4px solid #[-- VAR.color_bar_bg_color --];
  text-align: right;
  margin-left: auto;
  margin-right: 0px;
}

td.totals_txt, td.totals_all_txt, td.totals_saved_txt {
  color: #[-- VAR.color_bar_text_color --];
  background-color: #[-- VAR.color_bar_bg_color --];
  text-align: right;
  padding-right: 15px;
  border-top: 2px solid #[-- VAR.color_bar_bg_color --];
}

td.totals, td.totals_all, td.totals_saved {
  color: #[-- VAR.cart_content_text_color --];
  background-color: #[-- VAR.cart_content_bg_color --];
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
  border-top: 2px solid #[-- VAR.color_bar_bg_color --];
}

td.totals_all_txt, td.totals_all {
  font-weight: bold;
}

td.totals_blank {
  color: #[-- VAR.color_bar_text_color --];
  background-color: #[-- VAR.color_bar_bg_color --];
}

/* Surcharge, Tax, and Shipping */
table.tax_ship {
  line-height: 150%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
}

td.tax_ship {
  text-align: center;
}

table.taxnship, table.surcharge {
  width: 100%;
  text-align: center;
}

td.taxnship_hdr {
}

td.taxnship, td.surcharge {
  text-align: center;
}

ul#ship, ul#ship li {
  text-align: left;
}

/* Recalculate Button */
span.small {
  font-style: italic;
  font-size: 8pt;
}

/* Order Instructions, Coupons, and Gift Certificates */
table.coupon, table.gift_cert, table.instruct, table.comm {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td.gift_cert_instruct, td.instruct_hdr, td.comm_hdr {
  text-align: center;
}

td.coupon_txt, td.gift_cert_txt {
  text-align: center;
}

td.coupon, td.instruct, td.comm {
  padding-right: 10px;
  padding-left: 10px;
}

td.coupon_button, td.gift_cert_button {
  text-align: center;
}

/* Shipping and Billing Addresses and Payment */
table.addr, table.payment, table.sec_image {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


table.bill_addr, table.ship_addr {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

td.bill_addr_hdr, td.ship_addr_hdr, td.addr_foot, td.payment_hdr, td.sec_image {
  text-align: center;
  font-weight: bold;
}

td.addr, td.payment {
  text-align: right;
}

td.addr_val, td.payment_value {
  text-align: left;
}

/* Stored Customer Address and Payment */
table.sql_addr, table.selectzipncountry, table.pay_holder, table.sql_pay {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td.sql_addr_hdr, td.zipncountry_hdr, td.pay_holder_hdr {
  text-align: center;
  font-weight: bold;
}

td.sql_addr_select, td.zipncountryradio, td.sql_pay_select {
  text-align: right;
}

td.sql_addr, td.zipncountry_txt1, td.sql_pay {
  text-align: left;
}

/* Checkout Button Table */
table.checkout {
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td.checkout {
  padding: 5px;
  text-align: center;
}

table.google_button {
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table.google_button td {
  text-align: center;
}

/* ---------------- */
/* Cross-sell Stuff */
/* ---------------- */
td.gcs_table, td.pcs_table {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

table.gcs_table, table.pcs_table {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-bottom: 5px solid #[-- VAR.color_bar_bg_color --];
}

table.gcs_table caption, table.pcs_table caption {
  width: 100%;
  text-align: center;
  font-weight: bold;
  background-color: #[-- VAR.color_bar_bg_color --];
  color: #[-- VAR.color_bar_text_color --];
}

td.gcs_table_blank, td.pcs_table_blank {
  border: 1px solid #[-- VAR.cart_content_bg_color --];
  background-color: #[-- VAR.cart_content_bg_color --];
}

td.gcs_table_content, td.pcs_table_content {
  border: 1px solid #[-- VAR.color_bar_bg_color --];
  background-color: #[-- VAR.color_bar_text_color --];
  color: #[-- VAR.color_bar_bg_color --];
  width: 25%;
}

/* Cross-sell Contents */
table.gcs_product_table, table.pcs_product_table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

td.gcs_product_name, td.pcs_product_name {
  text-align: center;
  font-weight: bold;
}

td.gcs_product_image, td.pcs_product_image {
  text-align: center;
}

td.gcs_product_image img, td.pcs_product_image img {
  border: 0px none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td.gcs_product_price, td.pcs_product_price {
  text-align: center;
}

td.gcs_product_add_to_cart, td.pcs_product_add_to_cart {
  text-align: center;
}

td.gcs_product_add_to_cart a, td.pcs_product_add_to_cart a {
  color: #[-- VAR.color_bar_bg_color --];
  font-weight: bold;
}

td.gcs_product_add_to_cart a:active, td.pcs_product_add_to_cart a:active {
  color: #[-- VAR.cart_content_bg_color --];
}

td.gcs_product_add_to_cart img, td.pcs_product_add_to_cart img {
  border: 0px none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td.sc_secure_image {
  text-align: center;
}
