/***************************/
/***  Table of Products  ***/
/***************************/
div.cart {
  text-align: center;
}

table.cart {
  font-size: medium;
  color: #[--STORE.SC_TextColor--];
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: #[--STORE.SC_BackgroundColor--];
}

th.cart_delete {
}

th.cart_quantity {
}

th.cart_name {
}

th.cart_sku {
}

th.cart_price {
}

th.cart_total {
}

td.cart_delete, td.cart_cp_delete {
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  white-space: nowrap;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_quantity, td.cart_cp_quantity {
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  white-space: nowrap;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_name {
  width: 150px;
  text-align: left;
  white-space: nowrap;
  padding-left: 4px;
  padding-right: 10px;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_sku {
  text-align: left;
  white-space: nowrap;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_price {
  font-style: italic;
  text-align: right;
  padding-left: 24px;
  padding-right: 4px;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_total {
  text-align: right;
  padding-left: 14px;
  padding-right: 4px;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_cp_delete {
  text-align: left;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_cp_quantity {
}

td.cart_cp_name {
  text-align: left;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_cp_sku {
  text-align: center;
  background-color: #[-- STORE.SC_ShadeColor --];
  border-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_cp_total, td.cart_cp_price {
  text-align: right;
  width: 110;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_op {
  text-align: left;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_op1, td.cart_op2 {
  background-color: #[-- STORE.SC_ShadeColor --];
}

/* Delete Item Button */
input.button154 {
  color: #[--STORE.SC_TextColor--];
  cursor: pointer;
  border-width: 2px;
}


