/*******************************/
/***  Table of Registration  ***/
/*******************************/

table.reg {
  color: [-- STORE.SC_TextColor --];
  background-color: [-- STORE.SC_BackgroundColor --];
  vertical-align: middle;
  border-spacing: 0;
}

td.registration {
}

td.reg_wel {
  font-weight: bold;
}

td.reg {
  text-align: left;
}

td.reg_link {
  text-align: left;
}

/*  ????  */
td.reg_txt,td.reg_links {
}


