@charset "utf-8";
/* CSS Document */
 .tableheader{
 border-bottom:1px solid #000000;
 font-family:Arial, Helvetica, sans-serif; 
 font-size:12; 
 font-weight:bold;
 background-color:#F2F2F2;
 padding:5px;
 }
.tablebody{
 border-bottom:1px solid #000000;
 font-family:Arial, Helvetica, sans-serif; 
 font-size:10; 
 font-weight:normal;
  }
.reporttbl{
 border-right:1px solid #000000;
 border-bottom:1px solid #000000;
 border-left:1px solid #000000;
 border-top:1px solid #000000; 
 margin-top:10px;"
}