/* Globally */
body {
	background: #fff;
	margin: 0px;
	padding: 0px;
	font-family: verdana, arial, helvetica, sans-serif; 
	font-size: xx-small;
	color: #000;
}

/* navigation links */
div#leftmenu { 
font-family: verdana, arial, helvetica, sans-serif;
font-size: xx-small; 
width: 160px;
height: 23px;
} 
div#leftmenu submenu{ 
font-family: verdana, arial, helvetica, sans-serif;
font-weight: bold;
font-size: xx-small; 
width: 160px;
height: 23px;
} 
div#leftmenu a { 
background-color: ;
color: #fff; 
text-decoration: none; 
padding-left: 2px;
padding-right: 2px;
padding-top: 2px; 
padding-bottom: 2px; 
display: block;
border-top: ; 
border-bottom: ;  
} 
div#leftmenu a:hover { 
background-color: #326ccc; 
color: #fff; 
border-top: ; 
border-bottom: ; 
}

/* regular links */
a:link {color: #0d3a99;	background: transparent;}
a:visited {color: #030082; background: transparent;}
a:hover {color: #2e5ab4; background: transparent;}

/* selected product list menu */
a.menu:link {color: #c00;	background: transparent; text-decoration: none;}
a.menu:visited {color: #c00; background: transparent; text-decoration: none;}
a.menu:hover {color: #c00; background: transparent; text-decoration: underline;}	

/* alternate set for navigation text links with no decoration except for rollover */
a.nav:link {color: #fff;	background: transparent; text-decoration: none;}
a.nav:visited {color: #fff; background: transparent; text-decoration: none;}
a.nav:hover {color: #9cf; background: transparent; text-decoration: underline;}	

/* white text links */
a.topnav:link {color: #fff;	background: transparent; font-family: verdana, arial, helvetica, sans-serif; font-size: xx-small;}
a.topnav:visited {color: #fff; background: transparent; font-family: verdana, arial, helvetica, sans-serif; font-size: xx-small;}
a.topnav:hover {color: #9cf;	background: transparent; font-family: verdana, arial, helvetica, sans-serif; font-size: xx-small;}

/* white text links */
a.latestnews:link {color: #9cf;	background: transparent;}
a.latestnews:visited {color: #9cf; background: transparent;}
a.latestnews:hover {color: #fff;	background: transparent;}

/* product titles text(s); page subtitles */
.title {
	font-family: arial, helvetica, sans-serif;
	font-size: x-small;
	color: #333;
}

/* body text(s) */
/*.bodytext {
	font-family: arial, helvetica, sans-serif;
	font-size: x-small;
	color: #000;
}
*/

.bodytext {
	font-family:Arial,Verdana, Helvetica, sans-serif;
	font-size:10px;
	color: #000000;
	text-align:leftl;
	
	}
	
	
.topsubmenu{
padding-top:5px;
}

.body-table{
padding-left:50px;
}


.bodytext-selected {
	font-family: arial, helvetica, sans-serif;
	font-size: x-small;
	color: #c00;
}

.product {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: xx-small;
	color: #333;
}

/* main copy size */
.small {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: xx-small;
}
.small-alt{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: xx-small;
	color: #fff;
}

/* table cell classes */
.stripe-one {background-color: #666;}
.stripe-two {background-color: #999;}
.stripe-three {background-color: #326ccc;}
.stripe-four {background-color: #fff;}
.stripe-five {background-color: #efefef;}
.stripe-six {background-color: #ffc;}

/*outline around the product titles */
.outline{
	border-style: solid;
	border-width: 1px;
	border-color: #666;}
.bodytext-alt {  font-family: Arial, Helvetica, sans-serif; font-size: x-small; color:#FFFFFF;}

.product_desc{
width:200px; height:100px; overflow-y:auto;
	border-bottom: 0px solid #666666;
	border-left:0px solid #666666;
	border-top:0px solid #666666;
	border-right:0px solid #666666;
	SCROLLBAR-FACE-COLOR: #666666 ; 
	scrollbar-base-color: #666666;
	SCROLLBAR-HIGHLIGHT-COLOR: #666666; 
	SCROLLBAR-SHADOW-COLOR: #666666; 
	SCROLLBAR-3DLIGHT-COLOR: #000000; 
	SCROLLBAR-ARROW-COLOR: #666666; 
	SCROLLBAR-TRACK-COLOR: #000000; 
	SCROLLBAR-DARKSHADOW-COLOR: #000000;
}
.Details_text{font-size: 10pt;text-align:justify; line-height:16px; color:#808080;}


.glossymenu, .glossymenu li ul{ 
list-style-type: none; 
margin: 0; 
padding-left: 0px; 
width: 150px; /*WIDTH OF MAIN MENU ITEMS*/ 
border: 0px solid black; 
} 
.glossymenu li{ 
position: relative; 
} 
.glossymenu li ul{ /*SUB MENU STYLE*/ 
position: absolute; 
width: 230px; /*WIDTH OF SUB MENU ITEMS*/ 
left: 0; 
top: 0; 
display: none; 
filter:alpha(opacity=100); 
-moz-opacity:1; 
background:url(http://temp1.knivis.net/images/navimage.jpg); 
} 
.glossymenu li a{ 
background:url(http://temp1.knivis.net/images/navimage.jpg); 
font: 10px Verdana, Helvetica, sans-serif; 
color: white; 
display: block; 
width:150px; 
padding: 0px 0; 
padding-left:0px;
margin-left:6px; 
text-decoration: none; 
} 
.glossysubmenu li a{ 
background:url(http://temp1.knivis.net/images/navimage.jpg); 
font: 10px Verdana, Helvetica, sans-serif; 
color: white; 
display: none; 
width:210px; 
padding: 5px 0; 
padding-left: 10px; 
text-decoration: none; 
} 

.glossymenu .arrowdiv{ 
position: absolute; 
right: 2px; 
background: transparent url(http://temp1.knivis.net/images/arrow.gif); 
} 
.glossymenu li a:visited, .glossymenu li a:active{ 
color: white; 
} 
.glossymenu li a:hover{ 
background-image: url(http://temp1.knivis.net/images/back_trans.gif); 
} 
/* Holly Hack for IE \*/ 
* html .glossymenu li { float: left; height: 1%; } 
* html .glossymenu li a { height: 1%; } 


BODY {
	BACKGROUND: url(images/leftnav_back.jpg) #fff fixed repeat-y left 50%; MARGIN: 0px
}
.topnavigation {
	FONT-SIZE: 10px; BACKGROUND: url(images/topnav_back.jpg) #fff no-repeat; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.topnavigation2 {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.topnavlinks {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.topnavlinks:hover {
	FONT-SIZE: 10px; COLOR: #222222; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.leftnavigation {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 10px; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#dash {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(images/wh_dash.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 1px; WIDTH: 161px; COLOR: #000000; PADDING-TOP: 0px; HEIGHT: 3px
}
.leftnavpadding {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 10px; BACKGROUND: url(images/leftnav_padding.jpg) #fff repeat-y; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.navheader {
	PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 13px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; LINE-HEIGHT: normal; PADDING-TOP: 2px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.navsecondary {
	PADDING-LEFT: 2px; FONT-SIZE: 10px; COLOR: #8ccff3; LINE-HEIGHT: normal; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#col {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; FLOAT: left; COLOR: #fff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#col UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 1px
}
#col LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#col A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: 400; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#col A {
	FLOAT: none
}
#col A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #085ca6
}
#col #current {
	COLOR: #fff; BACKGROUND-COLOR: #085ca6
}
#col #current A {
	PADDING-BOTTOM: 0px; COLOR: #fff; BACKGROUND-COLOR: #085ca6
}
BODY {
	MARGIN: 0px
}
TD {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; COLOR: #000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluetext {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; COLOR: #0074d0; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.productlist {
	BORDER-RIGHT: #000000 1px dashed; PADDING-RIGHT: 10px; BORDER-TOP: #000000 1px dashed; PADDING-LEFT: 10px; FONT-WEIGHT: 400; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 10px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #000000; PADDING-BOTTOM: 20px; WIDTH: 333px; COLOR: #000; PADDING-TOP: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #daeff8; TEXT-DECORATION: none
}
.productlistright {
	PADDING-RIGHT: 10px; BORDER-TOP: #000000 1px dashed; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #000000; PADDING-BOTTOM: 20px; PADDING-TOP: 15px; BACKGROUND-COLOR: #daeff8; BORDER-RIGHT-COLOR: #000000
}
.producttablebottom {
	BORDER-LEFT: #000000 1px dashed; BORDER-BOTTOM: #000000 1px dashed; BACKGROUND-COLOR: #daeff8
}
.tableallborder {
	BORDER-RIGHT: #000000 1px dashed; BORDER-TOP: #000000 1px dashed; BORDER-LEFT: #000000 1px dashed; BORDER-BOTTOM: #000000 1px dashed; BACKGROUND-COLOR: #daeff8
}
.tableborderright {
	BORDER-RIGHT: #000000 1px dashed; BACKGROUND-COLOR: #daeff8
}
.sep {
	BORDER-BOTTOM: #000000 1px dashed; BACKGROUND-COLOR: #fff
}
.productlisting {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; COLOR: #000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.productdescription {
	FONT-WEIGHT: 400; FONT-SIZE: 16px; COLOR: #000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.productheader {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #000; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.ProductName {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #000; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.productnew {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #ec008c; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #1270c2; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.home_column1 {
	BORDER-RIGHT: #000000 1px dashed; PADDING-RIGHT: 13px; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #000000; PADDING-BOTTOM: 10px; PADDING-TOP: 15px; BACKGROUND-COLOR: #fff
}
.home_column58 {
	PADDING-RIGHT: 13px; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #000000; PADDING-BOTTOM: 10px; PADDING-TOP: 15px; BACKGROUND-COLOR: #fff; BORDER-RIGHT-WIDTH: 1px
}
.home_column57 {
	PADDING-RIGHT: 13px; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; PADDING-TOP: 15px; BORDER-BOTTOM: #000000 1px dashed; BACKGROUND-COLOR: #fff; BORDER-RIGHT-WIDTH: 1px
}
.home_column2 {
	PADDING-LEFT: 3px; BACKGROUND-COLOR: #fff
}
.home_column2a {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BORDER-LEFT-COLOR: #000000; PADDING-BOTTOM: 20px; PADDING-TOP: 15px; BORDER-BOTTOM: #000000 1px dashed; BACKGROUND-COLOR: #fff; BORDER-RIGHT-COLOR: #000000
}
.home_column2b {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 20px; PADDING-TOP: 15px; BACKGROUND-COLOR: #fff
}
.home_content1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: 400; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; OVERFLOW: auto; WIDTH: 230px; COLOR: #000; PADDING-TOP: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 245px; BACKGROUND-COLOR: #daeff8; TEXT-DECORATION: none
}

.home_content3 {
	PADDING-RIGHT: 10px; 
	PADDING-LEFT: 10px; 
	FONT-WEIGHT: 400; 
	FONT-SIZE: 10px; 
	PADDING-BOTTOM: 10px; 
	OVERFLOW: auto; 
	COLOR: #000; PADDING-TOP: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #daeff8; TEXT-DECORATION: none
}
.home_content2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: 400; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; OVERFLOW: auto; WIDTH: 230px; COLOR: #000; PADDING-TOP: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 130px; BACKGROUND-COLOR: #daeff8; TEXT-DECORATION: none
}
.nopadding {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
B {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-BOTTOM: 14px; TEXT-TRANSFORM: uppercase; COLOR: #000; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.imgholder {
	BORDER-RIGHT: #555 1px solid; BORDER-TOP: #555 1px solid; MARGIN-BOTTOM: 5px; BORDER-LEFT: #555 1px solid; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #555 1px solid; max-width: 220px
}
#prtext {
	FONT-SIZE: 10px; COLOR: #000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#dropdownform {
	MARGIN-LEFT: 17px
}
#headerpad {
	MARGIN-LEFT: 17px
}
.header2 {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #1073c6; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.header3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tableeheader4 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: White;
	LINE-HEIGHT: normal;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height:16px;
}
.navtop {
	LEFT: 748px; WIDTH: 150px; POSITION: absolute; HEIGHT: 93px
}
.divhome {
	BORDER-BOTTOM: #000000 1px dashed
}
#HP_1 {
	DISPLAY: none; LEFT: 277px; WIDTH: 73px; POSITION: absolute; TOP: 70px; HEIGHT: 29px
}
#HP_2 {
	DISPLAY: none; LEFT: 347px; WIDTH: 89px; POSITION: absolute; TOP: 68px; HEIGHT: 34px
}
#HP_3 {
	DISPLAY: none; LEFT: 430px; WIDTH: 87px; POSITION: absolute; TOP: 80px; HEIGHT: 17px
}
#HP_4 {
	DISPLAY: none; LEFT: 495px; WIDTH: 79px; POSITION: absolute; TOP: 80px; HEIGHT: 18px
}
#HP_5 {
	DISPLAY: none; LEFT: 535px; WIDTH: 75px; POSITION: absolute; TOP: 80px; HEIGHT: 18px
}
#HP_6 {
	DISPLAY: none; LEFT: 591px; WIDTH: 43px; POSITION: absolute; TOP: 70px; HEIGHT: 28px
}
#HP_7 {
	DISPLAY: none; LEFT: 614px; WIDTH: 93px; POSITION: absolute; TOP: 80px; HEIGHT: 18px
}
#HP_8 {
	DISPLAY: none; LEFT: 727px; WIDTH: 34px; POSITION: absolute; TOP: 75px; HEIGHT: 23px
}
#HP_9 {
	DISPLAY: none; LEFT: 800px; WIDTH: 97px; POSITION: absolute; TOP: 76px; HEIGHT: 21px
}


TD {font-size:12px; font-family: Verdana, Arial, Helvetica, sans-serif}


.subMenu {
font-size:10px; 
color:#FFFFFF; 
padding:4;
/*line-height: 80%;*/
}
a.subMenu, a.subMenu:visited {text-decoration:none; color:#FFFFF; font-size:10px}
a.subMenu:hover {
	color: Black;
	width: 185px;
	/*line-height: 80%;*/
}

.subMenuH {
font-size:10px; 
color:#FFFFFF; 
padding:4px;
line-height: 60%;
/*text-align:center;*/
/*padding-bottom:2px;
margin-bottom:2px;
border-bottom:1px #ffffff solid;*/
}
a.subMenuH, a.subMenuH:visited {text-decoration:none; color:#FFFFF; font-size:10px}
a.subMenuH:hover {
	color: Black;
	width: 185px;
	line-height: 60%;
}



.subMenu2 {font-size:10px; color:#000080; padding:4}
a.subMenu2, a.subMenu2:visited {
	text-decoration: none;
	color: #000080;
	font-size: 10px;
}
a.subMenu2:hover {
	color: Black;
	text-decoration: underline;
}

.link2 {font-size:11px; color:#2386D3; }
a.link2, a.sulink2bMenu:visited {text-decoration:none; color:#FFFFF; font-size:11px}
a.link2:hover {
	color: Black;
}

.frameTtl {color:#FFFFFF; font-weight:bold; }
.ItemCopy {color:#FFFFFF; font-size:10px}
a.ItemCopy, a.ItemCopy:visted {color:#FFFFFF; font-size:10px; text-decoration:none}
.ItemCopy:hover {color:#FFFFFF; font-size:10px; text-decoration:underline}
.Item10 {color:#000000; font-size:10px}
.Item {color:#000000; font-size:12px; line-height:16px; }
.ItemNumber {color:#000000; font-size:12px; line-height:16px; text-transform: uppercase; }
.ItemBold {color:#295881; font-size:12px; font-weight:bold; line-height:18px; }
a.ItemBold, a.ItemBold:visted  {color:#295881; font-size:12px; font-weight:bold;  text-decoration:underline}
a.ItemBold:hover  {color:#1A3A63; font-size:12px; font-weight:bold;  text-decoration:none}
.Price {color:#477FAD; font-weight:bold}
.Special {color:#FFFFFF; font-size:9px; font-style:italic}
.ItemTitle {color:#2D4A6C; font-weight:bold; font-size:18px}
.ItemTitleLarge {color:#000000; font-weight:bold; font-size:12px}

.String {font-size:10px; color:#666666; padding:2 25 2 2}
a.PageLink, a.PageLink:visited {color:#666666}
a.PageLink:hover {color:#000000}

a.ItemTitleLink, a.ItemTitleLink:visited {color:#783C58; font-weight:bold; text-decoration:none}
a.ItemTitleLink:hover {color:#C4615D}

.CartBott {border-bottom:1px solid #783C58}

a.HomePage, a.HomePage:visited {color:#FFFFFF; font-size:11px; font-weight:bold; text-decoration:none;}
a.HomePage:hover {color:#FFFFFF; font-weight:bold; text-decoration:none;}

.aLineHome {color:#FF33FF; font-size:10px; font-weight:bold;}

a.Image, a.Image:visited a.Image:hover{text-decoration:none}


td.Frame	{ border-right: 3px Solid #2D4A6C;  border-Left: 3px Solid #2D4A6C; background-color: #FFFFFF	}
td.Frame2	{ border-right: 3px Solid #2D4A6C;  border-Left: 3px Solid #2D4A6C;	background-color: #FFFFFF	}
td.FrameB	{ border-right: 3px Solid #2D4A6C;	border-Left: 3px Solid #2D4A6C; border-bottom: 3px Solid #2D4A6C; background-color: #FFFFFF	}
td.FrameAll	{ border: 3px Solid #2D4A6C;	}

.CAPS		{	font-family: Verdana, sans-serif; font-size: 13px; font-weight: bold; text-transform: uppercase; line-height: 17px;	}
TD {
	FONT-SIZE: 11px; COLOR: #7e7e7e; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 11px; COLOR: #7e7e7e; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A:hover {
	TEXT-DECORATION: underline
}
A {
	COLOR: #666666; TEXT-DECORATION: none
}
UL {
	MARGIN: 10px 10px 15px 20px
}
LI {
	LIST-STYLE-POSITION: outside; MARGIN: 0px 0px 2px; LIST-STYLE-TYPE: square
}
#sub-nav {
	BACKGROUND: url(/images/tab-line.gif) repeat-x 50% bottom; FLOAT: left; MARGIN-BOTTOM: 8px; WIDTH: 100%
}
#sub-nav LI A {
	PADDING-RIGHT: 11px; DISPLAY: block; PADDING-LEFT: 16px; FONT-WEIGHT: bold; MIN-HEIGHT: 17px; BACKGROUND: url(/images/tab-back.png) 0px -100px; FLOAT: left; PADDING-BOTTOM: 8px; COLOR: #666666; PADDING-TOP: 8px; WHITE-SPACE: nowrap; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#sub-nav LI A:visited {
	PADDING-RIGHT: 11px; DISPLAY: block; PADDING-LEFT: 16px; FONT-WEIGHT: bold; MIN-HEIGHT: 17px; BACKGROUND: url(/images/tab-back.png) 0px -100px; FLOAT: left; PADDING-BOTTOM: 8px; COLOR: #666666; PADDING-TOP: 8px; WHITE-SPACE: nowrap; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#sub-nav LI SPAN {
	PADDING-RIGHT: 11px; DISPLAY: block; PADDING-LEFT: 16px; FONT-WEIGHT: bold; MIN-HEIGHT: 17px; BACKGROUND: url(/images/tab-back.png) 0px -100px; FLOAT: left; PADDING-BOTTOM: 8px; COLOR: #666666; PADDING-TOP: 8px; WHITE-SPACE: nowrap; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#sub-nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#sub-nav LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; BACKGROUND: url(/images/tab-back.png) 100% -100px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 1px 0px 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #bbb 1px solid
}
#sub-nav LI.active {
	BACKGROUND: url(/images/tab-back.png) 100% 0px; BORDER-BOTTOM: #fff 1px solid
}
#sub-nav LI.active A {
	BACKGROUND: url(/images/tab-back.png) 0px 0px
}
#sub-nav LI.active SPAN {
	BACKGROUND: url(/images/tab-back.png) 0px 0px
}
#sub-nav LI.active:hover A {
	BACKGROUND-POSITION: 0px 0px; TEXT-DECORATION: underline
}
.prdTabHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 0px; COLOR: #666699; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.csInputText {
	BORDER-RIGHT: #b9b9d0 1px solid; BORDER-TOP: #b9b9d0 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #b9b9d0 1px solid; COLOR: #666699; BORDER-BOTTOM: #b9b9d0 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 0px; COLOR: #7e7e7e; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN: 0px 0px 5px; COLOR: #7e7e7e; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 5px 0px 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.hrdTopMenuBarHeader {
	FONT-WEIGHT: normal; FONT-SIZE: 8px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.hrdMenuBarTable {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.hrdMenuBarItem {
	PADDING-RIGHT: 15px; BORDER-TOP: #8080aa 1px solid; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #8080aa 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #8080aa
}
.hrdMenuBarItem A {
	PADDING-RIGHT: 15px; BORDER-TOP: #8080aa 1px solid; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #8080aa 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #8080aa
}
.hrdMenuBarSelected {
	PADDING-RIGHT: 13px; BORDER-TOP: #8080aa 2px solid; PADDING-LEFT: 13px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; COLOR: #8080aa; PADDING-TOP: 4px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e6e6fd
}
.hrdMenuBarSelected A {
	PADDING-RIGHT: 13px; BORDER-TOP: #8080aa 2px solid; PADDING-LEFT: 13px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; COLOR: #8080aa; PADDING-TOP: 4px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e6e6fd
}
.hrdMenuBarSmall {
	FONT-WEIGHT: normal; FONT-SIZE: 8px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.hrdMenuBarSmall A {
	FONT-WEIGHT: bold; FONT-SIZE: 8px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.pophelp_table {
	BORDER-RIGHT: #b9b9d0 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #b9b9d0 1px solid; BACKGROUND-COLOR: #e6e6fd
}
.pophelp_title {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #8080aa; COLOR: #ffffff; BORDER-BOTTOM: #b9b9d0 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.pophelp_text {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.dptTableBorder {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e0e0e0 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; BORDER-LEFT: #e0e0e0 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #e0e0e0 1px solid
}
.dptHeading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #666699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.dptHeading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.dptHeading3 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #666699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.dptTable {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid; BORDER-BOTTOM: #e0e0e0 1px solid
}
.dtbSideBarHeader {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 7px; COLOR: #ffffff; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #8080aa
}
.dtbSideBarItems {
	BORDER-RIGHT: #b5b5ce 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; BORDER-LEFT: #b5b5ce 1px solid; COLOR: #666666; PADDING-TOP: 4px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e6e6fd
}
.prdSideBarBoxHeader {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: url(/images/sidebarboxheader.jpg) no-repeat left top; PADDING-BOTTOM: 5px; WIDTH: 100%; COLOR: #ffffff; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.prdSideBarSelected {
	BORDER-RIGHT: #a2a2c1 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; BORDER-LEFT: #a2a2c1 1px solid; COLOR: #666666; PADDING-TOP: 4px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ccccff
}
.prdSideBarItems {
	BORDER-RIGHT: #b5b5ce 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; BORDER-LEFT: #b5b5ce 1px solid; COLOR: #666666; PADDING-TOP: 4px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e6e6fd
}
.prdSideBarClearBoxItems {
	BORDER-RIGHT: #b5b5ce 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; BORDER-LEFT: #b5b5ce 1px solid; COLOR: #666666; PADDING-TOP: 15px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.prdPriceClearBoxLeft {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; BORDER-LEFT: #b5b5ce 1px solid; COLOR: #666666; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.prdPriceClearBoxRight {
	BORDER-RIGHT: #b5b5ce 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #666666; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.prdPriceClearBox {
	BORDER-RIGHT: #b5b5ce 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; BORDER-LEFT: #b5b5ce 1px solid; COLOR: #666666; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.prdSideBarHeader {
	BORDER-RIGHT: #8080aa 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 7px; BORDER-LEFT: #8080aa 1px solid; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #8080aa 1px solid; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #8080aa
}
.prdNavAssistText {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; COLOR: #7e7e7e; PADDING-TOP: 3px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.prdNavAssistText A {
	FONT-SIZE: 11px; COLOR: #7e7e7e; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.prdHeading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #666699; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.prdHeading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666699; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.prdHeading3 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666699; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.prdBreadCrumbPath {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; BORDER-BOTTOM: #b5b5ce 1px solid; BACKGROUND-COLOR: #e6e6fd
}
.prdBreadCrumbPath A {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666699; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; TEXT-DECORATION: none
}
.prdBreadCrumbSmallPrint {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666699; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.prdPrdNameDetailView {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN: 10px 0px; COLOR: #555555; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.prdPriceText {
	FONT-SIZE: 12px; COLOR: #666699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.prdStockText {
	FONT-SIZE: 11px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.prdHeadingHighlight {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #669900; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.prdSideBarBorder {
	BORDER-RIGHT: #b9b9d0 1px solid; BORDER-LEFT: #b9b9d0 1px solid; BORDER-BOTTOM: #b9b9d0 1px solid
}
.prdItemCounts {
	FONT-SIZE: 9px
}
.prdTableBarHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ececf2; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #8080aa
}
.prdNavPageSelected {
	BORDER-RIGHT: #b9b9d0 1px solid; BORDER-TOP: #b9b9d0 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #b9b9d0 1px solid; COLOR: #666699; BORDER-BOTTOM: #b9b9d0 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; BACKGROUND-COLOR: #d8d8eb; TEXT-DECORATION: none
}
.prdNavBar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #f0f0f0
}
.basHeading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #666699; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.basHeading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #666699; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.basHeading2 A {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #666699; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; TEXT-DECORATION: underline
}
.basHeader {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	PADDING-BOTTOM: 4px;
	COLOR: #ffffff;
	PADDING-TOP: 4px;
	BACKGROUND-COLOR: #2386D3;
}
.basSidebarHeader {
	BORDER-RIGHT: #b5b5ce 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 4px; BORDER-LEFT: #b5b5ce 1px solid; COLOR: #7e7e7e; PADDING-TOP: 0px; BORDER-BOTTOM: #b5b5ce 1px solid; BACKGROUND-COLOR: #f5f5f5
}
.basItems {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; COLOR: #666666; PADDING-TOP: 5px; BORDER-BOTTOM: #b5b5ce 1px solid; BACKGROUND-COLOR: #f5f5f5
}
.basItemBorderLeft {
	BORDER-LEFT: #b5b5ce 1px solid; BORDER-BOTTOM: #b5b5ce 1px solid; BACKGROUND-COLOR: #f5f5f5
}
.basItemBorderRight {
	BORDER-RIGHT: #b5b5ce 1px solid; BORDER-BOTTOM: #b5b5ce 1px solid; BACKGROUND-COLOR: #f5f5f5
}
.chkHeadingBox {
	BORDER-RIGHT: #b5b5ce 1px solid; BORDER-TOP: #b5b5ce 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 17px; BORDER-LEFT: #b5b5ce 1px solid; COLOR: #666699; BORDER-BOTTOM: #b5b5ce 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5f5
}
.chkMessageBoxHeader {
	PADDING-RIGHT: 0px; BORDER-TOP: #b5b5ce 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 4px; COLOR: #666699; PADDING-TOP: 4px; BORDER-BOTTOM: #b5b5ce 1px solid; BACKGROUND-COLOR: #f5f5f5
}
.chkMessageBoxHeaderSides {
	BORDER-BOTTOM: #b5b5ce 1px solid; BACKGROUND-COLOR: #f5f5f5
}
.chkMessageBoxBottom {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 4px; COLOR: #7e7e7e; PADDING-TOP: 4px; BORDER-BOTTOM: #b5b5ce 1px solid; BACKGROUND-COLOR: #ffffff
}
.chkMessageBoxBottomSides {
	BACKGROUND-COLOR: #ffffff
}
.chkMessageBoxContents {
	BORDER-RIGHT: #b5b5ce 1px solid; PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; BORDER-LEFT: #b5b5ce 1px solid; COLOR: #666666; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.chkLightcell {
	BORDER-BOTTOM: #ffffff 2px solid; BACKGROUND-COLOR: #f5f5f5
}
.chkDarkcell {
	BORDER-BOTTOM: #ffffff 2px solid; BACKGROUND-COLOR: #ececf2
}
.chkWarnText {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #aa1111; BORDER-BOTTOM: #ffffff 2px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5f5
}
.chkPromoMsgText1 {
	FONT-SIZE: 11px; COLOR: #aa1111; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.chkPromoMsgText2 {
	FONT-SIZE: 11px; COLOR: #669900; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.chkHeading2 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.chkHeading3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.chkHeading5 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #666699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.OLD_chkHeading6 {
	BORDER-TOP: #b9b9d0 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666699; BORDER-BOTTOM: #b9b9d0 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ececf2
}
.ftrFooterText {
	FONT-SIZE: 10px; COLOR: #7e7e7e; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.hlpMenuBar_Container {
	CLEAR: both; BORDER-RIGHT: #9799cc 1px solid; BORDER-TOP: #9799cc 1px solid; BACKGROUND: url(/images/NavBarBackground.jpg) repeat-x 50% bottom; MARGIN: 0px 10px; BORDER-LEFT: #9799cc 1px solid; BORDER-BOTTOM: #9799cc 0px solid; POSITION: relative
}
.hlpMenuBar_Container .n .e {
	DISPLAY: block; FONT-SIZE: 0px; MARGIN: 0px; LINE-HEIGHT: 0%; POSITION: relative; HEIGHT: 10px
}
.hlpMenuBar_Container .n .w {
	DISPLAY: block; FONT-SIZE: 0px; MARGIN: 0px; LINE-HEIGHT: 0%; POSITION: relative; HEIGHT: 10px
}
.hlpMenuBar_Container .n .e {
	RIGHT: -1px; BACKGROUND: url(/images/NavBarTopRight.gif) no-repeat right top; TOP: -1px
}
.hlpMenuBar_Container .n .w {
	BACKGROUND: url(/images//NavBarTopLeft.gif) no-repeat left top; LEFT: -2px; WIDTH: 15px
}
.hlpHeading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #666699; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.hlpHeading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #666699; FONT-FAMILY: Arial, Helvetica, Sans-serif
}
.hlpLightcell {
	BACKGROUND-COLOR: #eeeeee
}
.hlpDarkcell {
	BACKGROUND-COLOR: #d8d8eb
}
.hlpSideBarHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #8080aa
}
.OLD_hlpSideBarBorder {
	BORDER-RIGHT: #b9b9d0 1px solid; BORDER-LEFT: #b9b9d0 1px solid; BORDER-BOTTOM: #b9b9d0 1px solid
}
.hlpSideBarLight {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e6e6fd
}
.hlpSideBarDark {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e6e6fd
}
.csNavButton {
	BORDER-RIGHT: #666699 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #b9b9d0 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; MARGIN: 3px; BORDER-LEFT: #b9b9d0 1px solid; COLOR: #666699; PADDING-TOP: 3px; BORDER-BOTTOM: #666699 1px solid; FONT-FAMILY: Verdana,Arial, Helvetica, Sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.csNavButton2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 3px; COLOR: #666699; PADDING-TOP: 1px; FONT-FAMILY: Verdana,Arial, Helvetica, Sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.csNavButtonDisable {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #cccccc 1px solid; COLOR: #cccccc; PADDING-TOP: 1px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana,Arial, Helvetica, Sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.csNavButtonSubmit {
	BORDER-RIGHT: #666699 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #b9b9d0 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #b9b9d0 1px solid; COLOR: #666699; PADDING-TOP: 2px; BORDER-BOTTOM: #666699 1px solid; FONT-FAMILY: Verdana,Arial, Helvetica, Sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.errMessageBoxHeader {
	PADDING-RIGHT: 0px; BORDER-TOP: #b5b5ce 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 4px; COLOR: #aa1111; PADDING-TOP: 4px; BORDER-BOTTOM: #b5b5ce 1px solid; BACKGROUND-COLOR: #f5f5f5
}
.errMessageBoxHeaderSides {
	BORDER-BOTTOM: #b5b5ce 1px solid; BACKGROUND-COLOR: #f5f5f5
}
.errMessageBoxBottom {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 4px; COLOR: #7e7e7e; PADDING-TOP: 4px; BORDER-BOTTOM: #b5b5ce 1px solid; BACKGROUND-COLOR: #ffffff
}
.errMessageBoxBottomSides {
	BACKGROUND-COLOR: #ffffff
}
.errMessageBoxContents {
	BORDER-RIGHT: #b5b5ce 1px solid; PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; BORDER-LEFT: #b5b5ce 1px solid; COLOR: #666666; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.csMessageHeaderBoxed {
	BORDER-RIGHT: #b9b9d0 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #ffffff 1px solid; COLOR: #666699; BORDER-BOTTOM: #b9b9d0 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e6e6fd
}
.csMessageHeaderBorder {
	BORDER-TOP: #b9b9d0 1px solid; BORDER-LEFT: #b9b9d0 1px solid
}
.csMessageBodyBorder {
	BORDER-RIGHT: #b9b9d0 1px solid; BORDER-LEFT: #b9b9d0 1px solid; BORDER-BOTTOM: #b9b9d0 1px solid
}
.csHeadingBox3 {
	BORDER-RIGHT: #b9b9d0 1px solid; BORDER-TOP: #b9b9d0 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 17px; BORDER-LEFT: #b9b9d0 1px solid; COLOR: #666699; BORDER-BOTTOM: #b9b9d0 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e6e6fd
}
.csHeadingBox4 {
	BORDER-TOP: #b9b9d0 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 17px; COLOR: #666699; BORDER-BOTTOM: #b9b9d0 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ececf2
}
.csHeading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #666699; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.csHeading2A {
	FONT-WEIGHT: normal; FONT-SIZE: 16px; COLOR: #666699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.csHeading3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.csHeading3A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.csHeading3B {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.csHeading4 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #666699; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.csHeading5 {
	FONT-WEIGHT: normal; FONT-SIZE: 16px; COLOR: #666699; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.csHeading6 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #666699; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.csHeading6A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #666699; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.csWarnText {
	FONT-SIZE: 12px; COLOR: #aa1111; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.csWarnText1 {
	FONT-SIZE: 11px; COLOR: #aa1111; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.csWarnText2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #aa1111; FONT-FAMILY: Verdana,Arial, Helvetica, sans-serif
}
.csErrorText {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #991111; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.csSmallText {
	FONT-SIZE: 10px; COLOR: #7e7e7e; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.rmaHeaderBox {
	BORDER-RIGHT: #b5b5ce 1px solid; BORDER-TOP: #b5b5ce 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 17px; BORDER-LEFT: #b5b5ce 1px solid; COLOR: #666699; BORDER-BOTTOM: #b5b5ce 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5f5
}
.rmaHeaderCell {
	BORDER-RIGHT: #b5b5ce 1px solid; BORDER-TOP: #b5b5ce 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #b5b5ce 1px solid; COLOR: #666699; BORDER-BOTTOM: #b5b5ce 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5f5
}
.rmaLightCell {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-BOTTOM: #ffffff 2px solid; BACKGROUND-COLOR: #f5f5f5
}
.rmaHeaderOutline {
	BORDER-RIGHT: #bbbbbb 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #bbbbbb 1px solid; BORDER-BOTTOM: #bbbbbb 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.rmaWarnText {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #aa1111; BORDER-BOTTOM: #ffffff 2px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5f5
}
