#dhtmltooltip
{
  position: absolute;
  width: 160px;
  border: 2px solid black;
  padding: 2px;
  background-color: lightyellow;
  visibility: hidden;
  z-index: 100;
  font:normal 11px Verdana,Arial,Helvetica
}
