@charset "utf-8";
/* CSS Document */

html {
	margin:0;
	padding:0;
}
body	{
	margin:0;
	padding:0;
	background:url(../images/main_bg.jpg) #e2f6ff top left repeat-x;
	font-family: 'PT Sans', sans-serif;
	b
}
img		{
	margin:0;
	padding:0;
	border:none;
}
#mainglobal	{
	width:100%;
	float:left;
	margin:0;
	padding:0;
}
#mainwrapper {
	width:1024px;
	margin:0 auto;
	padding:0;
}
#topbox	{
	width:1024px;
	margin:0;
	padding:0;
	float:left;
}
#header	{
	width:1024px;
	margin:0;
	padding:0;
	float:left;
}
.logo	{
	width:475px;
	height:128px;
	margin:0;
	padding:0;
	float:left;
}
.smallogos_box	{
	width:370px;
	margin:27px 0 0 15px;
	padding:0;
	float:left;
}
.smallogosrowone	{
	width:370px;
	margin:0;
	padding:0;
	float:left;
}
.smallogosrowtwo	{
	width:370px;
	margin:15px 0 0 0;
	padding:0;
	float:left;
}
.peterlouis	{
	width:77px;
	height:33px;
	margin:0;
	padding:0;
	float:left;
}
.phyto	{
	width:98px;
	height:33px;
	margin:0;
	padding:0;
	float:left;
}
.reno	{
	width:86px;
	height:33px;
	margin:0;
	padding:0;
	float:left;
}
.crodo	{
	width:87px;
	height:33px;
	margin:0;
	padding:0;
	float:left;
}
.philip	{
	width:77px;
	height:33px;
	margin:0;
	padding:0;
	float:left;
}
.great	{
	width:98px;
	height:33px;
	margin:0;
	padding:0;
	float:left;
}
.lazartigue	{
	width:86px;
	height:33px;
	margin:0;
	padding:0;
	float:left;
}
.japanese	{
	width:87px;
	height:33px;
	margin:0;
	padding:0;
	float:left;
}

.toprgtlnkwrpr	{
	width:160px;
	height:53px;
	margin:15px 0 0 0;
	padding:0;
	float:right;
}
.nwcntct	{
	width:68px;
	height:53px;
	margin:0 0 0 1px;
	padding:0;
	float:left;
}
.login	{
	width:41px;
	height:53px;
	margin:0 0 0 1px;
	padding:0;
	float:left;
}
.cart	{
	width:45px;
	height:53px;
	margin:0 0 0 1px;
	padding:0;
	float:left;
}
#sliderbox	{
	width:1024px;
	height:333px;
	margin:0;
	padding:0;
	float:left;
	border-top:1px solid #c8c8c8;
}
#menubox	{
	width:1024px;
	margin:8px 0 0 0;
	padding:0;
	float:left;
	background:url(images/menu_bg.jpg) top left repeat-x;
}

.menu_area	{
	list-style:none;
	width:825px;
	height:58px;
	margin:12px 0 0 137px;
	padding:0;
	float:left;
}
ul.menu_area li {
	height:27px;
	margin: 0;
	padding:0 7px;
	float: left;
	display: block;
}
ul.menu_area span {
	display:block;
	width:7px;
	height:27px;
	background:url(../images/menu_dot.png) top no-repeat;
	float:left;
}
ul.menu_area li a	{
	height:27px;
	margin:0;
	padding:0;
	font-size:17px;	
	text-decoration:none;
	color:#78797a;
	float:left;
	text-transform:uppercase;
}
ul.menu_area li a:hover	{
	color:#3fc6f7;
}

#centercontent	{
	width:1024px;
	margin:10px 0 0 0;
	padding:0;
	float:left;
}
.leftspecialbox	{
	width:495px;
	height:310px;
	margin:0;
	padding:0;
	float:left;
	background:url(../images/specialbox.png) top left;
}
.rightspecialbox	{
	width:495px;
	height:310px;
	margin:0;
	padding:0;
	float:right;
	background:url(../images/specialbox.png) top left;
}
.bottombanner	{
	width:1024px;
	height:88px;
	margin:25px 0 0 0;
	padding:0;
	float:right;
	background:url(../images/specialbanner.png) top left;
}









