input { border-width: expression(this.type=="radio"?'0px':this.type=="checkbox"?'0px':'1px'); }
#toolbar table.toolbar td.divider, #toolbar table.toolbar td.spacer { display: none; }
#module-status span.preview { background:transparent url(../images/icons/preview.png) no-repeat 0 5px; }
#module-status span.logout { background:transparent url(../images/icons/logout.png) no-repeat 0 5px; }
input#modlgn_passwd.inputbox, input#modlgn_username.inputbox { margin: 0 }
#login-top { margin-bottom: 30px; }
.button_holder .button1 .next { float:none; }
table.adminlist td.order span {
	width: 10px;
	margin: 0 4px 0 0;
}
table.adminlist td.order input {
	width: 15px;
	margin: 0 0 0 6px;
}
#position {
	padding: 1px;
	font-size: 12px;
	border: none;
}
ul.shortcut-buttons-set { padding-top: 20px; }
#toolbar-title { width: 100%; }
#login-wrapper #login-content p { margin-bottom: 0; }