/*
**	$Id: admin.css,v 1.3 2003/09/16 21:24:53 damonp Exp $
**
** Copyright (C) 2001 siliconsys.com <dev@siliconsys.com>
** See LICENSE file in root directory of this installation for
** licensing information.
*/

a:link, a:visited {
	color: blue;
	text-decoration: none
}

a:hover {
	color: gray;
	text-decoration: underline
}

a:active {
	color: gray;
	text-decoration: none
}

body {
	color: black;
	font-family: Helvetica, sans-serif, Arial;
	font-size: 9pt;
	background: #ffffff
}

table {
	bordercolor: #000000;
	color: black;
	font-family: Helvetica, sans-serif, Arial;
	font-size: 9pt;
}

.locBar {
	color: #0000aa;
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: bold
}

.boxbody {
	font-size: 8pt;
	font-weight: bold;
}

.admin {
	font-weight: bold;
	font-size: 9pt;
}

.input {
	color: #000000;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 8pt;
}

.courier {
	font-family: courier new;
	font-size: 8pt;
	text-decoration: none;
}

.footer, .list {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	text-decoration: none;
}

.label, a.label, a:visited.label {
	font-family: Helvetica, sans-serif, Arial;
	font-size: 9pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.selectlabel, a.selectlabel, a:visited.selectlabel {
	font-family: Helvetica, sans-serif, Arial;
	font-size: 9pt;
	font-weight: bold;
	color: blue;
	text-decoration: none;
}

a:hover.label, a:hover.selectlabel {
	color: gray;
	text-decoration: underline;
}

.emphasis {
	background: #cccccc;
}

.warning {
	color: #e51919;
	font-family: Verdana;
	font-size: 8pt
}

.info {
	color: #000099;
	font-family: Verdana;
	font-size: 8pt;
}

.small {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 7pt;
	text-decoration: none;
}

.ACTIVE {
	color: #000099;
}

.INACTIVE {
	color: #e51919;
}