html {
	font-size: 100%;
	height: 100%;
	margin-bottom: 1px;
}
body {
	padding: 0;
	padding-bottom: 1px;
	line-height: 1.5;
	font-family: Helvetica, Arial, sans-serif;
	color: #555;
	background: #f0f0f0;
	font-size: 12px;
}

div.message {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 3px;
	border: 1px solid #e0e0e0;
	margin-bottom: 10px;
	font-weight: bold;
	color: #333;
	/*letter-spacing: .1em;*/  /* letter spacing doesn't work for all languages */
}

.helpIndex {
	border: 0px;
	width: 100%;
	height: 100%;
	padding: 0px 0px 0px 0px;
	overflow: auto;
}
.helpFrame {
	border-left: 0px solid #222;
	border-right: none;
	border-top: none;
	border-bottom: none;
	width: 100%;
	height: 800px;
	padding: 0px 5px 0px 10px;
}
#treecellhelp {
	width: 25%;
	display: block;
	position: relative;
	float: left;
	margin: 0;
	padding: 2px;
	overflow: hidden;
}

#datacellhelp {
	width: 73%;
	display: block;
	float: left;
	margin: 0;
	padding: 2px 0px 0px 0px;
}

button {
	font-family: Verdana, Arial, sans-serif;
	display: inline-block;
	color: #fff !important;
	background: #459300 url(../images/bg-button-green.gif) repeat-x scroll left top !important;
	border: 1px solid #459300 !important;
	cursor: pointer;
	font-size: 11px !important;
	padding: 4px 7px !important;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

