/* Globally */
body {
	background: #fff;
	margin: 0px;
	padding: 0px;
	font-family: verdana, arial, helvetica, sans-serif; 
	font-size: xx-small;
	color: #000;
}
/* navigation links */
div#leftmenu { 
font-family: verdana, arial, helvetica, sans-serif;
font-size: xx-small; 
width: 160px;
height: 23px;
} 
div#leftmenu submenu{ 
font-family: verdana, arial, helvetica, sans-serif;
font-weight: bold;
font-size: xx-small; 
width: 160px;
height: 23px;
} 
div#leftmenu a { 
background-color: #4674d1;
color: #fff; 
text-decoration: none; 
padding-left: 2px;
padding-right: 2px;
padding-top: 2px; 
padding-bottom: 2px; 
display: block;
border-top: 2px solid #36c; 
border-bottom: 2px solid #36c;  
} 
div#leftmenu a:hover { 
background-color: #84a3e0; 
color: #fff; 
border-top: 2px solid #36c; 
border-bottom: 2px solid #fff; 
}

/* regular links */
a:link {color: #0d3a99;	background: transparent;}
a:visited {color: #030082; background: transparent;}
a:hover {color: #2e5ab4; background: transparent;}

/* selected product list menu */
a.menu:link {color: #c00;	background: transparent; text-decoration: none;}
a.menu:visited {color: #c00; background: transparent; text-decoration: none;}
a.menu:hover {color: #c00; background: transparent; text-decoration: underline;}	

/* alternate set for navigation text links with no decoration except for rollover */
a.nav:link {color: #fff;	background: transparent; text-decoration: none;}
a.nav:visited {color: #fff; background: transparent; text-decoration: none;}
a.nav:hover {color: #9cf; background: transparent; text-decoration: underline;}	

/* white text links */
a.topnav:link {color: #fff;	background: transparent; font-family: verdana, arial, helvetica, sans-serif; font-size: xx-small;}
a.topnav:visited {color: #fff; background: transparent; font-family: verdana, arial, helvetica, sans-serif; font-size: xx-small;}
a.topnav:hover {color: #9cf;	background: transparent; font-family: verdana, arial, helvetica, sans-serif; font-size: xx-small;}

/* white text links */
a.latestnews:link {color: #9cf;	background: transparent;}
a.latestnews:visited {color: #9cf; background: transparent;}
a.latestnews:hover {color: #fff;	background: transparent;}

/* product titles text(s); page subtitles */
.title {
	font-family: arial, helvetica, sans-serif;
	font-size: x-small;
	color: #333;
}

/* body text(s) */
.bodytext {
	font-family: arial, helvetica, sans-serif;
	font-size: x-small;
	color: #000;
}

.bodytext-selected {
	font-family: arial, helvetica, sans-serif;
	font-size: x-small;
	color: #c00;
}

.product {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: xx-small;
	color: #333;
}

/* main copy size */
.small {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: xx-small;
}
.small-alt{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: xx-small;
	color: #fff;
}

/* table cell classes */
.stripe-one {background-color: #666;}
.stripe-two {background-color: #999;}
.stripe-three {background-color: #326ccc;}
.stripe-four {background-color: #fff;}
.stripe-five {background-color: #efefef;}
.stripe-six {background-color: #ffc;}

/*outline around the product titles */
.outline{
	border-style: solid;
	border-width: 1px;
	border-color: #666;}.bodytext-alt {  font-family: Arial, Helvetica, sans-serif; font-size: x-small; color: #FFFFFF}
