BODY {font-size:12px; font-family: Verdana, Arial, Helvetica, sans-serif; margin:0; background-image: url(images/back.gif)}
TD {font-size:12px; font-family: Verdana, Arial, Helvetica, sans-serif}


.subMenu {font-size:10px; color:#FFFFFF; padding:4}
a.subMenu, a.subMenu:visited {text-decoration:none; color:#FFFFF; font-size:10px}
a.subMenu:hover {
	color: Black;
}
.subMenu2 {font-size:10px; color:#000080; padding:4}
a.subMenu2, a.subMenu2:visited {
	text-decoration: none;
	color: #000080;
	font-size: 10px;
}
a.subMenu2:hover {
	color: Black;
	text-decoration: underline;
}

.link2 {font-size:11px; color:#2386D3; }
a.link2, a.sulink2bMenu:visited {text-decoration:none; color:#FFFFF; font-size:11px}
a.link2:hover {
	color: Black;
}

.frameTtl {color:#FFFFFF; font-weight:bold; }
.ItemCopy {color:#FFFFFF; font-size:10px}
a.ItemCopy, a.ItemCopy:visted {color:#FFFFFF; font-size:10px; text-decoration:none}
.ItemCopy:hover {color:#FFFFFF; font-size:10px; text-decoration:underline}
.Item10 {color:#000000; font-size:10px}
.Item {color:#000000; font-size:12px; line-height:16px; }
.ItemNumber {color:#000000; font-size:12px; line-height:16px; text-transform: uppercase; }
.ItemBold {color:#295881; font-size:12px; font-weight:bold; line-height:18px; }
a.ItemBold, a.ItemBold:visted  {color:#295881; font-size:12px; font-weight:bold;  text-decoration:underline}
a.ItemBold:hover  {color:#1A3A63; font-size:12px; font-weight:bold;  text-decoration:none}
.Price {color:#477FAD; font-weight:bold}
.Special {color:#FFFFFF; font-size:9px; font-style:italic}
.ItemTitle {color:#2D4A6C; font-weight:bold; font-size:18px}
.ItemTitleLarge {color:#000000; font-weight:bold; font-size:12px}

.String {font-size:10px; color:#666666; padding:2 25 2 2}
a.PageLink, a.PageLink:visited {color:#666666}
a.PageLink:hover {color:#000000}

a.ItemTitleLink, a.ItemTitleLink:visited {color:#783C58; font-weight:bold; text-decoration:none}
a.ItemTitleLink:hover {color:#C4615D}

.CartBott {border-bottom:1px solid #783C58}

a.HomePage, a.HomePage:visited {color:#FFFFFF; font-size:11px; font-weight:bold; text-decoration:none;}
a.HomePage:hover {color:#FFFFFF; font-weight:bold; text-decoration:none;}

.aLineHome {color:#FF33FF; font-size:10px; font-weight:bold;}

a.Image, a.Image:visited a.Image:hover{text-decoration:none}


td.Frame	{ border-right: 3px Solid #2D4A6C;  border-Left: 3px Solid #2D4A6C; background-color: #FFFFFF	}
td.Frame2	{ border-right: 3px Solid #2D4A6C;  border-Left: 3px Solid #2D4A6C;	background-color: #FFFFFF	}
td.FrameB	{ border-right: 3px Solid #2D4A6C;	border-Left: 3px Solid #2D4A6C; border-bottom: 3px Solid #2D4A6C; background-color: #FFFFFF	}
td.FrameAll	{ border: 3px Solid #2D4A6C;	}

.CAPS		{	font-family: Verdana, sans-serif; font-size: 13px; font-weight: bold; text-transform: uppercase; line-height: 17px;	}
