/* $Id: threecol_33_34_33_stacked.css,v 1.4.6.6 2008/09/03 03:43:34 sdboyer Exp $ */

.panel-3col-33-stacked { 
/*  overflow: hidden;  */
}

.panel-3col-33-stacked .panel-col-top,
.panel-3col-33-stacked .panel-col-bottom { 
  width: 100%; 
  clear: both;
}

.panel-3col-33-stacked .panel-col-top .inside {
  margin-bottom: 1em;
}

.panel-3col-33-stacked .panel-col-first { 
  float: left; 
  width: 33%; 
}

.panel-3col-33-stacked .panel-col-first .inside { 
  margin: 0 .5em 1em 0;
}

.panel-3col-33-stacked .panel-col { 
  float: left; 
  width: 33%; 
}

.panel-3col-33-stacked .panel-col .inside { 
  margin: 0 .5em 1em .5em;
}

.panel-3col-33-stacked .panel-col-last { 
  float: left; 
  width: 33%; 
}

.panel-3col-33-stacked .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}

.panel-3col-33-stacked .panel-separator {
  margin: 0 0 1em 0;
}
