/* $Id: twocol_stacked.css,v 1.4.6.6 2008/09/03 03:43:34 sdboyer Exp $ */

.panel-2col-stacked { 
/*  overflow: hidden;  */
  margin-top: 0;
  padding-top: 0;
}

.panel-2col-stacked .panel-col-top,
.panel-2col-stacked .panel-col-bottom { 
  width: 99.9%; 
  clear: both;
}

.panel-2col-stacked .panel-col-top .inside {
  margin-bottom: .5em;
}

.panel-2col-stacked .panel-col-first { 
  float: left; 
  width: 49.9%; 
}

.panel-2col-stacked .panel-col-first .inside { 
  margin: 0 .5em 1em 0;
}

.panel-2col-stacked .panel-col-last { 
  float: left; 
  width: 49.9%; 
}

.panel-2col-stacked .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}

.panel-2col-stacked .panel-separator {
  margin: 0 0 1em 0;
}
