/* $Id: ec_nodeaccess.css,v 1.1.2.2 2008/12/06 13:18:58 danielb Exp $ */

fieldset.nap_fieldset h3 {
	font-size: 100%;
}

fieldset.nap_fieldset ul {
	font-size: 0.95em;
}

fieldset.nap_fieldset div.access,
fieldset.nap_fieldset div.users {
	width: 47.9%;
	float: left;
	margin: 0 1%;
}	