/**
 *
 * Pixture, for Drupal
 * Author: PIXTURE STUDIO <http://www.pixture.com>
 *
 */
/*
** Generic elements
*/
html {
	font-size: 100%; /*Fix a IE em BUG*/
}
font, basefont {
	font-size: 100%; /*Fix a IE em BUG*/
}
body {
	font-family: "Helvetica neue", Helvetica, Arial, Verdana, sans-serif;
	font-size:12px;
	color: #444444;
	margin: 0;
	padding: 0;
	text-align: center; /* IE5 hack */
	width: 1260px;	
	background: #f5eaef url(bg-wall.png) repeat-x top left; width: 1260px;	
}
div#wrapper {

	margin: 0 auto;
	padding: 0px;
	line-height: 1em;
	background: #ffffff url(bg-header.png) repeat-x top left;
}
IFRAME{
border: 0px;
}



iframe{
border: 0px;
}
div#container {

	margin: 0px;
	padding: 0px;
	text-align: left; /* IE5 hack */
	line-height:1.5em;
}
table, tr, td, thead, tbody {
	border-spacing: 0;
	border-collapse: collapse;
	border-width: 0px;
}
tr.odd td, tr.even td {
  padding: 0.0em;
}
tr.odd {
	background: #e8f7fe;
}
tr.even {
	background: #ffffff;
}
h1, h3, h4, h5, h6 {
	margin-bottom: 0.3em;
}

.bubble{
width: 400px;
}

.teaser-node-mr , .teaser-node-ml{
}

.teaser-node-mr{

width: 378px;
}
#ec-receipt-form{
display: none;
}
.customer-addresses{
display: inline
}

#edit-mail-wrapper{
background: #eeeeee;

padding-left: 10px;
}

.rtype-paypal-basic{
display: none;
}

.customer-addresses{
background: #eeeeee;

}
#edit-checkout{
position: relative;
width: 120px;
height: 30px;
border: 0;
background: url('http://peaceandlovesalon.com/sites/default/files/color/pixture-ffbfb8a7/checkout.gif') no-repeat;
display: block;
padding: 10px;
margin: 10px;

}

#navbar {
list-style: none;
margin-top:25px;
}
#navbar .first {
border-left: none;
}
#navbar .last {
border-right: none;
}

#navbar li{
display: inline;
padding-left:25px;
padding-right: 25px;
font-size: 11px;
background-position: center top;
padding-top: 32px;
background-repeat: no-repeat;
border-left: solid 1px;
}

#block-block-3{
margin:auto;
width:1000px;
}



#paypal{
width: 90px;
height: 15px;
background: url('http://peaceandlovesalon.com/sites/default/files/color/pixture-ffbfb8a7/creditcard.gif') no-repeat;
border: 0;
position: relative;
float: left;
display: block;
padding: 10px;
margin-right: 10px;
margin-top: 10px;
text-indent: -999px;

}

#edit-update{
position: relative;
width: 90px;
height: 50px;
border: 0;
background: url('http://peaceandlovesalon.com/sites/default/files/color/pixture-ffbfb8a7/submitorder.gif') no-repeat;
float: left;
padding: 10px;
display: block;
margin: 10px;

}

#edit-update2{
position: relative;
width: 90px;
height: 30px;
border: 0;
background: url('http://peaceandlovesalon.com/sites/default/files/color/pixture-ffbfb8a7/but_updatecart.gif') no-repeat;
float: left;
display: block;
padding: 10px;
margin: 10px;
}
#imageData
{
display: none;
}
#hoverNav
{
display: none;
}
#imageDataContainer
{
display: none;
}

h2.title{
margin: 0px;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.4em;
  margin-bottom: 0.8em;
}
em {
	text-decoration: none;
	font-weight: normal;
}
div#cr8 {
	padding-top: 8px;
}
table {
	/* make <td> sizes relative to body size! */
	font-size: 1em;
	width: 100%;
	margin: 0px;
}
.form-item label {
	font-size: 1em;
	color: #666666;
	font-weight: normal;
}
ul {
	padding: 0;
	padding-left: 1em;
	margin: 0px;
}
li {
	padding: 0;
	margin: 0px;
	padding-left: 0;
	line-height: 1.6em;
}
li a, li a:visited, li a:active, li a:hover {
	font-weight: normal;
}

.item-list ul {
	padding: 0px;
	margin: 0px;
}
.item-list ul li {
	font-size: 11px;
}
.item-list .title {
  font-size: 1em;
}
div.links {
	margin-bottom: 0;

	margin-top: 10px;
	text-align: right;
}
ul.links li {
	padding: 0px 0px 0px 10px;
	margin: 0;
}
.comment .links {
  margin-bottom: 0;
}

/*
** Page layout blocks / IDs
*/
#content {
	width: 100%;
}

/*
.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0 auto;  
}
*/

.submitted {
  color: #666666;
  font-size: 0.8em;
}
.links {
  color: #666666;
}
.links a {
  font-weight: normal;
}

/*-------------------------------------------------------------------*/
/*                          Basic Text Colors                        */
/*-------------------------------------------------------------------*/
a, a.active {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}
a:link, a.active:link {
	color: #000000;
}
a:visited, a.active:visited {
	color: #000000;
}
a:hover, a.active:hover {
	color: #3c2e2e;
	text-decoration: underline;
}
a:focus, a.active:focus {
	outline: none;
}
a.cartlinks{
color: #eb52c2;
}
/*-------------------------------------------------------------------*/
/*                               Header                              */
/*-------------------------------------------------------------------*/
table#header {
	width: 100%;
	padding: 0px;
	margin: 0px;
	background: url(header.png) no-repeat top left;
	vertical-align: top;
	line-height: 0em;
}
table#header tr {
	padding: 0px;
	margin: 0px;
}
#logo {
	width: 15px;
	padding: 0px;
	margin: 0px;
}
#site_name {
	text-align: left;
	height: 88px;
	padding: 0px;
	margin: 0px;
	vertical-align: center;
	overflow: hidden;
}
#site_name h1 {
	text-align: left;
	font-size: 30px;
	line-height: 1em;
	padding: 0px 5px;
	margin: 0px;
	font-family: Georgia, Times, serif;
}
#site_name h1 a {
	color: #ffffff;
}
#site_name h1 a:hover {
	text-decoration: none;
}
#site_name .site-slogan {
	color: #ffffff;
	font-size: 1em;
	line-height: 1em;
	padding: 0px;
	margin: 0px;
	text-align: left;
	padding-left: 7px;
	padding-bottom: 10px;
	padding-top: 4px;
}
#site_search {
	margin: 0px;
	padding: 0px;
	padding-right: 10px;
	padding-bottom: 15px;
	text-align: right;
	vertical-align: center;
}


#menu {
text-align: right;
position: relative;


padding-right: 10px;
}

#navlist {
	font-size: 1.0em;
	padding: 0px 0px;
}
#navlist li.first {
float: left;
}

#navlist a {
	font-weight: bold;
	color: #eb52c2;
}
#subnavlist {
	font-size: 1.0em;
	padding: 0px 0px;
}
#subnavlist a {
	font-weight: bold;
	color: #eb52c2;
}
#subnavlist li.first {
float: left;
}
div#search {
	margin-right: 10px;
	text-align: right;
	font-size: 11px;
	margin-top: 26px;	/* this is a MUST for Safari */
}
#search .form-text {
	width: 10em;
	padding: 2px 2px;
	border: solid 1px #a0a1b1;
}
div#search label {
	color: #000000;
	padding: 2px;
	display: none;
}

/*-------------------------------------------------------------------*/
/*                          Regular Blocks                           */
/*-------------------------------------------------------------------*/
/*
 we do not define regular blocks. use the default.
*/
.block .links {
	font-size: 11px;
}
.block .content {
	padding: 10px 5px;
}

/*-------------------------------------------------------------------*/
/*                              Regions                              */
/*-------------------------------------------------------------------*/
#main-content {
	width: 600px;
}
#main {
	/* padding in px not ex because IE messes up 100% width tables otherwise */
	padding: 0px 15px 10px 15px;
	width: 800px;
}
#mission, .node .content, .comment .content {
  line-height: 1.5em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
	padding: 0px;
	padding-bottom: 2px;
}
.error {
  border-color: red;
}
#sidebar-left, #sidebar-right {
	width: 220px;	/* needed for Drupal 6.x */
	background: #ffffff;
	padding: 0px 15px 15px 15px;
	vertical-align: top;
}
#sidebar-left {
	padding-right: 0px;
}
#sidebar-right {
	padding-left: 0px;
}
#footer {
	border: none;
	padding: 10px;
	background: #ffffff url(bg-footer.png) repeat-x bottom left;
	text-align: center;
	font-size: 11px;
	color: #ffffff;
}
#footer a {
	text-decoration: underline;
	font-weight: bold;
	color: #ffffff;
}
#footer .block .block-bc, #footer .block .block-tc {
	padding: 0px;
	margin: 0px;
	width: 100%;
	padding-top: 2px;
}
/*
#footer .block .block-bc {
	padding: 0px;
	margin: 0px;
	width: 100%;
	padding-top: 4px;
}
*/
#footer .block .content {
	padding: 0px;
	margin: 0px;
}

/*-------------------------------------------------------------------*/
/*                          Sidebar Blocks                           */
/*-------------------------------------------------------------------*/
.sidebar .block {
	margin: 0px;
	padding: 0px;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: 10px;
	width: 220px;
}
.sidebar .block .content {
	width: 100%;
}
.sidebar .block tr {
	margin: 0px;
	padding: 0px;
}
.sidebar .block td {
	margin: 0px;
	padding: 0px;
}
.sidebar .block td.block-tl {
	width: 10px;
	background: #eb52c2 url(block-tl.png) no-repeat top left;
}
.sidebar .block td.block-tc {
	width: 200px;
	margin: 0px;
	padding: 2px 0px;
	text-align: center;
	background: #eb52c2;
}
.sidebar .block td.block-tr {
	width: 10px;
	background: #eb52c2 url(block-tr.png) no-repeat top right;
}
.sidebar .block td.block-bl {
	width: 10px;
	background: #d1d1d1 url(block-bl.png) no-repeat bottom left;
}
.sidebar .block td.block-bc {
	width: 200px;
	margin: 0px;
	padding: 0px 10px 0px 0px;
	background: #d1d1d1;
}
.sidebar .block td.block-br {
	width: 10px;
	background: #d1d1d1 url(block-br.png) no-repeat bottom right;
}
.sidebar .block h2 {
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding: 2px;
	text-align: center;
}
.sidebar .block h3 {
	padding: 0px 3px;
	font-size: 12px;
}
.sidebar .block .title {
	font-size: 1em;
	margin-bottom: 0.3em;
}
.sidebar .block ul.links li {
	font-size: 10px;
}

/*-------------------------------------------------------------------*/
/*                                Poll                               */
/*-------------------------------------------------------------------*/
.poll .bar {
	background-color: #ececef;
	border: solid 1px #a0a1b1;
}
.poll .bar .foreground {
	background: #000000 url(bg-lbar.png) repeat-x center left;
}

/*-------------------------------------------------------------------*/
/*                               Node                                */
/*-------------------------------------------------------------------*/
.node {		/* full node */
	margin: 0;
	margin-bottom: 15px;
	background: #ffffff;
	padding: 0px;
	border-bottom: solid 1px #a0a1b1;
}
.sticky {
	background: #e8f7fe;
	border-bottom: solid 0px #ffffff;
}

.bubble {
	
}
.teaser {
	background: url(bubble.png); 
	background-repeat: no-repeat;
	background-position: center center;
	border-bottom: solid 0px #ffffff;
}
.node .content, .comment .content {
	clear: both;
	margin: 1em .5em .5em .5em;
}
.node .taxonomy {
	font-size: 0.8em;
	padding-left: 1.5em;
}
.node .taxonomy li {
	padding: 1px 5px;
}
.node .picture {
	border: 1px solid #d9d9df;
	float: right;
	margin: 0.5em;
}
.node .submitted {
	padding-left: 2px;
	color: #666666;
}
.node h2.title {
	font-size: 12px;
}
.node h2.title a:hover {
	text-decoration: none;
	color: #0b0b0b;
}
.node h2.title {
	margin: 0px;
	padding-top: 0px;
	border-bottom: solid 1px #b3b3c0;
}

/* table for each node (for rounded corners without using javascript) */

.node-tl {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	border-width: 0px;
	line-height: 1;
}
.node-tr {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	border-width: 0px;
	line-height: 1;
}
.node-bl {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	border-width: 0px;
	line-height: 1;
}
.node-br {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	border-width: 0px;
	line-height: 1;
}
.node-ml {
	padding: 0px;
	margin: 0px;
	width: 10px;
	border-width: 0px;
	line-height: 1;
}
.node-mr {
	padding: 0px;
	margin: 0px;
	width: 10px;
	border-width: 0px;
	line-height: 1;
}
.node-tc {
	padding: 0px;
	margin: 0px;
	height: 10px;
	border-width: 0px;
	line-height: 1;
}
.node-mc {
	padding: 0px;
}
.node-bc {
	padding: 0px;
	margin: 0px;
	height: 10px;
	border-width: 0px;
	line-height: 1;
}

.teaser-node-tl {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	background: none;
	background: url(teaser-tl.gif) no-repeat bottom left;
}
.teaser-node-tc {
	padding: 0px;
	margin: 0px;
	height: 10px;
	background: none;
	background: url(teaser-tc.gif) repeat-x top left;
}
.teaser-node-tr {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	background: none;
	background: url(teaser-tr.gif) no-repeat bottom right;
}
.teaser-node-ml {
	padding: 0px;
	margin: 0px;
	width: 10px;
	background: none;
	background: url(teaser-ml.gif) repeat-y top left;
}
.teaser-node-mc {
	padding: 0px;
	margin: 0px;
	background: none;
}
.teaser-node-mr {
	padding: 0px;
	margin: 0px;
	width: 10px;
	background: none;
	background: url(teaser-mr.gif) repeat-y top right;
}

.teaser-node-bl {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	background: none;
	background: url(teaser-bl.gif) no-repeat bottom left;
}
.teaser-node-bc {
	padding: 0px;
	margin: 0px;
	height: 10px;
	background: none;
	background: url(teaser-bc.gif) repeat-x bottom left;
}
.teaser-node-br {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	background: none;
	background: url(teaser-br.gif) no-repeat bottom right;
}

.sticky-node-tl {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	background: none;
	background: url(sticky-tl.png) no-repeat bottom left;
}
.sticky-node-tc {
	padding: 0px;
	margin: 0px;
	height: 10px;
	background: none;
}
.sticky-node-tr {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	background: none;
	background: url(sticky-tr.png) no-repeat bottom right;
}
.sticky-node-ml {
	padding: 0px;
	margin: 0px;
	width: 10px;
	background: none;
}
.sticky-node-mc {
	padding: 5px;
	margin: 0px;
	background: none;
}
.sticky-node-mr {
	padding: 0px;
	margin: 0px;
	width: 10px;
	background: none;
}

.sticky-node-bl {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	background: none;
	background: url(sticky-bl.png) no-repeat bottom left;
}
.sticky-node-bc {
	padding: 0px;
	margin: 0px;
	height: 10px;
	background: none;
}
.sticky-node-br {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	background: none;
	background: url(sticky-br.png) no-repeat bottom right;
}

h1.pagetitle {
	font-size: 18px;
	margin: 5px 0px 10px 0px;
	padding: 5px 10px;
	color: #ffffff;
	background: url(bg-title.png) repeat top left;
}

/*-------------------------------------------------------------------*/
/*                              Comments                             */
/*-------------------------------------------------------------------*/
.comment {
	margin: 5px;
	margin-bottom: 20px;
	padding: 0px;
	border: solid 1px #c6c6d0;
	background: #ffffff;
}
.comment .title a {
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px;
}
.comment .content {
	padding: 0px 10px;
}
.comment .new {
	padding-right: 10px;
	text-align: right;
	font-weight: bold;
	font-size: 0.8em;
	float: right;
	color: red;
}
.comment .picture {
	border: 1px solid #a0a1b1;
	float: right;
	margin: 0.5em;
}
.comment .comment-id {
	font-size: 16px;
	font-weight: bold;
	padding-right: 10px;
}
.comment .submitted {
	font-size: 11px;
	margin-bottom: 10px;
	padding: 4px 5px;
	background: #ececef;
	color: #666666;
}
.comment div.links {
	padding: 5px;
	margin-top: 0px;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #ececef;
  border: 1px solid #c6c6d0;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}

/*-------------------------------------------------------------------*/
/*                               Forum                               */
/*-------------------------------------------------------------------*/
#forum {
	margin: 15px 0px;
}
#forum td.container {
	background: #d9d9df;
}
#forum thead, #forum tbody {
	border: solid 0px #ffffff;
}
td.icon {
	text-align: center;
}
#forum td.forum {
	margin: 0px;
	padding: 0px;
}
#forum td.last-reply {
	background: none;
}
#forum .name a {
	margin: 0px;
	padding: 0px;
}
#forum .description {
	padding: 0px;
	margin: 0;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.forum-topic-navigation a.topic-next {
	text-align: right;
}
div.forum-topic-navigation a.topic-previous {
	text-align: left;
}

/*-------------------------------------------------------------------*/
/*                              Profile                              */
/*-------------------------------------------------------------------*/
#profile .profile {
  clear: both;
  border: 1px solid #a0a1b1;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
/*-------------------------------------------------------------------*/
/*                             Administer                            */
/*-------------------------------------------------------------------*/
div.admin, div.admin .left, div.admin .right {
	margin: 0px;
	padding: 5px;
	overflow: hidden;
}
div.admin-panel {
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
	background: #e8f7fe;
}
div.admin-panel a {
	font-weight: normal;
	overflow: hidden;
}
div.admin-panel .description {
}
div.admin-panel .body {
	font-size: 11px;
}
div.admin-panel h3 {
	padding: 5px 8px 5px;
	margin: 0;
	background: #4cc9f3;
	color: #ffffff;
}
div.help {
	margin: 0px;
	padding: 2px 5px;
	margin-top: 5px;
}

/*-------------------------------------------------------------------*/
/*                                Pager                              */
/*-------------------------------------------------------------------*/
/*---- for Drupal 5.x ----
div.pager {
	margin: 5px;
	padding: 5px 0px;
	font-size: 13px;
}
.pager-list {
	margin: 0px;
	padding: 0px;
}
.pager strong.pager-current {
	color: #ffffff;
	margin: 2px;
	padding: 4px 8px;
	background: #b94bf6a
}
.pager a {
	margin: 2px;
	padding: 4px 8px;
	background: #dcbdbd;
}
.pager a:hover {
	background: #989898;
}
*/

/*---- for Drupal 6.x ----*/
div.item-list ul.pager li {
	padding: 0px;
	margin: 0px;
}
ul.pager {
	padding: 5px 0px;
	margin: 0px;
}
ul.pager li {
	padding: 0px;
	margin: 0px;
}
div.item-list ul.pager li.pager-current {
	color: #ffffff;
	margin: 2px;
	padding: 4px 8px;
	background: #4cc9f3;
}
.pager a {
	margin: 2px;
	padding: 4px 8px;
	background: #dcbdbd;
}
.pager a:hover {
	background: #989898;
}

/*-------------------------------------------------------------------*/
/*                                Tabs                               */
/*-------------------------------------------------------------------*/
.tabs {
	font-size: 12px;
}
.tabs a {
	font-weight: normal;
	line-height: 2.2em;
}
.tabs ul {
	padding: 0;
	margin: 0;
	padding-left: 5px;
	border-bottom: solid 0px #ffffff;
	margin-bottom: 10px;
}
.tabs ul li {
}
.tabs ul li a {
	margin: 0px;
	padding: 4px 10px;
	background: #ffffff;
	border: solid 1px #ececef;
}
.tabs ul li a:hover {
	text-decoration: underline;
	background: #adadad;
	border: solid 1px #a0a1b1;
}
.tabs ul li a.active, .tabs ul li.active a {
	color: #ffffff;
	background: url(bg-bar-lite.png) repeat-x center center;
	border: solid 1px #4cc9f3;
}
.tabs ul li a.active:hover {
	text-decoration: underline;
	background: url(bg-bar.png) repeat-x center center;
	border: solid 1px #7e4444;
}
ul.secondary {
}
ul.secondary li {
	font-size: 11px;
	margin: 0;
	padding: 0;
	border: solid 0px #ffffff;
}
ul.secondary li a {
	margin: 0;
	padding: 2px 4px;
	margin-right: 2px;
	margin-left: 0px;
	border: solid 1px #e3e3e3;
}

/*-------------------------------------------------------------------*/
/*                      Archive Calendar Block                       */
/*-------------------------------------------------------------------*/
.sidebar .block-archive .content {
	padding: 10px 15px 10px 5px;
}
.sidebar .block-archive .content tr {
	background: none;
	border: solid 0px #ffffff;
}
.sidebar .block-archive .content table td {
	border: solid 1px #b5dfec;	/* a bit darker than block background */
	padding: 1px 2px;
	text-align: center;
}

/*******************************************************************
*                                        *
*******************************************************************/

/*-------------------------------------------------------------------*/
/*                              Mission                              */
/*-------------------------------------------------------------------*/
#mission {
	margin: 0px 20px 15px 20px;
	padding: 5px 5px;
	font-size: 1.1em;
	line-height: 1.1em;
	font-weight: bold;
	border-bottom: solid 1px #cccccc;
}

/*-------------------------------------------------------------------*/
/*                        Book Navigation                            */
/*-------------------------------------------------------------------*/
.box {
	background: #eeeeee;
	padding: 5px;
	padding: 10px;
}
.box h2 {
	padding-bottom: 2px;
	border-bottom: solid 1px #aaaaaa;
}
.book-navigation {
	padding-bottom: 5px;
}
.book-navigation ul.menu {
	padding-top: 5px;
	padding-bottom: 5px;
}
div.page-links a.page-previous {
	width: 40%;
	padding: 0px;
	margin: 0px;
}
div.page-links a.page-up {
	width: 19%;
	padding: 0px;
	margin: 0px;
}
div.page-links a.page-next {
	width: 40%;
	padding: 0px;
	margin: 0px;
}

/*-------------------------------------------------------------------*/
/*                        Image Galleries                            */
/*-------------------------------------------------------------------*/
ul.galleries li {
	border: solid 1px #aaaaaa;
	background: #ffffff;
}
ul.galleries li h3 a {
	font-size: 1.1em;
	font-weight: bold;
	
}
ul.images {
	border: solid 1px #aaaaaa;
	overflow: hidden;
}
ul.images li {
	text-align: center;
}
ul.images li h3 {
	margin: 0px;
	padding: 0px;
}

/*-------------------------------------------------------------------*/
/*                              Others                               */
/*-------------------------------------------------------------------*/
.pushbutton, button, .form-submit {
	margin-bottom: 1px;
	cursor: pointer;
	padding: 2px 10px;
	color: #666666;
	font-weight: normal;
	font-size: 12px;
	border: solid 1px #888888;
	background: #fff url(button.gif) repeat-x center;
}
.pushbutton:hover, button:hover, .form-submit:hover {
	color: #000000;
	border: solid 1px #666666;
	background: #fff url(button-o.gif) repeat-x center;
}

/*-------------------------------------------------------------------*/
/*                          Misc for Contents                        */
/*-------------------------------------------------------------------*/
pre {
	margin: 0px 3px;
	padding: 5px;
	background: #222222;
	border: solid 1px #111111;
	color: #dddddd;
	white-space: -moz-pre-wrap;	/* Mozilla */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: pre-wrap;      /* CSS3 */
	word-wrap: break-word;      /* IE 5.5+ */
	line-height: 1.5em;

	background: #eeeeee;
	border: solid 1px #bbbbbb;
	color: #222222;
}

blockquote {
	margin: 4px 10px;
	padding: 10px 15px;
	background: #f9cbed;	/* same as block content background color */
}

.messages {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.messages li {
	margin-left: 10px;
}


/* creditcard button fix 040610  - parent id is to force senority*/
#ec-checkout-form #update-btn {
	display:none;	
}