
<style type="text/css">
<!--
/*******************************************************************/
/***  Cascading Style Sheet for ShopSite Default More Info Pages ***/
/*******************************************************************/

/***********************/
/***  Page Defaults  ***/
/***********************/
body, p, h1, h2, h3, td, div, ol, ul, dl, input {
}

body {
  color: #[-- MORE_INFO.TextColor --];
  background-color: #[-- MORE_INFO.BackgroundColor --];
}

[-- INCLUDE Product-MoreInfo.css PROCESS --]

/***********************/
/***  Hyperlinks     ***/
/***********************/
a:link {
  color: #[-- MORE_INFO.LinkColor --];
}
a:visited {
  color: #[-- MORE_INFO.VisitedLinkColor --];
}
a:hover {
  color: #[-- MORE_INFO.LinkColor --];
}
a:active {
  color: #[-- MORE_INFO.ActiveLinkColor --];
}

a.viewcart:link {
  text-decoration: underline;
  color: #[-- MORE_INFO.VisitedLinkColor --];
}
a.viewcart:visited {
  text-decoration: underline;
  color: #[-- MORE_INFO.VisitedLinkColor --];
}
a.viewcart:hover {
  text-decoration: underline;
  color: #[-- MORE_INFO.TextColor --];
}
a.viewcart:active {
  text-decoration: underline;
  color: #[-- MORE_INFO.VisitedLinkColor --];
}


/***********************/
/***  Headings       ***/
/***********************/
h1 {
  font-size: 16pt;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 14pt;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-size: 12pt;
  margin-top: 0px;
  margin-bottom: 0px;
}


div.header {
}

div.footer {
  text-align: center;
  margin-top: 10px;
}

/************************/
/*** Tables and Cells ***/
/************************/
td {
  font-size: 9pt;
}

/*************************/
/***  Font Formatting  ***/
/*************************/
small, Small {
  font-size: smaller;
}

Big {
  font-size: larger;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

tt {
  font-family: monospace;
}
-->
</style>


