<style type="text/css">
<!--
/************************************************/
/***    Cascading Style Sheet for ShopSite    ***/
/***  Default Customer Registration Template  ***/
/************************************************/

/***********************/
/***  Page Defaults  ***/
/***********************/
body {
  margin: 0px;
  color: #[-- STORE.SC_TextColor --];
  background-color: #[-- STORE.SC_BackgroundColor --];
}

/***********************/
/***  Hyperlinks     ***/
/***********************/
a:link {
  color: #[-- STORE.SC_LinkColor --];
}
a:visited {
  color: #[-- STORE.SC_VisitedLinkColor --];
}
a:hover {
  color: #[-- STORE.SC_LinkColor --];
}
a:active {
  color: #[-- STORE.SC_ActiveLinkColor --];
}

p#header {
  text-align: center;
}

p#footer {
  text-align: center;
}

p#order_number {
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 16pt;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  font-size: 14pt;
  text-align: center;
  margin-top: 14pt;
  margin-bottom: 6pt;
}


/* table for entering customer name */
td.bill_addr_hdr {
  font-weight: bold;
}

/* Address field labels */
td.addr {
  text-align: right;
  padding-right: 5px;
}

/* Address fields */
td.addr_val {
  text-align: left;
}

/* table for entering customer e-mail and password */
td.email_pw {
  text-align: left;
  padding-right: 10px;
}

/* table for selecting HTML/plain text e-mail */
td.email_type {
  width: 100%;
}

td.payment_hdr {
  font-weight: bold;
}

td.payment {
  text-align: left;
}

td.payment_value {
  text-align: left;
}


table.order_del {
  font-weight: bold;
}

div.cust_name {
  font-weight: bold;
}

table.view_edit {
  width: 400px;
}

td.view_edit {
  text-align: center;
  padding-bottom: 15px;
}


/***********************/
/***  Error Messages ***/
/***********************/
td.ups_error {
  vertical-align: middle;
}

/**********************************/
/***  Table of Products (Cart)  ***/
/**********************************/
table.cart {
  color: #[--STORE.SC_TextColor--];
  vertical-align: middle;
  width: 100%;
}

th {
  text-align: center;
  background-color: #[--STORE.SC_BackgroundColor--];
}

th.cart_delete, th.cart_quantity, th.cart_name, th.cart_sku, th.cart_price, th.cart_total {
}

td.cart_delete, td.cart_cp_delete {
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  white-space: nowrap;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_quantity, td.cart_cp_quantity {
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  white-space: nowrap;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_name, td.cart_cp_name {
  width: 150px;
  text-align: left;
  white-space: nowrap;
  padding-left: 4px;
  padding-right: 10px;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_sku, td.cart_cp_sku {
  text-align: left;
  white-space: nowrap;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_price, td.cart_cp_price {
  font-style: italic;
  text-align: right;
  padding-left: 24px;
  padding-right: 4px;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_total, td.cart_cp_total {
  text-align: right;
  padding-left: 14px;
  padding-right: 4px;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_op {
  text-align: left;
  background-color: #[-- STORE.SC_ShadeColor --];
}

td.cart_op1, td.cart_op2 {
  background-color: #[-- STORE.SC_ShadeColor --];
}

select.cart {
  text-align: left;
}

textarea.cart {
  vertical-align: middle;
}

/* Delete Item Button */
input.button154 {
  color: #[--STORE.SC_TextColor--];
  cursor: pointer;
}


/***************************************/
/***          Table of Totals        ***/
/***  Subtotal, Tax, Shipping, etc.  ***/
/***************************************/
table.totals {
  color: #[--STORE.SC_TextColor--];
  vertical-align: middle;
  width: 100%;
}

td.totals_txt {
  text-align: right;
}

td.totals {
  text-align: right;
  padding-left: 10px;
}

td.totals_all_txt {
  font-weight: bold;
  text-align: right;
}

td.totals_all {
  font-weight: bold;
  text-align: right;
  padding-left: 10px;
}

-->
</style>
