
/******************/
/***  Mini Cart ***/
/******************/
div.MiniCart {
  text-align: left;
  padding-top: 15px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: [-- VAR.VisitedLinkColor --];
}

img.MiniCart {
  vertical-align: middle;
}

table.MiniCart {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: [-- VAR.VisitedLinkColor --];
}

th.MiniCart {
  font-weight: normal;
  text-align: left;
  font-size: 8pt;
}

td.MiniCart {
  font-size: 8pt;
}

td.MiniCartHead {
  text-align: center;
  font-size: 8pt;
}

td.MiniCartQty {
  text-align: left;
  vertical-align: top;
  font-size: 8pt;
}

td.MiniCartProduct {
  vertical-align: top;
  font-size: 8pt;
}

td.MiniCartPrice {
  vertical-align: top;
  text-align: right;
  font-size: 8pt;
}

td.MiniCartSubtotalText {
  text-align: right;
  font-size: 8pt;
}

td.MiniCartSubtotal {
  text-align: right;
  font-size: 8pt;
}

a.MiniCart:link { 
  text-decoration: underline;
  color: [-- VAR.LinkColor --];
}
a.MiniCart:visited { 
  text-decoration: underline;
  color: [-- VAR.LinkColor --];
}
a.MiniCart:hover { 
  text-decoration: underline;
  color: [-- VAR.VisitedLinkColor --];
}
a.MiniCart:active { 
  text-decoration: underline;
  color: [-- VAR.LinkColor --];
}

