
<style type="text/css">
<!--
/***************************************************************/
/***  Cascading Style Sheet for ShopSite Stained Glass Theme ***/
/***************************************************************/

/***********************/
/***  Page Defaults  ***/
/***********************/
body, p, h1, h2, h3, td, div, ol, ul, dl, input {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

body {
  color: [-- PAGE.TextColor --];
  background-color: [-- PAGE.BackgroundColor --];
  font-size: 9pt;
  margin: 0px;
}

td {
  font-size: 9pt;
}

[-- IF MiniCart --]
  [-- INCLUDE StainedGlass-MiniCart.css PROCESS --]
[-- END_IF --]

[-- IF PAGE.NumProducts 0 --]
# don't include these styles
[-- ELSE --]
/*******************/
/***  Products   ***/
/*******************/
[-- INCLUDE Product.css PROCESS --]

/***********************/
/***  Product Links  ***/
/***********************/
a:link { 
  color: [-- VAR.LinkColor --];
}
a:visited { 
  color: [-- VAR.VisitedLinkColor --];
}
a:hover { 
  color: [-- VAR.LinkColor --];
}
a:active { 
  color: [-- VAR.ActiveLinkColor --];
}
[-- END_IF --]

/******************/
/*** Page Links ***/
/******************/
td.button {
  background-image: url([-- OUTPUT_DIRECTORY_URL --]/[-- VAR.Media --]/sg_button_blank.gif);
  background-position: center center;
  background-repeat: no-repeat;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  font-size: 9pt;
  color: #000066;
  text-decoration: none;
  border: 0pt;
  width: 120px;
  height: 25px;
}

a.button:link {
  text-decoration: none;
  color: #000066;
}
a.button:visited {
  text-decoration: none;
  color: #000066;
}
a.button:hover {
  text-decoration: none;
  color: black;
}

/*****************************/
/*** Gift Certificate Link ***/
/*****************************/
a.giftcertlink:link {
  text-decoration: none;
  color: #000066;
}
a.giftcertlink:visited {
  text-decoration: none;
  color: #000066;
}
a.giftcertlink:hover {
  text-decoration: none;
  color: black;
}

/***********************/
/***  Headings       ***/
/***********************/
h1 {
  font-size: 17pt;
  margin-top: 10px;
  margin-bottom: 0pt;
}

h2 {
  font-size: 15pt;
  margin-top: 8px;
  margin-bottom: 0pt;
}

h3 {
  font-size: 13pt;
  margin-top: 8px;
  margin-bottom: 0pt;
}

/***************/
/***  Header ***/
/***************/
div.header {
  margin-top: 20px;
  width: 470px;
}

table.header {
  background-position: top left;
  background-repeat: no-repeat;
  border: none;
  margin: 0px;
}

/****************/
/***  Footer  ***/
/****************/
div.footer {
  margin-top: 10px;
  width: 470px;
}

table.footer {
  background-position: top left;
  background-repeat: no-repeat;
  border: none;
  margin: 0px;
}

/*******************/
/***  Page Name  ***/
/*******************/
div.name {
  background: url([-- OUTPUT_DIRECTORY_URL --]/[-- VAR.Media --]/sg_banner.gif);
  background-color: white;
  width: 408px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  border: thin white solid;
}

td.name {
  background-position: center center;
  background-repeat: no-repeat;
}

/************************/
/*** Tables and Cells ***/
/************************/
table.middle {
  background-position: top left;
  background-repeat: repeat-y;
  border: none;
  margin: 0px;
}

table.inner {
  border: none;
  margin: 0px;
}

p.Space {
  font-size: 6pt;
  margin-left: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
}

/*****************************/
/*** Multi Page Navigation ***/
/*****************************/
span.currentpage, span.prevnext {
  padding-left: 1pt;
  padding-right: 1pt;
}

/*************************/
/***  Font Formatting  ***/
/*************************/
small, Small {
  font-size: smaller;
}

Big {
  font-size: larger;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

tt {
  font-family: monospace;
}

-->
</style>

