
<style type"text/css">
<!--
body, p, h1, h2, h3, td, div, ol, ul, dl {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

body {
  margin: 0em;
  color: [-- MORE_INFO.TextColor --];
  background-color: [-- MORE_INFO.BackgroundColor --];
  font-size: 10pt;
}

table, td {
  font-size: 10pt;
}

[-- INCLUDE Product-MoreInfo.css PROCESS --]

[-- IF MiniCart --]
  [-- INCLUDE StainedGlass-MiniCart.css PROCESS --]
[-- END_IF --]

/***********************/
/***  Product Links  ***/
/***********************/
a:link {
  color: #[-- MORE_INFO.LinkColor --];
}
a:visited {
  color: #[-- MORE_INFO.VisitedLinkColor --];
}
a:hover {
  color: #[-- MORE_INFO.LinkColor --];
}
a:active {
  color: #[-- MORE_INFO.ActiveLinkColor --];
}

/******************/
/***  Headings  ***/
/******************/
h1 {
  font-size: 17pt;
  margin-top: 10px;
  margin-bottom: 0pt;
}

h2 {
  font-size: 15pt;
  margin-top: 8px;
  margin-bottom: 0pt;
}

h3 {
  font-size: 13pt;
  margin-top: 8px;
  margin-bottom: 0pt;
}

/****************/
/***  Header  ***/
/****************/
table.header {
  background-image: url([-- OUTPUT_DIRECTORY_URL --]/[-- VAR.Media --]/sg_background_top.gif);
  background-position: top left;
  background-repeat: no-repeat;
  border: 0pt;
  width: 800;
  height: 154;
}

div.header {
  padding-top: 15px;
  width: 470px;
}

/****************/
/***  Footer  ***/
/****************/
table.footer {
  background-image: url([-- OUTPUT_DIRECTORY_URL --]/[-- VAR.Media --]/sg_background_bottom.gif);
  background-position: top left;
  background-repeat: no-repeat;
  border: 0pt;
  width: 800;
  height: 160;
}

/*******************/
/***  Main Body  ***/
/*******************/
table.middle {
  background-image: url([-- OUTPUT_DIRECTORY_URL --]/[-- VAR.Media --]/sg_background_middle.gif);
  background-position: top left;
  background-repeat: repeat-y;
  width: 800;
}

/*************************/
/***  Font Formatting  ***/
/*************************/
small, Small {
  font-size: smaller;
}

Big {
  font-size: larger;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

tt {
  font-family: monospace;
}


-->
</style>

