
/*************************************/
/*** Product and Subproduct Layout ***/
/*************************************/
span.ProductName {
  font-weight: bold;
  display: block;
}

span.ProductDescription {
  margin-bottom: 4px;
  display: block;
  text-align: left;
}

span.ProductPriceContainer {
  display: inline;
  vertical-align: middle;
}

span.VariableProductSKU, span.VariableProductName {
  display: block;
  font-weight: bold;
  margin-top: 4px;
}

span.VariableProductPrice {
  display: inline;
  font-weight: bold;
  margin-top: 4px;
}

div.Subproduct {
  margin-bottom: 4px;
}

span.SubproductName {
  margin-right: 4px;
  font-weight: bold;
/*  display: inline; */
}

span.SubproductPriceContainer {
  display: inline;
}

span.ProductPrice, span.SubproductPrice {
  display: inline;
}

span.ProductAltPrice, span.ProductAltPrice {
  display: inline;
}

span.ProductSalePriceContainer, span.SubproductSalePriceContainer {
  display: inline;
}

span.ProductSaleRegularPrice, span.SubproductSaleRegularPrice {
  display: inline;
  text-decoration: line-through;
}

span.ProductSaleAmount, span.SubproductSaleAmount {
  display: inline;
}

span.ProductAltSalePriceContainer {
  display: block;
}

span.SubproductAltSalePriceContainer {
  display: inline;
}

span.ProductAltSaleRegularPrice, span.SubproductAltSaleRegularPrice {
  display: inline;
  text-decoration: line-through;
}

span.ProductAltSaleAmount, span.SubproductAltSaleAmount {
  display: inline;
}

span.OnSaleText {
  color: red;
  font-weight: bold;
}

span.ProductSKU {
  display: block;
  font-size: smaller;
}

table.qp_header {
}

/**************************/
/*** Add to Cart Button ***/
/**************************/
div.AddToCartButton {
  display: inline;
  vertical-align: middle;
}

input.add { 
  font-size: 9pt;
  color: [-- VAR.LinkColor --];
  background-color: [-- VAR.BackgroundColor --];
  border-width: 0px;
  border-style: none;
  vertical-align: middle;
  text-decoration: underline;
  padding-left: 0px;
  padding-right: 0px;

/* Hand cursor for IE5 */
/* Pointer for all others */
  cursor: hand;
  voice-family: "\"}\"";
  voice-family:inherit;
  cursor: pointer;
}

