/******************/
/***  Mini Cart ***/
/******************/
div.MiniCart {
  text-align: right;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: [-- VAR.MiniCartTextColor --]
}

img.MiniCart {
  vertical-align: middle;
}

table.MiniCart {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 7pt;
}

th.MiniCart {
  font-weight: normal;
  text-align: center;
}

td.MiniCart {
}

td.MiniCartHead {
  text-align: center;
}

td.MiniCartQty {
  text-align: center;
}

td.MiniCartProduct {
}

td.MiniCartPrice {
  text-align: right;
}

td.MiniCartSubtotalText {
  text-align: right;
}

td.MiniCartSubtotal {
  text-align: right;
}

a.MiniCart:link { 
  text-decoration: underline;
  color: [-- VAR.MiniCartTextColor --]
}
a.MiniCart:visited { 
  text-decoration: underline;
  color: [-- VAR.MiniCartTextColor --]
}
a.MiniCart:hover { 
  text-decoration: underline;
  color: [-- VAR.MiniCartHoverColor --]
}
a.MiniCart:active { 
  text-decoration: underline;
  color: [-- VAR.MiniCartTextColor --]
}


