
[-- VAR.LinkColor MORE_INFO.LinkColor --]
[-- VAR.BackgroundColor MORE_INFO.BackgroundColor --]

<style type="text/css">
<!--
/*******************************************************************/
/***  Cascading Style Sheet for ShopSite Tabbed Navigation Theme ***/
/***                         More Info Pages                     ***/
/*******************************************************************/

/***********************/
/***  Page Defaults  ***/
/***********************/
body, p, h1, h2, h3, td, div, ol, ul, dl {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

body {
  color: #[-- MORE_INFO.TextColor --];
  background-color: #[-- MORE_INFO.BackgroundColor --];
  font-size: 10pt;
  margin: 0px;
}

[-- INCLUDE Product-MoreInfo.css PROCESS --]

[-- IF MiniCart --]
  [-- INCLUDE Tabs-MiniCart.css PROCESS --]
[-- END_IF --]

/***********************/
/***  Hyperlinks     ***/
/***********************/
a:link {
  color: #[-- MORE_INFO.LinkColor --];
}
a:visited {
  color: #[-- MORE_INFO.VisitedLinkColor --];
}
a:hover {
  color: #[-- MORE_INFO.LinkColor --];
}
a:active {
  color: #[-- MORE_INFO.ActiveLinkColor --];
}

/******************/
/***  Headings  ***/
/******************/
h1 {
  font-size: 18pt;
  margin-top: 10px;
  margin-bottom: 0pt;
}

/************************/
/*** Tables and Cells ***/
/************************/
td {
  font-size: 10pt;
}

td.bannerimage {
  text-align: left;
}

td.search {
  font-size: 9pt;
  color: [-- VAR.ThisPageFontColor --];
  font-weight: bold;
}

table.qp_header {
  font-size: 10pt;
}

/*****************************/
/***  Named Divs and Spans ***/
/*****************************/
div.footer {
  margin-top: 50px;
  width: 470px;
}

div.header {
  margin-top: 20px;
  width: 470px;
}

p.Space {
  font-size: 6pt;
  margin-left: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
}
-->
</style>

