
<style type="text/css">
<!--
/*******************************************************************/
/***  Cascading Style Sheet for ShopSite Tabbed Navigation Theme ***/
/*******************************************************************/

/***********************/
/***  Page Defaults  ***/
/***********************/
body, p, h1, h2, h3, td, div, ol, ul, dl, input {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

body {
  color: [-- PAGE.TextColor --];
  background-color: [-- PAGE.BackgroundColor --];
  font-size: 10pt;
  margin: 0px;
}

td {
  font-size: 10pt;
}

[-- IF MiniCart --]
  [-- INCLUDE Tabs-MiniCart.css PROCESS --]
[-- END_IF --]

/********************/
/***  Page Links  ***/
/********************/
a.link:link { 
  text-decoration: none;
  color: [-- VAR.PageLinkColor --];
}
a.link:visited { 
  text-decoration: none;
  color: [-- VAR.PageLinkColor --];
}
a.link:hover { 
  text-decoration: underline;
  color: [-- VAR.PageLinkColor --];
}
a.link:active { 
  text-decoration: underline;
  color: [-- PAGE.ActiveLinkColor --];
}

a.selected_link:link { 
  text-decoration: none;
  color: [-- VAR.ThisPageFontColor --];
}
a.selected_link:visited { 
  text-decoration: none;
  color: [-- VAR.ThisPageFontColor --];
}
a.selected_link:hover { 
  text-decoration: underline;
  color: [-- VAR.ThisPageFontColor --];
}
a.selected_link:active { 
  text-decoration: underline;
  color: [-- PAGE.ActiveLinkColor --];
}

/******************************/
/***  Gift Certificate Link ***/
/******************************/
a.giftcertlink:link { 
  text-decoration: none;
  color: [-- VAR.PageLinkColor --];
}
a.giftcertlink:visited { 
  text-decoration: none;
  color: [-- VAR.PageLinkColor --];
}
a.giftcertlink:hover { 
  text-decoration: underline;
  color: [-- VAR.PageLinkColor --];
}
a.giftcertlink:active { 
  text-decoration: underline;
  color: [-- PAGE.ActiveLinkColor --];
}

[-- IF PAGE.NumProducts 0 --]
# skip this section
[-- ELSE --]
/*******************/
/***  Products   ***/
/*******************/
[-- INCLUDE Product.css PROCESS --]

/***********************/
/***  Product Links  ***/
/***********************/
a:link { 
  color: [-- PAGE.LinkColor --];
}
a:visited { 
  color: [-- PAGE.VisitedLinkColor --];
}
a:hover { 
  color: [-- PAGE.LinkColor --];
}
a:active { 
  color: [-- PAGE.ActiveLinkColor --];
}
[-- END_IF --]

/*************************/
/***  View Cart Links  ***/
/*************************/
a.viewcart:link { 
  text-decoration: none;
  color: [-- VAR.ViewCartColor --];
}
a.viewcart:visited { 
  text-decoration: none;
  color: [-- VAR.ViewCartColor --];
}
a.viewcart:hover { 
  text-decoration: underline;
  color: [-- VAR.ViewCartColor --];
}
a.viewcart:active { 
  text-decoration: underline;
  color: [-- PAGE.ActiveLinkColor --];
}

/***********************/
/***  Headings       ***/
/***********************/
h1 {
  font-size: 18pt;
  margin-top: 10px;
  margin-bottom: 0pt;
}

h2 {
  font-size: 16pt;
  margin-top: 8px;
  margin-bottom: 0pt;
}

h3 {
  font-size: 14pt;
  margin-top: 8px;
  margin-bottom: 0pt;
}


/**************/
/*** Search ***/
/**************/
td.search {
  font-size: 9pt;
  color: [-- VAR.ThisPageFontColor --];
  font-weight: bold;
}

/**************/
/***  Tabs  ***/
/**************/
td.tab, td.tabselected {
  font-size: 10pt;
  font-weight: bold;
  color: [-- PAGE.LinkColor --];
  text-align: center;
}

td.tabselected {
  background-image: url([-- OUTPUT_DIRECTORY_URL --]/[-- VAR.Media --]/tab_[-- VAR.TabColor --]_selected_middle.gif);
}

/****************/
/***  Footer  ***/
/****************/
div.footer {
  margin-top: 50px;
  width: 470px;
}

p.Space {
  font-size: 6pt;
  margin-left: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
}

/*****************************/
/*** Multi Page Navigation ***/
/*****************************/
span.currentpage, span.prevnext {
  padding-left: 1pt;
  padding-right: 1pt;
}

/*************************/
/***  Font Formatting  ***/
/*************************/
small, Small {
  font-size: smaller;
}

Big {
  font-size: larger;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

tt {
  font-family: monospace;
}

-->
</style>

