/* $Id: ec_charge.admin.css,v 1.1.2.1 2009/02/12 04:16:36 gordon Exp $ */

#left-container {
  padding-right: 0.5em;
  width: 48.5%;
}

#right-container {
  float: right;
  margin: 0;
  padding: 0 0 0 0.5em;
  width: 48.5%;
}

.ec-charge-hidden {
  display: none;
}

.form-item-inline {
}

.form-item-inline div {
}

