body {
margin:0px;
	background:#fff url(images/leftnav_back.jpg) fixed left repeat-y;
}
.topnavigation {
	background-image:url(images/topnav_back.jpg);
	background-repeat:no-repeat;
	background:#fff url(images/topnav_back.jpg) no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	text-decoration:none;
}
.topnavigation2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	text-decoration:none;
}
.topnavlinks {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	text-decoration:none;
}
.topnavlinks:HOVER {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#222222;
	text-decoration:underline;
}
.leftnavigation {
	padding:4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	text-decoration:none;
}
#dash {
	background-image:url(images/wh_dash.gif);
	padding:0px;
	color:#000000;
	height:3px;
	width:161px;
	margin:0px 0px 0px 1px;
}
.leftnavpadding {
	background-image:url(images/leftnav_padding.jpg);
	background-repeat:no-repeat;
	padding:4px;
	background:#fff url(images/leftnav_padding.jpg) repeat-y;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	text-decoration:none;
}
.navheader {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:normal;
	font-weight:bold;
	text-transform:uppercase;
	color:#FFFFFF;
	padding-top:2px;
	padding-left:1px;
	/*border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:dotted;
	border-top-color:#FFFFFF;
	border-right-color:#FFFFFF;
	border-bottom-color:#FFFFFF;
	border-left-color:#FFFFFF;*/
}
.navsecondary {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	line-height:normal;
	color:#8ccff3;
	font-style:italic;
	padding-left:2px;
}
#col {
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:400;
	color:#fff;
	text-decoration:none;
	line-height:%100;
  }
#col ul {
  margin:0;
  padding:1px 0px 0;
  }
#col li {
	margin:0;
	padding:0 0 0 0px;
	display:table-row;
  }
#col a {
  padding:0px 2px 0px 2px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:400;
	color:#fff;
	text-decoration:none;
	line-height:%100;
  }
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#col a {float:none;}
/* End IE5-Mac hack */
#col a:hover {
    background-color:#085ca6;
	color:#fff;
  }
#col #current {
    background-color:#085ca6;
	color:#fff;
  }
#col #current a {
    background-color:#085ca6;
	color:#fff;
  padding-bottom:0px;
  }
body {
	margin:0px;
}
td {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:400;
	color:#000;
	text-decoration:none;
	line-height:%100;
}
.bluetext {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:400;
	color:#0074d0;
	text-decoration:none;
	line-height:%100;
}
.productlist {
	background-color:#daeff8;
	padding-top:15px;
	padding-right:10px;
	padding-bottom:20px;
	padding-left:10px;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:dashed;
	border-right-style:dashed;
	border-top-color:#000000;
	border-right-color:#000000;
	border-bottom-color:#000000;
	border-left-color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:400;
	color:#000;
	text-decoration:none;
	line-height:%100;
	width:333px;
}
.productlistright {
	background-color:#daeff8;
	padding-top:15px;
	padding-right:10px;
	padding-bottom:20px;
	padding-left:10px;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:dashed;
	border-top-color:#000000;
	border-right-color:#000000;
	border-bottom-color:#000000;
	border-left-color:#000000;
}
.producttablebottom {
	background-color:#daeff8;
	border-bottom-width:1px;
	border-bottom-style:dashed;
	border-bottom-color:#000000;
	border-left-width:1px;
	border-left-style:dashed;
	border-left-color:#000000;
}
.tableallborder {
	background-color:#daeff8;
	border-width:1px;
	border-style:dashed;
	border-color:#000000;
}
.tableborderright {
	background-color:#daeff8;
	border-right-width:1px;
	border-right-style:dashed;
	border-right-color:#000000;
}
.sep {
	border-bottom-width:1px;
	border-bottom-style:dashed;
	border-bottom-color:#000000;
	background-color:#fff;
}
.productlisting {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:400;
	color:#000;
	text-decoration:none;
	line-height:%100;
}
.productdescription {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:400;
	color:#000;
	text-decoration:none;
	line-height:%100;
}
.productheader {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:normal;
	font-weight:bold;
	text-transform:uppercase;
	color:#000;
}
.ProductName {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:normal;
	font-weight:bold;
	text-transform:uppercase;
	color:#000;
}
.productnew {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:normal;
	font-weight:bold;
	text-transform:uppercase;
	color:#ec008c;
}
a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:normal;
	font-weight:bold;
	color:#1270c2;
	text-decoration:none;
}
.home_column1 {
	background-color:#fff;
	padding-top:15px;
	padding-right:13px;
	padding-bottom:10px;
	padding-left:10px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-style:dashed;
	border-right-color:#000000;
	border-bottom-color:#000000;
	border-left-color:#000000;
}
.home_column58 {
	background-color:#fff;
	padding-top:15px;
	padding-bottom:10px;
	padding-right:13px;
	padding-left:10px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-bottom-color:#000000;
	border-left-color:#000000;
}
.home_column57 {
	background-color:#fff;
	padding-top:15px;
	padding-right:13px;
	padding-left:10px;
	border-right-width:1px;
	border-bottom:dashed 1px;
	border-left-width:1px;
	border-bottom-color:#000000;
	border-left-color:#000000;
}
.home_column2 {
	background-color:#fff;
	padding-left:3px;
}
.home_column2a {
	background-color:#fff;
	padding-top:15px;
	padding-right:10px;
	padding-bottom:20px;
	padding-left:10px;
	border-bottom-width:1px;
	border-bottom-style:dashed;
	border-right-color:#000000;
	border-bottom-color:#000000;
	border-left-color:#000000;
}
.home_column2b {
	background-color:#fff;
	padding-top:15px;
	padding-right:10px;
	padding-bottom:20px;
	padding-left:10px;
}
.home_content1 {
	background-color:#daeff8;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:400;
	color:#000;
	text-decoration:none;
	line-height:%100;
	padding:10px;
	overflow:auto;
	height:245px;
	width:230px;
}
.home_content2 {
	background-color:#daeff8;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:400;
	color:#000;
	text-decoration:none;
	line-height:%100;
	padding:10px;
	overflow:auto;
	height:130px;
	width:230px;
}
.nopadding {
	padding:0px;
}
b {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:normal;
	font-weight:bold;
	text-transform:uppercase;
	color:#000;
	margin-bottom:14px;
}
.imgholder {
	margin-right:10px;
	margin-bottom:5px;
	border:solid 1px;
	border-color:#555;
}
#prtext {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	text-decoration:none;
	line-height:%100;
}
#dropdownform {
	margin-left:17px;
}
#headerpad {
	margin-left:17px;
}
.header2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:normal;
	color:#1073C6;
	font-style:normal;
	font-weight:bold;
	padding-left:0px;
}
.header3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:normal;
	font-weight:bold;
	color:#000;
	}
.navtop {position:absolute; left:748px; width:150px; height:93px;}
.divhome {
	border-bottom:dashed 1px;
	border-bottom-color:#000000;
}
#HP_1{
position:absolute;
left:277px;
top:70px;
width:73px;
height:29px;
display:none; 
}

#HP_2{
position:absolute;
left:347px;
top:68px;
width:89px;
height:34px;
display:none; 
}

#HP_3{
position:absolute;
left:430px;
top:80px;
width:87px;
height:17px;
display:none; 
}

#HP_4{
position:absolute;
left:495px;
top:80px;
width:79px;
height:18px;
display:none; 
}

#HP_5{
position:absolute;
left:535px;
top:80px;
width:75px;
height:18px;
display:none; 
}

#HP_6{
position:absolute;
left:592px;
top:70px;
width:43px;
height:28px;
display:none; 
}

#HP_7{
position:absolute;
left:614px;
top:80px;
width:93px;
height:18px;
display:none; 
}

#HP_8{
position:absolute;
left:727px;
top:75px;
width:34px;
height:23px;
display:none; 
}

#HP_9{
position:absolute;
left:819px;
top:76px;
width:97px;
height:21px;
display:none; 
}

