#/* --------------------------------------------------- */#
#/* Style Sheet                                         */#
#/* filename: awesome_orange_001_pa_styles.css          */#
#/* TEMPLATE: Page                                      */#
#/* THEME: Awesome Orange 001                           */#
#/* copyright 2005 ShopSite inc. Design by Stunk        */#
#/* --------------------------------------------------- */#

/* Universal Settings */
  body {
    margin: 0px;
    font-family: [-- VAR.font --];
    font-size: [-- VAR.font_size --];
    text-align: [-- VAR.text_align --];
    color: [-- VAR.text_color --];
    background-color: [-- VAR.background_color --];
  }

  div {
  }
  
  /* Tables */
  table {
    border-collapse: collapse;
    font-family: [-- VAR.font --];
    font-size: [-- VAR.font_size --];
    text-align: [-- VAR.text_align --];
    color: [-- VAR.text_color --];
  }

  tr {
  }

  td {
  }

  /* Headers */
  h1 {
    font-size: [-- VAR.h1_size --];
  }
  
  h2 {
    font-size: [-- VAR.h2_size --];
  }
  
  h3 {
    font-size: [-- VAR.h3_size --];
  }
  
  h4 {
    font-size: [-- VAR.h4_size --];
  }
  
  /* Links */
  a {
    color: [-- VAR.link_text_color --];
    background-color: transparent;
  }
  
  a:hover, a:active {
    color: [-- VAR.link_hover_color --];
    background-color: transparent;
  }
  
    /* Button Links */
  a.link_name, a.reglink, a.tf_popup, a.giftcertlink {
    color: [-- VAR.button_text_color --];
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
  }
  
  a.link_name:hover, a.reglink:hover, a.tf_popup:hover, a.giftcertlink:hover {
    color: [-- VAR.button_hover_color --];
    background-color: transparent;
  }
  
  a.MiniCart {
    color: [-- VAR.button_text_color --];
    background-color: transparent;
    font-weight: bold;
    text-decoration: underline;
  }
  
  a.MiniCart:hover {
    color: [-- VAR.button_hover_color --];
    background-color: transparent;
  }
  
  /* Images */
  img {
    border: none;
  }
  
  img.link_image {
    border: 0px none;
  }  
  
  /* Forms */
  input, textbox, select {
    color: [-- VAR.form_text_color --];
    background-color: transparent;
    font-size: [-- VAR.form_text_size --];
  }

    /* IE doesn't recognize these */
  input[type=text], input[type=password], input[type=button], input[type=select], input[type=reset], textbox, select {
    color: [-- VAR.form_text_color --];
    background-color: [-- VAR.form_background_color --];
    border: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
  }

  input[type=image], input[type=radio], input[type=checkbox] {
    color: [-- VAR.form_text_color --];
    background-color: transparent;
    border: none;  
  }

  input.button {
    color: [-- VAR.form_text_color --];
    background-color: transparent;
    border: none;
  }

/* Page Layout */
  /* Begin Page Header */
  div.header {
    position: absolute;
    left: 1%;
    width: 98%;
    height: 175px;
    color: [-- VAR.background-color --];
    background-color: transparent;
    overflow: hidden;
  }

  table.header {
    width: 100%;
    color: [-- VAR.background-color --];
    background-color: transparent;
  }

  tr.header_row_1 {
    height: 10px;
  }

  tr.header_row_2 {
    height: 155px;
  }

  tr.header_row_3 {
    height: 10px;
  }

  td.header_1a {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_1a.gif);
  }

  td.header_1b {
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_1b.gif);
  }

  td.header_1c {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_1c.gif);
  }

  td.header_2a {
    width: 8px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_2a.gif);
  }

  td.header_2c {
    width: 8px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_2c.gif);
  }

  td.header_3a {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_3a.gif);
  }

  td.header_3b {
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_3b.gif);
  }

  td.header_3c {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_3c.gif);
  }

  td.header_content {
    height: 155px;
    color: [-- VAR.background-color --];
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_content.gif);
    color: [-- VAR.button_text_color --];
  }
  /* End Page Header */

  /* Begin Menu Bar */
  div.menu_bar {
    position: absolute;
    top: 170px;
    left: 25px;
    width: 180px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: visible;
    overflow: visible;
  }

  table.menu_bar {
    width: 100%;
    background-color: transparent;
  }

  tr.menu_bar_row_1 {
    height: 10px;
  }

  tr.menu_bar_row_2 {
  }

  tr.menu_bar_row_3 {
    height: 10px;
  }

  td.menu_bar_1a {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_box_1a.gif);
  }

  td.menu_bar_1b {
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_box_1b.gif);
  }

  td.menu_bar_1c {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_box_1c.gif);
  }

  td.menu_bar_2a {
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_box_2a.gif);
  }

  td.menu_bar_2c {
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_box_2c.gif);
  }

  td.menu_bar_3a {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_box_3a.gif);
  }

  td.menu_bar_3b {
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_box_3b.gif);
  }

  td.menu_bar_3c {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_box_3c.gif);
  }

  td.menu_bar_content {
    vertical-align: top;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_box_content.gif);
    text-align: center;
  }

  table.menu {
    width: 100%;
  }

  td.menu_button {
    text-align: center;
  }

  table.menu_button {
    width: 100%;
  }

  tr.menu_button_row_1 {
    height: 5px;
  }

  tr.menu_button_row_2 {
  }

  tr.menu_button_row_3 {
    height: 5px;
  }

  td.menu_button_1a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_button_1a.gif);
  }

  td.menu_button_1b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_button_1b.gif);
  }

  td.menu_button_1c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_button_1c.gif);
  }

  td.menu_button_2a {
    width: 3px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_button_2a.gif);
  }

  td.menu_button_2c {
    width: 3px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_button_2c.gif);
  }

  td.menu_button_3a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_button_3a.gif);
  }

  td.menu_button_3b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_button_3b.gif);
  }

  td.menu_button_3c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_button_3c.gif);
  }

  td.menu_button_content {
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_button_content.gif);
    text-align: [-- VAR.button_text_align --];
    color: [-- VAR.button_text_color --];
  }

  td.menu_minicart {
    background-color: transparent;
    padding-bottom: 30px;
    color: [-- VAR.button_text_color --];
    text-align: [-- VAR.button_text_align --];
  }

  td.menu_reglink {
    background-color: transparent;
    padding-bottom: 15px;
    color: [-- VAR.button_text_color --];
    text-align: [-- VAR.button_text_align --];
  }
  
  table.link {
    width: 100%;
    text-align: [-- VAR.button_text_align --];
  }
  
  td.link_image {
  }
  
  td.link_name {
    text-align: [-- VAR.button_text_align --];
  }
  
  td.link_text {
    text-align: [-- VAR.button_text_align --];
  }
  /* End Menu Bar */

  /* Begin Search Bar */
  div.search_bar {
    position: absolute;
    top: 160px;
    right: 8%;
    width: 250px;
    /*  height: 40px; */
  }

  table.search_bar {
    width: 100%;
    background-color: transparent;
  }

  tr.search_bar_row_1 {
    height: 5px;
  }

  tr.search_bar_row_2 {
  }

  tr.search_bar_row_3 {
    height: 5px;
  }

  td.search_bar_1a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_button_1a.gif);
  }

  td.search_bar_1b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_button_1b.gif);
  }

  td.search_bar_1c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_button_1c.gif);
  }

  td.search_bar_2a {
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_button_2a.gif);
  }

  td.search_bar_2c {
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_button_2c.gif);
  }

  td.search_bar_3a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_button_3a.gif);
  }

  td.search_bar_3b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_button_3b.gif);
  }

  td.search_bar_3c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_button_3c.gif);
  }

  td.search_bar_content {
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_button_content.gif);
  }

  table.search {
    width: 100%;
  }

  tr.search_row {
  }

  td.search_input {
    text-align: left;
  }

  input.search_input {
    background-color: [-- VAR.form_background_color --];
  }

  td.search_button {
    text-align: right;
  }
  /* End Search Bar */
  
  /* Begin Products Section */
  div.products {
    position: absolute;
    top: 205px;
    left: 210px;
    width: 72%;
  }
  
  table.products {
    width: 100%;
  }
  
  tr.products_header {
  }
  
  td.products_header {
    vertical-align: top;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  table.page_content {
    width: 100%;
  }
  
  td.page_image {
  }
  
  td.page_name {
    vertical-align: top;
    text-align: [-- VAR.product_text_align --];
    font-size: [-- VAR.h2_size --];
    font-weight: bold;
  }
  
  td.page_text1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  tr.prev_next {
  }
  
  td.prev_next {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  tr.page_text2 {
  }
  
  td.page_text2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  tr.products_footer {
  }
  
  td.products_footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  tr.page_text3 {
  }
  
  td.page_text3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  /* End Products Section */

