#/* --------------------------------------------------- */#
#/* Style Sheet                                         */#
#/* filename: awesome_orange_001_gc_styles.css          */#
#/* TEMPLATE: Gift Certificate                          */#
#/* THEME: Awesome Orange 001                           */#
#/* copyright 2005 ShopSite inc. Design by Stunk        */#
#/* --------------------------------------------------- */#

[-- IF VAR.define "cert" --]
/* Product Layout */
  td.products_content {
  }
  
  table.product_list {
    width: 100%;
  }
  
  tr.product_list_row_1 {
    height: 5px;
  }
  
  tr.product_list_row_2 {
  }
  
  tr.product_list_row_3 {
    height: 5px;
  }
  
  td.product_list_1a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_1a.gif);
  }
  
  td.product_list_1b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_1b.gif);
  }
  
  td.product_list_1c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_1c.gif);
  }
  
  td.product_list_2a {
    width: 3px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_2a.gif);
  }
  
  td.product_list_2c {
    width: 3px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_2c.gif);
  }
  
  td.product_list_3a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_3a.gif);
  }
  
  td.product_list_3b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_3b.gif);
  }
  
  td.product_list_3c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_3c.gif);
  }
  
  td.product_list_content {
    vertical-align: top;
    text-align: left;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_content.gif);
  }
  
  table.content {
    width: 100%;
    background-color: transparent;
  }
  
  td.gc_title {
    background-color: transparent;
    text-align: [-- VAR.text_align --];
    font-weight: bold;
    font-size: [-- VAR.h4_size --]
  }
  
  td.gc_instruct, td.gc_policy {
    background-color: transparent;
    text-align: [-- VAR.button_text_align --];
    padding-top: 10px;
  }
  
  td.gc_messages, td.gc_recipient_form, td.gc_value_form, td.gc_content_form, td.gc_buttons {
    background-color: transparent;
    text-align: [-- VAR.button_text_align --];
  }
  
  table.giftcert_type, table.cert_num_amount, table.cert_to_from_msg {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border-bottom: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
  }
  
  table.gc_buttons {
    width: 100%;
    background-color: transparent;
  }
  
  td.giftcert_type {
    text-align: [-- VAR.text_align --];
    vertical-align: top;
  }
  
  td.cert_num_amount {
    text-align: left;
    width: 30%;
  }
  
  td.cert_to_from_msg {
    text-align: left;
  }
  
  td.cert_to_from_msg_val {
    text-align: left;
  }
  
  td.gc_backtostore_button, td.gc_buycert_button {
    background-color: transparent;
    text-align: [-- VAR.button_text_align --];
    width: 50%;
  }
    
  input.button331 {
    background-color: transparent;
    border: none;
  }
  
[-- ELSE --]
/* Universal Settings */
  body {
    margin: 0px;
    font-family: [-- VAR.font --];
    font-size: [-- VAR.font_size --];
    text-align: [-- VAR.text_align --];
    color: [-- VAR.text_color --];
    background-color: [-- VAR.background_color --];
  }

  div {
  }
  
  /* Tables */
  table {
    border-collapse: collapse;
    font-family: [-- VAR.font --];
    font-size: [-- VAR.font_size --];
    text-align: [-- VAR.text_align --];
    color: [-- VAR.text_color --];
  }

  tr {
  }

  td {
  }

  /* Headers */
  h1 {
    font-size: [-- VAR.h1_size --];
  }
  
  h2 {
    font-size: [-- VAR.h2_size --];
  }
  
  h3 {
    font-size: [-- VAR.h3_size --];
  }
  
  h4 {
    font-size: [-- VAR.h4_size --];
  }
  
  /* Links */
  a {
    color: [-- VAR.link_text_color --];
  }
  
  a:hover, a:active {
    color: [-- VAR.link_hover_color --];
  }
  
  /* Images */
  img {
    border: none;
  }
  
  img.link_image {
    border: 0px none;
  }  
  
  /* Forms */
  input {
    color: [-- VAR.form_text_color --];
    font-size: [-- VAR.form_text_size --];
  }
  
  textbox, select {
    color: [-- VAR.form_text_color --];
    font-size: [-- VAR.form_text_size --];
    background-color: [-- VAR.form_background_color --];
    border: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
  }

    /* IE doesn't recognize these */
  input[type=text], input[type=password], input[type=button], input[type=select], input[type=reset] {
    background-color: [-- VAR.form_background_color --];
    border: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
  }

  input[type=image], input[type=radio], input[type=checkbox] {
    background-color: transparent;
    border: none;  
  }

/* Page Layout */
  /* Begin Page Header */
  table.body {
    width: 98%;
    margin-left: 1%;
    background-color: transparent;
  }
  
  td.gc_header {
  }
  
  table.header {
    width: 100%;
    background-color: transparent;
  }

  tr.header_row_1 {
    height: 10px;
  }

  tr.header_row_2 {
  }

  tr.header_row_3 {
    height: 10px;
  }

  td.header_1a {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_1a.gif);
  }

  td.header_1b {
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_1b.gif);
  }

  td.header_1c {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_1c.gif);
  }

  td.header_2a {
    width: 8px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_2a.gif);
  }

  td.header_2c {
    width: 8px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_2c.gif);
  }

  td.header_3a {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_3a.gif);
  }

  td.header_3b {
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_3b.gif);
  }

  td.header_3c {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_3c.gif);
  }

  td.header_content {
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_content.gif);
    text-align: [-- VAR.text_align --];
    color: [-- VAR.button_text_color --];
  }
  /* End Page Header */

  /* Begin Color 3 Box */
  table.color_3 {
    width: 100%;
    background-color: transparent;
  }
  
  tr.color_3_row_1 {
    height: 5px;
  }
  
  tr.color_3_row_2 {
  }
  
  tr.color_3_row_3 {
    height: 5px;
  }
  
  td.color_3_1a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_1a.gif);
  }
  
  td.color_3_1b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_1b.gif);
  }
  
  td.color_3_1c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_1c.gif);
  }
  
  td.color_3_2a {
    width: 3px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_2a.gif);
  }
  
  td.color_3_2c {
    width: 3px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_2c.gif);
  }
  
  td.color_3_3a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_3a.gif);
  }
  
  td.color_3_3b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_3b.gif);
  }
  
  td.color_3_3c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_3c.gif);
  }
  
  td.color_3_content {
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_content.gif);
  }
  /* End Color 3 Box */

  /* General Content */
  hr.noprint {
    page-break-after:always;
  }

  table.gc_tofrom, table.gc_info, table.gc_redeem {
    width: 100%;
    background-color: transparent;
  }

  td.gc_title {
    font-weight: bold;
    font-size: [-- VAR.h2_size --];
    text-align: [-- VAR.button_text_align --];
  }
  
  td.gc_to_text, td.gc_from_text, td.gc_amount_text, td.gc_number_text, td.gc_pin_text, td.gc_expire_text {
    text-align: right;
    width: 50%;
    font-weight: bold;
  }
  
  td.gc_to, td.gc_from, td.gc_amount_content, td.gc_number, td.gc_pin, td.gc_expire {
    text-align: left;
    width: 50%;
  }
  
  td.gc_message_text, td.gc_redeem_text {
    text-align: [-- VAR.button_text_align --];
    font-weight: bold;
  }
  
  td.gc_message_content, td.gc_checkout_text {
    text-align: [-- VAR.button_text_align --];
  }
  
  td.gc_redeem_url {
    text-align: [-- VAR.button_text_align --];
  }

[-- END_IF --]

