#/* --------------------------------------------------- */#
#/* Style Sheet                                         */#
#/* filename: elite_001_cr_styles.css                   */#
#/* TEMPLATE: Customer Registration                     */#
#/* THEME: Elite 001                                    */#
#/* copyright 2005 ShopSite inc. Design by Stunk        */#
#/* --------------------------------------------------- */#

/* Universal Settings */
  body {
    margin: 0px;
    font-family: [-- VAR.font --];
    font-size: [-- VAR.font_size --];
    text-align: [-- VAR.text_align --];
    color: [-- VAR.text_color --];
    background-color: [-- VAR.background_color --];
  }

  div {
  }
  
  /* Tables */
  table {
    border-collapse: collapse;
    font-family: [-- VAR.font --];
    font-size: [-- VAR.font_size --];
    text-align: [-- VAR.text_align --];
    color: [-- VAR.text_color --];
  }

  tr {
  }

  td {
    /* border: 1px solid #FF0000; */
  }

  /* Headers */
  h1 {
    font-size: [-- VAR.h1_size --];
  }
  
  h2 {
    font-size: [-- VAR.h2_size --];
  }
  
  h3 {
    font-size: [-- VAR.h3_size --];
  }
  
  h4 {
    font-size: [-- VAR.h4_size --];
  }
  
  /* Links */
  a {
    color: [-- VAR.link_text_color --];
  }
  
  a:hover, a:active {
    color: [-- VAR.link_hover_color --];
  }
  
  /* Images */
  img {
    border: none;
  }
  
  img.link_image {
    border: 0px none;
  }  
  
  /* Forms */
  input {
    color: [-- VAR.form_text_color --];
    font-size: [-- VAR.form_text_size --];
  }
  
  textbox, select {
    color: [-- VAR.form_text_color --];
    font-size: [-- VAR.form_text_size --];
    background-color: [-- VAR.form_background_color --];
    border: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
  }

    /* IE doesn't recognize these */
  input[type=text], input[type=password], input[type=button], input[type=select], input[type=reset] {
    background-color: [-- VAR.form_background_color --];
    border: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
  }

  input[type=image], input[type=radio], input[type=checkbox] {
    background-color: transparent;
    border: none;  
  }

/* Page Layout */
  /* Begin Page Header */
  table.body {
    width: 98%;
    margin-left: 1%;
    background-color: transparent;
  }
  
  td.cr_header {
  }
  
  table.header {
    width: 100%;
    background-color: transparent;
  }

  tr.header_row_1 {
    height: 10px;
  }

  tr.header_row_2 {
  }

  tr.header_row_3 {
    height: 10px;
  }

  td.header_1a {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_1a.gif);
  }

  td.header_1b {
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_1b.gif);
  }

  td.header_1c {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_1c.gif);
  }

  td.header_2a {
    width: 8px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_2a.gif);
  }

  td.header_2c {
    width: 8px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_2c.gif);
  }

  td.header_3a {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_3a.gif);
  }

  td.header_3b {
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_3b.gif);
  }

  td.header_3c {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_3c.gif);
  }

  td.header_content {
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_content.gif);
    text-align: [-- VAR.button_text_align --];
    font-weight: bold;
    font-size: [-- VAR.h2_size --];
    color: [-- VAR.button_text_color --];
  }
  /* End Page Header */
  
  /* Begin Color 3 Box */
  table.color_3 {
    width: 100%;
    background-color: transparent;
  }
  
  tr.color_3_row_1 {
    height: 5px;
  }
  
  tr.color_3_row_2 {
  }
  
  tr.color_3_row_3 {
    height: 5px;
  }
  
  td.color_3_1a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_1a.gif);
  }
  
  td.color_3_1b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_1b.gif);
  }
  
  td.color_3_1c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_1c.gif);
  }
  
  td.color_3_2a {
    width: 3px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_2a.gif);
  }
  
  td.color_3_2c {
    width: 3px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_2c.gif);
  }
  
  td.color_3_3a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_3a.gif);
  }
  
  td.color_3_3b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_3b.gif);
  }
  
  td.color_3_3c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_3c.gif);
  }
  
  td.color_3_content {
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_content.gif);
  }
  /* End Color 3 Box */

  /* General Content */
  table.cr_content {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
    /* Error Messages */
  td.cr_messages {
  }

  table.ups_error {
    margin-left: auto;
    margin-right: auto;
    text-align: [-- VAR.button_text_align --];
  }

  td.ups_error {
    border: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
    background-color: [-- VAR.form_background_color --];
    color: [-- VAR.form_text_color --];
    font-weight: bold;
    font-size: [-- VAR.h3_size --];
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

[-- IF VAR.email "no" --]
    /* Buttons */
  td.cr_buttons {
    text-align: center;
  }
  
  table.cr_buttons {
    width: 100%;
    background-color: transparent;
    text-align: center;
  }
  
  td.cr_button {
    width: 50%;
    text-align: [-- VAR.button_text_align --];
  }
  
  td.cr_single_button {
    text-align: [-- VAR.button_text_align --];
  }
  
  td.cr_footer {
    text-align: [-- VAR.button_text_align --];
  }
  
  [-- IF VAR.define "sign_in" --]
#/*---------------*/#
#/* SignIn Screen */#
#/*---------------*/#
  td.cr_instruct {
    text-align: [-- VAR.button_text_align --];
  }

  td.cr_sign_in_form {
  }

#/* Generated Stuff */#
  table.email_pw {
    margin-left: auto;
    margin-right: auto;
    text-align: [-- VAR.button_text_align --];
  }

  td.email_pw {
    text-align: [-- VAR.text_align --];
  }

  [-- ELSE_IF VAR.define "sign_out" --]
#/*----------------*/#
#/* SignOut Screen */#
#/*----------------*/#
  td.cr_instruct {
    text-align: [-- VAR.button_text_align --];
  }

  [-- ELSE_IF VAR.define "new_reg" --]
#/*---------------------*/#
#/* Registration Screen */#
#/*---------------------*/#
  td.cr_name, td.cr_reg_form, td.cr_challenge_form, td.cr_save_pay, td.cr_email_type {
    text-align: [-- VAR.button_text_align --];
    padding-top: 10px;
  }

#/* Generated Stuff */#
  table.addr_name, table.email_pw, table.challenge, table.save_payment, table.email_type {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  td.addr_name, td.challenge_instructions, td.save_payment_text, td.email_type_text {
    text-align: [-- VAR.button_text_align --];
  }

  td.addr_lab, td.email_pw, td.challenge {
    text-align: right;
  }
  
  td.addr_name_val, td.email_pw_select, td.challenge_select {
    text-align: left;
  }
  
  td.email_pw_note {
    text-align: left;
  }

  td.save_payment, td.email_type {
    text-align: left;
  }

  td.email_type_select, td.save_payment_select {
    text-align: right;
  }

  [-- ELSE_IF VAR.define "view_edit" --]
#/*------------------*/#
#/* View/Edit Screen */#
#/*------------------*/#
  td.cr_view_text{
    text-align: [-- VAR.button_text_align --];
  }

  td.cr_reward, td.cr_view_buttons {
    text-align: center;
  }

  table.cr_view_buttons {
    width: 100%;
    background-color: transparent;
    text-align: center;
  }

  td.cr_view_button {
    text-align: [-- VAR.button_text_align --];
    padding: 15px;
  }

#/* Generated Stuff */#
  table.program_reward_hdr {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
    background-color: [-- VAR.form_border_color --];
  }

  th.program_reward_hdr {
    color: [-- VAR.form_background_color --];
    text-align: [-- VAR.button_text_align --];
    font-size: [-- VAR.h3_size --];
    font-weight: bold;
  }

  td.program_reward_hdr {
    color: [-- VAR.form_background_color --];
    text-align: [-- VAR.button_text_align --];
  }
  
  table.program_reward {
    width: 100%;
    text-align: center;
    background-color: [-- VAR.form_background_color --];
  }
  
  th.program_reward {
    text-align: [-- VAR.button_text_align --];
    padding: 3px;
    font-weight: bold;
    border-left: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
    border-right: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
    border-top: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
  }

  td.program_reward, td.program_reward_qnty, td.program_reward_purchased {
    text-align: [-- VAR.button_text_align --];
    padding: 3px;
    border-left: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
    border-right: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
    border-bottom: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
  }

  [-- ELSE_IF VAR.define "prefs" --]
#/*--------------------*/#
#/* Preferences Screen */#
#/*--------------------*/#
  td.cr_email_form, td.cr_name_form, td.cr_email_type, td.cr_save_pay {
    text-align: [-- VAR.button_text_align --];
    padding-top: 10px;
  }

  td.cr_email_text {
    text-align: [-- VAR.button_text_align --];
  }

#/* Generated Stuff */#
  table.email_pw, table.addr_name, table.email_type, table.save_payment {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  td.addr_name, td.save_payment_text, td.email_type_text {
    text-align: [-- VAR.button_text_align --];
  }

  td.addr_lab, td.email_pw_text {
    text-align: right;
  }
  
  td.addr_name_val, td.email_pw {
    text-align: left;
  }
  
  td.save_payment, td.email_type {
    text-align: left;
  }

  td.email_type_select, td.save_payment_select {
    text-align: right;
  }

  [-- ELSE_IF VAR.define "edit_pass" --]
#/*----------------------*/#
#/* Edit Password Screen */#
#/*----------------------*/#
  td.cr_edit_pass {
    text-align: [-- VAR.button_text_align --];
  }

  td.cr_chal_text {
    font-weight: bold;
    font-size: [-- VAR.h3_size --];
    text-align: [-- VAR.button_text_align --];
  }

  td.cr_change_chal_text {
    text-align: [-- VAR.button_text_align --];
  }

#/* Generated Stuff */#
  table.pw {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  td.pw_text {
    text-align: right;
  }

  td.pw {
    text-align: left;
  }

  td.pw_info {
    text-align: left;
  }

  [-- ELSE_IF VAR.define "edit_chal" --]
#/*-----------------------*/#
#/* Edit Challenge Screen */#
#/*-----------------------*/#
  td.cr_edit_chal_text, td.cr_edit_chal {
    text-align: [-- VAR.button_text_align --];
  }

#/* Generated Stuff */#
  table.challenge {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  [-- ELSE_IF VAR.define "forgot_pass" --]
#/*------------------------*/#
#/* Forgot Password Screen */#
#/*------------------------*/#
  td.cr_req_pass, td.cr_email_form {
    text-align: [-- VAR.button_text_align --];
  }

#/* Generated Stuff */#
  table.email_pw {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  td.email_pw {
    text-align: [-- VAR.button_text_align --];
  }

  [-- ELSE_IF VAR.define "forgot_email_sent" --]
#/*--------------------------*/#
#/* Forgot Email Sent Screen */#
#/*--------------------------*/#
  td.cr_sent_email {
    text-align: [-- VAR.button_text_align --];
  }

  [-- ELSE_IF VAR.define "chal_answer" --]
#/*----------------------------------*/#
#/* Answer Challenge Question Screen */#
#/*----------------------------------*/#
  td.cr_reset_text, td.cr_chal_quest {
    text-align: [-- VAR.button_text_align --];
  }
  
#/* Generated Stuff */#
  table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  [-- ELSE_IF VAR.define "set_chal_pass" --]
#/*--------------------------------*/#
#/* Set Pass From Challenge Screen */#
#/*--------------------------------*/#
  td.cr_enter_pass_text, td.cr_pass_form {
    text-align: [-- VAR.button_text_align --];
  }

#/* Generated Stuff */#
  table.pw {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  td.pw {
    text-align: [-- VAR.button_text_align --];
  }

  [-- ELSE_IF VAR.define "main_pay" --]
#/*---------------------*/#
#/* Main Payment Screen */#
#/*---------------------*/#
  td.cr_pay_text, td.cr_pay_list, td.cr_pay_buttons, td.cr_add_pay_text {
    text-align: [-- VAR.button_text_align --];
  }

  [-- ELSE_IF VAR.define "edit_pay" --]
#/*---------------------*/#
#/* Edit Payment Screen */#
#/*---------------------*/#
  td.cr_display_name, td.cr_edit_pay_text, td.cr_edit_pay_info {
    text-align: [-- VAR.button_text_align --];
  }
  
  td.cr_edit_pay_info_text, td.cr_edit_bill_info_text {
    text-align: [-- VAR.button_text_align --];
    padding-top: 15px;
  }

  table.cr_display_name {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  td.cr_display_name_text {
    text-align: right;
  }

  td.cr_display_name_content {
    text-align: left;
  }

#/* Generated Stuff */#
  table, table.addr {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  td.payment_hdr, td.ship_addr_hdr {
    text-align: [-- VAR.button_text_align --];
    font-weight: bold;
  }

  td.payment, td.addr {
    text-align: right;
  }

  td.payment_value, td.addr_val {
    text-align: left;
  }

  td.addr_foot {
    text-align: [-- VAR.button_text_align --];
  }

  [-- ELSE_IF VAR.define "del_pay" --]
#/*-----------------------*/#
#/* Delete Payment Screen */#
#/*-----------------------*/#
  td.cr_del_pay_text, td.cr_del_pay_note {
    text-align: [-- VAR.button_text_align --];
  }

  td.cr_del_pay {
    text-align: [-- VAR.button_text_align --];
    font-weight: bold;
  }

  [-- ELSE_IF VAR.define "main_ship" --]
#/*----------------------*/#
#/* Main Shipping Screen */#
#/*----------------------*/#
  td.cr_ship_text, td.cr_ship_list, td.cr_ship_note {
    text-align: [-- VAR.button_text_align --];
  }

  [-- ELSE_IF VAR.define "edit_ship" --]
#/*----------------------*/#
#/* Edit Shipping Screen */#
#/*----------------------*/#
  td.cr_ship_name, td.cr_edit_ship_text, td.cr_ship_addr {
    text-align: [-- VAR.button_text_align --];
  }

  td.cr_ship_addr_text {
    text-align: [-- VAR.button_text_align --];
    font-weight: bold;
  }

  table.cr_ship_name {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  td.cr_ship_name_text {
    text-align: right;
  }

  td.cr_ship_name_content {
    text-align: left;
  }

#/* Generated Stuff */#
  table.addr {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  td.addr {
    text-align: right;
  }

  td.addr_val {
    text-align: left;
  }

  td.addr_foot {
    text-align: [-- VAR.button_text_align --];
  }

  [-- ELSE_IF VAR.define "del_ship" --]
#/*------------------------*/#
#/* Delete Shipping Screen */#
#/*------------------------*/#
  td.cr_del_ship_text, td.cr_del_ship_note {
    text-align: [-- VAR.button_text_align --];
  }

  td.cr_del_ship {
    text-align: [-- VAR.button_text_align --];
    font-weight: bold;
  }

  [-- ELSE_IF VAR.define "main_order" --]
#/*--------------------*/#
#/* Main Orders Screen */#
#/*--------------------*/#
  td.cr_order_text, td.cr_order_list, td.cr_order_note {
    text-align: [-- VAR.button_text_align --];
  }

  [-- ELSE_IF VAR.define "view_order" --]
#/*--------------------*/#
#/* View Orders Screen */#
#/*--------------------*/#
  td.cr_order_num, td.cr_cart, td.cr_totals {
    text-align: [-- VAR.button_text_align --];
  }
  
  td.cr_order_instruct, td.cr_comments, td.cr_bill_addr, td.cr_ship_addr, td.cr_pay_info {
    text-align: [-- VAR.button_text_align --];
  }

  table.cr_order_num {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  td.cr_order_num_text {
    text-align: right;
    font-weight: bold;
    font-size: [-- VAR.h3_size --];
  }

  td.cr_order_num_content {
    text-align: left;
    padding-left: 8px;
    font-weight: bold;
    font-size: [-- VAR.h3_size --];
    color: [-- VAR.pr_sale_price_color --];
  }
  
  td.cr_order_date {
    text-align: left;
    padding-left: 8px;
    font-weight: bold;
    font-size: [-- VAR.h3_size --];
  }

#/* Generated Stuff */#
  table.cart, table.totals {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  table, table.instruct, table.comm, table.addr {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  th.cart_quantity, th.cart_name, th.cart_sku, th.cart_price, th.cart_total {
    background-color: [-- VAR.form_border_color --];
    color : [-- VAR.button_text_color --];
    text-align: [-- VAR.button_text_align --];
    font-weight: bold;
  }

  td.cart_quantity, td.cart_sku {
    background-color: transparent;
    color: [-- VAR.text_color --];
    text-align: [-- VAR.button_text_align --];
    border-top: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
  }
  
  td.cart_name {
    background-color: transparent;
    color: [-- VAR.text_color --];
    text-align: [-- VAR.button_text_align --];
    border-top: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
    font-weight: bold;
  }
  
  td.cart_price, td.cart_total {
    background-color: [-- VAR.price_background_color --];
    color: [-- VAR.price_text_color --];
    text-align: right;
    border-top: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
  }

  td.cart_op, td.cart_op1, td.cart_op2 {
    background-color: transparent;
    text-align: [-- VAR.button_text_align --]
  }
  
  table.opt_cart {
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }
  
  td.opt_cart {
    background-color: transparent;
    color: [-- VAR.text_color --];
    text-align: [-- VAR.button_text_align --];
  }

  td.instruct_hdr, td.comm_hdr {
    font-weight: bold;
    text-align: [-- VAR.button_text_align --];
    padding-top: 15px;
  }

  td.instruct, td.comm {
    text-align: [-- VAR.button_text_align --];
  }

  td.totals_txt, td.totals_all_txt {
    border-top: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
    border-bottom: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
    background-color: [-- VAR.form_border_color --];
    color: [-- VAR.button_text_color --];
    text-align: right;
    font-weight: bold;
  }

  td.totals, td.totals_all {
    border-top: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
    border-bottom: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
    background-color: [-- VAR.price_background_color --];
    color: [-- VAR.price_text_color --];
    text-align: right;
  }

  td.bill_addr_hdr, td.payment_hdr {
    font-weight: bold;
    text-align: [-- VAR.button_text_align --];
    padding-top: 15px;
  }

  td.addr_val {
    text-align: [-- VAR.button_text_align --];
  }  

  td.payment {
    font-weight: bold;
    text-align: right;
    width: 50%;
  }

  td.payment_value {
    text-align: left;
    width: 50%;
  }

  [-- ELSE_IF VAR.define "del_order" --]
#/*----------------------*/#
#/* Delete Orders Screen */#
#/*----------------------*/#
  td.cr_del_order_text, td.cr_del_order_note, td.cr_del_order {
    text-align: [-- VAR.button_text_align --];
  }

#/* Generated Stuff */#
  table.order_del {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
  }

  [-- END_IF --]
[-- ELSE --]
  [-- IF VAR.define "unknown_address_email" --]
#/*-----------------------*/#
#/* Unknown Address Email */#
#/*-----------------------*/#
#/* No styles for this */#

  [-- ELSE_IF VAR.define "forgot_pass_email" --]
#/*-----------------------*/#
#/* Forgot Password Email */#
#/*-----------------------*/#
td.cr_link_text, td.cr_link {
    text-align: [-- VAR.button_text_align --];
}

  [-- ELSE_IF VAR.define "account_change_email" --]
#/*----------------------*/#
#/* Account Change Email */#
#/*----------------------*/#
td.cr_account_change, td.cr_account_change_text, td.cr_store_name {
    text-align: [-- VAR.button_text_align --];
}

table.cr_account_change {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

  [-- ELSE_IF VAR.define "address_change_email" --]
#/*----------------------*/#
#/* Address Change Email */#
#/*----------------------*/#
td.cr_store_name, td.cr_addr_change_text, td.cr_new_addr {
    text-align: [-- VAR.button_text_align --];
}

table.cr_new_addr {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

td.cr_new_addr_text {
  text-align: right;
}

td.cr_new_addr_content {
  text-align: left;
}

  [-- ELSE --]
/* You shouldn't see this message */
  [-- END_IF --]
[-- END_IF --]


