<style type="text/css">  <!--

  /***********************/
  /***  Page Defaults  ***/
  /***********************/
  body, p, h1, h2, h3, td, div, ol, ul, dl, input {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
  }

  body {
    color: [-- VAR.TextColor --];
    background-color: [-- VAR.BackgroundColor --];
    font-size: 9pt;
    margin: 0px;
  }

  td {
    font-size: 9pt;
  }
  td.lh {
    line-height: 1.5;
  }

  /*********************/
  /***  Page Links  ***/
  /*********************/
  table.pagelink {
    border-width: 0;
    text-align: left;
  }
  td.pagelink {
    color: [-- VAR.LinkColor --];
    text-align: left;
    margin: 0px;
    padding-bottom: 3;
  }
  a.pagelink, a.pagelink:visited {
    text-decoration: none;
    color: [-- VAR.LinkColor --];
  }
  a.pagelink:hover {
    text-decoration: none;
    color: [-- VAR.ActiveLinkColor --];
  }
  a.toplink, a.toplink:visited {
    color: [-- VAR.BackgroundColor --];
    text-decoration: none;
    padding-left: 4pt;
    padding-right: 4pt;
  }
  a.toplink:hover {
    color: [-- VAR.LinkColor --];
  }
  a.tf_popup, a.tf_popup:visited {
    color: [-- VAR.BackgroundColor --];
    text-decoration: none;
  }
  a.tf_popup:hover {
    color: [-- VAR.LinkColor --];
  }
  a.bottomlink, a.bottomlink:visited {
    color: [-- VAR.BackgroundColor --];
    text-decoration: none;
  }
  a.bottomlink:hover {
    color: [-- VAR.ActiveLinkColor --];
  }
  a.giftcertlink, a.giftcertlink:visited {
    text-decoration: none;
    color: [-- VAR.LinkColor --];
  }
  a.giftcertlink:hover {
    text-decoration: none;
    color: [-- VAR.ActiveLinkColor --];
  }
  a, a:visited {
    color: [-- VAR.LinkColor --];
  }
  a:hover {
    color: [-- VAR.ActiveLinkColor --];
  }

  /***********************/
  /***  Headings       ***/
  /***********************/
  h1 {
    font-size: 16pt;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h2 {
    font-size: 14pt;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h3 {
    font-size: 12pt;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  /****************/
  /***  Search  ***/
  /****************/
  td.search {
    color: [-- VAR.LinkColor --];
    text-align: left;
    margin-top: 50px;
  }

  input.search {
    font-size: 9pt;
    width: 120px;
  }
  td.paddedtext {
    text-align: center;
    padding-left: 100;
    padding-right: 100;
    font-size: 9pt;
    font-family: arial;
    color: [-- VAR.TextColor --];
  }

  /**************/
  /*** Header ***/
  /**************/
  td.header {
    text-align: left;
    font-size: 18;
    color: [-- VAR.BackgroundColor --];
  }

  /**************/
  /*** Footer ***/
  /**************/
  td.footer, td.lh {
    text-align: center;
    margin-top: 10px;
    color: [-- VAR.BackgroundColor --];
  }
  
  td.footer a, td.lh a {
    color: [-- VAR.BackgroundColor --];
    text-decoration: none;
  }
  
  td.footer a:hover, td.lh a:hover {
    color: [-- VAR.ActiveLinkColor --];
  }
  
  /*****************************/
  /*** Multi Page Navigation ***/
  /*****************************/
  span.currentpage, span.prevnext {
    padding-left: 1pt;
    padding-right: 1pt;
  }
  span.ProductDescription {
    line-height: 1.5;
  }

  /*********************/
  /*** Search Button ***/
  /*********************/
  input.search_button {
    background-color: [-- VAR.ActiveLinkColor --];
    color: [-- VAR.BackgroundColor --];
    font-weight: bold;
    border: 2px outset [-- VAR.ActiveLinkColor --];
  }
  
  a.prevnext {
    background-color: [-- VAR.ActiveLinkColor --];
    color: [-- VAR.BackgroundColor --];
    font-weight: bold;
    border: 2px outset [-- VAR.ActiveLinkColor --];
    padding: 4pt;
    padding-top: 2pt;
    padding-bottom: 2pt;
    text-decoration: none;
  }
  -->
</style>