#CrossSell-Sky Gift Certificates CSS
/* Gift Certificate Styles */


/*background image settings */
body, html {
[-- IF STORE.GiftCert_BackgroundImage --]
  background-image: url("[-- STORE.GiftCert_BackgroundImage --]");
[-- ELSE --]
  background-image: none;
[-- END_IF --]
}

html {
  background-color: #[-- STORE.GiftCert_ActiveLinkColor --];
  }

body {
  color: #[-- STORE.GiftCert_TextColor --];
  background-color: #[-- STORE.GiftCert_BackgroundColor --];
  }
  
a:link {
  color: #[-- STORE.GiftCert_LinkColor --];
}

a:visited {
  color: #[-- STORE.GiftCert_LinkColor --];
}

a:hover {
  color: #[-- STORE.GiftCert_ActiveLinkColor --];
}


h1{
 color: #[-- STORE.GiftCert_TextColor --];
}

h2{
 color: #[-- STORE.GiftCert_TextColor --];
}

h3{
 color: #[-- STORE.GiftCert_TextColor --];
}

h4{
 color: #[-- STORE.GiftCert_TextColor --];
}

h5{
 color: #[-- STORE.GiftCert_TextColor --];
}

label{
 color: #[-- STORE.GiftCert_TextColor --];
}
        


/***********************************************/
/* Layout Divs                                 */
/***********************************************/

  #content2 {
  padding: 0;
  margin: 0 0 0 .75em;
  line-height: 2em;
  text-align: left;
  }

  #masthead{
  border-bottom: 1px solid #[-- STORE.GiftCert_TextColor --];
}

  #navBar{
  background-color: #[-- STORE.GiftCert_VisitedLinkColor --];
}

/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
  #navBar li {border-bottom: 1px solid #[-- STORE.GiftCert_TextColor --]; border-right: 1px solid #[-- STORE.GiftCert_TextColor --];}



  #globalNav{
  color: #[-- STORE.GiftCert_TextColor --];

}

  #footer{
  color: #[-- STORE.GiftCert_TextColor --];
}

  #search {
  border-bottom: 1px solid #[-- STORE.GiftCert_TextColor --];
  border-right: 1px solid #[-- STORE.GiftCert_TextColor --];
}


  #sectionLinks h3{
  border-bottom: 1px solid #[-- STORE.GiftCert_TextColor --];
  border-right: 1px solid [-- STORE.GiftCert_TextColor --];    
}


  #sectionLinks a:hover{
  background-color: #[-- STORE.GiftCert_BackgroundColor --];  
}


  #text2{
  border-bottom: 1px solid #[-- STORE.GiftCert_TextColor --];
  border-right: 1px solid #[-- STORE.GiftCert_TextColor --];  
}

  .text2-empty {
  background-color: #[-- STORE.GiftCert_BackgroundColor --];
  border-color: #[-- STORE.GiftCert_BackgroundColor --] !important;

  }
  
.gc-div {
  text-align: center;
  padding-bottom: 2em;
}

.cert {
  margin: 1em;
}

.cert_text {
  text-align: right;
  font-weight: bold;
  font-style: normal;
  padding-right: 1em;
}

.cert_value {
  color: #[-- STORE.GiftCert_LinkColor --];
  font-weight: bold;
  padding-left: 1em;
}

.cert_message {
  text-align: center;
  padding: 1em;
  font-weight: normal;
}

.instructions {
  margin: 0 0 1em .25em;
  line-height: 1.5em;
}

.policy {
  color: #[-- STORE.GiftCert_TextColor --];
  clear: both;
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  width: 80%;
  line-height: 1.5em;  
}

.gc-buttons {
  text-align: center;
}

  #gc-content {
  text-align: center;
  padding: 1em 3em;
  border: 1px solid [-- STORE.GiftCert_TextColor --];
  margin: 2em;
  }
  
/* buy gift certificates button */

.button331 {
  color:  #[-- STORE.GiftCert_LinkColor --];
  background-color: #[-- STORE.GiftCert_BackgroundColor --];
  border-color:  #[-- STORE.GiftCert_LinkColor --];
  vertical-align: middle;
  margin-left: 2em; 
  }
  
.button331:hover {
  color:  #[-- STORE.GiftCert_BackgroundColor --];
  background-color: #[-- STORE.GiftCert_LinkColor --];
  text-decoration: none;
  }
  
.ups_error, td.cert_err {
  background-color: #[-- STORE.SC_ShadeColor --];
}

table.cert_err {
margin-left: auto;
margin-right: auto;
}

  #pageName {
text-align: center;
}
