/* CrossSell-Sky Search CSS Document */

.searchResultForm {
  clear: both;
  margin: 1em 0em;
  }

.searchResultForm table {
  margin-left: auto;
  margin-right: auto;
  }

td.search_button {
  background: none;
  color: [-- VAR.link_color --];
  font-size: 1.25em;
  }

input.search_button {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 1em;
  color: [-- VAR.link_color --];
  background-color: [-- VAR.background_color --];
  border-color:  [-- VAR.link_color --];
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  cursor: pointer;
  padding: 0 .33em; 
  } 

input.search_button:hover {
  color: [-- VAR.background_color --];
  background-color: [-- VAR.link_color --];
  text-decoration: none;
  }

input.search_button_selected {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 1em;
  color: [-- VAR.link_color --];
  text-decoration: none;
  padding: 0 .33em; 
  border: none;
  background-color: transparent;
  }
  
.productGraphic img { 
  margin: 0 10px 0 0;
  float: left;
  }
  
  /* Form Stuff */
table.searchResultForm {
    background-color: [-- VAR.visitedlink_color --];
    color: [-- VAR.text_color --];
    width: 100%;
    text-align: center;
  }
  
td.searchResultFormTop {
    text-align: center;
  }
  
td.searchResultFormSort {
    text-align: left;
  }
  
td.searchResultFormCount {
    text-align: center;
  }
  
td.searchResultFormPrevNext {
    text-align: center;
  }
  
td.searchResultFormPerPage {
    text-align: right;
  }
  
/*border to separate search results*/
[-- IF PAGE.DisplayColumnBorders --]
#do nothing
[-- ELSE --]
.productBlock {
  border-bottom: 1px solid [-- VAR.visitedlink_color --];
  }
[-- END_IF --]  

div.searchResultPage {
  clear: left;
  padding: .5em 0;
  font-style: italic;
  }

a.link_name {
  white-space: pre;
  line-height: 1.5em;
  }

.checkout {
  margin-bottom: 0;
  }