#/* --------------------------------------------------- */#
#/* Style Sheet                                         */#
#/* filename: elite_001_sc_styles.css                   */#
#/* TEMPLATE: Shopping Cart                             */#
#/* THEME: Elite 001                                    */#
#/* CORE: Core 001                                      */#
#/* copyright 2005 ShopSite inc. Design by Stunk        */#
#/* --------------------------------------------------- */#

#/* --------------- */#
#/* Thank You Email */#
#/* --------------- */#
[-- IF VAR.define "thankyou_email" --]
body {
  margin: 0px;
  color: #[-- VAR.sc_text_color --];
  background-image: url([-- VAR.sc_background_image --]);
  background-position: center;
  background-repeat: repeat;
  background-color: #[-- VAR.sc_background_color --];
  font-family: [-- VAR.sc_font --];
  font-size: [-- VAR.sc_font_size --];
}

/* Tables to make IE happy */
table {
  margin: 0px;
  color: #[-- VAR.sc_text_color --];
  background-color: #[-- VAR.sc_background_color --];
  font-family: [-- VAR.sc_font --];
  font-size: [-- VAR.sc_font_size --];
  border-collapse: collapse;
  border-spacing: 0px;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  background-color: transparent;
}

/* Anchor Tags */
a {
  font-family: [-- VAR.sc_font --];
  font-size: [-- VAR.sc_font_size --];
  text-decoration: underline;
}

a:link {
  color: #[-- VAR.sc_link_color --];
}

a:active {
  color: #[-- VAR.sc_active_link_color --];
}

a:hover {
  color: #[-- VAR.sc_hover_link_color --];
}

a:visited {
  color: #[-- VAR.sc_visited_link_color --];
}

#/* Message Content */#
table.content {
  width: 100%;
  background: transparent;
}

td.sc_header {
  vertical-align: top;
  text-align: center;
  padding-bottom: 20px;
}

td.sc_order_num {
  padding-bottom: 20px;
}

table.sc_order_num {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
}

td.sc_order_num_text {
  font-size: [-- VAR.sc_large_font--];
  font-weight: bold;
  text-align: right;
  width: 50%;
}

td.sc_order_num_num {
  font-size: [-- VAR.sc_large_font--];
  font-weight: bold;
  text-align: left;
  width: 50%;
}

td.sc_cart {
  padding-bottom: 20px;
}

td.sc_totals {
  padding-bottom: 20px;
}

td.sc_address {
  padding-bottom: 20px;
}

td.sc_payment {
}

td.sc_order_instructions {
}

td.sc_commments {
}

td.sc_custom_html {
}

table.sc_custom_html {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
}

td.sc_custom_html_content {
}

td.sc_email_list {
}

table.sc_email_list {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
}

td.sc_email_list_content {
}

td.sc_footer {
  vertical-align: middle;
  text-align: center;
  padding-top: 20px;
  font-size: 8pt;
}

/* Generated Stuff */
/* Cart */
table.cart {
  margin-left: auto;
  margin-right: auto;
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

  [-- IF Cart_Image --]
th.cart_image {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 110px;
  width: 110px;
  max-width: 110px;
}

td.cart_image {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 110px;
  width: 110px;
  max-width: 110px;
}

td.cart_cp_image {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_image img {
  max-width: 100px;
  border: 0px none;
}
  [-- END_IF --]

#/* Cart Content Headers */#
th.cart_quantity {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

th.cart_name {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 150px;
  width: 150px;
  max-width: 150px;
}

th.cart_sku {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 98px;
  width: 98px;
  max-width: 98px;
}

th.cart_price {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

th.cart_total {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

#/* Cart Content */#
td.cart_quantity {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_name {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 150px;
  width: 150px;
  max-width: 150px;
}

td.cart_sku {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 98px;
  width: 98px;
  max-width: 98px;
}

td.cart_price {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_total {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

#/* Empty cells outside product options */#
td.cart_op1 {
  background-color: #[-- VAR.sc_table_special_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-right: none;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_op2 {
  background-color: #[-- VAR.sc_table_special_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-left: none;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

#/* Product Options */#
td.cart_op {
  background-color: #[-- VAR.sc_table_special_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-right: none;
  border-left: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

table.opt_cart {
  background-color: #[-- VAR.sc_table_special_color --];
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

td.opt_cart {
  text-align: left;
}

#/* Coupon in Cart */#
td.cart_cp_quantity {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_name {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_sku {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_price {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_total {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#/* Gift Cert in Cart */#
table.giftcert {
}

td.giftcert {
  background-color: #[-- VAR.sc_table_special_color --];
  text-align: center;
}

/* Totals */
table.totals {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
}

td.totals_txt {
  text-align: right;
  border-right: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border-left: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 80px;
  max-width: 80px;
}

td.totals_all_txt {
  text-align: right;
  border-right: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals_all {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border-left: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  width: 80px;
  max-width: 80px;
}

td.totals_blank {
  text-align: right;
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals_saved_txt {
  text-align: right;
  border-right: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals_saved {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border-left: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  width: 80px;
  max-width: 80px;
}

#/* Addresses */#
table.addr {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

table.bill_addr {
  width: 100%;
  vertical-align: bottom;
  text-align: left;
}

td.bill_addr_hdr {
  text-align: left;
  font-weight: bold;
}

table.addr_name {
  text-align: left;
  margin-left: 0px;
}

td.addr_name_val {
  text-align: left;
}

td.addr_val {
  text-align: left;
}

table.ship_addr {
  padding-top: 10px;
  width: 100%;
  vertical-align: bottom;
  text-align: left;
}

td.ship_addr_hdr {
  text-align: left;
  font-weight: bold;
}

#/* Payment Info */#
table.payment {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.payment_hdr {
  text-align: left;
  font-weight: bold;
}

td.payment {
  text-align: right;
  width: 30%;
}

td.payment_value {
  text-align: left;
  width: 70%;
}

#/* Comments */#
table.comm {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.comm_hdr {
  font-weight: bold;
}

td.comm {
}

#/* Order Instructions */#
table.instruct {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.instruct_hdr {
  font-weight: bold;
}

td.instruct {
}

#/* --------------------- */#
#/* Shopping Cart Screens */#
#/* --------------------- */#
[-- ELSE --]
body {
  margin: 0px;
  color: #[-- VAR.sc_text_color --];
  background-image: url([-- VAR.sc_background_image --]);
  background-position: center;
  background-repeat: repeat;
  background-color: #[-- VAR.sc_background_color --];
  font-family: [-- VAR.sc_font --];
  font-size: [-- VAR.sc_font_size --];
}

/* Tables to make IE happy */
table {
  margin: 0px;
  color: #[-- VAR.sc_text_color --];
  background-color: #[-- VAR.sc_background_color --];
  font-family: [-- VAR.sc_font --];
  font-size: [-- VAR.sc_font_size --];
  border-collapse: collapse;
  border-spacing: 0px;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  background-color: transparent;
}

/* Anchor Tags */
a {
  font-family: [-- VAR.sc_font --];
  font-size: [-- VAR.sc_font_size --];
  text-decoration: underline;
}

a:link {
  color: #[-- VAR.sc_link_color --];
}

a:active {
  color: #[-- VAR.sc_active_link_color --];
}

a:hover {
  color: #[-- VAR.sc_hover_link_color --];
}

a:visited {
  color: #[-- VAR.sc_visited_link_color --];
}

/* Forms Stuff */
input {
  color: #[-- VAR.sc_text_color --];
  font-family: [-- VAR.sc_font --];
  font-size: [-- VAR.sc_small_font --];
  vertical-align: middle;
}

input[type=text], input[type=password], input[type=button], input[type=select], input[type=reset], textbox, select {
  background-color: #[-- VAR.sc_form_background_color --];
}

input[type=image], input[type=radio], input[type=checkbox] {
  background-color: transparent;
}

select {
  color: #[-- VAR.sc_text_color --];
  background-color: #[-- VAR.sc_form_background_color --];
  font-family: [-- VAR.sc_font --];
  font-size: [-- VAR.sc_small_font --];
}

textarea {
  color: #[-- VAR.sc_text_color --];
  background-color: #[-- VAR.sc_form_background_color --];
  font-family: [-- VAR.sc_font --];
  font-size: [-- VAR.sc_small_font --];
}

#/* -- ----------- -- */#
#/* -- Cart Screen -- */#
#/* -- ----------- -- */#
  [-- IF VAR.define "cart" --]
/* Main Layout */
table.content {
  width: 100%;
  background: transparent;
}

td.sc_header {
  vertical-align: top;
  text-align: center;
  padding-bottom: 20px;
}

td.sc_messages {
  text-align: center;
  padding-bottom: 20px;
}

    [-- IF SC_Registration --]
td.sc_registration {
  text-align: center;
}
    [-- END_IF --]

    [-- IF SC_Rewards --]
td.sc_rewards {
  text-align: center;
}
    [-- END_IF --]

    [-- IF SC_Coupon --]
td.sc_coupons {
}

table.sc_coupons {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.sc_coupon_caption {
  text-align: right;
}

td.sc_coupon_form {
  text-align: left;
}

      [-- IF SC_Coupon_Button --]
td.sc_coupon_button {
}
      [-- ELSE --]
td.sc_coupon_button {
  text-align: center;
}
      [-- END_IF --]
    [-- END_IF --]

    [-- IF SC_GiftCert --]
td.sc_giftcert {
}

table.sc_giftcert {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.sc_giftcert_text {
  text-align: center;
}

td.sc_giftcert_form {
}

      [-- IF SC_GiftCert_Button --]

td.sc_giftcert_button {
}
      [-- END_IF --]
    [-- END_IF --]

td.sc_showbasket {
}

table.sc_showbasket {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  margin-left: auto;
  margin-right: auto;
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.sc_showbasket_content {
  text-align: center;
}

td.sc_cart {
  padding-top: 20px;
  padding-bottom: 20px;
}

td.sc_totals {
  padding-bottom: 20px;
}

td.sc_shipping {
}

table.sc_shipping {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  margin-left: auto;
  margin-right: auto;
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.sc_shipping_content {
}

td.sc_payment {
}

table.sc_payment {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  margin-left: auto;
  margin-right: auto;
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.sc_payment_content {
}

td.sc_surcharge {
}

    [-- IF SC_OrderingInstructions --]
td.sc_orderinstructions {
}
    [-- END_IF --]

td.sc_changes {
  padding-top: 20px;
}

table.sc_changes {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  margin-left: auto;
  margin-right: auto;
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.sc_recalc_button {
}

td.sc_emptycart_button {
}

td.sc_changes_text {
}

td.sc_checkout_buttons {
}

table.sc_checkout_buttons {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  margin-left: auto;
  margin-right: auto;
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.sc_continueshopping_button {
}

td.sc_checkout_button {
}

td.sc_footer {
  vertical-align: middle;
  text-align: center;
  padding-top: 20px;
}

#/* Cross Sell Stuff */#
td.sc_cross_sell {
}

table.cross_sell {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  margin-left: auto;
  margin-right: auto;
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

caption.cross_sell {
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  background-color: #[-- VAR.sc_table_head_color --];
}

td.cross_sell {
  text-align: center;
}

/* Generated Stuff */
/* Error Messages */
#/* UPS module error (zip) */#
table.ups_error, table.inv_err {
}

td.ups_error, td.inv_err {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  background-color: #[-- VAR.sc_table_head_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#/* Checkout Errors */#
table.checkout_err {
}

td.checkout_err {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  background-color: #[-- VAR.sc_table_head_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

    [-- IF SC_Registration --]
/* Customer Registration */
      [-- IF SignedIn? --]
#/* logged in */#
table.reg {
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.reg_wel {
  font-size: [-- VAR.sc_large_font --];
  font-weight: bold;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.reg {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.reg_link {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
      [-- ELSE --]
#/* not logged in */#
table.reg {
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.reg_wel {
  font-size: [-- VAR.sc_large_font --];
  font-weight: bold;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.reg {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.reg_link {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
      [-- END_IF --]
    [-- END_IF --]

#   [-- IF SC_Rewards --]
/* Reward Program */
table.program_reward_order {
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

th.program_reward_order {
}

td.program_reward_order {
}
#   [-- END_IF --]

/* Cart */
table.cart {
  margin-left: auto;
  margin-right: auto;
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

    [-- IF SC_Remove_Button --]
#/* Remove/Update Buttons */#
th.cart_delete {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_delete {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}
    [-- END_IF --]

  [-- IF Cart_Image --]
th.cart_image {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 110px;
  width: 110px;
  max-width: 110px;
}

td.cart_image {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 110px;
  width: 110px;
  max-width: 110px;
}

td.cart_cp_image {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_image img {
  max-width: 100px;
  border: 0px none;
}
  [-- END_IF --]

#/* Cart Content Headers */#
th.cart_quantity {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

th.cart_name {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 150px;
  width: 150px;
  max-width: 150px;
}

th.cart_sku {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 98px;
  width: 98px;
  max-width: 98px;
}

th.cart_price {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

th.cart_total {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

#/* Cart Content */#
td.cart_quantity {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_name {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 150px;
  width: 150px;
  max-width: 150px;
}

td.cart_sku {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 98px;
  width: 98px;
  max-width: 98px;
}

td.cart_price {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_total {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_empty {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
}

#/* Empty cells outside product options */#
td.cart_op1 {
  background-color: #[-- VAR.sc_table_special_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-right: none;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_op2 {
  background-color: #[-- VAR.sc_table_special_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-left: none;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

#/* Product Options */#
td.cart_op {
  background-color: #[-- VAR.sc_table_special_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-right: none;
  border-left: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

table.opt_cart {
  background-color: #[-- VAR.sc_table_special_color --];
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

td.opt_cart {
  text-align: left;
}

#/* Product Options Pull-Downs */#
select.cart {
  text-align: left;
  margin-left: 0px;
  margin-right: 0px;
  width: 110px;
  max-width: 110px;
}

#/* Gift Cert in Cart */#
table.giftcert {
}

td.giftcert {
  background-color: #[-- VAR.sc_table_special_color --];
  text-align: center;
}

#/* Coupon in Cart */#
td.cart_cp_quantity {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_name {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_sku {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_price {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_total {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* Shipping calculations */
#/* cr stuff */#
table.sql_addr {
}

td.sql_addr_hdr {
  text-align: left;
}

td.sql_addr_select {
  text-align: left;
}

td.sql_addr {
  text-align: left;
}

table.selectzipncountry {
}

td.zipncountryradio {
  text-align: left;
}

td.zipncountry_hdr {
  text-align: left;
}

td.zipncountry_txt1 {
  text-align: right;
}

table.zipncountry {
  text-align: left;
}

td.zipncountry_txt {
  text-align: right;
}

td.zipncountry {
  text-align: left;
}

/* Tax calculations */
table.taxnship {
}

td.taxnship {
}

/* Payment Type */
#/* cr stuff */#
table.pay_holder {
}

td.pay_holder_hdr {
}

table.sql_pay {
}

td.sql_pay_select {
}

td.sql_pay {
}

td.new_payment_type {
}

/* Surcharge */
table.surcharge {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  margin-left: auto;
  margin-right: auto;
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.surcharge {
}

/* Order Instructions */
table.instruct {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  margin-left: auto;
  margin-right: auto;
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.instruct_hdr {
}

td.instruct {
}

/* Totals */
table.totals {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
}

td.totals_txt {
  text-align: right;
  border-right: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border-left: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 80px;
  max-width: 80px;
}

td.totals_all_txt {
  text-align: right;
  border-right: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals_all {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border-left: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  width: 80px;
  max-width: 80px;
}

td.totals_blank {
  text-align: right;
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals_saved_txt {
  text-align: right;
  border-right: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals_saved {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border-left: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  width: 80px;
  max-width: 80px;
}

/* Buttons */
#/* "apply coupon" button */#
input.button152 {
}

#/* "apply gift cert" button */#
input.button375 {
}

#/* "recalculate" button */#
input.button7 {
}

#/* "empty cart" button */#
input.button9 {
}

#/* "continue shopping" button */#
input.button6 {
}

#/* "checkout" button */#
input.button8 {
}

#/* -- --------------- -- */#
#/* -- Shipping Screen -- */#
#/* -- --------------- -- */#
  [-- ELSE_IF VAR.define "shipping" --]
table.content {
  width: 100%;
  background: transparent;
}

td.sc_header {
  vertical-align: top;
  text-align: center;
  padding-bottom: 20px;
}

td.sc_messages {
  text-align: center;
  padding-bottom: 20px;
}

td.sc_cart {
  padding-bottom: 20px;
}

td.sc_totals {
  padding-bottom: 20px;
}

td.sc_address {
  padding-bottom: 20px;
}

td.sc_payment {
}

td.sc_security_image {
}

td.sc_commments {
}

td.sc_email_list {
}

table.sc_email_list {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
}

td.sc_email_list_content {
}

td.sc_buttons {
}

table.sc_buttons {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
}

td.sc_submit_button {
}

td.sc_returntocart_button {
}

td.sc_footer {
  vertical-align: middle;
  text-align: center;
  padding-top: 20px;
}

#/* Custom HTML fields */#
    [-- IF CustomHTML --]
td.sc_custom_html_1 {
}

td.sc_custom_html_2 {
  padding-top: 20px;
}

td.sc_custom_html_3 {
}

td.sc_custom_html_4 {
}

td.sc_custom_html_5 {
  padding-top: 20px;
}

table.sc_custom_html {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
}

td.sc_custom_html {
}
    [-- ELSE --]
td.sc_commments {
  padding-top: 20px;
}

td.sc_buttons {
  padding-top: 20px;
}
    [-- END_IF --]

/* Generated Stuff */
/* Cart */
table.cart {
  margin-left: auto;
  margin-right: auto;
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

  [-- IF Cart_Image --]
th.cart_image {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 110px;
  width: 110px;
  max-width: 110px;
}

td.cart_image {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 110px;
  width: 110px;
  max-width: 110px;
}

td.cart_cp_image {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_image img {
  max-width: 100px;
  border: 0px none;
}
  [-- END_IF --]

#/* Cart Content Headers */#
th.cart_quantity {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

th.cart_name {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 150px;
  width: 150px;
  max-width: 150px;
}

th.cart_sku {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 98px;
  width: 98px;
  max-width: 98px;
}

th.cart_price {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

th.cart_total {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

#/* Cart Content */#
td.cart_quantity {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_name {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 150px;
  width: 150px;
  max-width: 150px;
}

td.cart_sku {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 98px;
  width: 98px;
  max-width: 98px;
}

td.cart_price {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_total {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

#/* Empty cells outside product options */#
td.cart_op1 {
  background-color: #[-- VAR.sc_table_special_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-right: none;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_op2 {
  background-color: #[-- VAR.sc_table_special_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-left: none;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

#/* Product Options */#
td.cart_op {
  background-color: #[-- VAR.sc_table_special_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-right: none;
  border-left: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

table.opt_cart {
  background-color: #[-- VAR.sc_table_special_color --];
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

td.opt_cart {
  text-align: left;
}

#/* Coupon in Cart */#
td.cart_cp_quantity {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_name {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_sku {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_price {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_total {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#/* Gift Cert in Cart */#
table.giftcert {
}

td.giftcert {
  background-color: #[-- VAR.sc_table_special_color --];
  text-align: center;
}

/* Totals */
table.totals {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
}

td.totals_txt {
  text-align: right;
  border-right: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border-left: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 80px;
  max-width: 80px;
}

td.totals_all_txt {
  text-align: right;
  border-right: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals_all {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border-left: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  width: 80px;
  max-width: 80px;
}

td.totals_blank {
  text-align: right;
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals_saved_txt {
  text-align: right;
  border-right: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals_saved {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border-left: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  width: 80px;
  max-width: 80px;
}

#/* Addresses */#
table.addr {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

table.bill_addr {
  width: 100%;
  vertical-align: bottom;
}

td.bill_addr_hdr {
  text-align: left;
  font-weight: bold;
}

table.addr_name {
  text-align: left;
  margin-left: 0%;
}

td.addr_name_val {
  text-align: left;
}

td.addr {
  font-weight: bold;
  text-align: right;
  width: 30%;
}

td.addr_val {
  text-align: left;
  width: 70%;
}

table.ship_addr {
  width: 100%;
  vertical-align: bottom;
  text-align: left;
}

td.ship_addr_hdr {
  text-align: left;
  font-weight: bold;
}

td.ship_check {
  text-align: left;
}

td.addr {
  font-weight: bold;
  text-align: right;
  width: 30%;
}

td.addr_val {
  text-align: left;
  width: 70%;
}

td.addr_foot {
  text-align: left;
}

#/* Payment Info */#
table.payment {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.payment_hdr {
  text-align: left;
  font-weight: bold;
}

td.payment {
  font-weight: bold;
  text-align: right;
  width: 30%;
}

td.payment_value {
  text-align: left;
  width: 70%;
}

#/* Comments */#
table.comm {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.comm_hdr {
}

td.comm {
}

#/* Security Image */#
    [-- IF SecurityImage --]
table.sec_image {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.sec_image {
  width: 50%;
}
    [-- END_IF --]

/* Buttons */
#/* "confirm" button */#
input.button162 {
}

#/* "Return to Cart" button */#
input.button68 {
}

#/* -- ------------- -- */#
#/* Confirmation Screen */#
#/* -- ------------- -- */#
  [-- ELSE_IF VAR.define "confirm" --]
table.content {
  width: 100%;
  background: transparent;
}

td.sc_header {
  vertical-align: top;
  text-align: center;
  padding-bottom: 20px;
}

td.sc_messages {
  text-align: center;
  padding-bottom: 20px;
}

td.sc_cart {
  padding-bottom: 20px;
}

td.sc_totals {
  padding-bottom: 20px;
}

td.sc_address {
  padding-bottom: 20px;
}

td.sc_payment {
}

td.sc_order_instructions {
}

td.sc_commments {
}

td.sc_custom_html {
}

table.sc_custom_html {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
}

td.sc_custom_html_content {
}

td.sc_email_list {
}

table.sc_email_list {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
}

td.sc_email_list_content {
}

td.sc_buttons {
  padding-top: 20px;
}

table.sc_buttons {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
}

td.sc_makechanges_button {
}

td.sc_confirmation_button {
}

td.sc_footer {
  vertical-align: middle;
  text-align: center;
  padding-top: 20px;
}

/* Generated Stuff */
/* Cart */
table.cart {
  margin-left: auto;
  margin-right: auto;
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

  [-- IF Cart_Image --]
th.cart_image {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 110px;
  width: 110px;
  max-width: 110px;
}

td.cart_image {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 110px;
  width: 110px;
  max-width: 110px;
}

td.cart_cp_image {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_image img {
  max-width: 100px;
  border: 0px none;
}
  [-- END_IF --]

#/* Cart Content Headers */#
th.cart_quantity {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

th.cart_name {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 150px;
  width: 150px;
  max-width: 150px;
}

th.cart_sku {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 98px;
  width: 98px;
  max-width: 98px;
}

th.cart_price {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

th.cart_total {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

#/* Cart Content */#
td.cart_quantity {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_name {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 150px;
  width: 150px;
  max-width: 150px;
}

td.cart_sku {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 98px;
  width: 98px;
  max-width: 98px;
}

td.cart_price {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_total {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

#/* Empty cells outside product options */#
td.cart_op1 {
  background-color: #[-- VAR.sc_table_special_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-right: none;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_op2 {
  background-color: #[-- VAR.sc_table_special_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-left: none;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

#/* Product Options */#
td.cart_op {
  background-color: #[-- VAR.sc_table_special_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-right: none;
  border-left: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

table.opt_cart {
  background-color: #[-- VAR.sc_table_special_color --];
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

td.opt_cart {
  text-align: left;
}

#/* Coupon in Cart */#
td.cart_cp_quantity {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_name {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_sku {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_price {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_total {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#/* Gift Cert in Cart */#
table.giftcert {
}

td.giftcert {
  background-color: #[-- VAR.sc_table_special_color --];
  text-align: center;
}

/* Totals */
table.totals {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
}

td.totals_txt {
  text-align: right;
  border-right: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border-left: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 80px;
  max-width: 80px;
}

td.totals_all_txt {
  text-align: right;
  border-right: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals_all {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border-left: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  width: 80px;
  max-width: 80px;
}

td.totals_blank {
  text-align: right;
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals_saved_txt {
  text-align: right;
  border-right: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals_saved {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border-left: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  width: 80px;
  max-width: 80px;
}

#/* Addresses */#
table.addr {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

table.bill_addr {
  width: 100%;
  vertical-align: bottom;
  text-align: left;
}

td.bill_addr_hdr {
  text-align: left;
  font-weight: bold;
}

table.addr_name {
  text-align: left;
  margin-left: 0px;
}

td.addr_name_val {
  text-align: left;
}

td.addr_val {
  text-align: left;
}

table.ship_addr {
  padding-top: 10px;
  width: 100%;
  vertical-align: bottom;
  text-align: left;
}

td.ship_addr_hdr {
  text-align: left;
  font-weight: bold;
}

#/* Payment Info */#
table.payment {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.payment_hdr {
  text-align: left;
  font-weight: bold;
}

td.payment {
  text-align: right;
  width: 30%;
}

td.payment_value {
  text-align: left;
  width: 70%;
}

#/* Comments */#
table.comm {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.comm_hdr {
  font-weight: bold;
}

td.comm {
}

#/* Order Instructions */#
table.instruct {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.instruct_hdr {
  font-weight: bold;
}

td.instruct {
}

/* Buttons */
#/* "confirm" button */#
input.button163 {
}

#/* "Return to Cart" button */#
input.button67 {
}

#/* -- --------- -- */#
#/* ThankYou Screen */#
#/* -- --------- -- */#
  [-- ELSE_IF VAR.define "thankyou" --]
table.content {
  width: 100%;
  background: transparent;
}

td.sc_header {
  vertical-align: top;
  text-align: center;
  padding-bottom: 20px;
}

td.sc_order_num {
  padding-bottom: 20px;
}

table.sc_order_num {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
}

td.sc_order_num_text {
  font-size: [-- VAR.sc_large_font --];
  font-weight: bold;
  text-align: right;
  width: 50%;
}

td.sc_order_num_num {
  font-size: [-- VAR.sc_large_font --];
  font-weight: bold;
  text-align: left;
  width: 50%;
}

td.sc_cart {
  padding-bottom: 20px;
}

td.sc_totals {
  padding-bottom: 20px;
}

td.sc_address {
  padding-bottom: 20px;
}

td.sc_payment {
}

td.sc_order_instructions {
}

td.sc_commments {
}

td.sc_custom_html {
}

table.sc_custom_html {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
}

td.sc_custom_html_content {
}

td.sc_email_list {
}

table.sc_email_list {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
}

td.sc_email_list_content {
}

td.sc_buttons {
  padding-top: 20px;
}

table.sc_buttons {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
}

td.sc_returntostore_button {
}

td.sc_footer {
  vertical-align: middle;
  text-align: center;
  padding-top: 20px;
}

/* Generated Stuff */
/* Cart */
table.cart {
  margin-left: auto;
  margin-right: auto;
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

  [-- IF Cart_Image --]
th.cart_image {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 110px;
  width: 110px;
  max-width: 110px;
}

td.cart_image {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 110px;
  width: 110px;
  max-width: 110px;
}

td.cart_cp_image {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_image img {
  max-width: 100px;
  border: 0px none;
}
  [-- END_IF --]

#/* Cart Content Headers */#
th.cart_quantity {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

th.cart_name {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 150px;
  width: 150px;
  max-width: 150px;
}

th.cart_sku {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 98px;
  width: 98px;
  max-width: 98px;
}

th.cart_price {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

th.cart_total {
  background-color: #[-- VAR.sc_table_head_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

#/* Cart Content */#
td.cart_quantity {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_name {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 150px;
  width: 150px;
  max-width: 150px;
}

td.cart_sku {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 98px;
  width: 98px;
  max-width: 98px;
}

td.cart_price {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_total {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

#/* Empty cells outside product options */#
td.cart_op1 {
  background-color: #[-- VAR.sc_table_special_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-right: none;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

td.cart_op2 {
  background-color: #[-- VAR.sc_table_special_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-left: none;
  min-width: 80px;
  width: 80px;
  max-width: 80px;
}

#/* Product Options */#
td.cart_op {
  background-color: #[-- VAR.sc_table_special_color --];
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-right: none;
  border-left: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

table.opt_cart {
  background-color: #[-- VAR.sc_table_special_color --];
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

td.opt_cart {
  text-align: left;
}

#/* Coupon in Cart */#
td.cart_cp_quantity {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_name {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_sku {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_price {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.cart_cp_total {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#/* Gift Cert in Cart */#
table.giftcert {
}

td.giftcert {
  background-color: #[-- VAR.sc_table_special_color --];
  text-align: center;
}

/* Totals */
table.totals {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
}

td.totals_txt {
  text-align: right;
  border-right: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border-left: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 80px;
  max-width: 80px;
}

td.totals_all_txt {
  text-align: right;
  border-right: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals_all {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border-left: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  width: 80px;
  max-width: 80px;
}

td.totals_blank {
  text-align: right;
  border-bottom: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals_saved_txt {
  text-align: right;
  border-right: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

td.totals_saved {
  background-color: #[-- VAR.sc_table_totals_color --];
  text-align: right;
  border-left: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  width: 80px;
  max-width: 80px;
}

#/* Addresses */#
table.addr {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

table.bill_addr {
  width: 100%;
  vertical-align: bottom;
  text-align: left;
}

td.bill_addr_hdr {
  text-align: left;
  font-weight: bold;
}

table.addr_name {
  text-align: left;
  margin-left: 0px;
}

td.addr_name_val {
  text-align: left;
}

td.addr_val {
  text-align: left;
}

table.ship_addr {
  padding-top: 10px;
  width: 100%;
  vertical-align: bottom;
  text-align: left;
}

td.ship_addr_hdr {
  text-align: left;
  font-weight: bold;
}

#/* Payment Info */#
table.payment {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.payment_hdr {
  text-align: left;
  font-weight: bold;
}

td.payment {
  text-align: right;
  width: 30%;
}

td.payment_value {
  text-align: left;
  width: 70%;
}

#/* Comments */#
table.comm {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.comm_hdr {
  font-weight: bold;
}

td.comm {
}

#/* Order Instructions */#
table.instruct {
  border: [-- VAR.sc_table_border --] #[-- VAR.sc_table_border_color --];
  width: [-- VAR.sc_table_width --]px;
  max-width: [-- VAR.sc_table_width --]px;
}

td.instruct_hdr {
  font-weight: bold;
}

td.instruct {
}

  [-- ELSE --]
/* If you see this, you're doing something wrong */
  [-- END_IF --]
[-- END_IF --]