<style type="text/css">
<!--
/********************************************************/
/***  Cascading Style Sheet for Gift Certificate Page ***/
/********************************************************/

/***********************/
/***  Page Defaults  ***/
/***********************/
body {
  color: #[-- STORE.GiftCert_TextColor --];
  background-color: #[-- STORE.GiftCert_BackgroundColor --];
[-- IF STORE.GiftCert_BackgroundImage --]
  background-image: url([-- STORE.GiftCert_BackgroundImage --]);
[-- END_IF --]
}

/***********************/
/***  Hyperlinks     ***/
/***********************/
a:link { 
  color: #[-- STORE.GiftCert_LinkColor --];
}
a:visited { 
  color: #[-- STORE.GiftCert_VisitedLinkColor --];
}
a:hover { 
  color: #[-- STORE.GiftCert_LinkColor --];
}
a:active { 
  color: #[-- STORE.GiftCert_ActiveLinkColor --];
}


div.header, div.footer {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

div#messages {
/*  margin-top: 10px; */
  vertical-align: middle;
}

div.cert {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

form.gift_certificate {
}


div.instructions, div.policy {
  padding-top: 1em;
}

table.cert_num_amount {
  padding-top: 1em;
}

td.cert_num_amount{
}

select.cert_num_amount {
}


table.giftcert_type {
  padding-top: 1em;
}

td.giftcert_type {
  padding-top: 0px;
}


table.cert_to_from_msg {
  padding-top: 1em;
}

td.cert_to_from_msg {
}

td.cert_to_from_msg_val {
}

div.buttons {
  text-align: center;
  padding-top: 1em;
}

-->
</style>

