#/* Tabbed Theme Giftcert Style Sheet */

/* Start CR Vars

[-- IF  STORE.SC_BackgroundImage --]
  [-- VAR.cr_background_image STORE.SC_BackgroundColor --]
[-- ELSE --]
  [-- VAR.cr_background_image "none" --]
[-- END_IF --]

  # Color Bar Colors
[-- IF STORE.SC_ActiveLinkColor "990000" --]
    # Burgundy
  [-- VAR.color_bar_text_color "FFCC66" --]
  [-- VAR.color_bar_bg_color "9C0000" --]
  [-- VAR.cart_content_text_color "333333" --]
  [-- VAR.cart_content_bg_color "DDDDCC" --]
[-- ELSE_IF STORE.SC_ActiveLinkColor "FFCC33" --]
    # Gold
  [-- VAR.color_bar_text_color "000000" --]
  [-- VAR.color_bar_bg_color "FAD862" --]
  [-- VAR.cart_content_text_color "FDFD77" --]
  [-- VAR.cart_content_bg_color "000000" --]
[-- ELSE_IF STORE.SC_ActiveLinkColor "666666" --]
    # Gray
  [-- VAR.color_bar_text_color "FFFFFF" --]
  [-- VAR.color_bar_bg_color "666666" --]
  [-- VAR.cart_content_text_color "000000" --]
  [-- VAR.cart_content_bg_color "CCCCCC" --]
[-- ELSE_IF STORE.SC_ActiveLinkColor "006600" --]
    # Green
  [-- VAR.color_bar_text_color "FFFFFF" --]
  [-- VAR.color_bar_bg_color "006600" --]
  [-- VAR.cart_content_text_color "000000" --]
  [-- VAR.cart_content_bg_color "FEFECC" --]
[-- ELSE_IF STORE.SC_ActiveLinkColor "FF6600" --]
    # Orange
  [-- VAR.color_bar_text_color "000000" --]
  [-- VAR.color_bar_bg_color "FF6600" --]
  [-- VAR.cart_content_text_color "FFFFFF" --]
  [-- VAR.cart_content_bg_color "660000" --]
[-- ELSE_IF STORE.SC_ActiveLinkColor "6600CC" --]
    # Purple
  [-- VAR.color_bar_text_color "FFFFFF" --]
  [-- VAR.color_bar_bg_color "6600CC" --]
  [-- VAR.cart_content_text_color "FFFFFF" --]
  [-- VAR.cart_content_bg_color "9966FE" --]
[-- ELSE_IF STORE.SC_ActiveLinkColor "CC3333" --]
    # Red
  [-- VAR.color_bar_text_color "F3C500" --]
  [-- VAR.color_bar_bg_color "B51515" --]
  [-- VAR.cart_content_text_color "F3C500" --]
  [-- VAR.cart_content_bg_color "323232" --]
[-- ELSE --]
    # Blue
  [-- VAR.color_bar_text_color "FFFFFF" --]
  [-- VAR.color_bar_bg_color "0000FF" --]
  [-- VAR.cart_content_text_color "000000" --]
  [-- VAR.cart_content_bg_color "99CCFF" --]
[-- END_IF --]

End GC Vars */  

/* ************* */
/* Global Styles */
/* ************* */
body {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
  margin: 0px;
  color: #[-- STORE.SC_TextColor --];
  background-color:  #[-- STORE.SC_BackgroundColor --];
  background-image: url([-- VAR.cr_background_image --]);
  text-align: center;
}

div {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
  margin: 0px;
  color: #[-- STORE.SC_TextColor --];
  background-color:  transparent;
}

table {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
  color: #[-- STORE.SC_TextColor --];
  background-color:  transparent;
}

th {
  text-align: center;
}

td {
  text-align: left;
}

/* Image Styles */
img {
  border: 0px none;
}

/* Anchor Styles */
a {
  color: #[-- STORE.SC_LinkColor --];
  background-color: transparent;
}

a:active {
  color: #[-- STORE.SC_ActiveLinkColor --];
  background-color: transparent;
}

a:hover {
  color: #[-- STORE.SC_ActiveLinkColor --];
  background-color: transparent;
}

a:visited {
  color: #[-- STORE.SC_VisitedLinkColor --];
  background-color: transparent;
}

/* Form Styles */
textarea {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
}

select {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
}

option {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
}

input {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
}

/* Special Input Types.  Not Supported by IE */
input[type=text], input[type=password] {
  text-align: left;
}

input[type=image], input[type=button], input[type=submit], input[type=reset] {
  border: 0px none;
  cursor: pointer;
}

input[type=radio], input[type=checkbox] {
}

/* *********************** */
/* Gift Certificate Styles */
/* *********************** */
table.header {
  width: 100%;
  text-align: center;
}

td.gc_messages {
  text-align: center;
}

table.cr_content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

td.container_hdr {
  text-align: center;
  font-weight: bold;
}

td.container, td.view_edit {
  text-align: center;
}

table.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


div.footer {
}

/* Messages */
table.ups_err {
  width: 50%;
  max-width: 80%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

td.ups_err {
  color: #[-- VAR.color_bar_text_color --];
  background-color: #[-- VAR.color_bar_bg_color --];
  font-weight: bold;
  font-size: 12pt;
}

/* The Color Bar */
table.color_bar {
  color: #[-- VAR.color_bar_text_color --];
  background-color: #[-- VAR.color_bar_bg_color --];
  width: 100%;
  height: 24px;
}

tr.color_bar {
}

td.color_bar {
  color: #[-- VAR.color_bar_text_color --];
  background-color: #[-- VAR.color_bar_bg_color --];
  text-align: center;
  font-weight: bold;
}

table.addr, table.payment {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* Shopping Cart Contents */
table.cart {
  width: 100%;
  padding-top: 1em;
  border-collapse: collapse;
  border-spacing: 0px;
  border-bottom: 4px solid #[-- VAR.color_bar_bg_color --];
}

th.cart_delete, th.cart_quantity, th.cart_name, th.cart_sku {
  color: #[-- VAR.color_bar_text_color --];
  background-color: #[-- VAR.color_bar_bg_color --];
}

th.cart_price, th.cart_total {
  color: #[-- VAR.color_bar_text_color --];
  background-color: #[-- VAR.color_bar_bg_color --];
  text-align: right;
  padding-right: 5px;
}

td.cart_delete, td.cart_quantity, td.cart_name, td.cart_sku {
  color: #[-- VAR.cart_content_text_color --];
  background-color: #[-- VAR.cart_content_bg_color --];
  text-align: center;
  border-top: 2px solid #[-- VAR.color_bar_bg_color --];
}

td.cart_price, td.cart_total {
  color: #[-- VAR.cart_content_text_color --];
  background-color: #[-- VAR.cart_content_bg_color --];
  text-align: right;
  padding-right: 5px;
  border-top: 2px solid #[-- VAR.color_bar_bg_color --];
}

td.cart_cp_delete, td.cart_cp_quantity, td.cart_cp_name, td.cart_cp_sku {
  color: #[-- VAR.cart_content_text_color --];
  background-color: #[-- VAR.cart_content_bg_color --];
  text-align: center;
  border-top: 2px solid #[-- VAR.color_bar_bg_color --];
}

td.cart_cp_price, td.cart_cp_total {
  color: #[-- VAR.cart_content_text_color --];
  background-color: #[-- VAR.cart_content_bg_color --];
  text-align: right;
  padding-right: 5px;
  border-top: 2px solid #[-- VAR.color_bar_bg_color --];
}

td.cart_op1, td.cart_op2 {
  color: #[-- VAR.cart_content_text_color --];
  background-color: #[-- VAR.cart_content_bg_color --];
}

td.cart_op {
  color: #[-- VAR.cart_content_text_color --];
  background-color: #[-- VAR.cart_content_bg_color --];
  text-align: center;
}

a.cart_name {
  color: #[-- VAR.cart_content_text_color --];
  background-color: transparent;
}

/* Totals Table */
table.sc_totals {
  width: 100%;
  text-align: right;
}

td.sc_totals {
  text-align: right;
}

table.totals {
  border-collapse: collapse;
  border-spacing: 0px;
  border-bottom: 4px solid #[-- VAR.color_bar_bg_color --];
  text-align: right;
  margin-left: auto;
  margin-right: 0px;
}

td.totals_txt, td.totals_all_txt, td.totals_saved_txt {
  color: #[-- VAR.color_bar_text_color --];
  background-color: #[-- VAR.color_bar_bg_color --];
  text-align: right;
  padding-right: 15px;
  border-top: 2px solid #[-- VAR.color_bar_bg_color --];
}

td.totals, td.totals_all, td.totals_saved {
  color: #[-- VAR.cart_content_text_color --];
  background-color: #[-- VAR.cart_content_bg_color --];
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
  border-top: 2px solid #[-- VAR.color_bar_bg_color --];
}

td.totals_all_txt, td.totals_all {
  font-weight: bold;
}

td.totals_blank {
  color: #[-- VAR.color_bar_text_color --];
  background-color: #[-- VAR.color_bar_bg_color --];
}

table.email_pw, table.addr_name, table.email_type, table.save_payment {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table.pw, table.challenge {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

