/*********************************/
/***  Table of Error Messages  ***/
/*********************************/

table.checkout_err {
}

td.checkout_err {
  color: #[-- STORE.SC_TextColor --];
  background-color: #[-- STORE.SC_shadecolor --];
}

table.ups_error {
}

td.ups_error {
  vertical-align: middle;
}

