/***********************/
/***  Address Table  ***/
/***********************/
table.addr { /* outer table that contains both billing and shipping addresses */
  color: [-- STORE.SC_TextColor --];
  background-color: [-- STORE.SC_BackgroundColor --];
}

table.bill_addr {   /* inner table for billing address */
  border-spacing: 0px;
  text-align:left;
  margin-right: 20px;
}

table.ship_addr {   /* inner table for shipping address */
  border-spacing: 0px;
  text-align:left;
}

td.bill_addr_hdr, td.ship_addr_hdr {
  font-weight: bold;
  text-align:center;
}

td.addr {
#  text-align: right;
}

td.addr_val {
#  text-align: right;
}

input.addr, select.addr {
}

td.ship_check {   /* checkbox for shipping same as billing */
  font-weight: bold;
  color: red;
  text-align:left;
}

td.addr_foot {    /* footnote about required fields */
  font: bold smaller Arial;
  text-align: center;
}

