/***********************/
/***  Payment Table  ***/
/***********************/
table.payment{
  font: 12px;
  border-spacing: 1px;
  color: [-- STORE.SC_TextColor --];
  vertical-align: middle;
}

table.pay_holder {
  margin-left: auto;
  margin-right: auto;
}

td.payment_hdr {
  font-weight: bold;
  text-align: center;
}

td.paymentselection {
  text-align: center;
  padding-top: 20px;
}
td.payment {
  text-align:left;
}

td.payment_value {
  text-align:left;
}

input.payment, select.payment {
}


