th.color
{
  font-family: Verdana,Arial,Helvetica,Sans-Serif;
  font-size: 7pt;
  font-weight: normal;
}
td.color
{
  width: 110px;
  height: 40px;
}
td.text
{
  font-family: Verdana,Arial,Helvetica,Sans-Serif;
  font-size: 7.5pt;
  font-weight: normal;
}
h4.top
{
  font-family: Verdana,Arial,Helvetica,Sans-Serif;
  font-size: 9pt;
  font-weight: bold;
}
h4.sub
{
  font-family: Verdana,Arial,Helvetica,Sans-Serif;
  font-size: 7pt;
  font-weight: normal;
}
