

.missing {
    color: red;
    font-weight: bold;
}

.ajaxprogress
{
	margin-top: 4px;
	height: 16px;
	width: 16px;
}

.opco_section
{
	margin-bottom: 10px;
}

#checkoutProcessingError
{
	font-weight:bold;
	margin-top:10px;
}

.opcoCartProductLine 
{
	padding-bottom: 4px;
}

#couponsection
{
	clear: both;
}

#opcoConfirmPlaceTotals
{
	float: left;
	width: 39%;
}

#opcoConfirmPlaceFinal
{
	float: left;
    width: 60%;
}

#opcoCartUpdateTable
{
	width: 100%;
}

.toggler 
{ 
	margin-left: 15px; 
}

.loginFormJanrain 
{
    clear: both;
    margin-top: 15px;
}

input[type=radio]
{
	margin-right: 5px;
}


div#bill_ship.opco_section * .formLabel
{
	text-align: right !important;
	margin-right: 15px;
	padding-top: 6px;
}


div#bill_ship.opco_section * .formField .inputbox 
{
    margin: 4px;
}

div#bill_ship.opco_section * .formField select.inputbox 
{
    margin: 4px;
}

div#onepagecheckoutmodule * #opcoCartUpdateTable tr th { 
	text-align: left; 
}
