/* $Id: ec_product.css,v 1.1 2008/10/12 08:47:17 gordon Exp $ */

label.option dt, div.description {
  margin-left: 2em;
}

.price {
  float: right;
  clear: right;
  width: 100px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 4px;
  padding-left: 4px;
}