/* $Id: style.css,v 1.19 2006/12/27 13:17:15 drumm Exp $ */

/*
** HTML elements
*/
body {
  margin: auto;
  width: 1000px;
  padding: 0;
  color: #000;
  background-color: #fff;
  font: 76% Verdana, Arial, Helvetica, sans-serif;
}
tr.odd td, tr.even td {
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #39c;
}
a:visited {
  color: #369;
}
a:hover {
  color: #39c;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
vertical-align: top;
}

.node td{
padding-left: 5px;
padding-right: 5px;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0;
}
.comment .links {
  margin-bottom: 0;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
  background-color: #fffffff;
}

.view-content-Products {
  background-color: #fff;
}
.view-Products {
  background-color: #fff;
}
.node
{
background-color: #fff;
}
td
{
background-color: #fff;
}
tr
{
background-color: #fff;
}

tbody
{
background-color: #fff;
}

.product-table {
  width:100%;
  background-color: #fff;
}
/*
** Page layout blocks / IDs
*/
#header, #content {
  width: 100%;
 height: 167px;
}

#header {
  background-color: #fff;
}
#logo {
  vertical-align: middle;
  border: 0;
}
#logo img {
  float: left;
  border: 0;
}
#menu {
  padding: 0.5em 0.5em 0 0.5em;
  text-align: right;
  vertical-align: middle;
}
#navlist {
  font-size: 1.0em;
  height: 17px;
 /* padding: 0 0.8em 1.2em 0; */
  padding-top: 1px;

  color: #9cf;
  vertical-align: middle;
  background-image: url(primarybar.png);

  background-size: 100%;
  background-position: -1px -1px;
  text-align: center;
}

.product-table tbody{
background-color: #fff;

}
table {
background-color: #fff;

}

#block-search-0 div{
position: relative;
left: 3px;
background: transparent;
}

#navlist a {
  font-weight: bold;
  color: #fff;
}
#subnavlist {
  font-size: 1.0em;
  height: 18px;
 /* padding: 0 0.8em 1.2em 0; */
  color: #9cf;
  vertical-align: middle;
  background-image: url(secondarybar.png);
  background-size: 100%;
  background-position: -2px -1px;
  text-align: center;
}


#sec {
  font-size: 1.0em;
  height: 18px;
 /* padding: 0 0.8em 1.2em 0; */
  color: #9cf;
  vertical-align: top;
  position: relative;
  top: -1px;
  background-image: url(secondarybar.png);
  background-size: 100%;
  background-position: -2px -1px;
  text-align: left;
}

#subnavlist a {
  font-weight: bold;
  color: #fff;
}
ul.links li {
  border-left: 1px solid #9cf;
}
ul.links li.first {
  border: none;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: .8em;
  height: 1.5em;
/*   vertical-align: middle; */
  float: top;
  top: -3px;
margin: 0px;
padding: 0px;
}

#search .form-text{
vertical-align: top;

}
#search .form-submit{
vertical-align: middle;
}

.block div 
{
background-color: #fff;

color: #000;
}
.block h2 
{
background-color: #000;
filter:alpha(opacity=200);
-moz-opacity:.99;
  -moz-border-radius-topright: 1em;
  -moz-border-radius-topleft: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
color: #fff;
}

.block 
{
  -moz-border-radius: 1em;
  border-radius: 1em;

background-color: #fff;
filter:alpha(opacity=75);
-moz-opacity:.75;
position: relative;
left: -4px;
}



}
#search-theme-form 
{
  background-image: url(secondarybar.png);
  background-size: 100%;
  background-position: -2px -1px;
}
#search .form-text {
  width: 10em;
  padding: 0 0.0em;
}
#mission {
  background-color: #369;
  padding: 1.5em 2em;
  color: #fff;
}
#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
}
.site-name {
  margin: 0.6em 0 0 0;
  padding: 0;
  font-size: 1.8em;
}
.site-name a:link, .site-name a:visited {
  color: #fff;
}
.site-name a:hover {
  color: #369;
  text-decoration: none;
}
.site-slogan {
  font-size: 1em;
  color: #eee;
  display: block;
  margin: 0;
  font-style: italic;
  font-weight: bold;
}
.view-header {
vertical-align: top;
font-size: 1.3em;
}

.view-header table{
vertical-align: top;
}

.view-header p table 
{
padding: 5px;

}

#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
}
#mission, .node .content, .comment .content {
  line-height: 1.4em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}


.error {
  border-color: red;
}
#sidebar-left, #sidebar-right {
  background-color: #265e97;
  max-width: 179px;
  width: 179px;
  background-image: url(sidebar2.png);
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
  vertical-align: top;

}
#footer {
  background-color: #fff;
  padding: 1em;
  font-size: 0.8em;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  color: #777;
  margin: 0 auto;  /* decrease default margins for h<x>.title */
}
.submitted {
  color: #999;
  font-size: 0.8em;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.block, .box {
  padding: 0 0 1.5em 0;

}
.block {
  border-bottom: 1px solid #bbb;
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
  max-width: 180px;
  width: 180px;
}
.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2em 0;
  font-size: 1.3em;
}

.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}

.product-table tbody .product-table tr
{
background-color: #fff;
}

.view-content-Jewelery table{
background-color: #fff;
}

.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding-left: 1.5em;
}
.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.admin-panel .description {
  color: #999;
}
div.admin-panel .body {
  background: #f4f4f4;
}
div.admin-panel h3 {
  background-color: #69c;
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}
