/* @override 
	http://showcase.joomlabamboo.com/simpla/administrator/templates/jbcrisp/css/template_css.css
	http://localhost:8888/joomla/1515/woodflower_1515/administrator/templates/jbcrisp/css/template_css.css
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	vertical-align:baseline;
	margin:0;
	padding:0
}
table {
	border-collapse:separate;
	border-spacing:0
}
caption, th, td { font-weight:400 }
table, td, th, table.noshow tr, table.admintable td.key.vtop { vertical-align:top }
blockquote:before, blockquote:after, q:before, q:after { content:"" }
html {
	font-size:100%;
	height:100%;
	margin-bottom:1px
}
body {
	line-height:1.5;
	font-family:Helvetica, Arial, sans-serif;
	color:#555;
	font-size:12px;
	padding:0 0 1px
}
#body-wrapper { background:url(../images/bg-radial-gradient.jpg) fixed 230px top no-repeat }
body, td, th { font-family:Arial, Helvetica, sans-serif }
html, body { height:95% }
.clr {
	clear:both;
	overflow:hidden;
	height:0
}
ol li, table.adminlist ul li, #element-box ul { margin-left:20px }
a:visited, a:link {
	color:#3E5871;
	text-decoration:none;
}
fieldset {
	margin-bottom:10px;
	border:1px #ccc solid;
	text-align:left;
	padding:5px
}
fieldset p { margin:10px 0 }
legend {
	color:#0B55C4;
	font-size:12px;
	font-weight:700
}
input, select {
	font-size:10px;
	border:1px solid silver
}
textarea {
	font-size:11px;
	border:1px solid silver
}
button { font-size:10px }
input.disabled { background-color:#F0F0F0 }
input.button { cursor:pointer }
div.message {
	text-align:center;
	border:1px solid #e0e0e0;
	margin-bottom:10px;
	color:#333;
	font:700 12px Arial, Helvetica, sans-serif;
	padding:3px
}
.helpIndex {
	border:0;
	width:100%;
	height:100%;
	overflow:auto;
	padding:0
}
.helpFrame {
	border-left:0 solid #222;
	border-right:none;
	border-top:none;
	border-bottom:none;
	width:100%;
	height:800px;
	padding:0 5px 0 10px
}
#treecellhelp {
	width:25%;
	display:block;
	position:relative;
	float:left;
	overflow:hidden;
	margin:0;
	padding:2px
}
#datacellhelp {
	width:73%;
	display:block;
	float:left;
	margin:0;
	padding:2px 0 0
}
div.t, div.b {
	height:6px;
	overflow:hidden;
	margin:0;
	padding:0
}
div#element-box div.m { padding:5px 10px }
.copyright {
	text-align:center;
	color:#999;
	font-size:90%;
	margin:10px
}
#header-box {
	width:230px;
	color:#888;
	height: 100%;
	font-size:11px;
	position: absolute;
	top: 68px;
	padding-top: 20px;
}
#content-box {
	border-left:none;
	border-right:none;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background:#FFF none repeat scroll 0 0;
	border:1px solid #CCC;
}
#content-box-full { margin:0 30px 0 0 }
#content-box .padding { padding:10px 10px 0 }
#toolbar-box {
	background:#fbfbfb;
	margin-bottom:10px;
	border-bottom: 1px solid #ccc;
	display:block
}
#submenu-box {
	background:#f6f6f6;
	margin-bottom:10px
}
#module-status {
	display:block;
	float:none;
	letter-spacing:.05em;
	line-height: 24px;
	padding:8px 0 4px 10px;
	height: 24px;
}
#module-status a, #module-status span {
	font-size:11px;
	color:#FFF;
	padding:4px 0
}
#module-status .logout {
	background:url(../images/icons/logout.png) no-repeat;
	padding-left:18px;
	height:22px;
	padding-right:20px
}
#module-status .preview {
	background:url(../images/icons/preview.png) no-repeat;
	padding-left:18px;

	padding-right:20px
}
#module-status .loggedin-users {
	background:url(../images/icons/users.png) no-repeat;
	padding-left:18px;
	height:18px;
	padding-right:20px
}
#module-status .no-unread-messages, #module-status .unread-messages {
	background:url(../images/icons/mail.png) no-repeat;
	padding-left:18px;
	height:18px;
	padding-right:20px
}
#module-status .legacy-mode {
	background:url(../images/icons/legacy.png) no-repeat;
	padding-left:18px;
	height:18px;
	padding-right:20px
}
#module-status .version {
	height:10px;
	margin-right:10px
}
#module-status .version-update {
	background:url(../images/icons/update.png) no-repeat left 2px;
	padding-left:18px;
	height:18px;
	padding-right:20px
}
#module-status .version-uptodate {
	background:url(../images/icons/uptodate.png) no-repeat left 2px;
	padding-left:18px;
	height:18px;
	padding-right:20px
}
#module-status .version-update a { color:#C66 }
#module-status #toggleSideBar {
	background:url(../images/icons/toggle_remove.png) no-repeat;
	padding-left:18px;
	height:18px;
	cursor:pointer;
	margin-left: 14px;
	padding-right:20px
}
#module-status #toggleSideBar.closed {
	background:url(../images/icons/toggle_replace.png) no-repeat;
	padding-left:18px;
	height:18px;
	padding-right:20px
}
span.note {
	display:block;
	background:#ffd;
	color:#666;
	padding:5px
}
.ol-foreground { background-color:#ffe }
.ol-background { background-color:#6db03c }
.ol-textfont {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666
}
.ol-captionfont {
	color:#fff;
	font:700 11px Arial, Helvetica, sans-serif
}
.ol-captionfont a {
	color:#0b5fc6;
	text-decoration:none
}
div#toolbar-title {
	font-size:22px;
	font-weight:700;
	background-repeat:no-repeat;
	margin-left:0;
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background:#eee url(../images/bg-content-box.png) top left repeat-x;
	margin-top:1px;
	display:block
}
div#toolbar-title h3 {
	float:left;
	padding:7px 15px
}
div.configuration {
	font-size:14px;
	font-weight:700;
	color:#0B55C4;
	line-height:16px;
	padding-left:30px;
	margin-left:10px;
	background-image:url(../images/menu/icon-16-config.png);
	background-repeat:no-repeat
}
div.toolbar { padding:0 }
#toolbar {
	border-top:1px #ccc solid;
	width:100%;
	background-color:#fff
}
table.toolbar {
	float: right;
	border-collapse:collapse;
	margin:0;
	padding:0
}
table.toolbar td {
	text-align:center;
	color:#666;
	height:48px;
	margin:2px;
	padding:4px
}
table.toolbar span {
	float:none;
	width:32px;
	height:32px;
	display:block;
	margin:0 auto
}
table.toolbar a {
	display:block;
	float:left;
	white-space:nowrap;
	border:1px solid #fbfbfb;
	cursor:pointer;
	font-weight: normal;
	padding:1px 5px
}
table.toolbar a:hover {
	border-left:1px solid #eee;
	border-top:1px solid #eee;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	text-decoration:none;
	color:#0B55C4
}
td#mm_pane { width:90% }
input#mm_subject { width:200px }
.pane-sliders .title {
	color:#666;
	cursor:pointer;
	margin:0;
	padding:2px 0 2px 10px
}
.pane-sliders .panel {
	border:1px solid #ccc;
	margin-bottom:3px
}
.pane-sliders .panel h3 {
	background:#f6f6f6;
	color:#666
}
.pane-sliders .content { background:#f6f6f6 }
.pane-sliders .adminlist td, .pane-sliders .adminlist, img { border:0 none }
.jpane-toggler span {
	background:transparent url(../images/j_arrow.png) 5px 50% no-repeat;
	padding-left:30px
}
.jpane-toggler-down span {
	background:transparent url(../images/j_arrow_down.png) 12px 50% no-repeat;
	padding-left:30px
}
dl.tabs {
	float:left;
	z-index:50;
	margin:10px 0 -1px
}
dl.tabs dt {
	float:left;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
	margin-left:3px;
	background:#f0f0f0;
	color:#666;
	padding:4px 10px
}
dl.tabs dt.open {
	background:#F9F9F9;
	border-bottom:1px solid #F9F9F9;
	z-index:100;
	color:#000
}
div.current {
	clear:both;
	border:1px solid #ccc;
	padding:10px
}
div.current dd, form, a, img {
	margin:0;
	padding:0
}
#cpanel div.icon {
	text-align:center;
	margin-right:5px;
	float:left;
	margin-bottom:5px;
	font-size:12px
}
#cpanel div.icon a {
	display:block;
	float:left;
	border:1px solid #f0f0f0;
	height:97px;
	width:108px;
	color:#666;
	vertical-align:middle;
	text-decoration:none
}
#cpanel div.icon a:hover {
	border-left:1px solid #eee;
	border-top:1px solid #eee;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background:#f9f9f9;
	color:#0B55C4
}
#cpanel img {
	margin:0 auto;
	padding:10px 0
}
#cpanel span {
	display:block;
	text-align:center
}
div.width-45 { width:45% }
div.width-55 { width:55% }
div.width-50 { width:50% }
div.width-70 { width:70% }
div.width-30 { width:30% }
div.width-60 { width:60% }
div.width-40 { width:40% }
table.admintable td { padding:3px }
table.admintable td.key, table.admintable td.paramlist_key {
	background-color:#f6f6f6;
	text-align:right;
	width:35%;
	color:#666;
	font-weight:700;
	border-bottom:1px solid #e9e9e9;
	border-right:1px solid #e9e9e9
}
table.paramlist td.paramlist_description {
	background-color:#f6f6f6;
	text-align:left;
	width:170px;
	color:#333;
	font-weight:400;
	border-bottom:1px solid #e9e9e9;
	border-right:1px solid #e9e9e9
}
table.admintable td.paramlist_value { width:65% }
table.adminform {
	background-color:#f9f9f9;
	border:solid 1px #d5d5d5;
	border-collapse:collapse;
	width:100%;
	margin:8px 0 15px
}
table.adminform.nospace { margin-bottom:0 }
table.adminform tr.row0 { background-color:#f9f9f9 }
table.adminform tr.row1 { background-color:#eee }
table.adminform th {
	font-size:11px;
	text-align:left;
	height:25px;
	color:#000;
	background-repeat:repeat;
	padding:6px 2px 4px 4px
}
table.adminform td {
	text-align:left;
	padding:3px
}
table.adminform td.filter { text-align:left }
fieldset.adminform {
	border:1px solid #ccc;
	margin:0 10px 10px;
	padding:10px
}
table.adminlist {
	width:100%;
	border-spacing:1px;
	background-color:#e7e7e7;
	color:#333
}
table.adminlist a { font-weight: normal}
table.adminlist td, table.adminlist th { padding:4px }
table.adminlist thead th {
	text-align:center;
	background:#f0f0f0;
	color:#666;
	border-bottom:1px solid #999;
	border-left:1px solid #fff
}
table.adminlist thead a:hover { text-decoration:none }
table.adminlist thead th img { vertical-align:middle }
table.adminlist tbody th { font-weight:700 }
table.adminlist tbody tr {
	background-color:#fff;
	text-align:left
}
table.adminlist tbody tr.row1 {
	background:#f9f9f9;
	border-top:1px solid #fff
}
table.adminlist tbody tr.row0:hover td, table.adminlist tbody tr.row1:hover td, input:focus, select:focus, textarea:focus { background-color:#ffd }
table.adminlist tbody tr td {
	height:25px;
	background:#fff;
	border:1px solid #fff;
	padding:4px 0 4px 10px
}
table.adminlist tbody tr.row1 td {
	background:#f9f9f9;
	border-top:1px solid #FFF
}
table.adminlist tfoot tr {
	text-align:center;
	color:#333
}
table.adminlist tfoot td, table.adminlist tfoot th {
	background-color:#f3f3f3;
	border-top:1px solid #999;
	text-align:center
}
table.adminlist td.order {
	text-align:center;
	white-space:nowrap
}
table.adminlist td.order span, table.adminlist td.order input {
	float:left;
	display:block;
	width:17px;
	text-align:center;
	margin: 0 0 0 4px;
}
table.adminlist .pagination {
	display:table;
	margin:0 auto;
	padding:0
}
.pagination div.limit {
	float:left;
	height:22px;
	line-height:22px;
	margin:0 10px
}
.container {
	clear:both;
	text-decoration:none
}
* html .container { display:inline-block }
table.noshow {
	width:100%;
	border-collapse:collapse;
	margin:0;
	padding:0
}
table.noshow fieldset { margin:15px 7px 7px }
#editor-xtd-buttons { padding:5px }
.tool-tip {
	float:left;
	background:#f4f4f4;
	border:1px solid #ccc;
	max-width:200px;
	color: #111;
	z-index:50;
	padding:5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.tool-title {
	font-size:100%;
	font-weight:700;
	background:url(../images/selector-arrow.png) no-repeat;
	margin:-15px 0 0;
	padding:15px 0 5px
}
.tool-text {
	font-size:100%;
	margin:0
}
a img.calendar {
	width:16px;
	height:16px;
	margin-left:3px;
	background:url(../images/calendar.png) no-repeat;
	cursor:pointer;
	vertical-align:middle
}
h1, h2, h3, h4, h5, h6 {
	font-family:Helvetica, Arial, sans-serif;
	color:#222;
	font-weight:700
}
h1 {
	padding-bottom:8px;
	color:#fff;
	position:absolute;
	top:-1000px;
	font:700 31px Calibri, Helvetica, Arial, sans-serif;
	margin:0
}
h2 {
	font-size:26px;
	padding:0 0 10px
}
h3 {
	font-size:17px;
	padding:0 0 10px
}
h4 {
	font-size:16px;
	padding:0 0 5px
}
h5 {
	font-size:14px;
	padding:0 0 5px
}
h6 {
	font-size:12px;
	padding:0 0 5px
}
a {
	color:#333;
	text-decoration:none
}
a:hover {
	text-decoration:underline;
	color:#000
}
a:active { color:#777 }
a:focus { outline:1px }
strong {
	font-weight:700;
	color:#333
}
small { font-size:.85em }
pre { font-family:monospace }
p {
	line-height:1.6em;
	padding:5px 0 10px
}
.clear { clear:both }
.button {
	font-family:Verdana, Arial, sans-serif;
	display:inline-block;
	background:#fff;
	color:#fff!important;
	font-size:11px!important;
	cursor:pointer;
	padding:4px 7px!important
}
a.remove-link { color:#b00 }
a.remove-link:hover { color:#000 }

#logoText {
	color:#FFFFFF;
	float:left;
	font-size:1.3em;
	padding:10px 30px 3px 40px;
	height: 53px;
	width:190px;
}
#messages p, #messages form {
	border-top:1px solid #ddd;
	padding:10px 0
}
#messages fieldset { margin:0 }
#messages textarea { margin:0 0 15px }
#content-wrap {
	padding-left: 270px;
	padding-right: 40px;
	margin-bottom: 20px;
	width: auto;
	margin-top: 20px;
}#border-top {margin-bottom: 30px;}
.clear-left { clear: left}
.column-left {
	width:48%;
	float:left
}
.column-right {
	width:48%;
	float:right
}
#page-intro {
	font-size:17px;
	padding:0 0 20px
}
#footer { font-size:12px }
#main-content-wrap ul, #main-content-wrap ol, #messages h4 { padding:10px 0 }
#main-content-wrap ul li {
	background:url(../images/icons/bullet_black.png) center left no-repeat;
	padding:4px 0 4px 20px
}
#main-content-wrap ol { padding:0 0 0 24px }
#main-content-wrap ol li {
	list-style:decimal;
	padding:4px 0
}
.content-box {
	border:1px solid #ccc;
	background:#fff;
	margin:0 0 20px
}
.panel { border:1px solid #ccc }
.jpane-toggler, .jpane-toggler-down {
	background:#e5e5e5 url(../images/bg-content-box.png) top left repeat-x;
	margin-top:1px
}
.panel h3 {
	cursor:pointer;
	padding:5px 10px
}
ul#submenu {
	float:right;
	margin:0!important;
	padding:6px 15px 0 0 !important
}
ul#submenu li {
	float:left;
	background:none!important;
	list-style:none;
	margin:0;
	padding:0!important
}
ul#submenu li a, ul#submenu li span {
	color:#333;
	display:block;
	border-bottom:0;
	font-size:13px;
	font-weight:400;
	height:18px;
	margin:1px;
	padding:8px 10px
}
ul#submenu li a.active, ul#submenu li span.active {
	background:#fff;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	border-bottom:1px solid #fff;
	-moz-border-radius-bottomright:0;
	-moz-border-radius-bottomleft:0;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	margin:0
}
#content-pane, .jpane-slider {
	font-size:13px;
	padding:0
}
#main-content .content-box-content { padding-bottom:5px }
#main-content table.adminlist {
	width:100%;
	border-collapse:collapse;
	border-top:1px solid #ddd
}
#main-content table.adminlist thead th {
	font-weight:700;
	font-size:15px;
	border-bottom:1px solid #ddd
}
#main-content tbody { border-bottom:1px solid #ddd }
.row0 td { background:#f3f3f3 }
#main-content table td, #main-content table th {
	line-height:1.3em;
	padding:5px
}
#main-content table.adminlist td, #main-content table.adminlist th { border-right:1px solid #ccc }
#main-content table tfoot td .bulk-actions { padding:15px 0 5px }
#main-content table tfoot td .bulk-actions select {
	border:1px solid #ccc;
	padding:4px
}
#main-content .pagination {
	text-align:right;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	float:right;
	padding:20px 0 5px
}
.pagination a {
	margin:0 5px 0 0;
	padding:3px 6px
}
.pagination a.number {
	border:1px solid #d4d4d4;
	font-weight:bolder;
	background:#eeee url(../images/bg-button.png) bottom left repeat-x!important;
	color:#333!important;
	cursor:pointer;
	border-color:#d4d4d4!important
}
.pagination a.current {
	font-weight:normal;
	background:#fff!important;
	color:#666!important;
	border-color:#eee!important
}
.limit {
	float:left;
	margin-right:30px
}
.pagecounter {
	text-align:center;
	clear:both
}
a.shortcut-button {
	border:1px solid #ccc;
	background:#f7f7f7 url(../images/shortcut-button-bg.gif) top left no-repeat;
	display:block;
	width:90px;
	text-decoration:none;
	margin:0 0 20px
}
.shortcut-button span img { margin-bottom:10px }
.shortcut-button span:hover, ul#submenu li a:hover { color:#0B55C4 }
ul.shortcut-buttons-set { margin-top:10px }
ul.shortcut-buttons-set li {
	float:left;
	background:0;
	list-style-type:none;
	margin:0 15px 0 0;
	padding:0!important
}
.dropdownnav option, .jpane-toggler-down { border-bottom:1px solid #ccc }
.dropdownnav {
	margin-bottom: 10px;
	clear: both;
}
.dropdownnav .dropdown_inactive {
	font-weight:700;
	background-color:#333;
	color:#ccc;
	margin:10px 0
}
form label {
	font-weight:700;
	padding:0 0 10px
}
form fieldset legend {
	font-weight:700;
	margin-bottom:10px;
	padding-top:10px
}
form p small {
	font-size:.75em;
	color:#777
}
form input.text-input, input, form select, form textarea, form .wysiwyg {
	font-size:13px;
	background:#fff url(../images/bg-form-field.png) top left repeat-x;
	border:1px solid #d5d5d5;
	color:#333;
	margin:3px;
	padding:6px
}
form .small-input { width:25%!important }
form .medium-input { width:50%!important }
form .large-input {
	width:97.5%!important;
	font-size:16px!important;
	padding:8px!important
}
form textarea {
	width:97.5%!important;
	font-family:Arial, Helvetica, sans-serif
}
form select {
	background:#fff;
	padding:4px
}
form input[type=checkbox], form input[type=radio] {
	background:none;
	border:0;
	padding:0
}
#system-message {
	display:block;
	font-style:normal;
	line-height:1.5em;
	background-image:none;
	padding:10px
}
#system-message dd {
	font-weight:700;
	text-indent:30px;
	margin:0
}
#system-message dd ul {
	background:#C3D2E5 url(../images/notice-info.png) no-repeat scroll 4px center;
	color:#05B;
	list-style:none;
	position:relative;
	border:1px solid;
	background-position:10px 11px!important;
	background-repeat:no-repeat!important;
	font-size:13px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	margin:0;
	padding:10px
}
#system-message dd.message ul {
	background:#dbe3ff url(../images/icons/information.png) 10px 11px no-repeat;
	color:#585b66;
	border-color:#a2b4ee
}
#system-message dd.error ul {
	border-top:3px solid #DE7A7B;
	border-bottom:3px solid #DE7A7B;
	background:#ffcece url(../images/icons/cross_circle.png) 10px 11px no-repeat;
	color:#665252;
	border-color:#df8f8f
}
#system-message dd.notice ul {
	border-top:3px solid #F0DC7E;
	border-bottom:3px solid #F0DC7E;
	background:#fffbcc url(../images/icons/exclamation.png) 10px 11px no-repeat;
	color:#666452;
	border-color:#e6db55
}
#closeMessage {
	width:7px;
	height:7px;
	position:absolute;
	right:5px;
	top:5px;
	background:url(../images/icons/cross_grey_small.png) no-repeat
}
.input-notification {
	background-position:left 2px;
	background-repeat:no-repeat;
	background-color:transparent;
	margin:0 0 0 5px;
	padding:2px 0 2px 22px
}
#login { background: #f4f4f4}
#return-to-homepage {
	background: #fff;
	text-align: right;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
#return-to-homepage a {
	background: url(../images/icons/toggle_replace.png) no-repeat right center;
	padding-right: 20px;
}
#login-wrapper #login-content .notification {
	background:#131313 url(../images/icons/information.png) no-repeat scroll 4px center;
	color:#fff;
	list-style:none;
	position:relative;
	border:0;
	background-position:10px 11px!important;
	background-repeat:no-repeat!important;
	font-size:13px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	margin:0;
	padding:10px
}
#login-wrapper #login-top {
	width:390px;
	margin: 180px auto 0 auto;
}
#login-wrapper #login-top h3 {
	margin-bottom: 5px;
	padding: 0;
	font-weight:400;
	font-size: 2em;
}
#login-wrapper #login-content {
	text-align:left;
	width:350px;
	padding: 30px;
	margin:0 auto;
	background: #fff;
	border: 1px solid #ccc;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
#login-wrapper #login-content label {
	color:#222;
	float:left;
	width:70px;
	font:400 14px Helvetica, Arial, sans-serif;
	padding:0
}
#login-wrapper #login-content input, #login-wrapper #login-content select {
	width:200px;
	float:right;
	border:0;
	margin:0 0 20px;
	background: url(../images/bg-field.gif) top right repeat-x;
	border: 1px solid #ddd;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
#login-wrapper #login-content select { width:211px }
#login-wrapper #login-content p {
	margin-bottom:20px;
	clear:both
}
#login-wrapper div.next a {
	margin-bottom: 0;
	text-align: right;
	background: url(../images/icons/toggle_replace.png) right center no-repeat;
	padding-right: 30px;
	cursor: pointer;
}
#login-wrapper #login-content p#remember-password, .dropdownnav, .align-right { float:right }
#login-wrapper #login-content p#remember-password input {
	float:none;
	width:auto;
	border:0;
	margin:0 10px 0 0
}
#login-wrapper #login-content .button_holder {
	clear:both;
	text-align:right
}
#login-wrapper #login-content .button1 { margin-left:120px }
#login-wrapper #login-content p .next {
	width:auto;
	margin-top:20px
}
#login-error-message {
	background:#f2f2f4 url(../images/icons/warning.png) no-repeat;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	color:#665252;
	display:block;
	font-style:normal;
	line-height:1.5em;
	position:relative;
	border:1px solid;
	background-position:10px 11px!important;
	background-repeat:no-repeat!important;
	font-size:13px;
	clear:none;
	border-color:#ddd;
	margin:0 0 15px;
	padding:12px 10px 10px 36px
}
#login-wrapper #login-content p #login-error-message {
	clear:none;
	margin:0;
	padding:0
}
#login-wrapper #login-footer {
	width: 390px;
	margin: 0 auto;
}
#login-wrapper #login-footer p {
	text-align: right;
	color: #666;
}
.col, .align-left, .button2-left, .button2-right, .button2-left div, .button2-right div, div.col { float:left }
.width-45 {
	width:45%;
	float:left
}
.width-55 {
	width:55%;
	float:right
}
.button, #main-content table tfoot td .bulk-actions select, .pagination a.number, form input.text-input, form textarea, form .wysiwyg, form select {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px
}
ul#submenu li a.current {
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-bottomright:0;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0
}
.content-box-header {
	background:#e5e5e5 url(../images/bg-content-box.png) top left repeat-x;
	margin-top:1px;
	border-bottom:1px solid #ccc;
	height:40px;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-bottomright:0;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0
}
.closed-box .content-box-header {
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-left-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px
}
ul#submenu li .active {
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	border-top-left-radius:6px;
	border-top-right-radius:6px
}
.shortcut-button span {
	display:block;
	text-align:center;
	color:#555;
	font-size:90%;
	line-height:1.3em;
	padding:5px 2px
}
button, input[type=submit], input.button {
	font-family:Verdana, Arial, sans-serif;
	display:inline-block;
	color:#333!important;
	-moz-background-clip:border!important;
	-moz-background-inline-policy:continuous!important;
	-moz-background-origin:padding!important;
	background:#eee url(../images/bg-button.png) repeat-x scroll left top!important;
	border:1px solid #d4d4d4!important;
	cursor:pointer;
	font-size:11px!important;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding:4px 7px!important
}
table .order input, table.toolbar td.spacer { display: none}
table .order span {
	width:10px;
	display:inline-block
}
#toolbar table.toolbar td {
	text-align:center;
	border-right:1px solid #ccc
}
#toolbar table.toolbar td:last-child, #main-content table.adminlist td:last-child, #main-content table.adminlist th:last-child { border-right:none }
#toolbar table.toolbar a {
	display:block;
	float:left;
	white-space:nowrap;
	cursor:pointer;
	border:1px solid #fff;
	padding:1px 5px
}
#toolbar table.toolbar a:hover {
	border:1px solid #ddd;
	text-decoration:none;
	color:#333
}
#toolbar table.toolbar span {
	display:block;
	float:none;
	height:32px;
	width:32px;
	border:none;
	margin:0 auto
}
.icon-16-archive { background:url(../images/menu/icon-16-archive.png) }
.icon-16-article { background:url(../images/menu/icon-16-article.png) 8px center }
.icon-16-category { background:url(../images/menu/icon-16-category.png) }
.icon-16-checkin { background:url(../images/menu/icon-16-checkin.png) }
.icon-16-component { background:url(../images/menu/icon-16-component.png) }
.icon-16-config { background:url(../images/menu/icon-16-config.png) }
.icon-16-content { background:url(../images/menu/icon-16-content.png) }
.icon-16-cpanel { background:url(../images/menu/icon-16-cpanel.png) }
.icon-16-default { background:url(../images/menu/icon-16-default.png) }
.icon-16-frontpage { background:url(../images/menu/icon-16-frontpage.png) }
.icon-16-help { background:url(../images/menu/icon-16-help.png) }
.icon-16-info { background:url(../images/menu/icon-16-info.png) }
.icon-16-install { background:url(../images/menu/icon-16-install.png) }
.icon-16-language { background:url(../images/menu/icon-16-language.png) }
.icon-16-logout { background:url(../images/menu/icon-16-logout.png) }
.icon-16-massmail { background:url(../images/menu/icon-16-massmail.png) }
.icon-16-media { background:url(../images/menu/icon-16-media.png) }
.icon-16-menu { background:url(../images/menu/icon-16-menu.png) }
.icon-16-menumgr { background:url(../images/menu/icon-16-menumgr.png) }
.icon-16-messages { background:url(../images/menu/icon-16-messages.png) }
.icon-16-module { background:url(../images/menu/icon-16-module.png) }
.icon-16-plugin { background:url(../images/menu/icon-16-plugin.png) }
.icon-16-section { background:url(../images/menu/icon-16-section.png) }
.icon-16-static { background:url(../images/menu/icon-16-static.png) }
.icon-16-stats { background:url(../images/menu/icon-16-stats.png) }
.icon-16-themes { background:url(../images/menu/icon-16-themes.png) }
.icon-16-trash { background:url(../images/menu/icon-16-trash.png) }
.icon-16-user { background:url(../images/menu/icon-16-user.png) }
.icon-32-send { background:url(../images/toolbar/icon-32-send.png) }
.icon-32-delete { background:url(../images/toolbar/icon-32-delete.png) }
.icon-32-help { background:url(../images/toolbar/icon-32-help.png) }
.icon-32-cancel { background:url(../images/toolbar/icon-32-cancel.png) }
.icon-32-config { background:url(../images/toolbar/icon-32-config.png) }
.icon-32-apply { background:url(../images/toolbar/icon-32-apply.png) }
.icon-32-back { background:url(../images/toolbar/icon-32-back.png) }
.icon-32-forward { background:url(../images/toolbar/icon-32-forward.png) }
.icon-32-save { background:url(../images/toolbar/icon-32-save.png) }
.icon-32-edit { background:url(../images/toolbar/icon-32-edit.png) }
.icon-32-copy { background:url(../images/toolbar/icon-32-copy.png) }
.icon-32-move { background:url(../images/toolbar/icon-32-move.png) }
.icon-32-new { background:url(../images/toolbar/icon-32-new.png) }
.icon-32-upload { background:url(../images/toolbar/icon-32-upload.png) }
.icon-32-html { background:url(../images/toolbar/icon-32-html.png) }
.icon-32-css { background:url(../images/toolbar/icon-32-css.png) }
.icon-32-menus { background:url(../images/toolbar/icon-32-menu.png) }
.icon-32-publish, .icon-32-assign { background:url(../images/toolbar/icon-32-publish.png) }
.icon-32-unpublish { background:url(../images/toolbar/icon-32-unpublish.png) }
.icon-32-restore { background:url(../images/toolbar/icon-32-revert.png) }
.icon-32-trash { background:url(../images/toolbar/icon-32-trash.png) }
.icon-32-archive { background:url(../images/toolbar/icon-32-archive.png) }
.icon-32-unarchive { background:url(../images/toolbar/icon-32-unarchive.png) }
.icon-32-preview { background:url(../images/toolbar/icon-32-preview.png) }
.icon-32-default { background:url(../images/toolbar/icon-32-default.png) }
.icon-48-generic { background:url(../images/header/icon-48-generic.png) }
.icon-48-checkin { background:url(../images/header/icon-48-checkin.png) }
.icon-48-cpanel { background:url(../images/header/icon-48-cpanel.png) }
.icon-48-config { background:url(../images/header/icon-48-config.png) }
.icon-48-module { background:url(../images/header/icon-48-module.png) }
.icon-48-menu { background:url(../images/header/icon-48-menu.png) }
.icon-48-menumgr { background:url(../images/header/icon-48-menumgr.png) }
.icon-48-trash { background:url(../images/header/icon-48-trash.png) }
.icon-48-user { background:url(../images/header/icon-48-user.png) }
.icon-48-inbox { background:url(../images/header/icon-48-inbox.png) }
.icon-48-msgconfig { background:url(../images/header/icon-48-message_config.png) }
.icon-48-langmanager { background:url(../images/header/icon-48-language.png) }
.icon-48-mediamanager { background:url(../images/header/icon-48-media.png) }
.icon-48-plugin { background:url(../images/header/icon-48-plugin.png) }
.icon-48-help_header { background:url(../images/header/icon-48-help_header.png) }
.icon-48-searchtext, .icon-48-browser, .icon-48-impressions { background:url(../images/header/icon-48-stats.png) }
.icon-48-thememanager { background:url(../images/header/icon-48-themes.png) }
.icon-48-frontpage { background:url(../images/header/icon-48-frontpage.png) }
.icon-48-sections { background:url(../images/header/icon-48-section.png) }
.icon-48-addedit { background:url(../images/header/icon-48-article-add.png) }
.icon-48-article { background:url(../images/header/icon-48-article.png) }
.icon-48-categories { background:url(../images/header/icon-48-category.png) }
.icon-48-install { background:url(../images/header/icon-48-extension.png) }
.icon-48-dbbackup { background:url(../images/header/icon-48-backup.png) }
.icon-48-dbrestore { background:url(../images/header/icon-48-dbrestore.png) }
.icon-48-dbquery { background:url(../images/header/icon-48-query.png) }
.icon-48-systeminfo { background:url(../images/header/icon-48-info.png) }
.icon-48-massemail { background:url(../images/header/icon-48-massmail.png) }
div#element-box div.section-box div.m { background:#fbfbfb }
div.m {
	border-left:none;
	border-right:none;
	padding:0
}
h3.param {
	background:#eee;
	color:#333;
	font-size:12px;
	margin:40px 0 10px;
	padding:4px 4px 4px 12px
}
h2.param {
	background:#333;
	color:#fff;
	font-size:18px;
	margin-bottom:10px;
	text-align:left;
	padding:2px 2px 2px 10px
}
#topColour {
	float: left;
	width: 100%;
	background: url(../images/top.png) repeat-x left -1px;
	height: 100px;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
}
body#crisp { padding-top: 85px}

body.black #topColour { background: url(../images/top.png) repeat-x left -1px;  }
body.black a { color: #999 }
body.black #topmenu li a { color: #fff}
body.black #topmenu li li a { color: #666 }

body.blue #topColour { background: url(../images/top-blue.png) repeat-x left -1px}
body.blue a { color: #37516A }
body.blue #topmenu li a { color: #fff}
body.blue #topmenu li li a { color: #666 }
body.brown #topColour { background: url(../images/top-brown.png) repeat-x left -1px}
body.brown a { color: #4C4B42 }
body.brown #topmenu li a { color: #fff}
body.brown #topmenu li li a { color: #666 }

body.green #topColour { background: url(../images/top-green.png) repeat-x left -1px}
body.green a { color: #344E34}

body.green #topmenu li a { color: #fff}
body.green #topmenu li li a { color: #666 }

body.red #topColour { background: url(../images/top-red.png) repeat-x left -1px}
body.red a { color: #643131 }
body.red #topmenu li a { color: #fff}
body.red #topmenu li li a { color: #666 }
body.red a { color: #556E6E }

body.teal #topColour { background: url(../images/top-teal.png) repeat-x left -1px}
body.teal a { color: 546D6D }
body.teal #topmenu li a { color: #fff}
body.teal #topmenu li li a { color: #666 }
#topmenu-wrap {
	float:left;
	padding-top: 2px;
}
#topmenu, #topmenu ul, #topmenu li {
	border:0 none;
	margin:0;
	padding:0;
}
#topmenu {
	position:relative;
	z-index:100
}
#topmenu li {
	float:left;
	position:relative;
	list-style:none;
	display:inline;
}
#topmenu li a {
	display:block;
	white-space:nowrap;
	font-size: 1.1em;
	color: #eee;
	font-weight: normal;
}
#topmenu li.node a:hover {
	background: #fff;
	color: #333;
}
#topmenu li li {
	clear:both;
	border:0;
	display:block;
	float:none
}
#topmenu li ul {
	visibility:hidden;
	position:absolute
}
#topmenu li li ul {
	top:0;
	left:0
}
#topmenu li:hover ul { visibility:visible }
#topmenu li:hover ul li ul { visibility:hidden }
#topmenu li:hover li:hover ul {
	visibility:visible;
	left:100%
}
#topmenu ul {
	border:.1em solid #ccc;
	background:#f6f6f6
}
#topmenu ul li.separator { display: none}
#topmenu a, #topmenu div {
	color:#333333;
	line-height:1.6em;
	vertical-align:middle;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	cursor:pointer;
	background-repeat:no-repeat;
	background-position:left 50%;
	margin:0 1px;
	padding:.35em 1em
}
#topmenu ul a {
	font-size:1.2em;
	font-weight:normal;
	line-height:1.2em;
	border-bottom:1px solid #eee;
	padding: 6px 30px 6px 10px;
}
#topmenu li a:hover, #topmenu li:hover li:hover a, #topmenu li:hover li:hover li a:hover { background:#fff }
#topmenu li:hover li a {
	background: #f3f3f3;
	font-size: 95%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #D3D3D3;
}
#topmenu li:hover li.node a { background:#f3f3f3 url(../images/j_arrow.png) no-repeat right 50% }
#topmenu li:hover li.node li a { background: #f3f3f3}
#topmenu li:hover li.node a:hover { background:#fff url(../images/j_arrow.png) no-repeat right 50% }
body#crisp { background: url(../images/sidebarBG.png) repeat-y }
body#crisp.full { background-position: -270px 0px}
body.full #content-wrap { padding-left: 40px }
body.full #header-box { left: -270px}
#position {
	background: #fff;
	border: none;
	color:#333333;
	font-size:13px;
	margin-left:4px;
	margin-top:2px;
	padding:4px
}
#combobox-position-select { width:160px }
#menu li.node ul {
	visibility:hidden;
	overflow:hidden;
	height:0
}
div.header span, #topmenu-wrap.grey li a, #topmenu-wrap.white li a, #topmenu-wrap.blue li li a, #topmenu-wrap.black li li a, #topmenu-wrap.green li li a, #topmenu-wrap.red li li a, #topmenu-wrap.yellow li li a, #topmenu-wrap.orange li li a, #topmenu-wrap.pink li li a, #topmenu-wrap.purple li li a, #topmenu-wrap.teal li li a { color:#666 }
table.toolbar td.divider, #login-wrapper #form-login input[type=submit], #system-message dt.message, #menu ul ul, #topmenu li.disabled a, #topmenu li.disabled:hover a { display:none }
table.admintable, textarea#mm_message { width:100% }
a img, #topmenu-wrap.blue li li, #topmenu-wrap.black li li, #topmenu-wrap.green li li, #topmenu-wrap.red li li, #topmenu-wrap.yellow li li, #topmenu-wrap.orange li li, #topmenu-wrap.pink li li, #topmenu-wrap.purple li li, #topmenu-wrap.teal li li { border:none }
#sidebar #main-nav li li a, #menu li li a, body.full { background:none }
#content-box .pane-sliders, .content-box, .content-box-header, ul#submenu li a.current, .shortcut-button, .notification {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px
}
#module-menu ul { border-top: 1px solid #d3d3d3 }
#module-menu ul ul { border-bottom: 1px solid #d3d3d3}
#menu {
	width:100%;
	font-family:Helvetica, Arial, sans-serif;
	margin-top:20px;
	padding:0;
}
#menu li {
	list-style:none;
	text-align:right
}
#menu ul {
	font-size:12px;
	visibility:visible;
	margin:0;
	padding:0;
}
#menu ul li a.current, #menu ul li a.current:hover {
	color:#000;
	background: #fff url(../images/leftActive.png) no-repeat right center;
	font-weight: normal;
}
#menu li a {
	color:#333;
	font-size:14px;
	cursor:pointer;
	display:block;
	text-decoration:none;
	border-bottom: 1px solid #D3D3D3;
	border-top: 1px solid #fff;
	padding:5px 15px;
	font-weight: normal;
}
#menu ul li a:hover { background: #f9f9f9}
#menu ul li a {
	display:block;
	color:#666;
	font-size:12px;
	line-height:1.2em;
	border: 1px solid #fff;
	padding:5px 20px;
}
#menu ul li:last-child { border-bottom: 1px solid #ccc }
#menu ul li {
	list-style:none;
	text-align:right;
	margin:0;
	padding:0
}
#menu li a.opened {
	background: #fff;
	color:#333;
	font-weight:700
}
#menu ul { background: #fff}
.m table { margin: 0 auto}
a.shortcut-button:hover, #topmenu ul {
	-moz-box-shadow: 0px 3px 3px #bbb;
	-webkit-box-shadow: 0px 3px 3px #bbb;
	-box-shadow: 0px 3px 3px #bbb;
}
#leftModule {
	margin-left: 18%;
	width: 74%
}
span#log_res.crisp {
	font-size: 2em;
	text-align: right;
	float: right
}
span#session-time { display: block}
#topmenu li:hover { background-color: #f4f4f4}
#topmenu li li:hover { background-color: #f4f4f4}
#topmenu li li li:hover { background-color: #f4f4f4}
#topmenu li.node a:hover { color: #333}
#topmenu li.node:hover a { color: #333}