@charset "utf-8";

/* CSS Document */



html {

	margin:0;

	padding:0;

}

body	{

	margin:0;

	padding:0;

	background:url(../images/main_bg.jpg) #D6F4FF top left repeat-x;

	font-family: 'PT Sans', sans-serif;

	b

}

img		{

	margin:0;

	padding:0;

	border:none;

}

#mainglobal	{

	width:100%;

	float:left;

	margin:0;

	padding:0;

}

#mainwrapper {

	width:1024px;

	margin:0 auto;

	padding:0;

}

#topbox	{

	width:1024px;

	margin:0;

	padding:0;

	float:left;

}

#header	{

	width:1024px;

	margin:0;

	padding:0;

	float:left;

}

.logo	{

	width:475px;

	height:128px;

	margin:0;

	padding:0;

	float:left;

}

.smallogos_box	{

	width:370px;

	margin:27px 0 0 15px;

	padding:0;

	float:left;

}

.smallogosrowone	{

	width:370px;

	margin:0;

	padding:0;

	float:left;

}

.smallogosrowtwo	{

	width:370px;

	margin:15px 0 0 0;

	padding:0;

	float:left;

}

.peterlouis	{

	width:77px;

	height:33px;

	margin:0;

	padding:0;

	float:left;

}

.phyto	{

	width:98px;

	height:33px;

	margin:0;

	padding:0;

	float:left;

}

.reno	{

	width:86px;

	height:33px;

	margin:0;

	padding:0;

	float:left;

}

.crodo	{

	width:87px;

	height:33px;

	margin:0;

	padding:0;

	float:left;

}

.philip	{

	width:77px;

	height:33px;

	margin:0;

	padding:0;

	float:left;

}

.great	{

	width:98px;

	height:33px;

	margin:0;

	padding:0;

	float:left;

}

.lazartigue	{

	width:86px;

	height:33px;

	margin:0;

	padding:0;

	float:left;

}

.japanese	{

	width:87px;

	height:33px;

	margin:0;

	padding:0;

	float:left;

}



.toprgtlnkwrpr	{

	width:160px;

	height:53px;

	margin:15px 0 0 0;

	padding:0;

	float:right;

}

.nwcntct	{

	width:68px;

	height:53px;

	margin:0 0 0 1px;

	padding:0;

	float:left;

}

.login	{

	width:41px;

	height:53px;

	margin:0 0 0 1px;

	padding:0;

	float:left;

}

.cart	{

	width:45px;

	height:53px;

	margin:0 0 0 1px;

	padding:0;

	float:left;

}

#sliderbox	{

	width:1024px;

	height:333px;

	margin:0;

	padding:0;

	float:left;

	border-top:1px solid #c8c8c8;

}

#menubox	{

	width:1024px;

	margin:8px 0 0 0;

	padding:0;

	float:left;

	background:url(images/menu_bg.jpg) top left repeat-x;

}



.menu_area	{

	list-style: none;
width: 971px;
height: 23px;
margin: 12px 0 0 52px;
padding: 0;
float: left;

}

ul.menu_area li {

	height:27px;

	margin: 0;

	padding:0 7px;

	float: left;

	display: block;

}

ul.menu_area span {

	display:block;

	width:7px;

	height:27px;

	background:url(../images/menu_dot.png) top no-repeat;

	float:left;

}

ul.menu_area li a	{

	height:27px;

	margin:0;

	padding:0;

	font-size:17px;	

	text-decoration:none;

	color:#78797a;

	float:left;

	text-transform:uppercase;

}

ul.menu_area li a:hover	{

	color:#3fc6f7;

}



#centercontent	{

	width:1024px;

	margin:10px 0 0 0;

	padding:0 0 20px 0;

	float:left;

}

.leftspecialbox	{

	width:495px;

	height:310px;

	margin:0;

	padding:0;

	float:left;

	background:url(../images/specialbox.png) top left;

}

.leftspecialbox	div a{
color: grey;
text-decoration: none;


}

.rightspecialbox	{

	width:495px;

	height:310px;

	margin:0;

	padding:0;

	float:right;

	background:url(../images/specialbox.png) top left;

}

.bottombanner	{

	width:1024px;

	height:88px;

	margin:25px 0 0 0;

	padding:0;

	float:right;

	background:url(../images/specialbanner.png) top left;

}



#footer {
width: 1024px;
margin: 0px 0 25px 0;
padding: 0;
float: left;
background: white;
}
.aboutus {
width: 280px;
margin: 15px 0 0 140px;
padding: 0;
float: left;
}
#aboutus_title {
width: 280px;
margin: 0;
padding: 0;
float: left;
border-bottom: 1px solid grey;
}
#aboutus_title h1 {
font-size: 15px;
color: grey;
margin: 0;
padding: 0 0 10px 0;
float: left;
}
.twitter {
width: 280px;
margin: 15px 0 0 0;
padding: 0;
float: left;
border-bottom: 1px dotted grey;
}
.twitter h1 {
width: 100%;
font-size: 12px;
color: grey;
margin: 0;
padding: 0;
float: left;
}
.twitter_logo {
width: 20px;
height: 16px;
margin: 15px 0 0 0;
padding: 0;
float: left;
}
.twitter p {
width: 110px;
font-size: 12px;
color: grey;
margin: 15px 0 0 10px;
padding: 0;
float: left;
}
.twitter p a {
width: 110px;
font-size: 12px;
color: grey;
margin: 0;
padding: 0 0 10px 0;
float: left;
text-decoration: none;
}
.facebook {
width: 280px;
margin: 0;
padding: 0;
float: left;
}
.twitter_logo {
width: 20px;
height: 16px;
margin: 15px 0 0 0;
padding: 0;
float: left;
}
.facebook h1 {
width: 110px;
font-size: 12px;
color: grey;
margin: 15px 0 0 5px;
padding: 0;
float: left;
}
.facebook h1 a {
width: 110px;
font-size: 12px;
color: grey;
margin: 0;
padding: 0 0 10px 0;
float: left;
text-decoration: none;
}
#vmMainPage, #onepagecheckoutmodule
{
padding:0 20px 0 20px;
width:95%;	
}
th
{
	text-align:left;
}
#vmMainPage p
{
color: #78797A;
text-align:justify;	
}
#vmMainPage a
{
color: #78797A;	
text-decoration:none;
}

.vmCartContainer
{
	background:none;
	border:none;
}

.componentheading, .contentpane
{
	padding:0 20px 0 20px; 
	}

fieldset.input
{
	width:50%;
	color: #78797A;	
	margin:0 auto;
}

fieldset.input legend
{
	color:#59d0f0;
}
// css for checkout


	
	
div#onepagecheckoutmodule { width: 100%; }
div#onepagecheckoutmodule * h2.opcoSectionTitle { 
padding-left:35px; 
font-size: 21px;
color: #000;
//text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
text-decoration:underline;
font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
background:url("http://opco.polishedgeekdemo.com/images/opco_demo_7/fleur.png") left no-repeat; }

div#onepagecheckoutmodule * div.opcoErrorMessage { color: #ff0000;font-weight: bold; }


div#onepagecheckoutmodule {border-radius:100px;width:96%;}

#couponsection {margin:25px auto auto 100px;}

.vmcartmodule {margin:0px auto 15px auto; padding:25px 25px;border:1px solid #98868a;border-radius:25px;background:#d6f4ff;width:73%;}



#payment fieldset {float:none !important;margin:0px auto 15px auto; padding:25px 25px;border:1px solid #98868a !important;border-radius:25px;background:#d6f4ff;width:73% !important;}

#shippingtype, #calcshippingerror {margin-left:100px;}

#opcoConfirmPlaceOrder {float:none !important;width:73% !important; margin:0px auto 15px 100px;}
##opcoConfirmPlaceTotals {float:none !important;width:auto !important;}


#checkoutTotals {float:none !important; width:100% !important; margin:0px auto 15px auto; padding:25px 25px; border:1px solid #98868a; border-radius:25px; background:#d6f4ff;}

#opcoConfirmPlaceTotals {float:none !important; width:auto !important;}

#finalconfirmationsection {float:none !important; width:100% !important; margin:0px auto 15px auto; padding:25px 25px; border:1px solid #98868a; border-radius:25px; background:#d6f4ff;}

#opcoConfirmPlaceFinal {float:none !important; width:auto !important;}

#opcoConfirmPlaceTotalsButton {margin-bottom:15px;}

input.button {border:1px solid #98868A; border-radius:10px; background:#D2E9D1;}

.inputbox {height:25px; width:200px; margin-right:5px; border-radius:10px; border:1px solid #98868A;}

#coupon_instr {margin-bottom:10px;}

#logintoggle {text-align:center;}

.loginForm {width:33% !important; margin:auto;}

#account_section {border:1px solid #98868a;border-radius:25px;background:#d6f4ff;}

#shipping_section {border:1px solid #98868a;border-radius:25px;background:#d6f4ff;margin-left:22px;}

#calculateshippingbutton {margin-left:100px;}
div#onepagecheckoutmodule div#bill_ship.opco_section * .formLabel { clear: both; float: left; }
div#onepagecheckoutmodule div#bill_ship.opco_section * .formField .inputbox { float: left; }
div#onepagecheckoutmodule div#bill_ship.opco_section * div#account_section { float:none !important;margin:20px auto ; padding:25px 25px;border:1px solid #98868a;border-radius:25px;background:#d6f4ff;width:73% !important; }
div#onepagecheckoutmodule div#bill_ship.opco_section * div#shipping_section { float:none !important;margin:20px auto ; padding:25px 25px;border:1px solid #98868a;border-radius:25px;background:#d6f4ff;width:73% !important; }
div#onepagecheckoutmodule div#bill_ship.opco_section * .formLabel { width:145px; }
div#onepagecheckoutmodule div#bill_ship.opco_section * .formField input.inputbox { width:200px; }
div#onepagecheckoutmodule div#bill_ship.opco_section * .formField select.inputbox { width:157px; }
div#onepagecheckoutmodule div#confirm_place.opco_section * input#formSubmitButton.button { font-size: 150%;text-transform: uppercase; }







