div.sg_main_div {
	border: 1px solid #AAAAAA;
}

div.sg_main_div table.sg_header_table tr td {
	border: 1px solid;
	border-color: #FFFFFF #AAAAAA #AAAAAA #FFFFFF;
	background-color: #CCCCCC;
	font-size: 13px;
	font-family: Verdana;
	padding:5px 0px 5px 0px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
    -moz-user-select: none;
    cursor: default;
}

div.sg_main_div td.sg_header_right_cell {
	background-color: #CCCCCC;
}

div.sg_main_div table.sg_content_table tr td {
	overflow: hidden;
	border: 1px solid;
	border-color: #FFFFFF #AAAAAA #AAAAAA #FFFFFF;
    -moz-user-select: none;
	white-space: nowrap;
	height: 20px;
    cursor: default;
}

div.sg_main_div table.sg_content_table tr.sg_row_selected td {
	background-color:#FFFF66;
}

div.sg_paging_div {
	border: 1px solid;
	border-color: #FFFFFF #AAAAAA #AAAAAA #FFFFFF;
	background-color: #CCCCCC;
	margin-top: 2px;
}

div.sg_paging_div,
div.sg_paging_div a {
	font-family: Arial;
	font-size: 11px;
	color: #000000;
}

div.sg_paging_div a.sg_inactive {
	color: #AAAAAA;
    cursor: default;
}

div.sg_paging_div select.sg_paging_current_page {
	font-size: 9px;
}

div.sg_paging_div select.sg_paging_page_size {
	font-size: 9px;
}

div.sg_actions_div {
	border: 1px solid;
	border-color: #FFFFFF #AAAAAA #AAAAAA #FFFFFF;
	background-color: #CCCCCC;
	margin-top: 2px;
}

div.sg_actions_div button {
	font-size: 9px;
	border: 1px solid;
	color: #000000;
	background-color: #FFFFFF;
}


/* alt skin */

div.sg_main_div_alt {
	border: 1px solid #AAAAAA;
}

div.sg_main_div_alt table.sg_header_table tr td {
	border: 1px solid;
	border-color: #FFFFFF #6666FF #6666FF #FFFFFF;
	background-color: #6699CC;
	font-size: 13px;
	font-family: Verdana;
	padding:5px 0px 5px 0px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
    -moz-user-select: none;
    cursor: default;
}

div.sg_main_div_alt td.sg_header_right_cell {
	background-color: #FFFFFF;
}

div.sg_main_div_alt table.sg_content_table tr td {
	overflow: hidden;
	border: 1px solid;
	border-color: #FFFFFF #6666FF #6666FF #FFFFFF;
    -moz-user-select: none;
	white-space: nowrap;
	height: 20px;
    cursor: default;
}

div.sg_main_div_alt table.sg_content_table tr.sg_row_selected td {
	background-color:#66CCCC;
}

div.sg_paging_div_alt {
	border: 1px solid;
	border-color: #FFFFFF #AAAAAA #AAAAAA #FFFFFF;
	background-color: #6699CC;
	margin-top: 2px;
}

div.sg_paging_div_alt,
div.sg_paging_div_alt a {
	font-family: Arial Black;
	font-size: 11px;
	color: #000000;
}

div.sg_paging_div_alt a.sg_inactive {
	color: #AAAAAA;
    cursor: default;
}

div.sg_paging_div_alt select.sg_paging_current_page {
	font-size: 9px;
}

div.sg_paging_div_alt select.sg_paging_page_size {
	font-size: 9px;
}

div.sg_actions_div_alt {
	border: 1px solid;
	border-color: #FFFFFF #AAAAAA #AAAAAA #FFFFFF;
	background-color: #6699CC;
	margin-top: 2px;
}

div.sg_actions_div_alt button {
	font-size: 9px;
	border: 1px solid;
	color: #000000;
	background-color: #FFFFFF;
}

/* alt skin */