@charset "utf-8";
/* FB Fan Rev 2 */

.fan_box
.full_widget 
.connect_top {
	border: none;
	background-color: #000000;
}
.fan_box
.full_widget {
	border: none;
}
.connect_top a {
	color: #990000;
}
.connect_top a:hover {
	color: #CC0000;	
}
.fan_box
.connections {
	background-color: #000000;
	border: none;
	color: #990000;
}
.fan_box
.connections_grid
.grid_item
.name {
display: none;
color: #999900; 
}

.profileimage{
display: none;
}

.name_block{
display: none;
}

.UIButton {
background: url('http://dolphin.arvixe.com/~peterlou/drupal/files/fb-icon.png');
width: 20px;
height: 20px;
border:  none;
padding: 0px;
margins: 0px;
}

.UIButton_Text{


}
