/* $Id: ecommerce.css,v 1.2.2.1 2009/02/10 14:01:22 recidive Exp $ */

/* Store module */
.action {
  clear: both;
}

.criterion {
  float: left;
  padding-left: 1.5em;
}

.left {
  float: left;
  width: 48%;
}

.right {
  float: right;
  width: 48%;
}

/* Checkout */
a.checkout-link {
  font-size: 12px;
}

/* Cart page */
#cart-view-page table .desc {
  width: 50%;
}
.cart-item .cart-line-total {
  text-align: right;
}

/* Cart block */
.block-cart .total {
  border-top: 1px solid #999;
  text-align: right;
  clear: both;
}

.block-cart .checkout {
  text-align: right;
}

.product-table {
  width: 100%;
}
  
.product-table td {
  vertical-align: top;
  padding: 10px;
}
