﻿@font-face {
    font-family: 'GarogierRegular';
    src: url('../fonts/Garogier_unhinted-webfont.eot');
    src: url('../fonts/Garogier_unhinted-webfont.eot?#iefix') format('eot'),
         url('../fonts/Garogier_unhinted-webfont.woff') format('woff'),
         url('../fonts/Garogier_unhinted-webfont.ttf') format('truetype'),
         url('../fonts/Garogier_unhinted-webfont.svg#webfontO7V7IKxP') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MisoLight';
    src: url('../fonts/miso-light-webfont.eot');
    src: url('../fonts/miso-light-webfont.eot?#iefix') format('eot'),
         url('../fonts/miso-light-webfont.woff') format('woff'),
         url('../fonts/miso-light-webfont.ttf') format('truetype'),
         url('../fonts/miso-light-webfont.svg#webfontKibidBgL') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MisoRegular';
    src: url('../fonts/miso-webfont.eot');
    src: url('../fonts/miso-webfont.eot?#iefix') format('eot'),
         url('../fonts/miso-webfont.woff') format('woff'),
         url('../fonts/miso-webfont.ttf') format('truetype'),
         url('../fonts/miso-webfont.svg#webfont9ljUXjAw') format('svg');
    font-weight: normal;
    font-style: normal;

}




* {
color: #ffffff; font-family: Tahoma, sans-serif;	
}

div {
position: relative;	
}

p, h1, h2, h3, h4, h5, h6 {
margin: 0; padding: 0; font-weight: normal;
}

a {
text-decoration: none;
}

img {
border: 0;	
}

body {
margin: 0; padding: 0 0 50px 0; background: #d9e4e9;	
}

#w_wrapper {
background: #deeaed url("../img/bg_body.png") repeat-x top;
}

#wrapper {
width: 852px; margin: 0 auto; background: #010101 url("../img/bg_content.png") repeat-x top; overflow: hidden;
}

ul#logos {
margin: 0; padding: 8px 0 0 15px; background: url("../img/bg_topnav.png") repeat-x top; height: 68px;
}

ul#logos li {
list-style: none; float: left; vertical-align: middle; margin: 0 0 0 50px; height: 52px; vertical-align: middle;
}


ul#logos li:first-child {
margin: 0;
}

ul#logos img {
vertical-align: middle;
}

#stripe {
position: absolute; top: 199px; left: 0; z-index: 1000; background: url("../img/bg_nav.png") repeat-x; height: 3px; width: 100%;
}

#head {
height: 124px; width: 852px; margin: 0 auto;
}

#head h1 {
color: #2a322e; font-family: GarogierRegular, serif; font-size: 47px; letter-spacing: -1px; position: absolute; right: 10px; bottom: 1px; width: 100%; text-align: right; line-height: 47px;
}

#head h2 {
color: #f26722; font-family: MisoRegular, sans-serif; font-size: 28px; position: absolute; right: 10px; bottom: 8px; text-transform: uppercase;
}

#head ul {
padding: 0; margin: 0; overflow: hidden; position: absolute; left: 0; bottom: 0;
}

#head ul li {
list-style: none; margin: 0 6px 0 0; float: left;
}

#head ul li a {
display: block; background: #fd80b8; color: #ffffff; font-family: Tahoma, sans-serif; font-size: 13px; font-weight: bold; height: 25px; width: 91px; text-align: center; padding-top: 7px;
}

#head ul li a.on {
background: #e1e4e4; color: #050505;
}

#content {
margin: 28px 10px 10px 10px; overflow: hidden;
}



#content blockquote {
border: 1px solid #28201a;	background: #536978; margin: 0; padding: 0; padding: 12px;
}

#content blockquote.v1 {
background: #536978 url("../img/icon_star.png") no-repeat 198px 8px;
}

#content blockquote.v2 {
background: #536978 url("../img/icon_burst.png") no-repeat 198px 8px;
}

#content blockquote.v3 {
background: #536978 url("../img/icon_fourcircle.png") no-repeat 204px 12px;
}

#content blockquote h2 {
color: #fdfbfa; font: 14px Georgia, serif; font-weight: bold; margin: 0 0 6px 0; text-transform: uppercase;
}

#content blockquote p {
color: #cdcdcd; font-size: 12px; line-height: 16px; margin: 0 0 18px 0;
}

#content blockquote p.address {
color: #fd80b8; line-height: 12px; margin: 0 0 6px 0;
}

#content blockquote p.telephone {
color: #fd80b8; line-height: 12px; border-bottom: 2px solid #859487; padding: 0 0 6px 0; margin: 0 0 10px 0;
}

#content blockquote a.url {
text-transform: uppercase; position: absolute; bottom: 65px; text-align: center; width: 100%; color: #cdcdcd; font-size: 12px;
}

#content blockquote a.vote {
text-transform: uppercase; position: absolute; bottom: 18px; right: 20px; color: #eae7ba; background: #678f9b; padding: 7px; font-size: 12px;
}

#content blockquote p.star5 {
text-transform: uppercase; position: absolute; bottom: 3px; left: 12px; background: url("../img/star_5.png") no-repeat; text-indent: -20000px; width: 132px; height: 21px;
}

#content blockquote p.star3 {
text-transform: uppercase; position: absolute; bottom: 3px; left: 12px; background: url("../img/star_3.png") no-repeat; text-indent: -20000px; width: 132px; height: 21px;
}


#content #colA {
float: left; width: 266px; margin: 0 20px 0 0; color: #ffffff;
}

#content #colA #intro {
height: 127px;
}

#content #colA h1 {
font: 30px MisoRegular, sans-serif; letter-spacing: -1px; color: #2a322e;
}

#content #colA h4 {
color: #2a322e; text-align: right; margin: 0 0 16px 0; font: 18px MisoRegular, sans-serif;
}

#content #colA blockquote {
height: 434px;
}

#content #colB {
float: left; width: 546px;
}

#content #colB img#photomain {
border: 2px solid #28201a; display: block; margin: 0 0 20px 0;
}

#content #colB blockquote {
height: 300px;
}


#content #colB #colB_suba {
margin: 0 14px 0 0; float: left; width: 266px;
}

#content #colB #colB_subb {
float: left; width: 266px;
}


#footer {
padding: 17px 0 0 0; text-align: center; border-top: 20px solid #fd80b8;
}

#footer * {
color: #2a322e; font-family: Tahoma, sans-serif; font-size: 13px; font-weight: bold;
}

#footer ul {
margin: 0 auto 10px auto; padding: 0 0 10px 30px; width: 215px; text-align: center; position: relative; border-bottom: 1px solid #78826f; overflow: hidden;
}

#footer ul li {
float: left; list-style: none; margin: 0 0 0 11px; padding: 0 0 0 11px; border-left: 1px solid #2a322e;
}

#footer ul li:first-child {
border-left: 0; margin: 0; padding: 1px 0;
}

#footer ul li {
display: block; float: left;
}