.mstheme
{
	separator-image: url(rule.gif);
	list-image-1: url(bullet.gif);
	list-image-2: url(bullet.gif);
	list-image-3: url(bullet.gif);
	nav-banner-image: url(banner.gif);
	navbutton-horiz-normal: url(horizontal.gif);
	navbutton-horiz-hovered: url(horizontal_select.gif);
	navbutton-horiz-pushed: url(horizontal_select.gif);
	navbutton-vert-normal: url(vertical.gif);
	navbutton-vert-hovered: url(vertical_select.gif);
	navbutton-vert-pushed: url(vertical_select.gif);
	navbutton-home-normal: url(global.gif);
	navbutton-home-hovered: url(global.gif);
	navbutton-home-pushed: url(global.gif);
	navbutton-next-normal: url(global.gif);
	navbutton-next-hovered: url(global.gif);
	navbutton-next-pushed: url(global.gif);
	navbutton-prev-normal: url(global.gif);
	navbutton-prev-hovered: url(global.gif);
	navbutton-prev-pushed: url(global.gif);
	navbutton-up-normal: url(global.gif);
	navbutton-up-hovered: url(global.gif);
	navbutton-up-pushed: url(global.gif);
}
.mstheme-bannertxt
{
	font-family: Verdana;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}
.mstheme-vert-navtxt
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}
.mstheme-navtxthome
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtprev
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtup
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
ul
{
	list-style-image: url(bullet.gif);
}
ul ul
{
	list-style-image: url(bullet.gif);
}
ul ul ul
{
	list-style-image: url(bullet.gif);
}
