/***********************/
/***  Page Defaults  ***/
/***********************/
body {
  background-color: #FFFFE0;
  background: url(http://drought.shopsite.com/djw/shopsite-images/en-US/screen/bg-cream.gif);
  color: #000099;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin-top: 10pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-botom: 1em;
}

/***********************/
/***  Headings       ***/
/***********************/
h1 {
  font-size: 14pt;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0pt;
}

h2 {
  background-color: #CCCC99;
  font-family: Times-Roman, serif;
  font-size: 13pt;
  font-weight: bold;
  margin-bottom: 4pt;
  text-align: center;
}

h3 {
  font-size: 10pt;
  font-weight: bold;
  margin-bottom: 0pt;
  display: inline;
}

/***********************/
/***  Table Cells    ***/
/***********************/
th {
  text-align: center;
  vertical-align: middle;
  background-color: #CCCC99;
  font-size: 7.5pt;
}
td.field_name, td.fn {
  text-align: left;
  vertical-align: middle;
  background-color: #CCCC99;
  font-size: 7.5pt;
}

td.field_value, td.fv {
  background-color: #FFFFCC;
  font-size: 7.5pt;
}

td.selection_head {
  text-align: center;
  font-size: 9pt;
}

td.copyright {
  color: #999999;
  font-size: 7.5pt;
}

td.button {
  padding-left: 1pt;
  padding-right: 1pt;
}

li {
  margin-bottom: 4pt;
}

/***********************/
/***  Multi-Use      ***/
/***********************/
.text {
  font-size: 9pt;
  line-height: 120%;
}

.instructions {
  font-size: 7.5pt;
}

/******************************/
/***  Character Formatting  ***/
/******************************/
i {
  font-style: italic;
}

