#/* --------------------------------------------------- */#
#/* Style Sheet                                         */#
#/* filename: awesome_orange_001_sc_styles.css          */#
#/* TEMPLATE: Shopping Cart                             */#
#/* THEME: Awesome Orange 001                           */#
#/* copyright 2005 ShopSite inc. Design by Stunk        */#
#/* --------------------------------------------------- */#

/* Universal Settings */
  body {
    margin: 0px;
    font-family: [-- VAR.font --];
    font-size: [-- VAR.font_size --];
    text-align: [-- VAR.text_align --];
    color: [-- VAR.text_color --];
    background-color: [-- VAR.background_color --];
  }

  div {
  }
  
  /* Tables */
  table {
    border-collapse: collapse;
    font-family: [-- VAR.font --];
    font-size: [-- VAR.font_size --];
    text-align: [-- VAR.text_align --];
    color: [-- VAR.text_color --];
  }

  tr {
  }

  td {
    /* border: 1px solid #FF0000; */
  }

  /* Headers */
  h1 {
    font-size: [-- VAR.h1_size --];
  }
  
  h2 {
    font-size: [-- VAR.h2_size --];
  }
  
  h3 {
    font-size: [-- VAR.h3_size --];
  }
  
  h4 {
    font-size: [-- VAR.h4_size --];
  }
  
  /* Links */
  a {
    color: [-- VAR.link_text_color --];
  }
  
  a:hover, a:active {
    color: [-- VAR.link_hover_color --];
  }
  
  a.program_reward_order {
    color: [-- VAR.button_text_color --];
    font-size: [-- VAR.h3_size --];
    font-weight: bold;
    text-decoration: none;
  }
  
  a.program_reward_order:hover, a.program_reward_order:active {
    color: [-- VAR.button_hover_color --];
  }
  
  /* Images */
  img {
    border: none;
  }
  
  img.link_image {
    border: 0px none;
  }
  
  img.cart_image {
    border: 0px none;
  }
  
  /* Forms */
  input {
    color: [-- VAR.form_text_color --];
    font-size: [-- VAR.form_text_size --];
  }
  
  textbox, select {
    color: [-- VAR.form_text_color --];
    font-size: [-- VAR.form_text_size --];
    background-color: [-- VAR.form_background_color --];
    border: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
  }

    /* IE doesn't recognize these */
  input[type=text], input[type=password], input[type=button], input[type=select], input[type=reset] {
    background-color: [-- VAR.form_background_color --];
    border: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
  }

  input[type=image], input[type=radio], input[type=checkbox] {
    background-color: transparent;
    border: none;  
  }

/* Page Layout */
  /* Begin Page Header */
  table.body {
    width: 98%;
    margin-left: 1%;
    background-color: transparent;
  }
  
  td.sc_header {
  }
  
  table.header {
    width: 100%;
    background-color: transparent;
  }

  tr.header_row_1 {
    height: 10px;
  }

  tr.header_row_2 {
  }

  tr.header_row_3 {
    height: 10px;
  }

  td.header_1a {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_1a.gif);
  }

  td.header_1b {
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_1b.gif);
  }

  td.header_1c {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_1c.gif);
  }

  td.header_2a {
    width: 8px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_2a.gif);
  }

  td.header_2c {
    width: 8px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_2c.gif);
  }

  td.header_3a {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_3a.gif);
  }

  td.header_3b {
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_3b.gif);
  }

  td.header_3c {
    width: 8px;
    height: 10px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_3c.gif);
  }

  td.header_content {
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_box_content.gif);
    text-align: [-- VAR.text_align --];
    color: [-- VAR.button_text_color --];
  }
  /* End Page Header */
  
  /* Begin Color 1 Box */
  table.color_1 {
    width: 100%;
    background-color: transparent;
  }

  tr.color_1_row_1 {
    height: 5px;
  }

  tr.color_1_row_2 {
  }

  tr.color_1_row_3 {
    height: 5px;
  }

  td.color_1_1a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_button_1a.gif);
  }

  td.color_1_1b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_button_1b.gif);
  }

  td.color_1_1c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_button_1c.gif);
  }

  td.color_1_2a {
    width: 3px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_button_2a.gif);
  }

  td.color_1_2c {
    width: 3px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_button_2c.gif);
  }

  td.color_1_3a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_button_3a.gif);
  }

  td.color_1_3b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_button_3b.gif);
  }

  td.color_1_3c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_button_3c.gif);
  }

  td.color_1_content {
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_1 --]_button_content.gif);
    text-align: [-- VAR.text_align --];
    color: [-- VAR.button_text_color --];
  }
  /* End Color 1 Box */

  /* Begin Color 2 Box */
  table.color_2 {
    width: 100%;
    background-color: transparent;
  }
  
  tr.color_2_row_1 {
    height: 5px;
  }
  
  tr.color_2_row_2 {
  }
  
  tr.color_2_row_3 {
    height: 5px;
  }
  
  td.color_2_1a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_button_1a.gif);
  }
  
  td.color_2_1b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_button_1b.gif);
  }
  
  td.color_2_1c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_button_1c.gif);
  }
  
  td.color_2_2a {
    width: 3px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_button_2a.gif);
  }
  
  td.color_2_2c {
    width: 3px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_button_2c.gif);
  }
  
  td.color_2_3a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_button_3a.gif);
  }
  
  td.color_2_3b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_button_3b.gif);
  }
  
  td.color_2_3c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_button_3c.gif);
  }
  
  td.color_2_content {
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_2 --]_button_content.gif);
  }
  /* End Color 2 Box */

  /* Begin Color 3 Box */
  table.color_3 {
    width: 100%;
    background-color: transparent;
  }
  
  tr.color_3_row_1 {
    height: 5px;
  }
  
  tr.color_3_row_2 {
  }
  
  tr.color_3_row_3 {
    height: 5px;
  }
  
  td.color_3_1a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_1a.gif);
  }
  
  td.color_3_1b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_1b.gif);
  }
  
  td.color_3_1c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_1c.gif);
  }
  
  td.color_3_2a {
    width: 3px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_2a.gif);
  }
  
  td.color_3_2c {
    width: 3px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_2c.gif);
  }
  
  td.color_3_3a {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_3a.gif);
  }
  
  td.color_3_3b {
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_3b.gif);
  }
  
  td.color_3_3c {
    width: 3px;
    height: 5px;
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_3c.gif);
  }
  
  td.color_3_content {
    background-color: transparent;
    background-image: url([-- ShopSite_Images --][-- VAR.image_path --]/[-- VAR.theme_color_3 --]_button_content.gif);
  }
  /* End Color 3 Box */

  /* General Content */
[-- IF VAR.define "cart" --]
  td.sc_registration, td.sc_coupons, td.sc_giftcert, td.sc_rewards, td.sc_showbasket, td.sc_cross_sell {
    text-align: center;
    background-color: transparent;
  }

    /* Customer Registration */
  table.reg {
    width: 100%;
    vertical-align: middle;
    text-align: center;
  }

  td.reg_wel {
    font-size: [-- VAR.h2_size --];
    font-weight: bold;
    text-align: [-- VAR.button_text_align --];
  }

  td.reg, td.reg_link {
    text-align: [-- VAR.button_text_align --];
  }

    /* Coupons */
  table.sc_coupons {
    width: 100%;
    text-align: center;
  }

  td.sc_coupon_caption {
    text-align: right;
    width: 50%;
  }

  td.sc_coupon_form {
    text-align: left;
    width: 50%;
  }

  td.sc_coupon_button {
    text-align: [-- VAR.button_text_align --];
  }

    /* Gift Certificates */
  table.sc_giftcert {
    width: 100%;
  }

  td.sc_giftcert_text {
    text-align: [-- VAR.button_text_align --];
  }

  td.sc_giftcert_form {
    text-align: [-- VAR.button_text_align --];
  }

  td.sc_giftcert_button {
    text-align: [-- VAR.button_text_align --];
  }

    /* Reward Program */
  table.program_reward_order {
    width: 100%;
    vertical-align: middle;
    text-align: center;
  }

  th.program_reward_order {
    font-size: [-- VAR.h2_size --];
    font-weight: bold;
    text-align: [-- VAR.button_text_align --];
  }

  td.program_reward_order {
    text-align: [-- VAR.button_text_align --];
  }

    /* Cross Sell */
  table.sc_cross_sell, table.pcs_product_purchase, table.gcs_product_purchase {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
  }
  
  caption.sc_cross_sell {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
  }
  
  td.sc_cross_sell {
    text-align: center;
  }

  td.sc_global_cross_sell img, td.sc_prod_cross_sell img {
    border: 0px none;
  }
  
  td.gcs_product_image, td.pcs_product_image {
    text-align: center;
  }
  
  img.gcs_product_graphic, img.pcs_product_graphic {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.gcs_product_name, td.pcs_product_name {
    text-align: center;
    font-weight: bold;
    color: [-- VAR.button_text_color --];
  }
  
  a.pcs_product_name, a.gcs_product_name {
    color: [-- VAR.button_text_color --];
  }
  
  a.pcs_product_name:active, a.gcs_product_name:active {
    color: [-- VAR.button_hover_color --];
  }
  
  a.pcs_product_name:hover, a.gcs_product_name:hover {
    color: [-- VAR.button_hover_color --];
  }
  
  td.gcs_product_price, td.pcs_product_price {
    text-align: center;
    font-weight: bold;
  }
  
  td.gcs_product_add_to_cart, td.pcs_product_add_to_cart {
    text-align: center;
  }
  
  a.gcs_addtocart_button, a.pcs_addtocart_button {
  }
  
  img.gcs_addtocart_button, img.pcs_addtocart_button {
    border: 0px none;
  }

    /* Show Basket */
  table.sc_showbasket {
    width: 100%;
  }

  td.sc_showbasket_content {
    text-align: [-- VAR.button_text_align --];
  }

[-- END_IF --]

  td.sc_checkout, td.sc_checkout_2 {
    text-align: center;
    background-color: transparent;
  }

  table.sc_checkout, table.sc_checkout_2 {
    width: 100%;
    background-color: transparent;
    text-align: center;
  }

  td.sc_messages, td.sc_cart, td.sc_surcharge, td.sc_orderinstructions, td.sc_shipping, td.sc_payment, td.sc_totals, td.sc_checkout_buttons {
    background-color: transparent;
    text-align: [-- VAR.button_text_align --];
  }

  td.sc_address, td.sc_security_image, td.sc_commments, td.sc_email_list, td.sc_custom_html, td.sc_order_num {
    background-color: transparent;
    text-align: [-- VAR.button_text_align --];
  }

  table.sc_email_list, table.sc_custom_html, table.sc_order_num {
    width: 100%;
    background-color: transparent;
    text-align: center;
  }

  td.sc_email_list_content, td.sc_custom_html_content {
    background-color: transparent;
    text-align: [-- VAR.button_text_align --];
  }

  td.sc_order_num_text {
    background-color: transparent;
    text-align: right;
    font-weight: bold;
    font-size: [-- VAR.h2_size --];
    width: 50%;
  }

  td.sc_order_num_num {
    background-color: transparent;
    text-align: left;
    font-weight: bold;
    font-size: [-- VAR.h2_size --];
    color: [-- VAR.pr_sale_price_color --];
    width: 50%;
  }

    /* Error Messages */
  table.ups_error, table.checkout_err, table.inv_err, table.thankyou_err {
    border: 4px solid #000000;
    margin-left: auto;
    margin-right: auto;
    text-align: [-- VAR.button_text_align --];
  }

  td.ups_error, td.checkout_err, td.inv_err, td.thankyou_err {
#    border: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
#    background-color: [-- VAR.form_background_color --];
    border: 0px none #FFFFE0;
    background-color: #FFFFE0;
    margin: 0px;
    color: [-- VAR.form_text_color --];
    font-weight: bold;
    font-size: [-- VAR.h3_size --];
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

    /* Cart */
  table.cart {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    border-bottom: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
  }

  th.cart_delete, th.cart_quantity, th.cart_image, th.cart_name, th.cart_sku, th.cart_price, th.cart_total {
    background-color: [-- VAR.form_border_color --];
    color : [-- VAR.button_text_color --];
    text-align: [-- VAR.button_text_align --];
    font-weight: bold;
  }
  
  td.cart_empty, td.cart_delete, td.cart_quantity, td.cart_image, td.cart_sku, td.cart_cp_quantity, td.cart_cp_name, td.cart_cp_image, td.cart_cp_sku {
    background-color: transparent;
    color: [-- VAR.text_color --];
    text-align: [-- VAR.button_text_align --];
    border-top: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
  }
  
  td.cart_name {
    background-color: transparent;
    color: [-- VAR.text_color --];
    text-align: [-- VAR.button_text_align --];
    border-top: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
    font-weight: bold;
  }

  td.cart_price, td.cart_total, td.cart_cp_price, td.cart_cp_total {
    background-color: [-- VAR.price_background_color --];
    color: [-- VAR.price_text_color --];
    text-align: right;
    border-top: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
  }

  td.cart_op, td.cart_op1, td.cart_op2 {
    background-color: transparent;
    text-align: [-- VAR.button_text_align --]
  }
  
  table.opt_cart {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
  }
  
  table.giftcert {
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.opt_cart {
    background-color: transparent;
    color: [-- VAR.text_color --];
    text-align: [-- VAR.button_text_align --];
  }
  
  td.giftcert {
    background-color: transparent;
    color: [-- VAR.text_color --];
    text-align: left;
  }
  
  select.cart {
    text-align: left;
    border: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
    color: [-- VAR.form_text_color --];
    background-color: [-- VAR.form_background_color --];
  }

    /* Shipping calculations */
  table.sql_addr, table.selectzipncountry, table.zipncountry {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: transparent;
  }

  td.sql_addr_hdr, td.zipncountry_hdr, td.sql_addr_select, td.sql_addr, td.zipncountryradio {
    text-align: [-- VAR.button_text_align --];
    background-color: transparent;
  }

  td.zipncountry_txt1, td.zipncountry_txt {
    text-align: right;
    background-color: transparent;
  }

  td.zipncountry {
    text-align: left;
    background-color: transparent;
  }

    /* Tax calculations */
  table.taxnship {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: transparent;
  }

  td.taxnship {
    text-align: [-- VAR.button_text_align --];
    background-color: transparent;
  }

    /* Payment Type */
  table.pay_holder, table.sql_pay {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: transparent;
  }

  td.pay_holder_hdr, td.sql_pay_select, td.sql_pay, td.new_payment_type {
    text-align: [-- VAR.button_text_align --];
    background-color: transparent;
  }

    /* Surcharge */
  table.surcharge {
    width: 100%;
    background-color: transparent;
  }

  td.surcharge {
    text-align: [-- VAR.button_text_align --];
    background-color: transparent;
  }

    /* Totals */
  table.totals {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
  }

  td.totals_txt, td.totals_all_txt, td.totals_saved_txt {
    border-top: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
    border-bottom: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
    background-color: [-- VAR.form_border_color --];
    color: [-- VAR.button_text_color --];
    text-align: right;
    font-weight: bold;
  }

  td.totals, td.totals_all, td.totals_saved {
    border-top: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
    border-bottom: [-- VAR.form_border_style --] [-- VAR.form_border_color --];
    background-color: [-- VAR.price_background_color --];
    color: [-- VAR.price_text_color --];
    text-align: right;
  }

  td.totals_blank {
    height: 3px;
    background-color: transparent;
  }

  table.instruct, table.addr, table.payment, table.comm {
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    text-align: center;
  }
  
  table.bill_addr, table.ship_addr, table.sec_image {
    margin-left: auto;
    margin-right: auto;
    text-align: [-- VAR.button_text_align --];
  }
  
  table.addr_name {
    text-align: [-- VAR.button_text_align --];
  }

  td.instruct_hdr, td.bill_addr_hdr, td.ship_addr_hdr, td.payment_hdr, td.comm_hdr {
    font-weight: bold;
    text-align: [-- VAR.button_text_align --];
  }

  td.instruct, td.ship_check, td.comm, td.addr_foot {
    text-align: [-- VAR.button_text_align --];
  }
  
  td.addr, td.payment {
    font-weight: bold;
    text-align: right;
  }
  
[-- IF VAR.define "shipping" --]
  td.addr_val {
    text-align: left;
    width: 50%;
  }
[-- ELSE --]
  td.addr_val {
    text-align: [-- VAR.text_align --];
  }  
[-- END_IF --]
  
  td.payment_value {
    text-align: left;
    width: 50%;
  }
  
  td.addr_name_val {
    font-weight: bold;
    text-align: [-- VAR.button_text_align --];
  }
  
    /* Buttons */
  table.sc_checkout_buttons {
    width: 100%;
  }
  
  td.sc_changes_text {
    text-align: [-- VAR.button_text_align --];
  }
  
   td.sc_button {
    text-align: [-- VAR.button_text_align --];
    width: 50%;
  }

  td.sc_footer {
    vertical-align: middle;
    text-align: [-- VAR.button_text_align --];
    padding-top: 20px;
  }

  td.security_image {
    text-align: center;
  }