/* Links */
  /* Regular Page Links */
  /* Note: Links and Extras tables use different styles */
  a {
    color: #[-- VAR.sc_link_color --];
  }
  
  a:active, a:hover {
    color: #[-- VAR.sc_active_link_color --];
  }
  
  a:visited {
    color: #[-- VAR.sc_visited_link_color --];
  }

  /* Link Menu Links */
  a.sc_link_name, a.sc_back_to_store_button {
    color: #[-- VAR.sc_banner_text_color --];
    font-weight: bold;
    font-size: 12pt;
  }
  
  a.sc_link_name:active, a.sc_back_to_store_button:active {
    color: #[-- VAR.sc_active_link_color --];
  }
  
  a.sc_link_name:hover, a.sc_back_to_store_button:hover {
    color: #[-- VAR.sc_active_link_color --];
  }
   
  a.sc_link_name:visited, a.sc_back_to_store_button:visited {
    color: #[-- VAR.sc_banner_text_color --];
  }
  
  /* (Extras) Reward Program Links */
  a.program_reward_order {
    color: #[-- VAR.sc_banner_text_color --];
    font-size: 12pt;
    font-weight: bold;
  }
  
  a.program_reward_order:active, a.program_reward_order:hover {
    color: #[-- VAR.sc_active_link_color --];
  }
  
  a.program_reward_order:visited {
    color: #[-- VAR.sc_banner_text_color --];
  }
  
  /* (Extras) Customer Registration Links */
  a.reglink {
    color: #[-- VAR.sc_banner_text_color --];
  }
  
  a.reglink:active, a.reglink:hover {
    color: #[-- VAR.sc_active_link_color --];
  }
  
  a.reglink:visited {
    color: #[-- VAR.sc_banner_text_color --];
  }
  
/* Forms */
  /* Generic Form Elements */
  input {
    border: 1px solid #[-- VAR.sc_link_color --];
    background-color: #[-- VAR.sc_background_color --];
    color: #[-- VAR.sc_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
  /* Note: Current IE versions don't support the type= modifier */
  input[type=text], input[type=password] {
    background-color: #[-- VAR.sc_background_color --];
    color: #[-- VAR.sc_text_color --];
    border: 1px solid #[-- VAR.sc_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  input[type=image], input[type=button], input[type=submit], input[type=reset] {
    background-color: transparent;
    border: 0px none;
    cursor: pointer;
  }
  
  input[type=radio], input[type=checkbox] {
    background-color: transparent;
    border: 0px none;
  }
  
  textarea {
    background-color: #[-- VAR.sc_background_color --];
    color: #[-- VAR.sc_text_color --];
    border: 1px solid #[-- VAR.sc_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  select {
    background-color: #[-- VAR.sc_background_color --];
    color: #[-- VAR.sc_text_color --];
    border: 1px solid #[-- VAR.sc_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  option {
  }
  
  /* Buttons in the Links Menu */
    /* Continue Shopping Button */
  input.button6 {
    border: none;
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
    text-decoration: underline;
    font-weight: bold;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
    /* Recalculate Button */
  input.button7 {
    border: none;
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
    text-decoration: underline;
    font-weight: bold;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
    /* Empty Cart Button */
  input.button9 {
    border: none;
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
    text-decoration: underline;
    font-weight: bold;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
    /* Return To Cart button */
  input.button68 {
    border: none;
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
    text-decoration: underline;
    font-weight: bold;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
    /* Make Changes Button */
  input.button163 {
    border: none;
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
    text-decoration: underline;
    font-weight: bold;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
  /* Cart Contents Form Elements */
  select.cart {
    background-color: #[-- VAR.sc_background_color --];
    color: #[-- VAR.sc_text_color --];
    border: 1px solid #[-- VAR.sc_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  textarea.cart {
    background-color: #[-- VAR.sc_background_color --];
    color: #[-- VAR.sc_text_color --];
    border: 1px solid #[-- VAR.sc_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  /* Address Table Form Elements */
  input.addr {
  }
  
  select.addr {
    background-color: #[-- VAR.sc_background_color --];
    color: #[-- VAR.sc_text_color --];
    border: 1px solid #[-- VAR.sc_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  /* Comments Form Elements */
  textarea.comm {
    background-color: #[-- VAR.sc_background_color --];
    color: #[-- VAR.sc_text_color --];
    border: 1px solid #[-- VAR.sc_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  /* Payment Info Form Elements */
  select.payment {
    background-color: #[-- VAR.sc_background_color --];
    color: #[-- VAR.sc_text_color --];
    border: 1px solid #[-- VAR.sc_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  option.payment {
  }
  
  input.payment {
  }
  
  /* Action Buttons */
    /* Checkout Button */
  input.button8 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.sc_link_color --];
    text-decoration: underline;
    font-weight: bold;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
    /* Submit Order Button */
  input.button162 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.sc_link_color --];
    text-decoration: underline;
    font-weight: bold;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
    /* Confirmation Button */
  input.button67 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.sc_link_color --];
    text-decoration: underline;
    font-weight: bold;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
    /* Coupon Button */
  input.button152 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.sc_link_color --];
    text-decoration: underline;
    font-weight: bold;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
    /* Gift Certificate Button */
  input.button375 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.sc_link_color --];
    text-decoration: underline;
    font-weight: bold;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
    /* Line Item Update Button */
  input.button383 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.sc_link_color --];
    text-decoration: underline;
    font-weight: bold;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
    /* Line Item Delete Button */
  input.button154 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.sc_link_color --];
    text-decoration: underline;
    font-weight: bold;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
/* Images */
  /* Generic Images */
  img {
    border: 0px none;
  }
  
  img.cart_image {
    border: 0px none;
  }

/* Global Generic Styles */
  body {
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    margin: 0px;
    background-color: #[-- VAR.sc_background_color --];
    background-image: url([-- VAR.sc_background_image --]);
    color: #[-- VAR.sc_text_color --];
  }
  
  table {
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    vertical-align: top;
    text-align: left;
  }
  
  th {
    text-align: center;
  }
  
  td {
    text-align: left;
  }
  
/* General Layout Styles */
  table.page {
    color: #[-- VAR.sc_text_color --];
    background-color: #[-- VAR.sc_background_color --];
    background-image: url([-- VAR.sc_background_image --]);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Page Header */
  td.sc_header {
    border: [-- VAR.sc_col_border --] #[-- VAR.sc_col_border_color --];
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
  }
  
  /* Page Content Area */
  td.sc_content {
  }
  
  /* Page Footer */
  td.sc_footer {
  }
  
  /* Content Area Styles */
  table.sc_content {
    width: 100%;
  }
  
  td.sc_links {
    vertical-align: top;
    width: 150px;
    min-width: 150px;
  }
  
  td.sc_info {
    vertical-align: top;
  }
  
  td.sc_extras {
    vertical-align: top;
    width: 150px;
    min-width: 150px;
  }
  
  /* Link Menu */
  table.sc_links {
    width: 100%;
    color: #[-- VAR.sc_banner_text_color --];
    border: [-- VAR.sc_col_border --] #[-- VAR.sc_col_border_color --];
    background-color: #[-- VAR.sc_banner_bg_color --];
  }
  
  td.sc_menu_button {
  }
    
  td.sc_show_basket {
    border: 1px solid #[-- VAR.sc_banner_text_color --];
  }
  
  /* Cart Info */
  table.sc_info {
    width: 100%;
  }
  
  td.sc_title {
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
  }
  
  td.sc_messages {
    text-align: center;
  }
  
  td.sc_order_num {
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
    font-size: 12pt;
    margin-bottom: 15px;
  }
  
  span.sc_order_num_text {
    font-weight: bold;
  }
  
  span.sc_order_num_num {
    font-weight: bold;
  }
  
  td.sc_cart {
    vertical-align: top;
  }
  
  td.sc_address {
    border-bottom: 3px solid #[-- VAR.sc_banner_bg_color --];
  }
  
  td.sc_surcharge {
  }
  
  td.sc_order_instructions {
    border-top: 3px solid #[-- VAR.sc_banner_bg_color --];
  }
  
  td.sc_payment {
  }
  
  table.sc_payment {
    width: 100%;
  }
  
  td.sc_pay_select {
    padding-right: 25px;
  }
  
  td.sc_custom_html {
  }
  
  td.sc_email_list {
  }
  
  td.sc_tax_ship {
  }
  
  td.sc_cart_totals {
    vertical-align: bottom;
    text-align: right;
  }
  
  td.sc_totals {
    vertical-align: bottom;
    border-bottom: 3px solid #[-- VAR.sc_banner_bg_color --];
    text-align: right;
  }
  
  td.sc_checkout {
    border-top: 3px solid #[-- VAR.sc_banner_bg_color --];
  }
  
  table.sc_checkout {
  }
  
  td.sc_checkout_left {
  }
  
  table.sc_checkout_left {
  }
  
  td.sc_checkout_right {
    vertical-align: top;
  }
  
  table.sc_checkout_right {
    vertical-align: top;
  }

  td.sc_payment {
    text-align: left;
  }

  td.sc_security_image {
    text-align: left;
  }
  
  td.sc_any_changes {
  }
  
  td.sc_action_button {
    padding-left: 20px;
    padding-top: 20px;
    vertical-align: bottom;
  }
  
  td.sc_blank {
  }
  
  /* Extras Menu */
  table.sc_extras {
    width: 100%;
    color: #[-- VAR.sc_banner_text_color --];
    border: [-- VAR.sc_col_border --] #[-- VAR.sc_col_border_color --];
    background-color: #[-- VAR.sc_banner_bg_color --];
  }
  
  td.sc_rewards {
    border: 1px solid #[-- VAR.sc_banner_text_color --];
  }
  
  td.sc_registration {
  }

  td.sc_coupon {
    padding-top: 10px;
  }
  
  td.sc_giftcert {
    padding-top: 10px;
  }
  

/* Content Styles */
  /* ShopSite Messages */
  table.ups_error, table.checkout_err, table.inv_err {
    font-family: arial, helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.ups_error, td.checkout_err, td.inv_err {
    vertical-align: middle;
    text-align: center;
  }
  
  /* Shopping Cart Content */
  table.cart {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 5px solid #[-- VAR.sc_banner_bg_color --];
  }
  
  th.cart_delete {
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
  }
  
  th.cart_quantity {
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
  }
  
  th.cart_name {
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
  }
  
  th.cart_image {
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
  }
  
  th.cart_sku {
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
  }
  
  th.cart_price {
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
    text-align: right;
    padding-right: 10px;
  }
  
  th.cart_total {
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
    text-align: right;
    padding-right: 10px;
  }
  
  td.cart_delete {
    border-top: 1px solid #[-- VAR.sc_banner_bg_color --];
    vertical-align: top;
    text-align: center;
  }
  
  td.cart_quantity, td.cart_cp_quantity {
    border-top: 1px solid #[-- VAR.sc_banner_bg_color --];
    vertical-align: top;
    text-align: center;
  }
  
  td.cart_name, td.cart_cp_name {
    border-top: 1px solid #[-- VAR.sc_banner_bg_color --];
    vertical-align: top;
    text-align: center;
  }
  
  td.cart_image, td.cart_cp_image {
    border-top: 1px solid #[-- VAR.sc_banner_bg_color --];
    vertical-align: top;
    text-align: center;
  }
  
  td.cart_sku, td.cart_cp_sku {
    border-top: 1px solid #[-- VAR.sc_banner_bg_color --];
    vertical-align: top;
    text-align: center;
  }
  
  td.cart_price, td.cart_cp_price {
    border-top: 1px solid #[-- VAR.sc_banner_bg_color --];
    vertical-align: top;
    text-align: right;
  }
  
  td.cart_total, td.cart_cp_total {
    border-top: 1px solid #[-- VAR.sc_banner_bg_color --];
    vertical-align: top;
    text-align: right;
  }
  
  td.cart_op1, td.cart_op2 {
  }
  
  td.cart_op {
  }
  
  /* Totals Table */
  table.totals {
    text-align: right;
    margin-left: auto;
    margin-right: 0px;
    padding-right: 0px;
  }
  
  td.totals_txt {
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
    font-weight: bold;
    text-align: center;
  }
  
  td.totals {
    text-align: right;
  }
  
  td.totals_all_txt {
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
    font-weight: bold;
    text-align: center;
  }
  
  td.totals_all {
    text-align: right;
  }
  
  td.totals_blank {
  }
  
  td.totals_saved_txt {
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
    font-weight: bold;
    text-align: center;
  }
  
  td.totals_saved {
    text-align: right;
  }
  
  /* Address Table */
  table.addr {
    width: 100%;
    padding: 0px;
  }
  
  table.bill_addr, table.ship_addr {
    margin-left: 0px;
    margin-right: auto;
  }
  
  td.bill_addr_hdr, td.ship_addr_hdr {
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
    font-weight: bold;
    text-align: center;
  }
  
  td.ship_check {
  }
  
  td.addr {
  }
  
  td.addr_val {
  }
  
  td.addr_foot {
  }
  
  /* Comments Table */
  table.comm {
  }
  
  td.comm_hdr {
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
    font-weight: bold;
    text-align: center;
  }
  
  td.comm {
  }
  
  /* Payment Info Table */
  table.payment {
  }
  
  td.payment_hdr {
    background-color: #[-- VAR.sc_banner_bg_color --];
    color: #[-- VAR.sc_banner_text_color --];
    font-weight: bold;
    text-align: center;
  }
  
  td.payment {
  }
  
  td.payment_value {
  }
  
  /* Security Image */
  table.sec_image {
    margin-left: 0px;
    margin-right: auto;
  }
  
  td.sec_image {
    text-align: left;
  }
  
  
/* Extras Styles */
  /* Rewards Program */
  table.program_reward_order {
    color: #[-- VAR.sc_banner_text_color --];
    background-color: #[-- VAR.sc_banner_bg_color --];
  }
  
  th.program_reward_order {
  }
  
  td.program_reward_order {
    text-align: center;
  }
  
  /* Coupons */
  table.sc_coupon {
    color: #[-- VAR.sc_banner_text_color --];
    background-color: #[-- VAR.sc_banner_bg_color --];
  }
  
  td.sc_coupon_caption {
  }
  
  td.sc_coupon_form {
  }
  
  td.sc_coupon_button {
  }
  
  td.sc_coupon_text {
  }
  
  /* Gift Certificates */
  table.sc_giftcert {
    color: #[-- VAR.sc_banner_text_color --];
    background-color: #[-- VAR.sc_banner_bg_color --];
  }
  
  td.sc_giftcert_text {
  }
  
  td.sc_giftcert_form {
  }
  
  td.sc_giftcert_button {
  }
  
  /* ----------------- */
  /* Global Cross Sell */
  /* ----------------- */
  td.sc_global_cross_sell {
  }
  
  table.sc_global_cross_sell {
  }

  caption.sc_global_cross_sell {
    font-weight: bold;
    text-align: left;
    margin-left: 5pt;
  }

  td.sc_global_cross_sell_td {
    border: 1px solid #[-- VAR.sc_banner_text_color --];
    background-color: #[-- VAR.sc_background_color --];
    color: #[-- VAR.sc_text_color --];
  }
  
  table.sc_global_cross_sell a {
  }
  
  table.sc_global_cross_sell a:hover, table.sc_global_cross_sell a:active {
    color: #[-- VAR.sc_active_link_color --];
  }
  
  /* ------------------ */
  /* Product Cross Sell */
  /* ------------------ */
  td.sc_prod_cross_sell {
  }
  
  table.sc_prod_cross_sell {
    background-color: #[-- VAR.sc_background_color --];
    color: #[-- VAR.sc_text_color --];
  }
  
  table.pcs_product_purchase, table.gcs_product_purchase {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
  }
  
  caption.sc_prod_cross_sell {
    font-weight: bold;
    text-align: left;
    margin-left: 5pt;
    color: #[-- VAR.sc_text_color --];
    background-color: #[-- VAR.sc_background_color --];
  }

  td.sc_prod_cross_sell_td {
    border: 1px solid #[-- VAR.sc_col_border_color --];
  }

  table.sc_prod_cross_sell a {
    color: #[-- VAR.sc_link_color --];
  }
  
  table.sc_prod_cross_sell a:hover, table.sc_prod_cross_sell a:active {
    color: #[-- VAR.sc_active_link_color --];
  }
  
  /* Generic Cross Sell Stuff */
  td.sc_global_cross_sell img, td.sc_prod_cross_sell img {
    border: 0px none;
  }
  
  td.gcs_product_image, td.pcs_product_image {
    text-align: center;
  }
  img.gcs_product_graphic, img.pcs_product_graphic {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.gcs_product_name, td.pcs_product_name {
    text-align: center;
    font-weight: bold;
    color: #[-- VAR.sc_banner_bg_color --];
  }
  
  td.gcs_product_price, td.pcs_product_price {
    text-align: center;
    font-weight: bold;
  }
  
  td.gcs_product_add_to_cart, td.pcs_product_add_to_cart {
    text-align: center;
  }
  
  a.gcs_addtocart_button, a.pcs_addtocart_button {
  }
  
  img.gcs_addtocart_button, img.pcs_addtocart_button {
    border: 0px none;
  }

/* Security Image */
  td.sc_secure_image {
    text-align: center;
  }
  
  te.sc_secure_image table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  