/* Links */
  /* Regular Page Links */
  /* Note: Links and Extras tables use different styles */
  a {
    color: #[-- VAR.cr_link_color --];
  }
  
  a:active, a:hover {
    color: #[-- VAR.cr_active_link_color --];
  }
  
  a:visited {
    color: #[-- VAR.cr_visited_link_color --];
  }

/* Forms */
  /* Generic Form Elements */
  input {
    border: none;
    background-color: transparent;
    color: #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
  /* Note: Current IE versions don't support the type= modifier */
  input[type=text], input[type=password] {
    background-color: #[-- VAR.cr_background_color --];
    color: #[-- VAR.cr_text_color --];
    border: 1px solid #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  input[type=image], input[type=button], input[type=submit], input[type=reset] {
    background-color: transparent;
    border: 0px none;
    cursor: pointer;
  }
  
  input[type=radio], input[type=checkbox] {
    background-color: transparent;
    border: 0px none;
  }
  
  textarea {
    background-color: #[-- VAR.cr_background_color --];
    color: #[-- VAR.cr_text_color --];
    border: 1px solid #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  select {
    background-color: #[-- VAR.cr_background_color --];
    color: #[-- VAR.cr_text_color --];
    border: 1px solid #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  option {
  }
  
  /* Screen Form Elements */
  /* Text */
  input.email_pw {
    background-color: #[-- VAR.cr_background_color --];
    color: #[-- VAR.cr_text_color --];
    border: 1px solid #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  input.addr {
    background-color: #[-- VAR.cr_background_color --];
    color: #[-- VAR.cr_text_color --];
    border: 1px solid #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  input.addr {
    background-color: #[-- VAR.cr_background_color --];
    color: #[-- VAR.cr_text_color --];
    border: 1px solid #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  input.email_pw {
    background-color: #[-- VAR.cr_background_color --];
    color: #[-- VAR.cr_text_color --];
    border: 1px solid #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  input.challenge_select {
    background-color: #[-- VAR.cr_background_color --];
    color: #[-- VAR.cr_text_color --];
    border: 1px solid #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  input.payment {
    background-color: #[-- VAR.cr_background_color --];
    color: #[-- VAR.cr_text_color --];
    border: 1px solid #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }

  /* Password */
  input.pw {
    background-color: #[-- VAR.cr_background_color --];
    color: #[-- VAR.cr_text_color --];
    border: 1px solid #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  /* Select */
  select.challenge {
    background-color: #[-- VAR.cr_background_color --];
    color: #[-- VAR.cr_text_color --];
    border: 1px solid #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  select.payment_accounts {
    background-color: #[-- VAR.cr_background_color --];
    color: #[-- VAR.cr_text_color --];
    border: 1px solid #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  select.payment {
    background-color: #[-- VAR.cr_background_color --];
    color: #[-- VAR.cr_text_color --];
    border: 1px solid #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  select.addr {
    background-color: #[-- VAR.cr_background_color --];
    color: #[-- VAR.cr_text_color --];
    border: 1px solid #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  /* Radio Button */
  input.save_payment {
    background-color: transparent;
    border: 0px none;
  }
  
  input.email_type {
    background-color: transparent;
    border: 0px none;
  }

  /* Buttons */
  /* Sign In Button */
  input.button166 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
  /* No Button */
  input.button186 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
  /* Yes Button */
  input.button185 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
  /* Cancel Button */
  input.button165 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
  /* Save Button */
  input.button164 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }

  /* Orders Button */
  input.button168 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
  /* Shipping Button */
  input.button170 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
  /* Payment Button */
  input.button171 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
  /* Preferences Button */
  input.button169 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
  /* Password Button */
  input.button172 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
  /* Change Password Button */
  input.button183 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
  /* Change Challenge Button */
  input.button184 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
  /* Delete Button */
  input.button188 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
  /* Edit Button */
  input.button187 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
  /* Done Button */
  input.button173 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.cr_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
  
/* Images */
  /* Generic Images */
  img {
    border: 0px none;
  }

/* Global Generic Styles */
  body {
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    margin: 0px;
    background-color: #[-- VAR.cr_background_color --];
    background-image: url([-- VAR.cr_background_image --]);
    color: #[-- VAR.cr_text_color --];
  }
  
  table {
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    vertical-align: top;
    text-align: left;
  }
  
  th {
    text-align: center;
  }
  
  td {
    text-align: left;
  }
  
/* General Layout Styles */
  table.page {
    color: #[-- VAR.cr_text_color --];
    background-color: #[-- VAR.cr_background_color --];
    background-image: url([-- VAR.cr_background_image --]);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Page Header */
  td.cr_header {
    border: [-- VAR.cr_col_border --] #[-- VAR.cr_col_border_color --];
    background-color: #[-- VAR.cr_banner_bg_color --];
    color: #[-- VAR.cr_banner_text_color --];
  }
  
  td.cr_links {
    vertical-align: top;
    width: 150px;
    min-width: 150px;
  }
  
  /* Link Menu */
  table.cr_links {
    width: 100%;
    color: #[-- VAR.cr_banner_text_color --];
    border: [-- VAR.cr_col_border --] #[-- VAR.cr_col_border_color --];
    background-color: #[-- VAR.cr_banner_bg_color --];
  }
  
  td.cr_menu_button {
  }
    
  td.cr_info {
    text-align: middle;
  }
  
  /* Page Content Area */
  td.cr_content {
    text-align: middle;
  }
  
  /* Page Footer */
  td.cr_footer {
  }
  
  /* Global Content Stuff */
  td.cr_title {
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
  }
  
  table.cr_content {
    width: 100%;
  }
  
  td.cr_messages {
    text-align: center;
  }
  
  table.ups_error {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
  }
  
  td.ups_error {
    text-align: center;
    font-weight: bold;
  }
  
  
  td.cr_buttons {
    text-align: center;
  }
  
  table.cr_buttons {
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.cr_button {
    text-align: center;
  }
  
  /* Sign In Screen */
  td.cr_instructions {
    text-align: center;
  }
  
  td.cr_sign_in_form {
    text-align: center;
  }
  
  table.email_pw {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.email_pw {
    text-align: left;
  }
  
  td.email_pw_select {
    text-align: left;
  }
  
  td.email_pw_note {
    text-align: left;
  }
  
  
  /* Sign Out Screen */
  td.cr_sign_out_text {
    text-align: center;
  }
  
  
  /* New Registration */
  td.cr_name {
    text-align: center;
  }
  
  table.addr_name {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.addr_name {
    text-align: center;
  }
  
  td.addr_lab {
    text-align: left;
  }
  
  td.addr_name_val {
    text-align: left;
  }
  
  td.cr_reg_form {
    text-align: center;
  }
  
  td.cr_challenge_form {
    text-align: center;
  }
  
  table.challenge {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.challenge_instructions {
    text-align: center;
  }
  
  td.challenge {
    text-align: left;
  }
  
  td.challenge_select {
    text-align: left;
  }
  
  td.cr_save_pay {
    text-align: center;
  }
  
  table.save_payment {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.save_payment_text {
    text-align: center;
  }
  
  td.save_payment_select {
    text-align: left;
  }
  
  td.save_payment {
    text-align: left;
  }
  
  td.cr_email_type {
    text-align: center;
  }
  
  table.email_type {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.email_type_text {
    text-align: center;
  }
  
  td.email_type_select {
    text-align: left;
  }
  
  td.email_type {
    text-align: left;
  }
  
  
  /* Account Info */
  td.cr_reward {
    text-align: center;
  }
  
  table.program_reward_hdr {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  th.program_reward_hdr {
    background-color: #[-- VAR.cr_banner_bg_color --];
    color: #[-- VAR.cr_banner_text_color --];
    font-size: 12pt;
  }
  
  table.program_reward {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }
  
  th.program_reward {
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #[-- VAR.cr_col_border_color --];
    border-right: 1px solid #[-- VAR.cr_col_border_color --];
    border-top: 1px solid #[-- VAR.cr_col_border_color --];
  }
  
  td.program_reward {
    text-align: center;
    border-left: 1px solid #[-- VAR.cr_col_border_color --];
    border-right: 1px solid #[-- VAR.cr_col_border_color --];
    border-bottom: 1px solid #[-- VAR.cr_col_border_color --];
  }
  
  td.program_reward_qnty {
    text-align: center;
    border-left: 1px solid #[-- VAR.cr_col_border_color --];
    border-right: 1px solid #[-- VAR.cr_col_border_color --];
    border-bottom: 1px solid #[-- VAR.cr_col_border_color --];
  }
  
  td.program_reward_purchased {
    text-align: center;
    border-left: 1px solid #[-- VAR.cr_col_border_color --];
    border-right: 1px solid #[-- VAR.cr_col_border_color --];
    border-bottom: 1px solid #[-- VAR.cr_col_border_color --];
  }
  
  td.program_reward_hdr {
    text-align: right;
  }
  
  td.cr_view_text {
    text-align: center;
  }
  
  td.cr_view_buttons {
    text-align: center;
  }
  
  table.cr_view_buttons {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
  }
  
  td.cr_view_button {
    padding: 10px;
  }
  
  
  /* Preferences */
  td.cr_email_form {
    text-align: center;
  }
  
  td.cr_email_text {
    text-align: center;
  }
  
  td.cr_name_form {
    text-align: center;
  }
  

  /* Edit Password */
  td.cr_edit_pass {
    text-align: center;
  }
  
  table.pw {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.pw {
    text-align: left;
  }
  
  td.cr_chal_text {
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
  }
  
  td.cr_change_chal_text {
    text-align: center;
  }
  

  /* Edit Challenge */
  td.cr_edit_chal_text {
    text-align: center;
  }
  
  td.cr_edit_chal {
    text-align: center;
  }
  
  table.challenge {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.challenge_select {
    text-align: left;
  }
  
  
  /* Forgot Password */
  td.cr_req_pass {
    text-align: center;
  }
  
  /* Password Email Sent */
  td.cr_sent_email {
    text-align: center;
  }
  
  
  /* Challenge Answer */
  td.cr_reset_text {
    text-align: center;
  }
  
  td.cr_chal_quest {
    text-align: center;
  }
  
  
  /* Challenge Set Password */
  td.cr_enter_pass_text {
    text-align: center;
  }
  
  td.cr_pass_form {
    text-align: center;
  }
  
  
  /* Payment Info */
  td.cr_pay_text {
    text-align: center;
  }
  
  td.cr_pay_list {
    text-align: center;
  }
  
  td.cr_pay_note {
    text-align: center;
  }
  
  
  /* Edit Payment */
  td.cr_display_name {
    text-align: center;
  }
  
  table.cr_display_name {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.cr_display_name_text {
    text-align: left;
    font-weight: bold;
  }
  
  td.cr_display_name_content {
    text-align: left;
  }
  
  td.cr_edit_pay_text {
    text-align: center;
  }
  
  td.cr_edit_pay_info_text {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    padding-top: 10px;
  }
  
  td.cr_edit_pay_info {
    text-align: center;
  }
  
  table.payment {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.payment_hdr {
    background-color: #[-- VAR.cr_banner_bg_color --];
    color: #[-- VAR.cr_banner_text_color --];
    font-weight: bold;
    text-align: center;
  }
  
  td.payment {
    text-align: left;
  }
  
  td.payment_value {
    text-align: left;
  }
  
  td.cr_edit_bill_info_text {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    padding-top: 10px;
  }
  
  td.cr_edit_bill_info {
    text-align: center;
  }
  
  table.addr {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.ship_addr_hdr, td.bill_addr_hdr {
    background-color: #[-- VAR.cr_banner_bg_color --];
    color: #[-- VAR.cr_banner_text_color --];
    font-weight: bold;
    text-align: center;
  }
  
  td.addr {
    text-align: left;
  }
  
  td.addr_val {
    text-align: left;
  }
  
  
  /* Delete Payment */
  td.cr_del_pay_text {
    text-align: center;
  }
  
  td.cr_del_pay {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
  }
  
  td.cr_del_pay_note {
    text-align: center;
  }
  
  
  /* Shipping Info */
  td.cr_ship_text {
    text-align: center;
  }
  
  td.cr_ship_list {
    text-align: center;
  }
  
  td.cr_ship_note {
    text-align: center;
  }
  
  
  /* Edit Shipping */
  td.cr_ship_name {
    text-align: center;
  }
  
  table.cr_ship_name {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.cr_ship_name_text {
    text-align: left;
    font-weight: bold;
  }
  
  td.cr_ship_name_content {
    text-align: left;
  }
  
  td.cr_edit_ship_text {
    text-align: center;
  }
  
  td.cr_ship_addr_text {
    text-align: center;
  }
  
  td.cr_ship_addr {
    text-align: center;
  }
  
  
  /* Delete Shipping */
  td.cr_del_ship_text {
    text-align: center;
  }
  
  td.cr_del_ship {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
  }
  
  td.cr_del_ship_note {
    text-align: center;
  }
  
  
  /* Order Info */
  td.cr_order_text {
    text-align: center;
  }
  
  td.cr_order_list {
    text-align: center;
  }
  
  td.cr_order_note {
    text-align: center;
  }
  
  
  /* View Order */
  td.cr_order_num {
    text-align: center;
  }
  
  table.cr_order_num {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.cr_order_num_text {
    text-align: left;
    font-weight: bold;
  }
  
  td.cr_order_num_content {
    text-align: left;
  }
  
  td.cr_order_date {
    text-align: center;
    font-weight: bold;
  }
  
  td.cr_cart {
    text-align: center;
  }
  
  table.cart {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-bottom: 5px solid #[-- VAR.cr_banner_bg_color --];

  }
  
  th.cart_quantity {
    background-color: #[-- VAR.cr_banner_bg_color --];
    color: #[-- VAR.cr_banner_text_color --];
  }
  
  th.cart_name {
    background-color: #[-- VAR.cr_banner_bg_color --];
    color: #[-- VAR.cr_banner_text_color --];
  }
  
  th.cart_sku {
    background-color: #[-- VAR.cr_banner_bg_color --];
    color: #[-- VAR.cr_banner_text_color --];
  }
  
  th.cart_price {
    background-color: #[-- VAR.cr_banner_bg_color --];
    color: #[-- VAR.cr_banner_text_color --];
  }
  
  th.cart_total {
    background-color: #[-- VAR.cr_banner_bg_color --];
    color: #[-- VAR.cr_banner_text_color --];
  }
  
  td.cart_quantity {
    border-top: 1px solid #[-- VAR.cr_banner_bg_color --];
    vertical-align: top;
  }
  
  td.cart_name {
    border-top: 1px solid #[-- VAR.cr_banner_bg_color --];
    vertical-align: top;
  }
  
  td.car_sku {
    border-top: 1px solid #[-- VAR.cr_banner_bg_color --];
    vertical-align: top;
  }
  
  td.cart_price {
    border-top: 1px solid #[-- VAR.cr_banner_bg_color --];
    vertical-align: top;
  }
  
  td.cart_total {
    border-top: 1px solid #[-- VAR.cr_banner_bg_color --];
    vertical-align: top;
  }
  
  td.cr_order_instruct {
    text-align: center;
  }
  
  td.cr_comments {
    text-align: center;
  }
  
  td.cr_totals {
    text-align: center;
    padding-bottom: 10px;
  }
  
  table.totals {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.totals_txt, td.totals_all_txt, td.totals_saved_txt {
    background-color: #[-- VAR.cr_banner_bg_color --];
    color: #[-- VAR.cr_banner_text_color --];
    font-weight: bold;
    text-align: center;
  }
  
  td.total, td.totals_all, td.totals_saved {
    text-align: left;
  }
  
  td.cr_bill_addr {
    text-align: center;
  }
  
  td.cr_ship_addr {
    text-align: center;
  }
  
  td.cr_pay_info {
    padding-top: 10px;
    text-align: center;
  }
  
  
  /* Delete Order */
  td.cr_del_order_text {
    text-align: center;
  }
  
  td.cr_del_order {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
  }
  
  table.order_del {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
  }
  
  td.cr_del_order_note {
    text-align: center;
  }
  
  
  /* Not Registered Email */
  td.cr_not_reg_text {
    text-align: center;
  }
  
  td.cr_store_link {
    text-align: center;
  }
  
  
  /* Forgot Password Email */
  td.cr_link_text {
    text-align: center;
  }
  
  td.cr_link {
    text-align: center;
  }
  
  
  /* Account Changed Email */
  td.cr_account_change {
    text-align: center;
  }
  
  table.cr_account_change {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.cr_account_change_text {
    text-align: left;
  }
  
  td.cr_store_name {
    text-align: center;
  }
  
  
  /* Address Changed Email */
  td.cr_addr_change_text {
    text-align: center;
  }
  
  td.cr_new_addr {
    text-align: center;
  }
  
  table.cr_new_addr {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.cr_new_addr_text {
    text-align: left;
  }
  
  td.cr_new_addr_content {
    text-align: left;
  }
  

