/* Links */
  /* Regular Page Links */
  /* Note: Links and Extras tables use different styles */
  a {
    color: #[-- VAR.gc_link_color --];
  }
  
  a:active, a:hover {
    color: #[-- VAR.gc_active_link_color --];
  }
  
  a:visited {
    color: #[-- VAR.gc_visited_link_color --];
  }
  
  /* Link Menu Links */
  a.link_name {
    color: #[-- VAR.gc_banner_text_color --];
    font-weight: bold;
    font-size: 12pt;
  }
  
  a.link_name:active, a.link_name:hover {
    color: #[-- VAR.gc_active_link_color --];
  }
  
  a.link_name:visited {
    color: #[-- VAR.gc_banner_text_color --];
  }
  
  /* View Cart Link (text only) */
  a.pa_view_cart {
    font-weight: bold;
    text-decoration: none;
    color: #[-- VAR.gc_banner_text_color --];
  }

  a.pa_view_cart:active, a.pa_view_cart:hover {
    color: #[-- VAR.gc_active_link_color --];
  }
  
  a.pa_view_cart:visited {
    color: #[-- VAR.gc_banner_text_color --];
  }
  
  /* Extras Links */
  a.reglink, a.MiniCart {
    white-space: nowrap;
    color: #[-- VAR.gc_banner_text_color --];
  }

  a.reglink:active, a.MiniCart:active {
    color: #[-- VAR.gc_active_link_color --];
  }
  
  a.reglink:hover, a.MiniCart:hover {
    color: #[-- VAR.gc_active_link_color --];
  }
  
  a.reglink:visited, a.MiniCart:visited {
    color: #[-- VAR.gc_banner_text_color --];
  }

/* Forms */
  /* Generic Form Elements */
  input {
    border: 1px solid #[-- VAR.gc_link_color --];
    background-color: #[-- VAR.gc_background_color --];
    color: #[-- VAR.gc_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  
  /* Note: Current IE versions don't support the type= modifier */
  input[type=text], input[type=password] {
    background-color: #[-- VAR.gc_background_color --];
    color: #[-- VAR.gc_text_color --];
    border: 1px solid #[-- VAR.gc_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  input[type=image], input[type=button], input[type=submit], input[type=reset] {
    background-color: transparent;
    border: 0px none;
    cursor: pointer;
  }
  
  input[type=radio], input[type=checkbox] {
    background-color: transparent;
    border: 0px none;
  }
  
  textarea {
    background-color: #[-- VAR.gc_background_color --];
    color: #[-- VAR.gc_text_color --];
    border: 1px solid #[-- VAR.gc_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  select {
    background-color: #[-- VAR.gc_background_color --];
    color: #[-- VAR.gc_text_color --];
    border: 1px solid #[-- VAR.gc_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
  }
  
  option {
  }

  /* Content Form Elements */  
  input.cert_num_amount {
  }
  
  input.button331 {
    border: none;
    background-color: transparent;
    color: #[-- VAR.gc_link_color --];
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }

/* Images */
  /* Generic Images */
  img {
    border: 0px none;
  }

  /* MiniCart */
  img.MiniCart {
  }
  
  /* View Cart Button */  
  img.pa_view_cart {
    border: 0px none;
  }

/* Global Generic Styles */
  body {
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    margin: 0px;
    background-color: #[-- VAR.gc_background_color --];
    background-image: url([-- VAR.gc_background_image --]);
    color: #[-- VAR.gc_text_color --];
    
  }

  table {
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    vertical-align: top;
    text-align: left;
  }
  
  th {
    text-align: center;
  }
  
  td {
    text-align: left;
  }  

/* General Layout Styles */
  table.page {
    color: #[-- VAR.gc_text_color --];
    background-color: #[-- VAR.gc_background_color --];
    background-image: url([-- VAR.gc_background_image --]);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

/* Page Layout Styles */
  td.pa_header {
    border: [-- VAR.gc_col_border --] #[-- VAR.gc_col_border_color --];
    background-color: #[-- VAR.gc_banner_bg_color --];
    color: #[-- VAR.gc_banner_text_color --];
  }

  td.pa_footer {
  }

  td.pa_content {
  }

  /* Content Section */
  table.pa_content {
    width: 100%;
  }

  td.pa_links {
    vertical-align: top;
    width: 150px;
    min-width: 150px;
  }

  td.pa_info {
    vertical-align: top;
  }

  td.pa_extras {
    vertical-align: top;
    width: 150px;
    min-width: 150px;
  }

  /* Link Menu */
  table.pa_links {
    color: #[-- VAR.gc_banner_text_color --];
    border: [-- VAR.gc_col_border --] #[-- VAR.gc_col_border_color --];
    background-color: #[-- VAR.gc_banner_bg_color --];
    width: 100%;
  }

  td.pa_link {
  }
  
  /* Gift Cert Order Form */
  table.pa_info {
    width: 100%;
  }

  td.pa_name {
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
  }

  td.pa_products {
  }

  table.pa_products {
    width: 100%;
    border: [-- VAR.gc_col_border --] #[-- VAR.gc_col_border_color --];
  }

  td.gc_messages {
    text-align: center;
  }
  
  td.gc_instructions {
  }
  
  td.gc_recipient_form {
    padding-bottom: 10px;
  }
  
  td.gc_policy {
  }
  
  td.gc_content_form {
  }
  
  td.gc_buycert_button {
    text-align: center;
  }
  
  /* Extras Menu */
  table.pa_extras {
    color: #[-- VAR.gc_banner_text_color --];
    border: [-- VAR.gc_col_border --] #[-- VAR.gc_col_border_color --];
    background-color: #[-- VAR.gc_banner_bg_color --];
    width: 100%;
  }

  td.pa_reglink {
  }

  td.pa_minicart {
  }
  
  td.pa_view_cart {
  }

/* Gift Certificates Layout */
  td.gc_header {
    color: #[-- VAR.gc_banner_text_color --];
    border: [-- VAR.gc_col_border --] #[-- VAR.gc_col_border_color --];
    background-color: #[-- VAR.gc_banner_bg_color --];
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
  }
  
  td.gc_title {
    font-weight: bold;
  }

  td.gc_to_from {
    padding-left: 20px;
  }
  
  table.gc_to_from {
    margin-left: 0px;
    margin-right: auto;
  }
  
  td.gc_to_text {
    font-weight: bold;
  }
  
  td.gc_to_data {
  }
  
  td.gc_from_text {
    font-weight: bold;
  }
  
  td.gc_from_data {
  }
  
  td.gc_amount_text {
    font-weight: bold;
  }
  
  td.gc_amount_data {
  }
  
  td.gc_message_text {
    padding-top: 10px;
    font-weight: bold;
  }
  
  td.gc_message_data {
    padding-left: 20px;
  }
  
  td.gc_redeem_text {
    padding-top: 20px;
    font-weight: bold;
  }
  
  td.gc_redeem_url {
    padding-left: 20px;
  }
  
  td.gc_checkout_text {
    padding-top: 20px;
    font-weight: bold;
  }
  
  td.gc_redeem_info {
    padding-left: 20px;
  }
  
  table.gc_redeem_info {
    margin-left: 0px;
    margin-right: auto;
  }
  
  td.gc_number_text {
    font-weight: bold;
  }
  
  td.gc_number_data {
  }
  
  td.gc_pin_text {
    font-weight: bold;
  }
  
  td.gc_pin_data {
  }
  
  td.gc_expire_text {
    font-weight: bold;
  }
  
  td.gc_expire_data {
  }
  
/* Content Styles */
  /* ShopSite Messages */
  table.cert_err {
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
  }
  
  td.cert_err {
    font-weight: bold;
    color: #[-- VAR.gc_banner_text_color --];
    border: [-- VAR.gc_col_border --] #[-- VAR.gc_col_border_color --];
    background-color: #[-- VAR.gc_banner_bg_color --];
  }
  
  /* Type Form */
  table.giftcert_type {
    margin-left: 0px;
    margin-right: auto;
  }
  
  td.giftcert_type {
  }
  
  td.gc_value_form {
    padding-bottom: 10px;
  }
  
  /* Quantity Form */
  table.cert_num_amount {
    margin-left: 0px;
    margin-right: auto;
  }
  
  td.cert_num_amount {
  }
  
  /* Message Form */
  table.cert_to_from_msg {
    margin-left: 0px;
    margin-right: auto;
  }
  
  td.cert_to_from_msg {
  }
  
  td.cert_to_from_msg_val {
  }
  
/* Extras Styles */
  /* Customer Registration */
  span.regtext {
    white-space: nowrap;
  }
  
  /* MiniCart */
  div.MiniCart {
  }
  
  table.MiniCart {
    color: #[-- VAR.gc_banner_text_color --];
  }
  
  th.MiniCart {
  }
  
  td.MiniCartHead {
  }
  
  td.MiniCartQty {
  }
  
  td.MiniCartProduct {
  }
  
  td.MiniCartPrice {
  }
  
  td.MiniCartSubtotalText {
    font-weight: bold;
  }
  
  td.MiniCartSubtotal {
    font-weight: bold;
  }
  

