#CrossSell-Sky Customer Registration CSS
/* Customer Registration CSS */

  #content2 {
  text-align: left;
  }

  .cust_name {
  font-size: 1.5em;
  font-style: italic;
  font-weight: normal;
  }
  
  form.cr {
  padding: 0 15px;
  }

  th {
  text-align: left;
  }
  
  table.cart {
  width: 700px;
  }
  
  table.totals {
  margin-left: auto;
  margin-right: auto;
  }
  
  .totals_txt, .totals_all_txt, .totals, .totals_all  {
  text-align: left;
  padding-right: 1em;
  background-color: transparent;
  }
  
  .ups_error {
  background-color: #[-- STORE.SC_ShadeColor --];
}

/* rewards program */
table.program_reward_hdr{
  border: 1px solid #[-- STORE.SC_ShadeColor --];
  margin: 0 auto 1em auto;
  }

th.program_reward_hdr {
  font-size: 1.4em;
  font-weight: normal;
  }

th.program_reward {
  font-weight: normal;
  padding-right: 3em;
  text-decoration: underline;
  }

table.program_reward td {
  text-align: center;
  padding-right: 3em;
  padding-top: .5em;
  }
  
/* preferences page alignments */ 
td.email_type, td.save_payment {
  width: 100%;
  vertical-align: bottom;
  }
  
  
  #pageName {
  text-align: center;
  }