#/* --------------------------------------------------- */#
#/* Style Sheet                                         */#
#/* filename: elite_001_pr_styles.css                   */#
#/* TEMPLATE: Product                                   */#
#/* THEME: Elite 001                                    */#
#/* CORE: Core 001                                      */#
#/* copyright 2005 ShopSite inc. Design by Stunk        */#
#/* --------------------------------------------------- */#

[-- IF VAR.define "moreinfo" --]
body {
  margin: 0px;
  color: #[-- VAR.pr_text_color --];
  background-image: url([-- VAR.pr_background_image --]);
  background-position: center;
  background-repeat: repeat;
  background-color: #[-- VAR.pr_background_color --];
  font-family: [-- VAR.pr_font --];
  font-size: [-- VAR.pr_font_size --];
}

/* Tables to make IE happy */
table {
  margin: 0px;
  color: #[-- VAR.pr_text_color --];
  background-color: #[-- VAR.pr_background_color --];
  font-family: [-- VAR.pr_font --];
  font-size: [-- VAR.pr_font_size --];
  border-collapse: collapse;
  border-spacing: 0px;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  background-color: transparent;
}

/* Anchor Tags */
a {
  font-family: [-- VAR.pr_font --];
  font-size: [-- VAR.pr_font_size --];
  text-decoration: underline;
}

a:link {
  color: #[-- VAR.pr_link_color --];
}

a:active {
  color: #[-- VAR.pr_active_link_color --];
}

a:hover {
  color: #[-- VAR.pr_hover_link_color --];
}

a:visited {
  color: #[-- VAR.pr_visited_link_color --];
}

/* Forms Stuff */
input {
  color: #[-- VAR.pr_text_color --];
  font-family: [-- VAR.pr_font --];
  font-size: [-- VAR.pr_small_font --];
  vertical-align: middle;
}

input[type=text], input[type=password], input[type=button], input[type=select], input[type=reset], textbox, select {
  background-color: #[-- VAR.pr_form_background_color --];
}

input[type=image], input[type=radio], input[type=checkbox] {
  background-color: transparent;
}

select {
  color: #[-- VAR.pr_text_color --];
  background-color: #[-- VAR.pr_form_background_color --];
  font-family: [-- VAR.pr_font --];
  font-size: [-- VAR.pr_small_font --];
}

textarea {
  color: #[-- VAR.pr_text_color --];
  background-color: #[-- VAR.pr_form_background_color --];
  font-family: [-- VAR.pr_font --];
  font-size: [-- VAR.pr_small_font --];
}

#/* Moreinfopage Stuff */#
table.content {
  width: 100%;
  background: transparent;
}

td.pr_header {
}

td.pr_links {
  vertical-align: top;
  text-align: left;
  width: 200px;
  min-width: 200px;
}

td.pr_top_links {
  vertical-align: top;
  text-align: left;
  width: 100%;
}

table.pr_links {
  width: 100%;
  height: 100%;
  vertical-align: top;
  text-align: left;
  background: transparent;
  border-collapse: separate;
  border-spacing: 5px;
}

td.pr_link_content {
  border: [-- VAR.pr_table_border --] #[-- VAR.pr_table_border_color --];
  vertical-align: top;
  text-align: left;
  background-color: #[-- VAR.pr_background_color --];
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 5px;
  margin-bottom:5px;
  border-collapse: separate;
  border-spacing: 5px;
  width: [-- VAR.link_width --];
}

a.link_name {
  font-weight: bold;
  text-decoration: none;
}

td.pr_giftcert {
  border: [-- VAR.pr_table_border --] #[-- VAR.pr_table_border_color --];
  vertical-align: top;
  text-align: left;
  background-color: #[-- VAR.pr_background_color --];
  padding-top: 3px;
  padding-bottom:3px;
  margin-top: 5px;
  margin-bottom:5px;
  border-collapse: separate;
  border-spacing: 5px;
  width: [-- VAR.link_width --];
}

a.giftcertlink {
  font-weight: bold;
  text-decoration: none;
}

td.pr_tellfriend {
  border: [-- VAR.pr_table_border --] #[-- VAR.pr_table_border_color --];
  vertical-align: top;
  text-align: left;
  background-color: #[-- VAR.pr_background_color --];
  padding-top: 3px;
  padding-bottom:3px;
  margin-top: 5px;
  margin-bottom:5px;
  border-collapse: separate;
  border-spacing: 5px;
  width: [-- VAR.link_width --];
}

a.tf_page_link {
  font-weight: bold;
  text-decoration: none;
}

a.tf_popup {
  font-weight: bold;
  text-decoration: none;
}

td.pr_regsignin {
  border: [-- VAR.pr_table_border --] #[-- VAR.pr_table_border_color --];
  width: 25%;
  vertical-align: top;
  text-align: left;
  background-color: #[-- VAR.pr_background_color --];
  padding-top: 3px;
  padding-bottom:3px;
  margin-top: 5px;
  margin-bottom:5px;
  border-collapse: separate;
  border-spacing: 5px;
  font-weight: bold;
  text-decoration: none;
  width: [-- VAR.link_width --];
}

span.reglink {
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}

a.reglink {
  font-weight: bold;
  text-decoration: none;
}

td.pr_minicart_spacer {
  min-height: 20px;
  height: 20px;
}

td.pr_minicart {
  border: [-- VAR.pr_table_border --] #[-- VAR.pr_table_border_color --];
  vertical-align: top;
  text-align: left;
  background-color: #[-- VAR.pr_background_color --];
  padding-top: 3px;
  padding-bottom:3px;
  margin-top: 5px;
  margin-bottom:5px;
  border-collapse: separate;
  border-spacing: 5px;
  font-weight: bold;
  width: [-- VAR.link_width --];
}

a.MiniCart {
  font-weight: bold;
  text-decoration: none;
}

td.pr_empty {
  width: [-- VAR.link_width --];
}

td.pr_content {
  vertical-align: top;
  text-align: left;
}

table.pr_content {
  width: 100%;
  vertical-align: top;
  text-align: left;
  background: transparent;
}

td.pr_search_form {
  vertical-align: middle;
  padding-top: 0px;
  padding-bottom: 0px;
}

td.pr_product {
  border: [-- VAR.pr_table_border --] #[-- VAR.pr_table_border_color --];
  vertical-align: top;
  text-align: left;
  background-color: #[-- VAR.pr_background_color --];
}

table.pr_product {
  width: 100%;
  vertical-align: top;
  text-align: left;
}

td.pr_image {
  vertical-align: top;
  text-align: center;
}

img.pr_image {
}

td.pr_data {
  vertical-align: top;
  text-align: left;
  width: 70%;
}

span.pr_name {
  [-- VAR.pr_name_size --]
  [-- VAR.pr_name_styles --]
}

span.pr_sku {
  [-- VAR.pr_sku_size --]
  [-- VAR.pr_sku_styles --]
}

span.pr_desc {
  [-- VAR.pr_description_size --]
  [-- VAR.pr_description_styles --]
}

td.pr_price {
  vertical-align: top;
  text-align: left;
}

span.pr_price {
  [-- VAR.pr_price_size --]
  [-- VAR.pr_price_styles --]
}

span.pr_price_sale {
  [-- VAR.pr_price_size --]
  [-- VAR.pr_price_styles --]
  text-decoration: line-through;
}

span.pr_sale_price {
  [-- VAR.pr_price_size --]
  [-- VAR.pr_price_styles --]
  font-weight: bold;
  color: #[-- VAR.pr_sale_price_color --];
}

span.pr_alt_price {
  [-- VAR.pr_price_size --]
  [-- VAR.pr_price_styles --]
}

span.pr_alt_price_sale {
  [-- VAR.pr_price_size --]
  [-- VAR.pr_price_styles --]
  text-decoration: line-through;
}

span.pr_alt_sale_price {
  [-- VAR.pr_price_size --]
  [-- VAR.pr_price_styles --]
  color: #[-- VAR.pr_sale_price_color --];
}

span.pr_option_text {
}

span.pr_quantity {
}

input.pr_quantity {
}

a.pr_addtocart_button {
}

input.pr_addtocart_button {
  vertical-align: bottom;
  background-color: transparent;
  border: none;
}

img.pr_addtocart_button {
  vertical-align: bottom;
  border: none;
}

#a.pr_viewcart_button {
#}
#
#input.pr_viewcart_button {
#}
#
#img.pr_viewcart_button {
#}
#
table.pr_sub_loop {
  text-align: left;
  vertical-align: top;
  width: 95%
}

td.pr_sub_loop_data {
  border: [-- VAR.pr_table_border --] #[-- VAR.pr_table_border_color --];
  background-color: #[-- VAR.pr_table_special_color --];
  text-align: left;
  vertical-align: top;
}

table.pr_sub_table {
  vertical-align: top;
  text-align: left;
  width: 100%;
  background-color: #[-- VAR.pr_table_special_color --];
}

td.pr_sub_image {
  background-color: #[-- VAR.pr_table_special_color --];
  vertical-align: top;
  text-align: center;
}

td.pr_sub_data {
  background-color: #[-- VAR.pr_table_special_color --];
  vertical-align: top;
  text-align: left;
  width: 90%;
}

table.pr_sub_data {
  background-color: #[-- VAR.pr_table_special_color --];
  vertical-align: top;
  text-align: left;
  width: 100%;
}

td.pr_sub_name {
  background-color: #[-- VAR.pr_table_special_color --];
}

td.pr_sub_desc {
  background-color: #[-- VAR.pr_table_special_color --];
}
[-- END_IF --]

#/* Page Stuff */#
[-- IF VAR.define "page" --]
table.pr_table {
  vertical-align: top;
  text-align: left;
  width: 100%;
}

td.pr_image {
  vertical-align: top;
  text-align: center;
}

a.pr_image {
}

img.pr_image {
  border: none;
  text-align: center;
}

td.pr_data {
  vertical-align: top;
  text-align: left;
  width: 90%;
}

table.pr_data {
  vertical-align: top;
  text-align: left;
  width: 100%;
}

td.pr_name {
}

span.pr_name {
}

a.pr_name {
}

span.pr_sku {
}

a.pr_sku {
}

td.pr_desc {
}

span.pr_desc {
}

a.pr_desc {
  text-decoration: underline;
}

td.pr_price {
  text-align: left;
  vertical-align: top;
}

span.pr_price {
}

span.pr_price_sale {
  text-decoration: line-through;
}

span.pr_sale_price {
  color: #[-- VAR.pa_sale_price_color --];
}

span.pr_alt_price {
}

span.pr_alt_price_sale {
  text-decoration: line-through;
}

span.pr_alt_sale_price {
  color: #[-- VAR.pa_sale_price_color --];
}

span.pr_option_text {
}

span.pr_quantity {
}

input.pr_quantity {
}

a.pr_addtocart_button {
}

input.pr_addtocart_button {
}

img.pr_addtocart_button {
  border: none;
}

#a.pr_viewcart_button {
#}
#
#input.pr_viewcart_button {
#}
#
#img.pr_viewcart_button {
#}
#
table.pr_sub_loop {
  text-align: left;
  vertical-align: top;
  width: 95%
}

td.pr_sub_loop_data {
  border: [-- VAR.pa_col_border--] [-- VAR.pa_table_border_color --];
  background-color: #[-- VAR.pa_table_special_color --];
  text-align: left;
  vertical-align: top;
}

table.pr_sub_table {
  vertical-align: top;
  text-align: left;
  width: 100%;
  background-color: #[-- VAR.pa_table_special_color --];
}

td.pr_sub_image {
  background-color: #[-- VAR.pa_table_special_color --];
  vertical-align: top;
  text-align: center;
}

td.pr_sub_data {
  background-color: #[-- VAR.pa_table_special_color --];
  vertical-align: top;
  text-align: left;
  width: 90%;
}

table.pr_sub_data {
  background-color: #[-- VAR.pa_table_special_color --];
  vertical-align: top;
  text-align: left;
  width: 100%;
}

td.pr_sub_name {
  background-color: #[-- VAR.pa_table_special_color --];
}

td.pr_sub_desc {
  background-color: #[-- VAR.pa_table_special_color --];
}
[-- END_IF --]

td.pr_footer {
  text-align: center;
  font-size: 8pt;
}

