#/* --------------------------------------------------- */#
#/* Style Sheet                                         */#
#/* filename: elite_001_tf_styles.css                   */#
#/* TEMPLATE: Tell A Friend                             */#
#/* THEME: Elite 001                                    */#
#/* CORE: Core 001                                      */#
#/* copyright 2005 ShopSite inc. Design by Stunk        */#
#/* --------------------------------------------------- */#
body {
  margin: 0px;
  color: #[-- VAR.tf_text_color --];
  background-image: url([-- VAR.tf_background_image --]);
  background-position: center;
  background-repeat: repeat;
  background-color: #[-- VAR.tf_background_color --];
  font-family: [-- VAR.tf_font --];
  font-size: [-- VAR.tf_font_size --];
}

/* Tables to make IE happy */
table {
  margin: 0px;
  color: #[-- VAR.tf_text_color --];
  background-color: #[-- VAR.tf_background_color --];
  font-family: [-- VAR.tf_font --];
  font-size: [-- VAR.tf_font_size --];
  border-collapse: collapse;
  border-spacing: 0px;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  background-color: transparent;
}

/* Anchor Tags */
a {
  font-family: [-- VAR.tf_font --];
  font-size: [-- VAR.tf_font_size --];
  text-decoration: underline;
}

a:link {
  color: #[-- VAR.tf_link_color --];
}

a:active {
  color: #[-- VAR.tf_active_link_color --];
}

a:hover {
  color: #[-- VAR.tf_hover_link_color --];
}

a:visited {
  color: #[-- VAR.tf_visited_link_color --];
}

/* Forms Stuff */
input {
  color: #[-- VAR.tf_text_color --];
  font-family: [-- VAR.tf_font --];
  font-size: [-- VAR.tf_small_font --];
  vertical-align: middle;
}

input[type=text], input[type=password], input[type=button], input[type=select], input[type=reset], textbox, select {
# background-color: #[-- VAR.tf_form_background_color --];
}

input[type=image], input[type=radio], input[type=checkbox] {
  background-color: transparent;
}

select {
  color: #[-- VAR.tf_text_color --];
# background-color: #[-- VAR.tf_form_background_color --];
  font-family: [-- VAR.tf_font --];
  font-size: [-- VAR.tf_small_font --];
}

textarea {
  color: #[-- VAR.tf_text_color --];
# background-color: #[-- VAR.tf_form_background_color --];
  font-family: [-- VAR.tf_font --];
  font-size: [-- VAR.tf_small_font --];
}

[-- IF VAR.define "form" --]
table.content {
  background-image: url([-- VAR.tf_background_image --]);
  border-collapse: separate;
  border-spacing: 5px;
  margin: auto;
  vertical-align: top;
  text-align: center;
# border: [-- VAR.tf_table_border --] #[-- VAR.tf_table_border_color --];
  width: 95%;
  max-width: 95%;
}

td.tf_instructions {
  padding-left: 5px;
  padding-right: 5px;
}

td.tf_sendlink_text {
  width: 50%;
  text-align: right;
  font-weight: bold;
}

td.tf_sendlink_data {
  width: 50%;
  text-align: left;
}

a.tf_popup {
}

td.tf_yourname_text {
  text-align: right;
  font-weight: bold;
}

td.tf_yourname_form {
  text-align: left;
}

td.tf_youremail_text {
  text-align: right;
  font-weight: bold;
}

td.tf_youremail_form {
  text-align: left;
}

td.tf_email_instructions {
  text-align: left;
}

td.tf_friendemail_text {
  text-align: right;
  font-weight: bold;
}

td.tf_friendemail_form {
  text-align: left;
}

td.tf_message_select {
  text-align: left;
}

table.tf_sel {
}

th.tf_sel_hdr {
  background-image: url([-- VAR.tf_background_image --]);
}

td.tf_sel_radio {
  border: [-- VAR.tf_table_border --] #[-- VAR.tf_table_border_color --];
}

td.tf_sel_str {
  text-align: left;
  border: [-- VAR.tf_table_border --] #[-- VAR.tf_table_border_color --];
  padding: 3px;
}

td.tf_close_button {
  text-align: center;
}

td.tf_send_button {
  text-align: center;
}

[-- ELSE_IF VAR.define "confirm" --]
table.content {
  background-image: url([-- VAR.tf_background_image --]);
  border-collapse: separate;
  border-spacing: 5px;
  margin: auto;
  vertical-align: top;
  text-align: center;
# border: [-- VAR.tf_table_border --] #[-- VAR.tf_table_border_color --];
  width: 95%;
  max-width: 95%;
}

td.tf_error_title {
  font-size: [-- VAR.tf_large_font --];
  font-weight: bold;
}

td.tf_error_text {
}

td.tf_back_button {
  text-align: center;
}

td.tf_success_title {
  font-size: [-- VAR.tf_large_font --];
  font-weight: bold;
}

td.tf_email_tofrom {
}

table.tf_email_tofrom {
  border-collapse: collapse;
  border-spacing: 0px;
  vertical-align: top;
  text-align: left;
  margin-left: 10px;
  background-image: url([-- VAR.tf_background_image --]);
}

td.tf_from_text {
  text-align: right;
  font-weight: bold;
}

td.tf_from_data {
  text-align: left;
}

td.tf_to_text {
  text-align: right;
  font-weight: bold;
}

td.tf_to_data {
  text-align: left;
}

td.tf_email {
}

table.tf_email {
  border: [-- VAR.tf_table_border --] #[-- VAR.tf_table_border_color --];
  border-collapse: collapse;
  border-spacing: 0px;
  background-color: #[-- VAR.tf_table_special_color --];
  vertical-align: top;
  text-align: left;
  margin-left: 10px;
  width: 90%;
}

td.tf_message {
}

td.tf_click_text {
}

td.tf_link {
  text-indent: 30px;
}

td.tf_friend_text {
}

td.tf_friend_name {
  text-indent: 15px;
}

td.tf_close_button {
  text-align: center;
}

[-- ELSE_IF VAR.define "email" --]
table.content {
# background-image: url([-- VAR.tf_background_image --]);
}

td.tf_message {
}

td.tf_click_text {
}

td.tf_link {
  text-indent: 30px;
}

td.tf_friend_text {
}

td.tf_friend_name {
  text-indent: 15px;
}

[-- ELSE --]
/* You're doing something wrong.  You shouldn't see this */
[-- END_IF --]