/* gradient1 Search CSS Document */

  #content {
  text-align: center;
  }
  
  .searchResultForm {
  clear: both;
  margin: 1em 0em;
  }

  .searchResultForm table {
  margin-left: auto;
  margin-right: auto;
  }

  td.search_button {
  background: none;
  color: [-- VAR.link_color --];
  font-size: 1em;
  font-weight: bold;
  }

  input.search_button {
  color: [-- VAR.activelink_color --];
  background-color: [-- VAR.link_color --];
  text-decoration: none;
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
  } 

  table.search_table input {
  margin: 0 2px;
  }

  input.search_button:hover {
  text-decoration: none;
  }
  
  input.search_button_selected {
  color: [-- VAR.activelink_color --];
  background-color: [-- VAR.link_color --];
  text-decoration: none;
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
  }

  .productGraphic img { 
  margin: 0 10px 0 0;
  float: left;
  }
  
  /* Form Stuff */
  table.searchResultForm {
    background-color: [-- VAR.visitedlink_color --];
    color: [-- VAR.background_color --];
    width: 100%;
    text-align: center;
  }
  
  td.searchResultFormTop {
    text-align: center;
  }
  
  td.searchResultFormSort {
    text-align: left;
  }
  
  td.searchResultFormCount {
    text-align: center;
  }
  
  td.searchResultFormPrevNext {
    text-align: center;
  }
  
  td.searchResultFormPerPage {
    text-align: right;
  }
  
/*border to separate search results*/
[-- IF PAGE.DisplayColumnBorders --]
#do nothing
[-- ELSE --]
td.pa_product {
  border-bottom: 1px solid [-- VAR.visitedlink_color --];
  }
[-- END_IF --]  


  div.searchResultPage {
  margin-top: 10px;
  border-top: [-- VAR.border_width --]px dashed [-- VAR.activelink_color --];
  }

  div.searchResultPage div {
  margin: 5px;
  }

  div.searchResultLink {
  margin-bottom: 10px;
  }
  
  a.link_name {
  white-space: pre;
  line-height: 1.5em;
  }

  .checkout {
  margin-bottom: 0;
  }
