#gradient1 More Info CSS
/* More Info styles*/

/* more info background  */

html {
  background-color: #[-- VAR.mi_background_color --];
[-- IF MORE_INFO.BackgroundImage --]
  background-image: url("[-- MORE_INFO.BackgroundImage --]");
[-- ELSE --]
  background-image: none;
[-- END_IF --]
  background-repeat: repeat-x;
}

body {
  background-color: #[-- VAR.mi_background_color --];
}

a:link {
  color: #[-- VAR.mi_link_color --];
}

a:visited {
  color: #[-- VAR.mi_visited_link_color --];
}

a:hover {
  color: #[-- VAR.mi_visited_link_color --];
}


h1, h2, h3, h4, h5, label {
 color: #[-- VAR.mi_text_color --];
}

select {
color: #[-- VAR.mi_text_color --];
background-color: #[-- VAR.mi_background_color --];
}

/***********************************************/
/* Layout Divs                                 */
/***********************************************/

  #globalNav{
  color: #[-- VAR.mi_text_color --];
  background-color: #[-- VAR.mi_link_color --];
  }
  
  #globalNavLinks, #search {
  background-color: #[-- VAR.mi_link_color --];
  }
  
  #globalNav a {
  color: #[-- VAR.mi_active_link_color --];
  }

  #content {
  background-color: #[-- VAR.mi_background_color --];
  text-align: center;
  }
  
  td.adv_search_text, table.search_table a {
  color: #[-- VAR.mi_active_link_color --];
  }
  
  #footer{
  color: #[-- VAR.mi_text_color --];
  }
  
  #footerContents {
  } 

  .text2-empty {
  background-color: #[-- VAR.mi_background_color --];
  border-color: #[-- VAR.mi_background_color --] !important;
  }

  .mi-productSku {
  padding: 5px 10px;
  margin: 0;
  } 

  .onsale {
  color:  #[-- VAR.mi_link_color --];
  }

  .mi-text1 {
  padding: 5px 10px;
  font-size: 1em;
  }

  .mi-productBlock {
  margin: 0;
  padding: 0px;
  color: #[-- VAR.mi_text_color --];
  }

  .mi-productBlock h1, .mi-productBlock h2, .mi-productBlock h3, .mi-productBlock h4, .mi-productBlock h5 {
  color: #[-- VAR.mi_text_color --];
  }

  .mi-productInfowrap {
  padding: 0;
  }

  .mi-productName {
  white-space: wrap;
  color: #[-- VAR.mi_text_color --];
  font-weight: bold;
  text-align: right;
  margin: 1em 0;  
  }

  .mi-productGraphic {
  text-align: [-- VAR.ProductAlignment --];
  float: [-- VAR.ProductFloat --];
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: [-- VAR.ProductLMargin --];
  margin-right: [-- VAR.ProductRMargin --];
  }

  .mi-productGraphic img {
  border: none;
  padding: 0;
  margin: 0 20px;
  }

  .mi-productDescription {
  margin: 15px 0;
  }

  .mi-productPrice {
  color: #[-- VAR.mi_text_color --];
  text-align: right;
  margin: 1em 0;
  }

  .mi-checkout {
  text-align: right;
  line-height: 1.5em;
  float: right;
  }
  
  .mi-checkout table {
  margin-left: auto;
  margin-right:0;
  }

  .mi-checkout select {
  margin-bottom: 1em;
  }

  .mi-checkout input{
  vertical-align: middle;
  }
  
  .mi-subProductBlock {
  border-top: 1px dashed #[-- VAR.mi_active_link_color --];
  text-align: right;
  margin: 1em;
  }
  
  .mi-subProductBlock table{
  margin-right: 0;
  margin-left: auto;
  }
  
/******************/
/***  Mini Cart ***/
/******************/
  div.MiniCart {
  background-color: #[-- VAR.mi_active_link_color --];
  }

  td.MiniCartQty, td.MiniCartProduct, td.MiniCartPrice {
  border-bottom: 1px dotted #[-- VAR.mi_background_color --];
  }
