/******************/
/***  Mini Cart ***/
/******************/
div.MiniCart {
background-color: [-- VAR.ThisPageActiveColor --];
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: black;
}

div.MiniCart td {

}
img.MiniCart {
  vertical-align: middle;
}

table.MiniCart {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 7pt;
  width: 99%;
}

th.MiniCart {
  font-weight: bold;
  text-align: center;
}

td.MiniCart {
  font-size: 9pt;
  color: [-- VAR.ThisPageFontColor --];
}

td.MiniCartHead {
font-weight: bold;
  text-align: left;
}

td.MiniCartQty {
  text-align: center;
border-bottom: 1px dotted white;
}

td.MiniCartProduct {
text-align: left;
border-bottom: 1px dotted white;
}

td.MiniCartPrice {
  text-align: right;
border-bottom: 1px dotted white;
}

td.MiniCartSubtotalText {
  text-align: right;
}

td.MiniCartSubtotal {
  text-align: right;
}

a.MiniCart:link { 
  text-decoration: underline;
  color: [-- VAR.ThisPageFontColor --];
}
a.MiniCart:visited { 
  text-decoration: underline;
  color: [-- VAR.ThisPageFontColor --];
}
a.MiniCart:hover { 
  text-decoration: underline;
  color: [-- VAR.ThisPageFontColor --];
}
a.MiniCart:active { 
  text-decoration: underline;
  color: [-- VAR.ThisPageFontColor --];
}


