* {margin:0;padding:0}
p,h1,h2{margin:0 0 1em 0}
/* commented backslash hack v2 \*/ 
html, body{height:100%;} 
/* end hack */ 
body {
  background:#ffc0cb url(leftcolbg.jpg) repeat-y left top;
  color: #000000;
  min-width:700px;
}
#outer{
  min-height:100%;
  margin-left:130px;
  margin-right:130px;
  background:#F8E7EC url(images/pobsquare.gif) no-repeat center center;
  border-left:1px solid #000;
  border-right:1px solid #000;
  margin-bottom:-52px;
  color: #000000;
  z-index:1
}
 
h1#header{
  background:#FF0000 url(images/pob.gif) no-repeat center center;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
  color: #000000;
  text-align:center;
  position:absolute;
  top:0;
  left:0;
  padding-top:56px;
  z-index:99;
 width:100%;
  height:44px;
  overflow:hidden;
}
#clearheader{height:100px}
#header span {
  font-size: small;
  font-weight: bold;
  color: #FFFFFF;
  white-space:nowrap;
}

#left {
  position:relative;/*ie needs this to show float */
  width:130px;
  float:left;
  margin-left:-129px;/*must be 1px less than width otherwise won't push footer down */
  left:-2px;
  margin-right:-1px;
  z-index:2;
}
#right {
  position:relative;
  width:130px;
  float:right;
  margin-right:-129px;
  color: #000000;
  margin-left:-1px;
  left:2px;
  z-index:2
}
* html #left {padding-bottom:52px ;margin-right:-3px;}/*3px jog */
* html #right{margin-left:-3px;  left:4px;}
#left p, #right p{padding:0 2px 1em}

#footer {
  width:100%;
  clear:both;
  height:50px;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
  background-color: #FF8080;
  color: #000000;
  text-align:center;
  position:relative;
}
* html #footer {/*only ie gets this style*/
  \height:52px;/* for ie5 */
  he\ight:50px;/* for ie6 */
}
#clearfooter{clear:both;height:40px;}/*needed to make room for footer*/
* > html #clearfooter {float:left;width:100%;}/* ie mac styles */

* html #centrecontent {height:1%;}/* combat IE's 3 pixel jog */
html>body #minHeight{float:right;width:0px;height:100%;margin-bottom:-52px;} /*safari wrapper */
#left ul, #right ul {
  list-style:none;
}
#left li, #right li {
  background: url(images/pobnavdown.jpg) no-repeat center center;
  height: 25px;
  list-style-type: none;
}
#left a, #right a {
  height:25px;
  line-height:25px;
  display:block;
  text-align:center;
  text-decoration:none;
  border:1px solid #fff;    
  border-right:1px solid #333;
  border-bottom:1px solid #333;
}

#left a:hover, #right a:hover {
  background: url(images/pobnavup.jpg) no-repeat center center;
  color: #0099FF;
  border:1px solid #fff;
  border-top:1px solid #333;
  border-left :1px solid #333;
}
h2 {
  font-size: 140%;
  color: #FFFFFF;
  background: #FF0000 url(logobg.jpg) repeat left top;
  font-weight: bold;
  font-variant: small-caps;
}
#right img {margin-left:3px;}
.fl1, .fl2, .fl3,.fl4, .fl5, .fl6, .fl7, .fl8 {
  float:left;
  clear:left;
  height:18px;
  position:relative;
  z-index:10;
  overflow:hidden
}
.fl1 {width:150px;}
.fl2 {width:130px;}
.fl3 {width:120px;}
.fl4 {width:110px;}
.fl5 {width:100px;}
.fl6 {width:80px;}
.fl7 {width:60px;}
.fl8 {width:40px;}
div.corner {
  position:absolute;
  left:0;
  top:0;
  width:150px;
  height:150px;
  background:url(images/leftcorner.gif) no-repeat left top;
}
#centrecontent {position:relative;width:100%;float:left;}/*stacking context for image*/
#innercenter{padding:10px}
#innercenter ul{
  list-style:inside;
  margin:20px
}
