<style type="text/css">  <!--

  /*---------- Page Default ----------*/
  body 	{
    padding: 0px;
    margin: 0px;
  }
  body, td, p, li, ul, a, div, span, input {
    font-family: arial;
    font-size: 9pt;
  }

  /*---------- Global Links ---------*/
  a, a:visited {
    color: [-- VAR.LinkColor --];
  }
  a:hover {
    color: [-- VAR.VisitedLinkColor --];
  }

  /*---------- Top Nav Bar ----------*/
  #headlinks {
    margin: 0px;
    padding: 0px;
    height: 24px;
    font-weight: bold;
  [-- IF VAR.BackgroundImage --]
    background: url([-- VAR.BackgroundImage --]);
  [-- ELSE --]
    background: [-- VAR.BackgroundColor --];
  [-- END_IF --]
  }

  .inline, .navlinks {
    margin: 0px;
    padding: 0px;
    display: inline;
    list-style: none;
  }

  .navlinks a {
    margin: 0px;
    float: left;
    display: block;
    color: [-- VAR.TextColor --];
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
  }
  .navlinks a:hover {
    color: [-- VAR.TextColor --];
    background: [-- VAR.VisitedLinkColor --];
    border-bottom: 1px solid [-- VAR.VisitedLinkColor --];
  }

  /*---------- Head Styles ----------*/
  #header {
    margin: 0px;
    min-height: 70px;
    max-height: 200px;
    overflow: hidden;
    color: [-- VAR.TextColor --];
    padding-left: 30px;
    background: [-- VAR.BackgroundColor --];
    vertical-align: middle;
  }

  .storename {
    font-size: 18pt;
  }

  .main_table {
    border-collapse: collapse;
    border: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
  }

  /*---------- Search Bar ----------*/
  #search {
    margin: 0px;
    height: 24px;
    padding: 1px;
    text-align: right;
    font-weight: bold;
    background: [-- VAR.VisitedLinkColor --];
  }

  /*---------- Right Side ----------*/
  #right {
    margin: 0px;
    padding: 0px;
    background: [-- VAR.BackgroundColor --];
    border: 0px;
    width: 180px;
    vertical-align: top;
  }

  #righttext {
    background: [-- VAR.VisitedLinkColor --];
    margin: 0px;
    padding: 7px;
    font-size: 9pt;
  }

  /*---------- Middle Text ----------*/
  #text {
    border: 0px;
    margin: 0px;
    padding: 5px;
    vertical-align: top;
  }
  #text_table {
    width: 100%;
    border: 0px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  padding-bottom 5px;
  }

  .pagename {
    font-size: 14pt;
    font-stretch: wider;
  }

  #text1 {
    border: 1px solid [-- VAR.LineColor --];
    background-color: [-- VAR.ActiveLinkColor --];
    padding: 10px;
  }
  #text3 {
    margin: 0px;
    background: #ffffff;
    padding: 10px;
    height: 80px;
    text-align: center;
    clear: both;
  }

  #text2 {
  }

  .products {
  }

  /*---------- Left Side ----------*/
  #leftnav {
    width: 180px;
    margin: 0px;
    padding: 0px;
    background: [-- VAR.LinkColor --];
    vertical-align: top;
    height: 450px;
  }

  #lefttext {
    margin: 0px;
    padding: 7px;
    color: [-- VAR.BackgroundColor --];
  }

  #links	{
    margin: 0px;
    margin-bottom: 0px;
    padding: 0px;
    background: [-- VAR.LinkColor --];
  }

  #links li {
    list-style-type: none;
    margin-bottom: 0px;
    font-size: 8pt;
    color: [-- VAR.BackgroundColor --];
  }

  #links li a {
    margin: 0px;
  }

  #links li a {
    display: block;
    color: [-- VAR.BackgroundColor --];
    text-decoration: none;
    font-weight: bold;
    margin: 0px;
    padding: 2px 6px;
    border-bottom: 1px solid [-- VAR.VisitedLinkColor --];
    border-top: 1px solid [-- VAR.LinkColor --];
  }


  #links li a:hover {
    color: #000000;
    background: [-- VAR.ActiveLinkColor --];
  }

  /*---------- Footer ----------*/
  #footer {
    margin: 0px;
    padding: 7px;
    clear: both;
    text-align: center;
    border-top: 3px solid [-- VAR.LineColor --];
    background-color: [-- VAR.LinkColor --];
    color: [-- VAR.BackgroundColor --];
    font-weight: bold;
  }

  /*---------- Other ----------*/
  h1.name {
    text-align: left;
    font-family: Arial Narrow,Arial MT Condensed Light,sans-serif;
    font-size: 20px;
    margin: 0px;
    padding-bottom: 5px;
  }
  table.products a {
    text-decoration: none;
    color: [-- VAR.LinkColor --];
  }

  .search_info {
    border: 1px solid [-- VAR.LineColor --];
    background: [-- VAR.ActiveLinkColor --];
    padding: 6px;
  }

  input.search_button {
    color: [-- VAR.BackgroundColor --];
    background-color: [-- VAR.LinkColor --];
    border: 2px outset [-- VAR.TextColor --];
    font-weight: bold;
  }

  input.search_button_selected {
    border: 2px solid [-- VAR.ActiveLinkColor --];
    background: [-- VAR.ActiveLinkColor --];
    font-weight: bold;
  }
  -->
</style>
