#/* Tabbed Theme Giftcert Style Sheet */

#/* Gift Certificate Style Variables */
/* Start GC Vars

[-- IF  STORE.SC_BackgroundImage --]
  [-- VAR.gc_background_image STORE.GiftCert_BackgroundColor --]
[-- ELSE --]
  [-- VAR.gc_background_image "none" --]
[-- END_IF --]

  # Color Bar Colors
[-- IF STORE.GiftCert_ActiveLinkColor "990000" --]
    # Burgundy
  [-- VAR.color_bar_text_color "FFCC66" --]
  [-- VAR.color_bar_bg_color "9C0000" --]
  [-- VAR.cart_content_text_color "333333" --]
  [-- VAR.cart_content_bg_color "DDDDCC" --]
[-- ELSE_IF STORE.GiftCert_ActiveLinkColor "FFCC33" --]
    # Gold
  [-- VAR.color_bar_text_color "000000" --]
  [-- VAR.color_bar_bg_color "FAD862" --]
  [-- VAR.cart_content_text_color "FDFD77" --]
  [-- VAR.cart_content_bg_color "000000" --]
[-- ELSE_IF STORE.GiftCert_ActiveLinkColor "666666" --]
    # Gray
  [-- VAR.color_bar_text_color "FFFFFF" --]
  [-- VAR.color_bar_bg_color "666666" --]
  [-- VAR.cart_content_text_color "000000" --]
  [-- VAR.cart_content_bg_color "CCCCCC" --]
[-- ELSE_IF STORE.GiftCert_ActiveLinkColor "006600" --]
    # Green
  [-- VAR.color_bar_text_color "FFFFFF" --]
  [-- VAR.color_bar_bg_color "006600" --]
  [-- VAR.cart_content_text_color "000000" --]
  [-- VAR.cart_content_bg_color "FEFECC" --]
[-- ELSE_IF STORE.GiftCert_ActiveLinkColor "FF6600" --]
    # Orange
  [-- VAR.color_bar_text_color "000000" --]
  [-- VAR.color_bar_bg_color "FF6600" --]
  [-- VAR.cart_content_text_color "FFFFFF" --]
  [-- VAR.cart_content_bg_color "660000" --]
[-- ELSE_IF STORE.GiftCert_ActiveLinkColor "6600CC" --]
    # Purple
  [-- VAR.color_bar_text_color "FFFFFF" --]
  [-- VAR.color_bar_bg_color "6600CC" --]
  [-- VAR.cart_content_text_color "FFFFFF" --]
  [-- VAR.cart_content_bg_color "9966FE" --]
[-- ELSE_IF STORE.GiftCert_ActiveLinkColor "CC3333" --]
    # Red
  [-- VAR.color_bar_text_color "F3C500" --]
  [-- VAR.color_bar_bg_color "B51515" --]
  [-- VAR.cart_content_text_color "F3C500" --]
  [-- VAR.cart_content_bg_color "323232" --]
[-- ELSE --]
    # Blue
  [-- VAR.color_bar_text_color "FFFFFF" --]
  [-- VAR.color_bar_bg_color "0000FF" --]
  [-- VAR.cart_content_text_color "000000" --]
  [-- VAR.cart_content_bg_color "99CCFF" --]
[-- END_IF --]

End GC Vars */  

/* ************* */
/* Global Styles */
/* ************* */
body {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
  margin: 0px;
  color: #[-- STORE.GiftCert_TextColor --];
  background-color:  #[-- STORE.GiftCert_BackgroundColor --];
  background-image: url([-- VAR.gc_background_image --]);
  text-align: center;
}

div {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
  margin: 0px;
  color: #[-- STORE.GiftCert_TextColor --];
  background-color:  transparent;
}

table {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
  color: #[-- STORE.GiftCert_TextColor --];
  background-color:  transparent;
}

th {
  text-align: center;
}

td {
  text-align: left;
}

/* Image Styles */
img {
  border: 0px none;
}

/* Anchor Styles */
a {
  color: #[-- STORE.GiftCert_LinkColor --];
  background-color: transparent;
}

a:active {
  color: #[-- STORE.GiftCert_ActiveLinkColor --];
  background-color: transparent;
}

a:hover {
  color: #[-- STORE.GiftCert_ActiveLinkColor --];
  background-color: transparent;
}

a:visited {
  color: #[-- STORE.GiftCert_VisitedLinkColor --];
  background-color: transparent;
}

/* Form Styles */
textarea {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
}

select {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
}

option {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
}

input {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
}

/* Special Input Types.  Not Supported by IE */
input[type=text], input[type=password] {
  text-align: left;
}

input[type=image], input[type=button], input[type=submit], input[type=reset] {
  border: 0px none;
  cursor: pointer;
}

input[type=radio], input[type=checkbox] {
}

/* *********************** */
/* Gift Certificate Styles */
/* *********************** */
table.header {
  width: 100%;
  text-align: center;
}

td.gc_messages {
  text-align: center;
}

table.gc_content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

td.container_hdr {
  text-align: center;
  font-weight: bold;
}

td.container {
  text-align: center;
}

div.footer {
}

/* Messages */
table.cert_err {
  width: 50%;
  max-width: 80%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

td.cert_err {
  color: #[-- VAR.color_bar_text_color --];
  background-color: #[-- VAR.color_bar_bg_color --];
  font-weight: bold;
  font-size: 12pt;
}

/* The Color Bar */
table.color_bar {
  color: #[-- VAR.color_bar_text_color --];
  background-color: #[-- VAR.color_bar_bg_color --];
  width: 100%;
  height: 24px;
}

tr.color_bar {
}

td.color_bar {
  color: #[-- VAR.color_bar_text_color --];
  background-color: #[-- VAR.color_bar_bg_color --];
  text-align: center;
  font-weight: bold;
}

/* Everything Else */
table.cert_num_amount, table.giftcert_type, table.cert_to_from_msg {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

td.cert_num_amount, td.giftcert_type {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

td.cert_to_from_msg {
  text-align: right;
  vertical-align: top;
}

td.cert_to_from_msg_val {
  text-align: left;
}

td.cert_text {
  text-align: right;
  font-weight: bold;
}

td.cert_value {
  text-align: left;
}