/**********************************/
/***  Comments/More Info Table  ***/
/**********************************/
table.comm {
}

td.comm_hdr {
  font-weight: bold;
  font-size: larger;
  text-align: center
}

td.comm {
}

input.comm {
}


