/***************************************/
/***          Table of Totals        ***/
/***  Subtotal, Tax, Shipping, etc.  ***/
/***************************************/
table.totals {
  font: 12px;
  color: black;
  vertical-align: middle; 
  width: 100%;
  border-spacing: 3;
}

td.totals {
  text-align: right;
  width: 110;
}

td.totals_all {
  font: bolder 14px Arial;
  text-align: right;
  width: 110;
}

td.totals_txt {
  text-align: right;
}

td.totals_all_txt {
  text-align: right;
  font: bolder 14px Arial;
}


