/* Globally */
body {
	background: #fff;
	margin: 0px;
	padding: 0px;
	font-family: verdana, arial, helvetica, sans-serif; 
	font-size: xx-small;
	color: #000;
background: #1b374d
}
/* navigation links */
div#leftmenu { 
font-family: verdana, arial, helvetica, sans-serif;
font-size: xx-small; 
width: 160px;
height: 23px;
} 
div#leftmenu submenu{ 
font-family: verdana, arial, helvetica, sans-serif;
font-weight: bold;
font-size: xx-small; 
width: 160px;
height: 23px;
} 
div#leftmenu a { 
background-color: ;
color: #fff; 
text-decoration: none; 
padding-left: 2px;
padding-right: 2px;
padding-top: 2px; 
padding-bottom: 2px; 
display: block;
border-top: ; 
border-bottom: ;  
} 
div#leftmenu a:hover { 
background-color: #326ccc; 
color: #fff; 
border-top: ; 
border-bottom: ; 
}

/* regular links */
a:link {color: #999999;	background: transparent; }
a:visited {color: #999999; background: transparent; border: 0px; text-decoration: none;}
\


/* selected product list menu */
a.menu:link {color: #000000;	background: transparent; text-decoration: none;}
a.menu:visited {color: #000000; background: transparent; text-decoration: none;}
\
#button{background-color: #ffffff; color: #333399;}
#button2{background-color: #ffffff; color: #333399;}
#button3{background-color: #ffffff; color: #333399; }
img{border: 0px;}
/* alternate set for navigation text links with no decoration except for rollover */
a.nav:link {color: #fff;	background: transparent; text-decoration: none;}
a.nav:visited {color: #fff; background: transparent; text-decoration: none;}
a.nav:hover {color: #9cf; background: transparent; text-decoration: underline;}	

/* white text links */
a.topnav:link {color: #fff;	background: transparent; font-family: verdana, arial, helvetica, sans-serif; font-size: xx-small;}
a.topnav:visited {color: #fff; background: transparent; font-family: verdana, arial, helvetica, sans-serif; font-size: xx-small;}
a.topnav:hover {color: #9cf;	background: transparent; font-family: verdana, arial, helvetica, sans-serif; font-size: xx-small;}

/* white text links */
a.latestnews:link {color: #9cf;	background: transparent;}
a.latestnews:visited {color: #9cf; background: transparent;}
a.latestnews:hover {color: #fff;	background: transparent;}

/* product titles text(s); page subtitles */
.title {
	font-family: arial, helvetica, sans-serif;
	font-size: x-small;
	color: #333;
}

/* body text(s) */
/*.bodytext {
	font-family: arial, helvetica, sans-serif;
	font-size: x-small;
	color: #000;
}
*/

.bodytext {
	font-family:Arial,Verdana, Helvetica, sans-serif;
	font-size:10px;
	color: #000000;
	text-align:leftl;
	
	}
	
	
.topsubmenu{
padding-top:5px;
}

.body-table{
padding-left:50px;
}


.bodytext-selected {
	font-family: arial, helvetica, sans-serif;
	font-size: x-small;
	color: #c00;
}

.product {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: xx-small;
	color: #333;
}

/* main copy size */
.small {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: xx-small;
}
.small-alt{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: xx-small;
	color: #fff;
}

/* table cell classes */
.stripe-one {background: #1b374d}
.stripe-two {background: #1b374d}
.stripe-three {background: #1b374d}
.stripe-four {background: #1b374d}
.stripe-five {background: #1b374d}
.stripe-six {background: #1b374d}

/*outline around the product titles */
.outline{
	border-style: solid;
	border-width: 1px;
	border-color: #666;}
.bodytext-alt {  font-family: Arial, Helvetica, sans-serif; font-size: x-small; color:#FFFFFF;}

.product_desc{
width:200px; height:100px; overflow-y:auto;
	border-bottom: 0px solid #666666;
	border-left:0px solid #666666;
	border-top:0px solid #666666;
	border-right:0px solid #666666;
	SCROLLBAR-FACE-COLOR: #666666 ; 
	scrollbar-base-color: #666666;
	SCROLLBAR-HIGHLIGHT-COLOR: #666666; 
	SCROLLBAR-SHADOW-COLOR: #666666; 
	SCROLLBAR-3DLIGHT-COLOR: #000000; 
	SCROLLBAR-ARROW-COLOR: #666666; 
	SCROLLBAR-TRACK-COLOR: #000000; 
	SCROLLBAR-DARKSHADOW-COLOR: #000000;
}
.Details_text{font-size: 10pt;text-align:justify; line-height:16px; color:#808080;}


.glossymenu, .glossymenu li ul{ 
list-style-type: none; 
margin: 0; 
padding-left: 0px; 
list-style: none;
width: 150px; /*WIDTH OF MAIN MENU ITEMS*/ 
border: 0px solid black; 
} 
.glossymenu li{ 
position: relative; 
list-style: none;
} 
.glossymenu li ul{ /*SUB MENU STYLE*/ 
position: absolute; 
width: 230px; /*WIDTH OF SUB MENU ITEMS*/ 
left: -100px; 
top: 0; 
display: none; 
background: #39f;
filter:alpha(opacity=100); 
list-style: none;
-moz-opacity:1; 
} 
.glossymenu li a{ 
background:url(http://temp1.knivis.net/images/navimage.jpg); 
font: 10px Verdana, Helvetica, sans-serif; 
color: white; 
display: block; 
width:150px; 
padding: 0px 0; 
padding-left:0px;
margin-left:6px; 
text-decoration: none; 
} 
.glossysubmenu li a{ 
background:url(http://temp1.knivis.net/images/navimage.jpg); 
font: 10px Verdana, Helvetica, sans-serif; 
color: white; 
display: none; 
width:210px; 
padding: 5px 0; 
padding-left: 10px; 
text-decoration: none; 
} 

.glossymenu .arrowdiv{ 
position: absolute; 
right: 2px; 
background: transparent url(http://temp1.knivis.net/images/arrow.gif); 
} 
.glossymenu li a:visited, .glossymenu li a:active{ 
color: white; 
} 
.glossymenu li a:hover{ 
background-image: url(http://temp1.knivis.net/images/back_trans.gif); 
} 
/* Holly Hack for IE \*/ 
* html .glossymenu li { float: left; height: 1%; } 
* html .glossymenu li a { height: 1%; } 
