/*-------------------------------------------------------
* Filename:         style.css
* Description:      Global Css
* Version:          1.0.1 (20.11.2010)
* Author:           -
* E-mail:           -

== STTUCTURE: ===========================================
* Page width:          1000px
* Number of columns:   3
* Layout:              fixed

--------------------------------------------------------*/


/******************************************/
/*                                        */
/*               PAGE RESET               */
/*                                        */
/******************************************/

html, body, form {margin:0; padding:0}
h1, h2, h3, h4, h5, h6, p, ul, li {margin:0; padding:0; font-weight:normal}
ul, ul li {list-style: none}
a, img {outline: 0}
img {border: 0}
fieldset {border:0}

/*------------ clear, separation ---------*/
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix {display: inline-block;}
.clearfix {display: block;}

.view-content:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.view-content {display: inline-block;}
.view-content {display: block;}

.views-slideshow-pager-fields:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.views-slideshow-pager-fields {display: inline-block;}
.views-slideshow-pager-fields {display: block;}



/************* end: PAGE RESET ************/


/******************************************/
/*                                        */
/*               PAGE LAYOUT              */
/*                                        */
/******************************************/

body {}

#page {position: relative; width: 960px; padding: 0 0px; margin-left: auto; margin-right: auto;}

#header {position: relative; height: 195px; padding: 0 0px}
.not-front #header {height: 225px;}
#header-inner {position: relative; padding: 0 0px}
#main {position: relative; padding: 0px 0px 80px;}
#bottom {position:relative; padding: 0px 0 20px; }

#footer-inner {width: 960px; padding: 0 0px; margin-left: auto; margin-right: auto;}

/*
.front {}
.not-front #page {width: 1000px;}
/**/

/*------------- down footer --------------*/
html, body {height: 100%;}

#page-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -170px; 
}

.tmpfooter {height: 170px;}
#footer {height: 170px;}

/*--------------- container --------------*/
/*#footer {position:relative; overflow: hidden; padding: 10px 10px;}*/
#footer-inner {padding: 0px 0px 0px;}


/** content **/
#content {float: left; width: 100%; margin-left: 0; margin-right: -100%;  padding: 0;}

#content-inner,
.no-sidebars #content-inner  {margin: 0; padding: 0px 0px 20px;}
.sidebar-first #content-inner {margin: 0 0 0 180px;}
.sidebar-second #content-inner {margin: 0 180px 0 0; padding: 0 10px 10x;}
.two-sidebars #content-inner {margin: 0 180px;}

#sidebar_first {float: left; width: 180px;}
#sidebar_first-inner {margin: 0; padding: 0;}
#sidebar_second {float: right; width: 180px;}
#sidebar_second-inner {margin: 0; padding: 10px;}

.no-sidebars #content-top {padding: 0 20px}

/*html not-front logged-in one-sidebar sidebar-first page-node page-node- page-node-1 node-type-page toolbar
*/
/*---- container: border, background -----*/
body {background: #000;}

#page-wrapper {background: url(../images/body_bg.jpg) no-repeat 50% 0 #000000}
#page {}

.front #page-bg {background: url(../images/bar_fon.png) no-repeat 50% 210px;}


#header {}
#header-inner {}
/*#header {height: 150px;}*/


#main {}
#main-inner {}

#bottom {}

#footer {}
#footer {background: url(../images/footer_bg.png) no-repeat 50% 0;}

#main #content {}
#main #content-inner {}

#main #sidebar_first {}
#main #sidebar_first #sidebar_first-inner {}

#main #sidebar_second {}
#main #sidebar_second #sidebar_second-right {}


/************* end: PAGE LAYOUT ***********/



/******************************************/
/*                                        */
/*           GLOBAL CONTENT STYLE         */
/*                                        */
/******************************************/

/*---------------- global ----------------*/
body {/*color: #333; font: 11px Tahoma, Geneva, sans-serif;*/}
body {font-size: 100%;}
body {color: #fff; color: #a2a2a2; font: 13px/1.333em "Trebuchet MS", Arial, Helvetica, sans-serif;}

h1,
h2,
a,
p {text-shadow: 0 0 1px #555;}

pre, code {font-size: 1.1em; font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;}

/*---------------- headers ---------------*/
h1, h2, h3, h4 {color: #fff; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif}

h1 {margin: 0 0 0.5em; font-size: 32px; line-height: 1.3em; font-weight: bold}
h2 {margin: 0.667em 0; font-size: 32px; line-height: 1.3em; font-weight: bold}
h3 {margin: 0.769em 0; font-size: 21px; line-height: 1.3em; font-weight: normal;}
h4, 
h5, 
h6 {margin: 0.909em 0; font-size: 1.1em; line-height: 1.3em;}

/*
h1.title {padding: 0 0 3px; border-bottom: 1px dashed #fff; color: #fff; text-transform: uppercase; font: bold 48px Arial, Helvetica, sans-serif} 

*/
h1.title {} 

h1.title span {font-weight: bold;} 
/*
.page-taxonomy-term h1.title span,
.page-services h1.title span,
.page-portfolio h1.title span,
.node-type-portfolio h1.title span {padding: 0 45px 0 0; background: url(../images/big_arrow2.png) no-repeat 100% 18px;}  
*/

/* page title wrapper */
.page-title-wrapper {margin: 0 0 30px; border-bottom: 0px solid #5b5b5b;}

.page-title-wrapper h1#page-title {margin: 0; background: url(../images/point_grey.png) repeat-x 0 55%;}
.page-title-wrapper h1#page-title span {display: inline-block; margin: 0 0 0 0px; padding: 0 10px 0 0; background: url(../images/point_black.png) repeat-x 0 55%;}


#content_bottom .block h2.block-title {margin: 0 0 45px; background: url(../images/point_grey.png) repeat-x 0 55%;}
#content_bottom .block h2.block-title span {display: inline-block; margin: 0 0 0 45px; padding: 0 10px; background: url(../images/point_black.png) repeat-x 0 55%;}

.page-title-wrapper #title_area {}
.page-title-wrapper #title_area .block-menu-block {}

/*---------------- paragraf -------------*/
p {margin: 0 0 1em;}

/*----------------- links ---------------*/
a {color: #00eaff; text-decoration: underline}
a:hover {color: #fede00}

li a.active,
a.active {color: #fede00}

a:link {}
a:visited {}
a:hover {}
a:focus {}
a:active {}

a.link-button {padding: 0 0 0 17px; background: url(../images/more_fon.png) no-repeat 0 50%;}

input[type=submit] {
	border: 0;
	display: inline-block; padding: 5px 20px; background: #477cb1; color: #fff; text-decoration: none; text-transform: uppercase; font: bold 18px "Myriad Pro Cond", "Myriad Pro", Arial, sans-serif;

	border-top: 1px solid #b0defe;

	border-radius: 8px;
	-moz-border-radius: 8px;
	text-shadow: 0 1px 1px #333;

	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#69b4fb', endColorstr='#467bb1');
	background: -webkit-gradient(linear, left top, left bottom, from(#69b4fb), to(#467bb1));
	background: -moz-linear-gradient(top,  #69b4fb,  #467bb1);
	background: -o-linear-gradient(top, #69b4fb, #467bb1);
}

input[type=submit]:hover {
	border: 0;
	background: #62acd8; text-decoration: none;
	border-top: 1px solid #d8efff;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#83cbfd', endColorstr='#63acd8');
	background: -webkit-gradient(linear, left top, left bottom, from(#83cbfd), to(#63acd8));
	background: -moz-linear-gradient(top,  #83cbfd,  #63acd8);
	background: -o-linear-gradient(top, #83cbfd, #63acd8);
}


a.view-button {display: inline-block; padding: 5px 12px; background: #efc22e; color: #271601; text-decoration: none; text-transform: uppercase; font: bold 13px Arial, Helvetica, sans-serif;}
a.view-button:hover {background: #f5da33; text-decoration: none;}

a.view-button {
	border-top: 1px solid #fefdf4;
	border-bottom: 1px solid #aa7b1d;

	border-radius: 8px;
	-moz-border-radius: 8px;
	text-shadow: 0 1px 1px #c2ad3b;

	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5dc34', endColorstr='#efc32d');
	background: -webkit-gradient(linear, left top, left bottom, from(#f5dc34), to(#efc32d));
	background: -moz-linear-gradient(top,  #f5dc34,  #efc32d);
	background: -o-linear-gradient(top, #f5dc34, #efc32d);
}

a.view-button:hover{
	border-top: 1px solid #fffff4;
	border-bottom: 1px solid #c9ab28;
	box-shadow: 0px 0px 4px #ffff3b;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff3c', endColorstr='#f5da34');
	background: -webkit-gradient(linear, left top, left bottom, from(#ffff3c), to(#f5da34));
	background: -moz-linear-gradient(top,  #ffff3c,  #f5da34);
	background: -o-linear-gradient(top, #ffff3c, #f5da34);
}


/*----------------- lists ----------------*/
.field-content ul {padding: 0 0 10px 18px;}
.field-content li { padding: 0 0 0px; /*color: #555;*/ list-style: circle;}

/*---------------- fieldset --------------*/
fieldset {margin: 0 0 30px; padding: 0; background: none; border-bottom: 0px dashed #aaa}
fieldset.collapsed {background: none;}

fieldset legend {padding: 0px 0 10px; text-transform: uppercase; font: bold 32px "Myriad Pro Cond", "Myriad Pro", Arial, sans-serif;}
fieldset legend a {color: #333; text-decoration: none}
fieldset legend a:hover {color: #666; text-decoration: none}

fieldset fieldset {background: #eee; border: 0px solid #eee}


/*----------------- forms ----------------*/
input.field {}
textarea {}
input.button {}

.form-item {margin:  0em 0 15px;}

.form-item > label {margin: 0 0 3px 3px; font-size: 16px; font-weight: bold;}
.form-item label.option {font-size: 13px; font-weight: normal;}
.form-item > .description {margin: 0 0 0 3px;}

.form-item > label {text-shadow: 0 0 1px #555;}
.form-item > .description {}

input[type="checkbox"] {margin: 0px 3px 3px 4px;}
input[type="radio"] {margin: 0px 3px 0px 5px;}

input[type="submit"] {}
input.form-text {width: 40%; padding: 4px 8px; border: 3px solid #dad6d6; border-radius: 6px; box-shadow: inset 0px 0px 3px #333; font-size: 18px;}
textarea {padding: 4px 8px; border: 3px solid #dad6d6; border-radius: 6px; box-shadow: inset 0px 0px 3px #333; font-size: 18px;}

/*
input.form-text {background: #1a1a1a; border: 3px solid #373737; box-shadow: inset 0px 0px 3px #111;}
*/

.form-textarea-wrapper textarea {width: 80%;}

input.form-submit {/*margin: 10px 10px 10px 0; padding: 4px 6px;*/ cursor: pointer}

textarea.required,
input.form-text.required {border-color: #fedd00;}
textarea.error,
input.form-text.error {color: #c03030; border-color: #c03030;}

/*
input.form-text:focus {border-color: #eb8313;}
*/

.form-required {color: #fedd00;}

/*
#edit-save {margin: 10px 10px 10px 0;} 
#edit-preview {margin: 10px 10px 10px 0;} 
#edit-cancel {margin: 10px 10px 10px 0;}
#edit-delete {margin: 10px 10px 10px 0;}
*/

/*.views-exposed-form .views-exposed-widget .form-submit {margin-top: 1.1em; margin-left: 1em}*/

/* webform */
.webform-component-markup {margin: 0 0 30px;}
.webform-component-radios,
.webform-component-checkboxes {margin: 0 0 25px;}

/*---- Console, style from Slate theme ----*/
div.messages {padding: 9px; margin: 1em 0; color: #fff; background: #9ab41f; border: 0px solid #ace;}
div.messages a {color: #fff;}
div.messages a:hover {color: #eee;}
div.warning {color: #840; background: #fe6; border-color: #ed5;}
div.error {color: #fff; background: #ff4343; border-color: #d52;}
div.status {color: #360; background: #cf8; border-color: #be7;}
div.help {margin: 0 0 10px; padding: 5px 8px; background: #fff; border: 1px solid #aaa; font-size: 10px;}


div.messages {border-radius: 6px;}


/*----------------- tables ---------------*/
table {width: 100%; margin: 0em 0px 1em; border-collapse: collapse;}

thead {}
thead th {/*background: #fff;*/ border-bottom: 0px solid #bdd2d0;}
tbody {border: none;}

th {padding: 0.8em 0em; vertical-align: top}
td {padding: 0.4em 0em; border-top: 0px solid #bdd2d0; vertical-align: top}

tr.even, 
tr.odd  {background: none; border-bottom: 0;}
td.active {background: none}

body.drag {cursor: move;}
th.active img {display: inline;}
tr.drag {background-color: #fffff0;}
tr.drag-previous {background-color: #ffd;}
td.checkbox, th.checkbox {text-align: center;}
.content-multiple-drag {width: 30px}

table.tcontainer {color: inherit;}
table.tcontainer td {padding: 0 0.6em 0.4em 0; border: none}
table.tcontainer tbody {font-size: inherit} 

/* token table */
td.region {font-weight: bold}


/*----------------- pager -------------*/
.item-list .pager {padding: 10px 0 0;}
.item-list .pager li {display: inline-block; height: 24px; padding: 4px 0px 0; text-align: center; font: 14px Tahoma, Geneva, sans-serif;}
.item-list .pager li a {color: #fff; text-decoration: none;}
.item-list .pager li a:hover {text-decoration: underline}

.item-list .pager li.pager-current {width: 28px; background: #f9ed38; color: #000;}
.item-list .pager li.pager-item {width: 28px;}

.item-list .pager li.pager-first,
.item-list .pager li.pager-previous,
.item-list .pager li.pager-next,
.item-list .pager li.pager-last {}

.item-list .pager li.pager-current {
	border-radius: 14px;
}


/*----------------- dev info -------------*/
.dev-timer {position: absolute; display: block; top: 30px; left: 10px; width: 400px; padding: 0px; border: 0px solid #fff; color: #fff; font: 10px Tahoma, Geneva, sans-serif}


/******** end: GLOBAL CONTENT STYLE *******/



/*========================================*/
/*                  Header                */
/*========================================*/

#header {}
#header-inner {}

/* header regions */
#header #header-blocks {clear: both; /* Clear the logo */}


/*----------------- logo -----------------*/
#header #logo {position: absolute; top: 55px; left: 0px}

#header #name-and-slogan {position: absolute; top: 50px; left: 80px}
#header #name-and-slogan #site-name {margin: 0; padding: 0; font-size: 30px; font-weight: normal}
#header #name-and-slogan h1#site-name {margin: 0; padding: 0; font-weight: normal; line-height: 1em} 
#header #name-and-slogan div#site-name {line-height: 1em}
#header #name-and-slogan div#site-name strong {font-weight: normal}
#header #name-and-slogan #site-name a {}
#header #name-and-slogan #site-name a:hover {}

#header #name-and-slogan #site-slogan {color: #fff}


/*---------------- navbar ----------------*/
#main-menu .navigation {}
#main-menu-links {}
#secondary-menu .navigation {}
#secondary-menu-links {}

#navbar {position: absolute; top: 100px; right: 0px; margin: 0px 0 0; padding: 0px;}
#navbar #main-menu {/*overflow:hidden;*/}

#navbar #main-menu ul.links {padding: 0 0px;}
#navbar #main-menu ul.links li {position: relative; float: left; padding: 0;}

#navbar #main-menu ul.links li a {}
#navbar #main-menu ul.links li a {position: relative; display: block; margin: 0 15px 0px; padding: 6px 10px; color: #fff; text-align: center; text-decoration: none; text-transform: uppercase; font-size: 13px; font-weight: normal;}

/*
#navbar #main-menu ul.links li::before {content: "01 //"; display: block; position: absolute; top: -20px; border: 0px solid red; padding: 0 0 0px 1px; color: #fff; font-size: 11px; font-weight: normal;}
#navbar #main-menu ul.links li+li::before {content: "02 //";}
#navbar #main-menu ul.links li+li+li::before {content: "03 //";}
#navbar #main-menu ul.links li+li+li+li::before {content: "04 //";}
#navbar #main-menu ul.links li+li+li+li+li::before {content: "05 //";}
#navbar #main-menu ul.links li+li+li+li+li+li::before {content: "06 //";}
#navbar #main-menu ul.links li+li+li+li+li+li+li::before {content: "07 //";}
*/
/**/
#navbar #main-menu ul.links li a::before {content: "01 //"; display: block; position: absolute; top: -20px; border: 0px solid red; padding: 0 0 10px 1px; color: #fff; font-size: 11px; font-weight: normal;}
#navbar #main-menu ul.links li+li a::before {content: "02 //";}
#navbar #main-menu ul.links li+li+li a::before {content: "03 //";}
#navbar #main-menu ul.links li+li+li+li a::before {content: "04 //";}
#navbar #main-menu ul.links li+li+li+li+li a::before {content: "05 //";}
#navbar #main-menu ul.links li+li+li+li+li+li a::before {content: "06 //";}
#navbar #main-menu ul.links li+li+li+li+li+li+li a::before {content: "07 //";}
/**/

/*
#navbar #main-menu ul.links li::after {content: "/"; display: block; position: absolute; right: 0; bottom: -1px;  padding: 0 0 0 0px; color: #5ea1c9; font-size: 36px; line-height: 0.8em; border: 0px dotted red;}
#navbar #main-menu ul.links li:last-child::after {content: ""; padding: 0;}
#navbar #main-menu ul.links li:last-child a {margin-right: 0;}
*/

#navbar #main-menu ul.links li a:hover,
#navbar #main-menu ul.links li.active-trail a,
#navbar #main-menu ul.links li.active a {background: #fff; color: #000;}

#navbar #main-menu ul.links li.active-trail a,
#navbar #main-menu ul.links li.active a {background: #fff; color: #000;}

.page-services #navbar #main-menu ul.links li.menu-780 a,
.node-type-portfolio #navbar #main-menu ul.links li.menu-598 a {background: #fff; color: #000;}

#navbar #main-menu ul.links li.first {margin: 0 0 0 0px}
#navbar #main-menu ul.links li.last {background: none}



/*
#navbar #main-menu ul.links li.active a::after {font-weight: normal;}



/*------------------ search --------------*/
/*#search-box {position: absolute; right: 15px; top: 73px;}
#search-box .form-item {}
#search-box label {display: none;}
#search-box input.form-text {width: 155px; height: 18px; padding: 2px 0 0 25px; background: url(../images/search_input.png) no-repeat; border: 0;}
#search-box input.form-submit {margin: 0 0 0 3px; padding: 3px; background: none; border: none; color: #eac66e; text-decoration: underline; font: 11px Tahoma, Geneva, sans-serif;}
*/


/* debug */
/*#search-box {border: 1px dotted green}
#search-box input.form-text {border: 1px dotted black}
#search-box input.form-submit {border: 1px dotted blue}
/**/

/*=============== end: Header ============*/




/*========================================*/
/*             Top Column Content         */
/*========================================*/

/*======== end: Top Column Content =======*/


/******************************************/
/*                                        */
/*             SIDEBAR CONTENT            */
/*                                        */
/******************************************/

.sidebar {position: relative}

.sidebar .more-link {text-align: left;}
.sidebar .more-link a {display:block; width: 64px; padding: 0 10px 0 0; background: url(../images/arrow1.png) no-repeat 100% 7px; color: #99200f}
.sidebar .more-link a:hover {color: #cc4a42}

/*----------------- blocks ---------------*/
.sidebar .block {margin: 0 0 15px; padding: 0;}
.sidebar .block .block-inner {padding: 15px 20px;  background: #e9e9e9;}

.sidebar .block .block-inner {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	
/*	
	-webkit-box-shadow: 0 0 25px #aaa;
	-moz-box-shadow: 0 0 25px #aaa;
	box-shadow: 0px 0px 10px #aaa;
	text-shadow: 0 0 1px #fff;
*/
}

.sidebar .block .title {margin: 0 0 10px; padding: 0; color: inherit; font-size: 18px;}
.sidebar .block .content {padding: 0;}


/*----------- recent comments ----------*/
.sidebar #block-views-comments_recent-block {}
.sidebar .block-id-294 {}
.sidebar .block-id-294 .block-inner {padding: 0px 5px 0 5px; background: none}

.book-comments {}

.block-comment-item {margin: 0 0 10px;}

.commet_details {color: #888; font-size: 0.9em}
.commet_details .field-name {}
.commet_details .field-timestamp {}
.commet_details .field-timestamp em {font-style:normal}

.field-comment {line-height: normal}
.field-comment p {display: inline}
.field-comment .field-view_comment {}
.field-comment .field-view_comment a {color: #99200f; text-decoration: none; font: 18px Tahoma, Geneva, sans-serif; line-height: 12px;}
.field-comment .field-view_comment a:hover {color: #cc4a42; text-decoration: none}




/*********** end: SIDEBAR CONTENR *********/


/******************************************/
/*                                        */
/*                  BLOCKS                */
/*                                        */
/******************************************/

.block {}
.block .block-inner {}
.block .block-inner .block-title {color: #484846; font-size: 18px}
.block .block-inner .content {}

/*----------- #content-top block ---------*/
#content-top .block {}
#content-top .block {}
#content-top .block .block-inner {}
#content-top .block .block-inner .title {}




/*========================================*/
/*                   Top                  */
/*========================================*/
/*
#block-menu-block-1 {position: absolute; top: 28px; left: 230px;}

#block-menu-block-1 ul.menu {padding: 0 0px;}
#block-menu-block-1 ul.menu li {float: left; padding: 0; margin: 0 0px 0 15px; list-style: none;}
#block-menu-block-1 ul.menu li a {position: relative; display: block; padding: 0px 0 0px; color: #fff; text-align: center; text-decoration: underline; text-transform: uppercase; font: normal 18px "Myriad Pro Cond", "Myriad Pro", Arial, sans-serif }

/*#block-menu-block-1 ul.menu li a {text-transform: none; font: normal 13px Arial, Helvetica, sans-serif;}*/
/*#block-menu-block-1 ul.menu li a {text-shadow: 0 0 1px #333;}
/*
#block-menu-block-1 ul.menu li a::after {content: "/"; padding: 0 0 0 10px; color: #fff; font-size: 16px; line-height: 1em; text-decoration: none !important;}
#block-menu-block-1 ul.menu li:last-child a::after {content: ""; padding: 0;}
*/
/*
#block-menu-block-1 ul.menu li a:hover {color: #cdeffe}
#block-menu-block-1 ul.menu li.active a {text-decoration: none;}
#block-menu-block-1 ul.menu li.active a::after {font-weight: normal;}
#block-menu-block-1 ul.menu li.first {margin: 0 0 0 0px}
#block-menu-block-1 ul.menu li.last {background: none}
*/



/*.block-menu-block {position: absolute; top: 28px;}*/
.block-menu-block ul.menu {padding: 28px 0px 0; border-top: 1px dashed #555a5d;}
.block-menu-block ul.menu li {float: left; padding: 0 18px 5px 0px; margin: 0px 10px 0 0; background: url(../images/menu_sep.png) no-repeat 100% 5px; list-style: none;}
.block-menu-block ul.menu li a {position: relative; display: block; padding: 6px 10px; color: #767575; text-align: center; text-decoration: none; text-transform: uppercase;}
.block-menu-block ul.menu li a:hover,
.block-menu-block ul.menu li.active a {background: #fcdc00; color: #000; text-decoration: none;}

.block-menu-block ul.menu li.active a::after {font-weight: normal;}
.block-menu-block ul.menu li.first {padding-left: 0;}
.block-menu-block ul.menu li.last {background: none}

#top {}
#top .block-menu-block {background: url(../images/slogan2.png) no-repeat;}
#top .block-menu-block .content{min-height: 141px; padding: 0 0 45px 290px;}

/*
#block-menu-block-1 {left: 230px;}
#block-menu-block-2 {left: 260px;}
*/

/*
#block-views-categories-block-1 {position: absolute; top: 18px; left: 260px;}

#block-views-categories-block-1 ul {padding: 0 0px;}
#block-views-categories-block-1 ul li {float: left; padding: 0; margin: 0 0px 0 15px; list-style: none;}
#block-views-categories-block-1 ul li a {position: relative; display: block; padding: 0px 0 0px; color: #fff; text-align: center; text-decoration: underline; text-transform: uppercase; font: normal 18px "Myriad Pro Cond", "Myriad Pro", Arial, sans-serif }
#block-views-categories-block-1 ul li a:hover {color: #cdeffe}
#block-views-categories-block-1 ul li.active a,
#block-views-categories-block-1 ul li a.active {text-decoration: none;}
*/

/*=============== end: Top ===============*/



/*========================================*/
/*              Content Bottom            */
/*========================================*/


/*=========== end: Content Bottom ========*/



/*========================================*/
/*               Bottom Blocks            */
/*========================================*/

/*=========== end: Bottom Blocks =========*/


/*========================================*/
/*                 User Blocks            */
/*========================================*/

/*--------------- user login -------------*/
.sidebar #block-user-0 {}
.sidebar #block-user-0 {margin: 0 0 15px; padding: 0 0 12px;}
.sidebar #block-user-0 .block-inner {padding: 5px 5px 5px;}

.sidebar #block-user-0 h2.title {margin: 5px 10px 10px; color: #fff;}

.sidebar #block-user-0 .content {}

.sidebar #block-user-0 .form-item {text-align: left;}
.sidebar #block-user-0 .form-item label {color: #98c3de;}
.sidebar #block-user-0 .form-item label span.form-required {color: #fff;}
.sidebar #block-user-0 .form-item input.form-text {width: 98%; margin: 2px 0; padding: 2px 0; }
.sidebar #block-user-0 input.form-submit {padding: 6px 8px; font-size: 16px;}

.sidebar #block-user-0 .item-list ul {padding: 0; text-align: left}
.sidebar #block-user-0 .item-list ul li {display: inline; padding: 0; list-style: none;}
.sidebar #block-user-0 .item-list ul li a {color: #fff; font-size: 11px;}

/*--------------- user block ------------*/
.user_block {padding: 0px 0 0;}
.user_block h5 {margin: 0 0 1px; font-size: 11px}
.user_block ul {padding: 0 0 3px}
.user_block ul li {padding: 0 0 3px 12px; background: url(../images/arrow1.png) no-repeat 0 7px;}

.user_block h2.user-title {margin: 0 0 10px}
.user_block h2.user-title .user_account {}
.user_block h2.user-title .user_account a {}
.user_block h2.user-title .user_account a:hover {}
.user_block h2.user-title .user_logout {margin: 0 0 0 10px; font-size: 11px;}
.user_block h2.user-title .user_logout a {color: #aaa}
.user_block h2.user-title .user_logout a:hover {color: #ef7d7d}

.user_block .create_node_area {padding: 0px 0px 5px}
.user_block .admin_area {padding: 0px 0px}

/*=============== end: User ==============*/


/**************** end: BLOKS **************/


/******************************************/
/*                                        */
/*             MAIN COLUMN CONTENT        */
/*                                        */
/******************************************/

/*========================================*/
/*          Gglobal Main Column Style     */
/*========================================*/

.link_edit_node {margin: 0 0 0 8px; font-size: 10px}
.link_edit_node a {color: #039000;}
.link_edit_node a:hover {color: #0f600e;}

#content-area ul li {}

.breadcrumb {margin: 0 0 10px}

/*------------------ select --------------*/

#content-display-overview select.form-select {width: 160px}


/*----------------- headers --------------*/

/*----------------- messages -------------*/

/* -------------- form data --------------*/


/*==== end: Gglobal Main Column Style ====*/


/*========================================*/
/*                  Fields                */
/*========================================*/

/*--------------- imagecache -------------*/
img.imagecache {display: block; padding: 1px; background: #fff; border: 1px solid #bfbfbf}
img.imagecache-image_medium {margin: 0 0 5px}
img.imagecache-image_small {}

a:hover img.imagecache {border: 1px solid #e49500}

/*============== end: Fields =============*/




/******************************************/
/*                                        */
/*                  VIEWS                 */
/*                                        */
/******************************************/


/*========================================*/
/*                  Blocks                */
/*========================================*/

/*============== end: Blocks =============*/


/*========================================*/
/*                   Pages                */
/*========================================*/

/*============== end: Pages ==============*/

.view {}
.view .view-conten {}
.view .view-conten .views-row {}

.block-views {}

#block-views-portfolio-block-1 {/*width: 800px; margin: 0 auto; */}
#block-views-portfolio-block-1 h2 {}


/*========================================*/
/*             Portfolio Slider           */
/*========================================*/

/*-------------- views-slider -------------*/
#block-views-portfolio-block-slider {padding: 0px 0 70px;}

.view-display-id-block_slider {position: relative;/* width: 960px; height: 508px; padding: 0px 0 0; overflow: hidden;*/}
.view-display-id-block_slider .view-content {margin: 0 0px}


/* big image container */
.views_slideshow_cycle_main {height: 310px; padding: 0px 0 0; background: url(../images/slogan1.png) no-repeat 10px 90px;}
.views-slideshow-cycle-main-frame {float: right;}

.views-slideshow-cycle-main-frame-row-item {position: relative;}
.views-slideshow-cycle-main-frame-row-item a.item-image {display: block; width: 570px; height: 300px; padding: 5px 0 0; overflow: hidden;}
.views-slideshow-cycle-main-frame-row-item .item-descr {position: absolute; overflow: hidden; top: 0px; left: 15px; }
.views-slideshow-cycle-main-frame-row-item .item-descr .item-title {display: block; margin: 0 0 0px; padding: 10px 20px; background: #b00045; font-size: 38px; line-height: 1em;}
.views-slideshow-cycle-main-frame-row-item .item-descr .item-title {text-shadow: 0 0px 2px #111;}
.views-slideshow-cycle-main-frame-row-item .item-descr .item-text {display: inline-block; margin: 0px 0 0; padding: 0px 20px 10px; background: #b00045; color: #fff; font-size: 13px;}

.views-slideshow-cycle-main-frame-row-item:hover .img_cover {display: none;}
.views-slideshow-cycle-main-frame-row-item .img_label {display: none; position: absolute; top: 0px; left: 0px; width: 130px; height: 106px; background: url(../images/best_work.png) no-repeat;}
/**/


/*- slider controls -*/
.views-slideshow-controls-bottom {}

/* slider bottons */
.views-slideshow-controls-text {}
.views-slideshow-controls-text > span {}
.views-slideshow-controls-text a {position: absolute; display: block; width: 82px; height: 82px; background: url(../images/slide_buttons.png) no-repeat; text-indent: -9999px; z-index: 100;}
.views-slideshow-controls-text-next a {top: 115px; right: -45px; background-position: 0 0;}
.views-slideshow-controls-text-next a:hover {background-position: 0 -82px;}
.views-slideshow-controls-text-previous a {top: 115px; right: 526px;  background-position: 0 -246px;}
.views-slideshow-controls-text-previous a:hover {background-position: 0 -328px;}
.views-slideshow-controls-text .views-slideshow-controls-text-pause {display: none;}


/* slider paginator */
.views-slideshow-pager-fields {position: relative; padding: 40px 0 0 4px;}

.views-slideshow-pager-field-item {position: relative; float: left; width: 70px; height: 76px; margin: 0 9px; padding: 12px 0 0 7px; overflow: hidden; cursor: pointer;}
/**/
.views-slideshow-pager-field-item img {border-radius: 32px;}
/**/
.views-slideshow-pager-field-item.active,
.views-slideshow-pager-field-item:hover {background: url(../images/slider_img_bg.png) no-repeat;}
/*
.views-slideshow-pager-field-item.active .img_cover,
.views-slideshow-pager-field-item:hover .img_cover {position: absolute; top: 0; left: 0; width: 127px; height: 127px; background: url(../images/img_bg.png) repeat;}
*/
.views-field-field-image {}
.views-content-field-image {}
.views_slideshow_active_pager_field_item {}
/**/
/*========= end: Portfolio Slider ========*/



/*------------ views-portfolio ------------*/
/**/
.views-page-portfolio .view-content {margin: 0 -7px}
.views-page-portfolio .view-content .views-row {float: left; margin: 0 6px 12px;}

.views-page-portfolio .node_link {position: relative; display: block; width: 475px; height: 215px; overflow: hidden; color: #fff; text-decoration: none}
.views-page-portfolio .node_link:hover {color: #fff; text-decoration: none;}
.views-page-portfolio .node_link:hover .img_cover {position: absolute; display: block; top: 0; left: 0; width: 475px; height: 215px; background: url(../images/img_bg.png) repeat;}
.views-page-portfolio .node_link .img_area {position: absolute; display: block; bottom: 0; left: 0; width: 475px; height: 125px; background: rgba( 0, 0, 0, 0.4);}
.views-page-portfolio .node_link .node_image {}
.views-page-portfolio .node_link .node_title {position: absolute; display: block; top: 100px; left: 35px; text-transform: uppercase; font: bold 48px/1em "Myriad Pro Cond", "Myriad Pro", Arial, sans-serif; }
.views-page-portfolio .node_link .node_title {text-shadow: 0px 0px 1px #111;}
.views-page-portfolio .node_link .node_term {position: absolute; display: block; top: 148px; left: 35px; padding: 3px 5px; background: #000; text-transform: uppercase; font: normal 18px/1em "Myriad Pro Cond", "Myriad Pro", Arial, sans-serif;  }

/*
.view-portfolio a.imagefield {display: block; margin: 0 0px 0px 0px; padding: 8px 8px 5px; background: #d7c9b8;}
.view-portfolio a.imagefield img {border: 0px solid #111}
.view-portfolio a.imagefield:hover img {border: 0px solid #fdf447}
/*
.view-taxonomy-term .view-content {}
.view-taxonomy-term .view-content .views-row {float: left; margin: 0 0 0px;}
.view-taxonomy-term a.imagefield {display: block; margin: 0 6px 15px; padding: 8px 8px 5px; background: #d7c9b8}
.view-taxonomy-term a.imagefield img {border: 2px solid #81151c}
.view-taxonomy-term a.imagefield:hover img {border: 2px solid #fdf447}
/**/


/*------------ content bottom -----------*/
#content_bottom {}
#content_bottom .block {float: left; width: 50%;}
#content_bottom .block .content {padding: 0 125px 0 0;}

#content_bottom #block-views-home-block-1 {width: 50%;}
#content_bottom #block-views-home-block-1 .content {}
#content_bottom #block-views-categories-block-categories {width: 50%;}
#content_bottom #block-views-categories-block-categories .content {padding: 0 0 0 55px;}

/*-------------- views-home -------------*/
.view-home {position: relative; margin: 0 0 0px; padding: 0 0 30px; border-bottom: 0px dashed #424546;}
.view-home .views-field-title {}
.view-home .views-field-body {margin: 0px 0 0; padding: 0px 0 10px; }

.view-home .views-field-more-link {margin: 0px 0 0px; padding: 3px 0 0;}

.view-home .link-button {}

/*-------- views-block_categories -------*/
.view-display-id-block_categories {position: relative; border-bottom: 0px dashed #424546;}
.view-display-id-block_categories .view-header {}
.view-display-id-block_categories .view-header h2 {}
.view-display-id-block_categories .view-header h2 small {}
.view-display-id-block_categories .view-header h2 strong {}

.view-display-id-block_categories .view-content {position: relative; margin: 0px 0 0 0px; padding: 0px 0 0 0px; }
.view-display-id-block_categories .view-content .views-row {display: block; margin: 0 0 20px;}
.view-display-id-block_categories .view-content .views-row a {font-size: 14px;}
.view-display-id-block_categories .view-content .views-row a span {}
.view-display-id-block_categories .view-content .views-row a:hover {}

.view-display-id-block_categories .view-content .views-row::before {content: "01 //"; padding: 0 15px 0 0px; color: #5c5c5c; font-size: 11px; font-weight: normal; text-decoration: none;}
.view-display-id-block_categories .view-content .views-row+.views-row::before {content: "02 //";}
.view-display-id-block_categories .view-content .views-row+.views-row+.views-row::before {content: "03 //";}
.view-display-id-block_categories .view-content .views-row+.views-row+.views-row+.views-row::before {content: "04 //";}
.view-display-id-block_categories .view-content .views-row+.views-row+.views-row+.views-row+.views-row::before {content: "05 //";}
.view-display-id-block_categories .view-content .views-row+.views-row+.views-row+.views-row+.views-row+.views-row::before {content: "06 //";}
.view-display-id-block_categories .view-content .views-row+.views-row+.views-row+.views-row+.views-row+.views-row+.views-row::before {content: "07 //";}


/*-------- views-page-categories --------*/
/**/
.views-page-categories {}
.views-page-categories table.views-view-grid td {width: 33%; padding: 0 80px 30px 0;}
.views-page-categories .views-field-field-term-image {margin: 0 0 20px; padding: 0 0 0 25px;}
.views-page-categories h2.views-field-name {margin: 0px 0 15px; text-transform: uppercase; font-size: 18px; font-weight: bold;}
.views-page-categories .views-field-field-term-body {padding: 0 0 0px}
.views-page-categories .views-field-more-link {}

/*--------- views-page-category --------*/
.views-page-category h2.views-field-name {margin: 0px 0 15px; font-size: 24px;}


/**
.view-categories .view-content .views-row {position: relative; margin: 0 0 5px;}

a.term_link {position: relative; display: block; width: 300px; padding: 5px; text-decoration: none; line-height: normal; overflow: hidden;}
a.term_link img {border: 2px solid #81151c}
a.term_link .term_name {position: absolute; display: block; top: 82px; left: 15px; color: #fff537; font: normal 24px "Times New Roman", Times, serif;}
a.term_link .term_tizer {position: absolute; display: block; top: 110px; left: 18px; width: 190px; color: #d1ce92;}
a.term_link .term_image {position: relative}
a.term_link .term_backgound {display: block; position: absolute; top: 7px; left: 7px; width: 295px; height: 145px; margin: 0px; background: #000;}
a.term_link .term_backgound {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
	opacity: 0.2;
}

a.term_link:hover img {border: 2px solid #fdf447}
a.term_link:hover .term_name {color: #fff;}
a.term_link:hover .term_tizer {color: #fff;}
a.term_link:hover .term_backgound {display: none;}

.portfolio-category-view {overflow: hidden}
.portfolio-category-view .view-content {float: left; width: 420px;}
.portfolio-category-view .attachment {float: right; width: 320px;}
.portfolio-category-view .attachment .view-content {float: none; width: auto; padding: 0}
h1.field-content {margin: 0 0 20px; text-align: center}

.portfolio-subcategories {margin: 0 0 10px; padding: 0 0 10px; background: url(../images/bar.jpg) no-repeat 26px 100%}
.portfolio-subcategories .view-content {width: 720px; margin: 0 auto; padding: 0 0 0 10px;}
.portfolio-subcategories .view-content .views-row {float: left; width: 170px; position: relative; margin: 0 5px 15px;}

.portfolio-subcategories a.term_link {width: 160px;}
.portfolio-subcategories a.term_link .term_name {top: 60px; left: 12px; font: normal 18px "Times New Roman", Times, serif;}
.portfolio-subcategories a.term_link .term_tizer {top: 80px; left: 14px; width: 150px; font-size: 10px}
.portfolio-subcategories a.term_link .term_backgound {top: 7px; left: 7px; width: 156px; height: 98px;}


/* views bugs fix */
#block-views-categories-block-1 .views-row {line-height: 0;}
.view-display-id-attachment_1 .views-row {line-height: 0;}

/*- debug -*/
#block-views-portfolio-block-1 {outline: 0px solid red}
#block-views-portfolio-block-1 .view-content .views-row {outline: 0px solid green}
.view-categories .view-content .views-row {outline: 0px dotted green}
.portfolio-category-view .view-content {outline: 0px dotted red}
.portfolio-category-view .attachment {outline: 0px dotted blue}



/*- bloks global -*/
/*.block-views .view .view-content .title {margin-top: 0; font-size: 12px; font-weight: normal }
.block-views .view .view-content .field-image {float: left; margin: 0 10px 1px 0}
.block-views .view .view-content .field-created {margin: 0 0 5px; color: #eee; font-size: 0.9em;}
.block-views .view .view-content .field-teaser {}
.block-views .view .view-content .field-body {}
*/

/*
views-row views-row-1 views-row-odd views-row-first
views-row views-row-2 views-row-even
views-row views-row-5 views-row-odd views-row-last
*/

/*========================================*/
/*                Views News              */
/*========================================*/

.view-news {}
.view-news .view-conten {}

.view-news .views-row {overflow: hidden;}
.view-news .views-row-last {border: 0}

.view-news .page_news_item {position: relative; margin: 0 0 0px; padding: 15px 0 20px; border-bottom: 1px solid #dddede}

.view-news .title {margin-top: 0}
.view-news .field-image {float: left; margin: 0 10px 0 0}
.view-news .field-created {margin: 0 0 5px; color: #999; font-size: 0.9em;}
.view-news .field-teaser {}


/*----------------- news block -----------*/
.block-views .view-news {}

.block-views .view-news .title {margin-top: 0; font-size: 12px; font-weight: normal }
.block-views .view-news .field-image {float: left; margin: 0 10px 0 0}
.block-views .view-news .field-created {margin: 0 0 5px; color: #eee; font-size: 0.9em;}
.block-views .view-news .field-teaser {}

/*============ end: Views News ===========*/



/*========================================*/
/*               Filter form              */
/*========================================*/


/*-------------- filter form -------------*/

.views-exposed-form {}
.views-exposed-form .nojs {/*display: none*/}
.views-exposed-form .nojs .help-text {display: none}

.views-exposed-widgets {border: 0px dashed #aaa}

.views-exposed-widget {min-height: 40px; border: 0px dashed blue}

.views-exposed-form .views-exposed-widget { 
	float: none;
	padding: 0.5em 0 0 0;
	outline: 0px dotted red;
}

.views-exposed-form input.form-text {width: 200px}
.views-exposed-form select {width: 200px}

/*
.widget_number-1 {width: 45%}
.widget_number-2 {width: 45%}

.widget_number-3 {width: 32%}
.widget_number-4 {width: 32%}
.widget_number-5 {width: 30%}

.widget_number-7 {width: 30%}
.widget_number-8 {width: 30%}

.widget-button {width: 30%}
*/

.views-exposed-widget.widget-button {}

.label {}
.views-widget {}

/*=========== end: Filter form ===========*/


/**************** end: VIEWS **************/


/******************************************/
/*                                        */
/*                NODE EDIT               */
/*                                        */
/******************************************/

/*========================================*/
/*               Add/Edit  Node           */
/*========================================*/

.node-edit {}

.node-edit .form-item {}
.node-edit .form-item label {}
.node-edit .form-item input.form-text {/*width: 154px;*/ padding: 2px 3px}
.node-edit .form-item select.form-select {width: 300px;}
.node-edit .form-item span.field-suffix {}
.node-edit .form-item div.description {}

.node-edit .form-item input#edit-title {width: 95%; font-size: 18px}

.node-edit .link-field-url .form-item {margin: 0}

.node-edit .form-item input#edit-field-book-link-0-url {width: 292px}
.node-edit .form-item input#edit-field-isbn-0-value {width: 292px}
.node-edit .form-item input#edit-field-book-author-value {width: 300px}

/*.node-parts-edit .parts_wrapper {padding: 10px; background: #c8d9de}
*/
.node-edit .container {overflow: hidden; padding: 0 5px;}
.node-edit .container .col1 {float: left; width: 45%}
.node-edit .container .col2 {float: right; width: 50%}

.node-edit fieldset {}
.node-edit fieldset.group-totals legend {display: none}

/*======= end: Add/Edit Parts Page =======*/


/************** end: NODE EDIT ************/


/******************************************/
/*                                        */
/*                NODE VIEW               */
/*                                        */
/******************************************/

/*
div.node {padding: 10px 0px;}
div.node .node-inner {position: relative}
div.node .node-inner .content {overflow: hidden}

div.node ol li {}
div.node ul {padding: 0 0 0 1em}
div.node ul li {margin: 0 0 0.3em; list-style: disc}

div.node .submitted {display: block; margin: 0 0 10px; font-size: 0.9em}
div.node .submitted a {}
*/

/* user picture */
/*
div.node .picture {position: absolute; right: 0; top: 0;}

.node div.links {}
.node div.links ul.links {padding: 0}
.node div.links ul.links li {padding: 0 1em 0 0; font-size: 1em;}
.node div.links ul.links li.comment_add {}
.node div.links ul.links li.comment_add a {color: #99200f;}
.node div.links ul.links li.comment_add a:hover {color: #cc4a42;}

.node .taxonomy {position: absolute; bottom: 0; right: 0;}
.node .taxonomy .links {padding: 0}
.node .taxonomy .links li {padding: 0 0 0 1em; font-size: 1em;}
*/

/*========================================*/
/*                 News Node              */
/*========================================*/
/*
div.node-type-news {}
div.node-type-news .node-inner {}

div.node-type-news .submitted {display: block; margin: 0 0 15px; color: #9a1f10; font-size: 1.5em;}
div.node-type-news .submitted a {}

div.node-type-news .meta {display: none; margin: 1em 0}
div.node-type-news .content {overflow: hidden}

div.node-type-news .content .field-field-news-image {float: left; margin: 0 10px 10px 0}

/*============ end: News Node ============*/


/*========================================*/
/*              Portfolio Node            */
/*========================================*/

body.node-type-portfolio {}
div.node-portfolio {}

body.node-type-portfolio .page-title-wrapper {}

/* portfolio header */
.node-portfolio .portfolio-header {position: relative; margin: 0 0 15px;}
.node-portfolio .portfolio-header .portfolio-details {float: left; padding: 0 28px 0 0;}
.node-portfolio .portfolio-header .portfolio-details .portfolio-details-inner {position: relative; padding: 0px;}

.node-portfolio .portfolio-header .col {float: left;}
.node-portfolio .portfolio-header .col1 {margin: 0px 25px 0 0; padding: 10px 20px 10px 15px; background: #fcdc00;}

.node-portfolio .portfolio-header .container {}

.node-portfolio .portfolio-header h2.portfolio-title {margin: 0 0 3px; padding: 0; color: #000; line-height: 0.8em; font-weight: bold; font-size: 27px;}
.node-portfolio .portfolio-header .portfolio-category {display: block; margin: 0 15px 0 0; padding: 1px 0px 0; color: #000; text-shadow: 0 0 1px #333;}
.node-portfolio .portfolio-header .portfolio-date {position: absolute; display: block; bottom: 0; width: 200px; padding: 0px 0 5px; color: #797979; font-size: 21px;}
.node-portfolio .portfolio-header .portfolio-link {display: block; padding: 0px 0px; background: none;}

.node-portfolio .portfolio-header .node_pager {position: absolute; right: 0px; top: 15px; }
.node-portfolio .portfolio-header .node_pager .nav-link {float: left; display: block; width: 24px; height: 28px; margin: 0 0 0 15px; background: url(../images/slide_arrows.png) no-repeat; text-decoration: none; text-indent: -9999px;}
.node-portfolio .portfolio-header .node_pager .next {background-position: 0 -28px}
.node-portfolio .portfolio-header .node_pager .next:hover {background-position: 0 -56px}
.node-portfolio .portfolio-header .node_pager .prev {background-position: 0 -112px}
.node-portfolio .portfolio-header .node_pager .prev:hover {background-position: 0 -140px}


/* portfolio content */
.node-portfolio .field-name-field-image {margin: 0 0 40px; text-align: center;}
.node-portfolio .field-name-body {color: #848f94;}

/*========== end: Portfolio Node =========*/



/************* end: NODE VIEW *************/




/*========================================*/
/*                   Forum                */
/*========================================*/

#forum {}

#forum ul.links {padding: 0 0 20px}
#forum ul.links li {padding: 0 1em 0 0}
/*
#forum ul.links li a {display: inline-block; margin: 0; padding: 5px 12px 5px; background: #a9c3cc; border: 1px solid #c8d9de; color: #444444; text-decoration: none;}
#forum ul.links li a:hover {background: #e4edef;}
*/
#forum ul.links li a {display: inline-block; height: 22px; margin: 0 0 0px; padding: 4px 12px 0; background: url(../images/user_bg2.png) repeat-x; border: 1px solid #c8d9de; color: #12343c; text-decoration: none; text-align: center}
#forum ul.links li a:hover {color: #1e6c16}

#forum ul.links li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


#forum table {}
#forum table tbody {}

#forum .description {margin: 0; color: #777; font-size: 0.9em;}

#forum table tr td.container {padding: 1em 1em; background: #fff}
#forum table tr td.container .name {font-weight: bold; font-size: 1.1em}
#forum table tr td.container .description {}

/*-------------- forums page ------------*/
#forum table tr td.forum {padding-left: 50px; background-position: 20px 2px; background-repeat: no-repeat;}
#forum table tr td.forum .indent {margin: 0}

#forum table tr td.topics {}
#forum table tr td.posts {}
#forum table tr td.last-reply {}

/*------------- topics page -------------*/
#forum table tr td.icon {width: 10px}
#forum table tr td.title {}
#forum table tr td.replies {width: 40px}
#forum table tr td.created {width: 120px}
#forum table tr td.last-reply {width: 120px}

/*--------------- view topic ------------*/

.node-type-forum {}
.meta {margin: 0 0 5px; color: #777;  font-size: 0.9em;}
.meta .submitted {display: inline; margin: 0 6px 0 0}
.meta .terms {display: inline}

/*- forum topic navigation -*/
.forum-topic-navigation {padding: 0.5em; border: 1px solid #fff; border-left: 0; border-right: 0; text-align: center}

/*- add coment link -*/
div.node-type-forum ul.links {margin: 0; padding: 1em 0;}
div.node-type-forum ul.links li.comment_add {display: block; margin: 0; padding: 15px 0 5px;}

 

/*============== end: Forum ==============*/


/*========================================*/
/*                 Comments               */
/*========================================*/

#comments {padding: 0 0 10px}
#comments .title {width: 142px; padding: 0 0px 10px 0; background: url(../images/comment.png) no-repeat 100% 7px}

#comments .indented {margin-left: 15px; padding-left: 10px; border-left: 0px dotted #fff}
/*#comments .indented:hover {padding-left: 9px; border-left: 1px dotted #fff}*/

/*---------------- comment ---------------*/

.comment {margin: 0 0 10px; padding: 5px 10px; background: #e9e9e9}
/*.comment {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}*/

.comment.comment-published {}
.comment.comment-by-author {/*background: #fff;*/}
.comment.comment-mine {/*background: #d5e2e6*/}
.comment.comment-new {}


.comment-inner {position: relative}

.comment .new {color: #B50303}

.comment h3.title {margin: 0 0 5px; font-weight: bold; }
/*.comment .submitted {margin: 0 0 0em; color: #999; font-size: 0.9em;}*/
.comment .submitted {position: absolute; bottom: 0px; right: 0px; margin: 0 0 0em; color: #999; font-size: 0.9em;}
.comment .picture {}

.comment .content {padding: 0.5em 0 0}
.comment .content p {}

.comment div.links {}
.comment div.links ul.links {}
.comment div.links ul.links li {padding: 0 1em 0 0; font-size: 0.9em;}
.comment div.links ul.links li.comment_delete {}
.comment div.links ul.links li.comment_delete a {color: #F44;}
.comment div.links ul.links li.comment_delete a:hover {color: #B50303;}
.comment div.links ul.links li.comment_edit {}
.comment div.links ul.links li.comment_edit a {color: #039000;}
.comment div.links ul.links li.comment_edit a:hover {color: #0F600E;}
.comment div.links ul.links li.comment_reply {}

/* debug */
/*#comments .indented {border: 0px dotted red}
.comment {border: 0px dotted blue}
/**/

/*============= end: Comments ============*/


/*========================================*/
/*                   Users                */
/*========================================*/

/*-------------- user profile ------------*/

/* Generated by user.module but used by profile.module: */
.profile {position: relative; clear: both; margin: 0; padding: 10px 15px; }

.profile .picture {float: right;  margin: 0 1em 1em 0;}
.profile h3 {border-bottom: 0px solid #ccc;}

.profile dl {margin: 0 0 0;}
.profile dl dt {display: inline; margin: 0 0.2em 0 0; font-weight: normal}
.profile dl dd {display: inline; margin: 0}

.profile .info {margin: 0 0 15px;}
.profile .info dl {margin: 0 0 3px;}
.profile .info dl dt {display: inline-block; width: 100px; margin: 1px 0.2em 0 0; vertical-align: top; font-size: 0.9em}
.profile .info dl dd {display: inline-block; width: 60%; margin: 0; color: #1A4751;}

.profile .member_for {color: #777; font-size: 0.9em;}

.profile .account_type {position: absolute; top: 10px; right: 15px; color: #777; font-size: 0.9em;}
.profile .account_type dt {}
.profile .account_type dd {color: #1A4751;}
.profile.account_admin .account_type dd {color: #039000;}
.profile.account_premium .account_type dd {color: #039000;}


/*=============== end: Users =============*/



/*========================================*/
/*                  Bottom                */
/*========================================*/
#bottom {}
#bottom h2 {margin-top: 0;}



/*============= end: Bottom ==============*/


/*========================================*/
/*                 Footer                 */
/*========================================*/

#footer-inner {position: relative}

#footer {color: #fff; font-size: 11px;}
#footer a {color: #777; text-decoration: none}
#footer a:hover {color: #bbb; text-decoration: none}

#footer p {margin: 0 0 0.3em}

/*---------------- footer menu -----------*/
#footer .block-menu-block {position: absolute; top: 0; right: 0; padding: 0px 0 0px}
#footer .block-menu-block ul.menu {text-align: center;}
#footer .block-menu-block ul.menu li {display: inline; padding: 0 0px 0 10px; border-right: 0px solid #483528; list-style: none}
#footer .block-menu-block ul.menu li a {text-decoration: none;}
#footer .block-menu-block ul.menu li a:hover,
#footer .block-menu-block ul.menu li.active a {color: #bbb;}

#footer .block-menu-block ul.menu li.first {}
#footer .block-menu-block ul.menu li.last {border: none}

/*
#footer .block-menu-block {border: 1px dotted blue}
#footer .block-menu-block ul.menu {border: 1px dotted red}
#footer .block-menu-block ul.menu li {outline: 0px dotted red}
#footer .block-menu-block ul.menu li a {outline: 0px dotted green}
*/

/*---------------- copyrights ------------*/
#footer #block-block-3 {position: absolute; top: 80px; left: 0; width: 230px; font: italic 14px Georgia, "Times New Roman", Times, serif}
#footer #block-block-3 strong {display: block; margin: 0 0 5px; }
#footer #block-block-3 small {display: block; color: #78828d; font-size: 11px; line-height: 1.2em;}

/*---------------- contacts ------------*/
#footer #block-block-5 {position: absolute; top: 80px; right: 0;}
#footer #block-block-5 strong {display: block; margin: 0 0 5px; font: bold 24px/1em "Myriad Pro Cond", "Myriad Pro", Arial, sans-serif;}
#footer #block-block-5 small {font: normal 13px Arial, Helvetica, sans-serif; }

/*--------------- soc links ------------*/
#footer #block-block-6 {position: absolute; top: 70px; right: 220px; border: 1px solid #282828; border-bottom:0; border-top: 0;}
#footer #block-block-6 .content {padding: 20px 80px;}
#footer #block-block-6 .content ul li {display: block; float: left; margin: 0 15px 0;  }
#footer #block-block-6 .content ul li a {display: block; text-indent: -9999px; text-decoration: none;}
#footer #block-block-6 .content ul li a:hover {text-decoration: none;}

a.rss_link {width: 16px; height: 16px; background: url(../images/rss.png) no-repeat;}
a.twitter_link {width: 74px; height: 17px; background: url(../images/twitter.png) no-repeat;}
a.facebook_link {width: 79px; height: 16px; background: url(../images/facebook.png) no-repeat;}


/*---------------- devolpment ------------*/


/*---------------- copyright -------------*/
#footer #footer-message {text-align: center}
#footer #footer-message p {margin: 0}
#footer .copyright {}
#footer .by {position: absolute; right: 30px; top: 55px;}
#footer .by a {display: block; height: 35px; padding:  10px 70px 0 0;  background: url(../images/ralf.png) no-repeat 100% 0}
#footer .by a span {display: none;}

#footer .by {border: 0px dotted red}
#footer #footer-message {border: 0px dotted red}

/*============= end: Footer ==============*/

/************ end: CONTENT STYLE **********/
