/*
 * FCKeditor - The text editor for Internet - http://www.fckeditor.net
 * Copyright (C) 2003-2007 Frederico Caldeira Knabben
 * 
 * == BEGIN LICENSE ==
 * 
 * Licensed under the terms of any of the following licenses at your
 * choice:
 * 
 *  - GNU General Public License Version 2 or later (the "GPL")
 *    http://www.gnu.org/licenses/gpl.html
 * 
 *  - GNU Lesser General Public License Version 2.1 or later (the "LGPL")
 *    http://www.gnu.org/licenses/lgpl.html
 * 
 *  - Mozilla Public License Version 1.1 or later (the "MPL")
 *    http://www.mozilla.org/MPL/MPL-1.1.html
 * 
 * == END LICENSE ==
 * 
 * File Name: fck_editor.css
 * 	Styles used by the editor IFRAME and Toolbar.
 * 
 * File Authors:
 * 		Frederico Caldeira Knabben (www.fckeditor.net)
 * 		Paul Moers (http://fckskins.saulmade.nl/)
 */

/*
	### Basic Editor IFRAME Styles.
*/

body
{
	padding: 0px;
	margin: 0px;
}

#xEditingArea
{
	border: #696969 1px solid;
}

.SourceField
{
	border: none;
	padding: 5px;
	font-family: Monospace;
}

/*
	Toolbar
*/

.TB_ToolbarSet, .TB_Expand, .TB_Collapse
{
	cursor: default;
	background-color: #eceae6;
}

.TB_ToolbarSet
{
	background-color: #9EBEF5;
	border: 1px solid #81A9E2;
	border-width: 1px 1px 0px 0px;
}

.TB_ToolbarSet TD
{
	font-size: 11px;
	cursor: default;
	font-family: 'Microsoft Sans Serif' , Tahoma, Arial, Verdana, Sans-Serif;
}

.TB_Toolbar
{
	height: 27px;
	background: #9EBEF5 url(images/toolbar.background.gif) repeat-x left top;
	margin-bottom: 1px;
	display: inline-table;	/* inline = Opera jumping buttons bug */
}

.TB_Separator
{
	height: 20px;
	width: 5px;
	background-image: url(images/toolbar.separator.gif);
	background-repeat: no-repeat;
}

.TB_Start
{
	background-image: url(images/toolbar.start.gif);
	background-repeat: no-repeat;
	height: 26px;
	width: 10px;
}

.TB_End
{
	background-image: url(images/toolbar.end.gif);
	background-repeat: no-repeat;
	background-color: #9EBEF5;
	height: 27px;
	width: 12px;
}

.TB_ExpandImg
{
	background-image: url(images/toolbar.expand.gif);
	background-repeat: no-repeat;
}

.TB_CollapseImg
{
	background-image: url(images/toolbar.collapse.gif);
	background-repeat: no-repeat;
}

.TB_SideBorder
{
	background-color: #81A9E2;
}

.TB_Expand, .TB_Collapse
{
	padding: 2px 2px 2px 2px;
	background-color: #9EBEF5;
	border: 1px solid #696969;
	border-width: 1px 1px 0px 1px;
}

.TB_Collapse
{
	background-color: #D9EAFD;
}

.TB_Break
{
	height: 28px; /* IE needs the height to be set, otherwise no break */
}

/*
	Toolbar Button
*/

.TB_Button_On, .TB_Button_Off, .TB_Button_On_Over, .TB_Button_Off_Over, .TB_Button_Disabled
{
	margin: 2px;
	border-width: 0px;
	height: 20px; /* The height is necessary, otherwise IE will not apply the alpha */
}

.TB_Button_On, .TB_Button_On_Over, .TB_Button_Off_Over
{
	margin: 1px;
	border: 1px #0a246a solid;
	background-image: url('images/toolbar.itemhoverbackground.gif');
}

.TB_Button_Off
{
	filter: alpha(opacity=85); /* IE */
	opacity: 0.85; /* Safari, Opera and Mozilla */
}

.TB_Button_Disabled
{
	filter: gray() alpha(opacity=30); /* IE */
	opacity: 0.30; /* Safari, Opera and Mozilla */
}

.TB_Button_Padding
{
}

.TB_Button_Image
{
    overflow: hidden;
	margin: 2px;
	width: 16px;
	height: 16px;
}

.TB_Button_Image img
{
	position: relative;
}

.TB_Button_Off .TB_Button_Text
{
   	background-color: #ECEAE6;  /* Needed because of a bug on ClearType */
	background-image: url(images/toolbar.background.gif);
	background-repeat: repeat-x;
}

.TB_Button_Text
{
	padding-right: 2px;
}

.TB_ConnectionLine
{
	background-color: #f7f8fd;
	height: 1px;
	margin-left: 1px;   /* ltr */
	margin-right: 1px;  /* rtl */
}

.TB_Text
{
	height: 16px;
	padding-right: 5px;
}

.TB_Button_Off .TB_Text
{
   	background-color: #ECEAE6;  /* Needed because of a bug on ClearType */
	background-image: url(images/toolbar.background.gif);
	background-repeat: repeat-x;
}

.TB_Button_On_Over .TB_Text
{
   	background-color: #dff1ff ;  /* Needed because of a bug on ClearType */
}

/*
	Menu
*/

.MN_Menu
{
	border: 1px solid #696969;
	padding: 2px;
	background-color: #f9f8f7;
	cursor: default;
	background-image: url(images/contextmenu.background.gif);
	background-repeat: repeat-y;
	background-position: left top;
}

.MN_Menu, .MN_Menu .MN_Label
{
	font-size: 11px;
	font-family: 'Microsoft Sans Serif' , Tahoma, Arial, Verdana, Sans-Serif;
}

.MN_Item_Padding
{
	visibility: hidden;
	width: 3px;
	height: 22px;
}

.MN_Icon
{
	text-align: center;
	height: 22px;
	padding: 0px 5px 0px 0px;
}

.MN_Label
{
	padding-left: 3px;
	padding-right: 3px;
}

.MN_Separator
{
	height: 3px;
}

.MN_Separator_Line
{
	border-top: #b9b99d 1px solid;
}

.MN_Item .MN_Icon IMG
{
	filter: alpha(opacity=75);
	opacity: 0.75;
}

.MN_Item_Over
{
	background-image: url('images/contextmenu.itemhoverbackground.gif');
	background-color: #ffe1ac;
	border: #0a246a 1px solid; /* Doesn't seem to be working correctly, probably overriden by FCKeditor internally */
}

.MN_Item_Over .MN_Icon
{
}

.MN_Item_Disabled IMG
{
	filter: alpha(opacity=30);
	opacity: 0.30;
}

.MN_Item_Disabled .MN_Label
{
	filter: alpha(opacity=30);
	opacity: 0.30;
}

.MN_Arrow
{
}

.MN_ConnectionLine
{
}

.Menu .TB_Button_On, .Menu .TB_Button_On_Over
{
	border: #8f8f73 1px solid;
	background-color: d6dff7;
}

/*
	### Panel Styles
*/

.FCK_Panel
{
	border: #8292ac 1px solid;
	padding: 2px;
	background-color: #ffffff;
}

.FCK_Panel, .FCK_Panel TD
{
	font-family: 'Microsoft Sans Serif' , Tahoma, Arial, Verdana, Sans-Serif;
	font-size: 11px;
}

/*
	### Special Combos
*/

.SC_Panel
{
	overflow: auto;
	white-space: nowrap;
	cursor: default;
	border: 1px solid #8292ac;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #ffffff;
}

.SC_Panel, .SC_Panel TD
{
	font-size: 11px;
	font-family: 'Microsoft Sans Serif' , Tahoma, Arial, Verdana, Sans-Serif;
}

.SC_Item, .SC_ItemSelected
{
	margin-top: 2px;
	margin-bottom: 2px;
	background-position: left center;
	padding-left: 11px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-overflow: ellipsis;
	overflow: hidden;
	background-repeat: no-repeat;
	border: #dddddd 1px solid;
}

.SC_Item *, .SC_ItemSelected *
{
	margin-top: 0px;
	margin-bottom: 0px;
}

.SC_ItemSelected
{
	border: #0a246a 1px solid;
	background-image: url(images/toolbar.arrowright.gif);
}

.SC_ItemOver
{
	border: #113eb3 1px solid;
}

.SC_Field
{
	border: #8292ac 1px solid;
	cursor: default;
}

.SC_FieldCaption
{
	overflow: visible;
	padding-right: 5px;
	padding-left: 5px;
	opacity: 0.75; /* Safari, Opera and Mozilla */
	filter: alpha(opacity=70); /* IE */ /* -moz-opacity: 0.75; Mozilla (Old) */
	height: 23px;
	background-color: #9EBEF5;  /* Needed because of a bug on ClearType */
	background-image: url(images/toolbar.background.gif);
	background-repeat: repeat-x;
/*    background-color:  inherit;     Maybe this is needed wait to check */
}

.SC_FieldLabel
{
	white-space: nowrap;
	padding: 2px;
	width: 100%;
	cursor: default;
	background-color: #ffffff;
	text-overflow: ellipsis;
	overflow: hidden;
}

.SC_FieldButton
{
	background-position: center center;
	background-image: url(images/toolbar.buttonarrow.gif);
	border-left: #8292ac 1px solid;
	width: 14px;
	background-repeat: no-repeat;
}

.SC_FieldDisabled .SC_FieldButton, .SC_FieldDisabled .SC_FieldCaption
{
	opacity: 0.30; /* Safari, Opera and Mozilla */
	filter: gray() alpha(opacity=30); /* IE */ /* -moz-opacity: 0.30; Mozilla (Old) */
}

.SC_FieldOver
{
	border: #0a246a 1px solid;
}

.SC_FieldOver .SC_FieldButton
{
	border-left: #0a246a 1px solid;
}

/*
	### Color Selector Panel
*/

.ColorBoxBorder
{
	border: #808080 1px solid;
	position: static;
}

.ColorBox
{
	font-size: 1px;
	width: 10px;
	position: static;
	height: 10px;
}

.ColorDeselected, .ColorSelected
{
	cursor: default;
}

.ColorDeselected
{
	border: #ffffff 1px solid;
	padding: 2px;
	float: left;
}

.ColorSelected
{
	padding: 2px;
	float: left;
	border: #0a246a 1px solid;
	background-color: #b6bdd2;
}
td.wysiwygpath { border-left: 1px solid #999999;border-right: 1px solid #999999;border-bottom: 1px solid #999999;background-color: #CCCCCC; font-size: 12px;font-family:Arial, Helvetica, sans-serif;height:19px;background-image: url(images/wysiwyg_gray_path_bg.gif);padding-left:10px;}.wysiwygpath a,.wysiwygpath a:active, .wysiwygpath a:hover,.wysiwygpath a:link,.wysiwygpath a:visited{text-decoration:none;color:#000000}.wysiwygpath a:hover{font-weight:bold;color:#000000;}