﻿.quantity_box_button_down
{
	background-image: url(../images/down_small.gif);
}
.quantity_box_button_up
{
	background-image: url(../images/up_small.gif);
}

.productPrice
{
	font-weight: bold;
	white-space: nowrap;
}
.product-Old-Price
{
	color: red;
	text-decoration: line-through;
}

.shop_error, .shop_warning, .shop_info, .shop_debug, .shop_critical, .shop_tip
{
	background-color: #FAFAD2;
	color: black;
	background-position: left 5px;
	background-repeat: no-repeat;
	border-color: #AACCAA;
	border-style: dotted none;
	border-width: 1px 0pt;
	font-weight: 900;
	margin: 1pt 1pt 1em 1em;
	padding: 0.5em 1em 1.5em 48px;
}
.shop_error
{
	background-image: url( ../images/error.gif );
}
.shop_warning
{
	background-image: url( ../images/warning.png );
}
.shop_info, .shop_tip
{
	background-image: url( ../images/info.png );
}

.shop_debug
{
	background-image: url( ../images/log_debug.png );
}
.shop_critical
{
	font-weight: bold;
	background-image: url( ../images/log_critical.png );
}
